[2016-12-23 20:06] samacumen commented on #4343
@dogmaphobic I agree with your statements.

About the corner cases, well it could happen (and it has multiple times) under three different scenarios:
1) Plugging on/off USB while some (mavlink message passing) is still on - e.g. uploading a mission or during packet loss (e.g. long USB cable)
2) Pixhawk is rebooted/sudden power turn off - leading to QGC crash (in certain cases).
2) Using a remote l

[2016-12-23 20:07] samacumen commented on #4343
@dogmaphobic I agree with your statements.

About the corner cases, well it could happen (and it has multiple times) under three different scenarios:
1) Plugging on/off USB while some (mavlink message passing) is still on - e.g. uploading a mission or during packet loss (e.g. long USB cable)
2) Pixhawk is rebooted/sudden power turn off - leading to QGC crash (in certain cases).
2) Using a remote l

[2016-12-23 21:35] DonLakeFlyer commented on #4343
Thanks @samacumen. I'll take a look through this. Multiple links gets nasty very quickly. Thought we have most of it wrung out but guess not.

The Vehicle::priorityLink implementation is meant to give priority to non WiFi links. It was originally coded to force to direct USB connections but that was causing problems. Can't remember why now. Would have to look a the pull request history.

Basically

[2016-12-23 21:55] DonLakeFlyer commented on #4343
The reason why this happens is because of the multi-phase vehicle delete mechanics to get correct Qml object disconnects. Basically when the last link goes away, the Vehicle is not destoryed immediately. This in turn allows additional timers to go through which can end up sending messages.

[2016-12-23 21:56] DonLakeFlyer commented on #4343
What would be a suitable QoS mechanism? QGC currently switches links for outgoing traffic if it stops getting heartbeats through a link in a multi-link use case.

[2016-12-23 22:00] DonLakeFlyer commented on #4343
@rjehangir Possibly your problem as well.

[2016-12-23 22:11] DonLakeFlyer commented on #4329
Correct.

Not what you mean with respect to #1681. That is the discussion around the AutoConnect implementation which was completed ages ago.

[2016-12-23 22:12] DonLakeFlyer commented on #4341
See https://github.com/PX4/Firmware/issues/6153 for details on version check semantics.

[2016-12-23 22:17] DonLakeFlyer commented on #4329
@samacumen Do you have a 100% repro set of steps for this? I'll try some things, but easier if you already have it.

[2016-12-23 22:25] samacumen commented on #4343
@DonLakeFlyer Thanks for your comments. My statement about the AutoConnect UDP being used leading to atleast one link in the Vehicle::_links Qlist in indeed not completely correct. It gets filled in only when Vehicle connection is alive - I agree!

I don't have the exact 100% reproducible steps at the moment. I use QtCreator and often debug the code, and have seen the exception at prioritylink()->

[2016-12-23 22:29] DonLakeFlyer commented on #4343
Do you remember whether the call stack of the crash led you to one of the *Managers: ParameterManager, MissionManager, GeoFenceManager, RallyPointManager. If my theory is correct, that is where it would end up.

[2016-12-23 22:34] DonLakeFlyer commented on #4343
My plan to fix this is:
1) Add a shutdown() method to the *Managers which gets called when all the links go away. This will then close out any timers they may have which could in turn caused additional messages to get out the pipe at the wrong time.
2) Need to shut down command retry timer as well since this could fire at bad time.
3) Change vehicle->priorityLink()->mavlinkChannel() usage to somet

[2016-12-23 22:35] samacumen commented on #4343
Also, one more thing I noticed regarding disconnections and heartbeats:

1) **SERIAL USB**: When USB is disconnected/plugged off - we will never end up firing the Vehicle::connectionLostTimeout( ) (OK, can practically happen, but it 99.9% of cases it should not with a good cable/min. packet loss, etc.). The Vehicle link is lost immediately after USB is disconnected on Serial. The vehicle object -

[2016-12-23 22:41] DonLakeFlyer commented on #4343
That is not what happens on Windows OS. On Windows you don't lose the connection when you pull the plug on usb cable. The serial port is still there and connected, it's just in a zombie state. Hence you need to connectionLostTimeout as well to make things work across all OS.

For #2 you can't tell the difference between a temporary loss of communication with a vehicle and/or the vehicle was just t

[2016-12-23 22:55] samacumen commented on #4343
@DonLakeFlyer Solution looks good to me as long as all connections are gracefully closed. Its nice that we can place the checks at one point instead of those 81 - as with more features/custom mavlink additions usage will only increase! Well, now I remember the issue also being notice by one of my colleagues when he was at the test field and the QGC crashed - luckily he was still connected on the U

[2016-12-24 01:41] samacumen opened #4344 "Clicking on QGC icon twice displays an empty white screen"
I thought to report this issue as well. Clicking on the top-left QGC (Q) Application settings icon twice makes the screen go white/blank and non-responsive. The user needs to click on some other icon (e.g. Navigation map icon) and then go back to the (Q) Application settings.  Don't know what this means, but guess it is an issue, even though minor it may be.

Click on the (Q) Application settings

[2016-12-24 01:46] DonLakeFlyer commented on #4344
Should already fixed in latest daily builds.

[2016-12-24 01:47] DonLakeFlyer commented on #4344
Reopen if not

[2016-12-24 01:47] #4344 closed

[2016-12-24 01:49] samacumen commented on #4344
Sure, thanks. I will check it with the latest build and get back if not.

[2016-12-24 13:31] DonLakeFlyer commented on #4326
I just testing this by installing the Daily Build from the app stores. Works fine on both PX4 and ArduPilot over WiFi. I fixed a number of lossy connection (like WiFi) parameter load bugs about 3 weeks ago. Can you verify that you are using latest daily build? Go to Settings/General. At the very bottom of the page you should see a line which shows you the build version. It should say Development a

[2016-12-24 13:32] #4309 closed

[2016-12-24 13:48] DonLakeFlyer opened #4345 "Double-check takeoff and change altitude altitudes"
Still seems out of whack

[2016-12-24 14:01] #4334 closed

[2016-12-24 14:02] DonLakeFlyer commented on #4338
Change in priority:
* ALTITUDE is only used if GPS is not available
* GLOBAL_POSITION_INT takes precedence over GPS_RAW_INT

[2016-12-24 14:02] #4338 closed

[2016-12-24 14:08] kd0aij commented on #4326
I'm on the last daily build as of today. BTW, there's nothing lableled
"Settings" on the Android UI.

With a recent master installed on a pixracer, the progress bar stops just
short of the right edge of the screen, and the tablet is constantly saying
"communicati ~ communication regained".

The tablet reports that wifi signal strength is "excellent"

Just reverified that parameters load quickly an

[2016-12-24 14:08] DonLakeFlyer commented on #4343
FYI: This bug was introduced with the MAVLink 2.0 changes. Those changes required pulling out the priorityLink()->mavlinkChannel() calls from Vehicle::sendMessage where it was cauterized by the NULL check and peppering the usage throughout the codebase. I'm going to try to figure out some way to put it back the way it was before since that was working fine. This crash will only be in daily builds.

[2016-12-24 14:16] DonLakeFlyer commented on #4326
Settings is the Gear icon.

If you are getting the commication lost/regained thing then your WiFi connection is flaky. If it's really flaky it's possible QGC can't complete param load. It should eventually time out completly and tell you that. Can you boot QGC with no Vehicle. Turn on ParameterManagerLog on Settings/Console, then connect your vehicle and when it stops for a while save the log an a

[2016-12-24 14:58] kd0aij commented on #4326
Tried to save a log, but can't find it in the destination folder. There
appeared to be no way to name it, is the name generated magically?

On Sat, Dec 24, 2016 at 7:16 AM Don Gagne <notifications@github.com> wrote:

[2016-12-24 15:01] kd0aij commented on #4326
By "gears icon" do you mean the one that looks like a "Q"? That's the one with "general" and "console" behind it, at least on Android.

![image](https://cloud.githubusercontent.com/assets/2300221/21467540/dcad5ce0-c9ae-11e6-8a97-a2fdd90b827d.png)

[2016-12-24 15:02] DonLakeFlyer commented on #4326
Crap, sorry. Settings is the "Q" not the Gears which is Setup. Duh.

[2016-12-24 15:12] DonLakeFlyer commented on #4326
Hmm, that dialog is kind of strange never used it before.  You need to add the filename at the top by adding a "/" and then the name. I'll put in and Issue for it.

[2016-12-24 15:12] DonLakeFlyer opened #4347 "Setting/Console/Save App Log dialog confusing"
Not clear that you need to give the file a name before you click save.

[2016-12-24 15:16] kd0aij commented on #4326
tried that, but it didn't appear to create a file anywhere

[2016-12-24 15:47] DonLakeFlyer commented on #4326
Strange worked for me. May need to try again after I rework that dialog.

[2016-12-24 19:05] DonLakeFlyer commented on #4345
This was caused by Px2 bad ALTITUDE values.

[2016-12-24 19:05] #4345 closed

[2016-12-24 19:08] DonLakeFlyer commented on #3923
This is the windows positioning problem. Nate has most of this fixed. Full 100% fix scheduled for 3.2 on separate issue.

[2016-12-24 19:08] #3923 closed

[2016-12-24 19:24] DonLakeFlyer commented on #3807
This is really the same as #3336 which is that the Planned Home Position concept needs a revamp. As it currently stands Planned Home Position is not meant to track the actual Vehicle home position.

[2016-12-24 19:24] #3807 closed

[2016-12-24 19:24] DonLakeFlyer commented on #3773
I'm going to revisit all of this in 3.2

[2016-12-24 19:28] DonLakeFlyer commented on #4093
@AndKe Can you try this again on a daily build and see if it is still there?

[2016-12-24 22:25] samacumen commented on #4343
Thanks @DonLakeFlyer , good to note that you have figured out the bug! I have worked with both Mavlink versions, so 'just curious' as to why the Null checks were removed (I mean the how does the different versions affect the logic here)? :) And what do you mean by > this crash will only be in daily builds?

[2016-12-25 08:04] AndKe commented on #4093
It's fine now.  - which commit fixed it ?

[2016-12-25 19:14] kd0aij commented on #4326
Just tried the latest QGC on my MotoG3, and parameters loaded completely, but QGC still complains communication lost/regained continuously. WiFi analyzer app shows continuous max signal strength for pixracer though.

[2016-12-25 21:06] DonLakeFlyer commented on #4093
#4310

[2016-12-25 21:37] DonLakeFlyer commented on #4326
If you are getting popups which says communication lost/regained that is coming from the Vehicle not QGC. QGC will only show "COMMUNICATION LOST" in the toolbar if it doesn't get a hearbeat for more then 3.5 seconds.

[2016-12-25 21:50] DonLakeFlyer commented on #4328
@icesword001 I'll re-open if it is still crashing on a Daily Build.

[2016-12-25 22:12] CarlOlsson opened #4348 "QGC says found device Pixhawk when flashing Pixracer"
Just flashed my Pixracer and QGC tells me that it found device "pixhawk"
![screenshot from 2016-12-25 23 10 40](https://cloud.githubusercontent.com/assets/7795133/21473049/a8631836-caf7-11e6-97a8-510325fad662.png)

[2016-12-25 22:19] DonLakeFlyer commented on #4348
Pixhawk is the generic name for all Pixhawk open-hardware spec boards. The manufacturer naming varies quite a bit: Pixhawk, Pixhawk 2, Pixracer, Pixhack, HKPilot32, AeroCore, ... They are all Pixhawk style boards.

[2016-12-25 22:19] #4348 closed

[2016-12-25 22:20] #4093 closed

[2016-12-25 22:22] DonLakeFlyer commented on #4343
No null checks where removed. The position where you need to call LinkInterface::mavlinkChannel changed. Used to be in a single place behind a null check in Vehicle:sendMessage. Now it needs to be in all the *_pack_chan mavlink channels which are all of the codebase.

The mavlink 2.0 changes are new and have not yet been released to stable version.

[2016-12-27 13:57] #4343 closed

[2016-12-27 15:25] #4314 closed

[2016-12-27 15:25] #3236 closed

[2016-12-27 15:35] DonLakeFlyer opened #4351 "Look into using compass cal quality graphic"
I think this is doable on PX4 as well.

[2016-12-27 20:01] DonLakeFlyer commented on #4326
Closing this out since parameter load is working ok on latest daily. Tested WiFi to Pixracer on OSX and Android and that was working fine as well. Likely something in your setup going wrong.

[2016-12-27 20:02] DonLakeFlyer commented on #4333
Also I was wrong in that parameters are only support by GeoFence and Rally loading, not by Mission fiules.

[2016-12-27 20:08] kd0aij commented on #4326
Any ideas what might be wrong with my setup if it works on Linux, but not Android?

[2016-12-27 20:13] DonLakeFlyer commented on #4326
This is on your MotoG2 right? That's going to have a crappier WiFi connection so it could be losing packets. Once it boots up and you've been to say Setup (Gear) and Fly (paper airplane) more than once, is it sluggush two move between those screens. It could be it's running too slowly on your phone to keep up but I've never seen that before.

Do you know how long it takes for the firmware to compl

[2016-12-27 20:15] kd0aij commented on #4326
The Nexus7 never had any performance issues, but fails to load parameters as of my last test.
* Has something changed recently that would merit retesting?
* How would I measure the heartbeat interval on Android?

[2016-12-27 20:17] DonLakeFlyer commented on #4326
Nexus7 stills fails on latest daily? If so need to re-open.

You'd need to measure heartbeat on the firmware side to measure GCS->Vehicle heartbeats. @LorenzMeier Do you know offhand how long before firmware complains about missing heartbeats?

[2016-12-27 20:30] DonLakeFlyer commented on #4326
Assuming Nexus7 still screwed up

[2016-12-27 20:31] #4313 closed

[2016-12-27 20:33] dogmaphobic commented on #4326
Let me test this as well. I haven't booted the PixRacer in quite a while. What firmware should I flash to test?

[2016-12-27 20:34] DonLakeFlyer commented on #4326
Mark is running master firmware

[2016-12-27 20:34] kd0aij commented on #4326
Just retested Nexus7 with latest master and parameters loaded completely, but communication lost/regained every few seconds with signal strength -45dBm

[2016-12-27 20:35] dogmaphobic commented on #4326
Ok, let me build master and flash it. I can test on several variations of "Nexus"...

[2016-12-27 20:36] DonLakeFlyer commented on #4326
Mark: When you say communication lost/regained you are talking about message popus under the toolbar with the "X" in it right. Not the "COMMUNICATION LOST" messages which show up directly in the toolbar with the "Disconnect" button. Right?

[2016-12-27 20:38] dogmaphobic commented on #4326
Crap, any idea what this is?
[code]

[2016-12-27 20:38] DonLakeFlyer commented on #4124
Going to have to wait till 3.2 since it's a large change now. Sorry for taking so long.

[2016-12-27 20:39] kd0aij commented on #4326
try a make clean or distclean; NuttX changed recently

[2016-12-27 20:39] dagar commented on #4326
@dogmaphobic if you don't have any changes in submodules try `make submodulesclean`.

[2016-12-27 20:40] DonLakeFlyer commented on #4326
Yeah, it's stupid Git crap going berzerk. Any more questions? You seem surprised!

[2016-12-27 20:41] dogmaphobic commented on #4326
Yup, that did it. Building and flashing...

[2016-12-27 20:41] kd0aij commented on #4326
as of today, the MotoG3 doesn't connect at all
must have pushed the wrong button

[2016-12-27 20:41] tops4u commented on #4333
I'll reopen this Issue within PX4  then.

[2016-12-27 20:41] #4333 closed

[2016-12-27 20:41] DonLakeFlyer commented on #4125
Doesn't hurt anything, so will fix later

[2016-12-27 20:42] DonLakeFlyer commented on #4230
Good enough for now

[2016-12-27 20:42] kd0aij commented on #4326
BTW, I used QGC to flash master; assuming it grabs a recent CI build

[2016-12-27 20:44] DonLakeFlyer commented on #3866
I think this is better than it used to be. Moving to 3.2 for further testing.

[2016-12-27 21:07] dogmaphobic commented on #4326
I can't even get the tablet to connect to the PixRacer's WiFi. Android 7. It keeps saying there is no Internet connectivity and refuses to connect. Plugging it using USB (so I can change it to use *station* mode instead) but it is not showing up in QGC (no *WiFi Bridge* component is listed under Vehicle Setup).

[2016-12-27 21:10] DonLakeFlyer commented on #4326
Ah, that's an android 7 only problem that I though you could get past somehow (refusal to connect to WiFi with no internet). We need to duplicate how Tower gets past this. There is an Issue on this somewhere with details. Looks like it needs to be fixed for 3.1.

[2016-12-27 21:15] #4156 closed

[2016-12-27 21:17] DonLakeFlyer opened #4355 "Android 7 refuses to connect to WiFi with no internet on it"
Some possible Tower details here: https://github.com/mavlink/qgroundcontrol/issues/4222

[2016-12-27 22:28] DonLakeFlyer commented on #4326
@kd0aij Can you try saving a console log with ParameterManagerLog turned on with your Nexus 7 again? You'll get a strange file dialog. In the left panel you should be able to click on either Documents or Desktop. And then add a "/" followed by a file name and it should save there.

[2016-12-28 16:39] kd0aij commented on #4326
Save to Documents worked:
https://drive.google.com/open?id=0Bw3digSMQXDuZGI2N19xcDRwM2c

[2016-12-28 17:24] DonLakeFlyer commented on #4048
Found workaround for Qt bug. Need to report bug to Qt.

[2016-12-28 17:44] DonLakeFlyer commented on #4048
5.8 fixes the bug

[2016-12-28 17:49] DonLakeFlyer commented on #3987
Fixed in 5.8

[2016-12-28 17:51] DonLakeFlyer commented on #3987
Will be fixed in 3.2 when we move to Qt 5.8

[2016-12-28 18:01] dogmaphobic commented on #4303
Did you make any modifications to `VideoStreaming.pri`? If so, would you mind sharing it?

It sounds like google tiles is not working properly (they keep changing the API). Try using Bing and see if the problem goes away. This will determine if it is indeed a case of the google API going out of sync.

[2016-12-28 18:17] dogmaphobic commented on #4222
This exceeds my knowledge of Android/Java. I found the documentation explaining the issue here:

https://developer.android.com/reference/android/net/wifi/WifiManager.html#enableNetwork(int,%20boolean)

The paragraph is quite self-explanatory:

*Note: If an application's target SDK version is LOLLIPOP or newer, network communication may not use Wi-Fi even if Wi-Fi is connected; traffic may instead

[2016-12-28 18:27] dogmaphobic commented on #4222
Also note that this only relates to the ability to use WiFi for connecting to the vehicle while using Cellular for Internet access (Maps, etc.) Issue #4355 is not directly related. That has to do with the overall ability to have the device connecting at all to a WiFi AP with no Internet.

[2016-12-28 18:51] dogmaphobic commented on #4222
QGC currently targets LOLLIPOP (API Level 21). I wonder if setting it back to KitKat (API Level 19) would solve this? I just built a version of QGC set to API level 19 and it seems it all works just fine. I don't have an Android device with cellular data though so I cannot test to see if it handles both WiFi and Cellular at the same time.

[2016-12-28 19:10] dogmaphobic commented on #4355
Temporary solution for those with adb installed:

Run
 `adb shell settings put global captive_portal_detection_enabled 0`

* "Forget" the WiFi Bridge IP
* Reboot everything
* Connect again to the WiFi Bridge (SSID: PixRacer, PWD: pixracer)

It should now connect and work. Looking for a programmatically way to do this.

[2016-12-28 19:15] dogmaphobic commented on #4326
Booted Nexus 9 and was able to duplicate the issue (did not load all parameters and it keeps yelling at me telling *communication lost* followed by *communication regained*). Deleted some of my comments above as they only added noise. Let me run some more tests.

[2016-12-28 19:52] dogmaphobic commented on #4326
More than half the packets from the WiFi Bridge are being lost as you can see in the screen grab below. I have the same behavior when connecting with the Desktop. I wonder if the data rate is set too high. I will see if tweaking it makes it any better.

![screen](https://cloud.githubusercontent.com/assets/749243/21530201/05dd7ce2-cd0d-11e6-87e5-3900a261b8ba.png)

[2016-12-29 02:23] DonLakeFlyer commented on #4326
Are those numbers from sequence number gaps? I see the same thing on my Samsung Galaxy running 5.02. Although I don't see the communication lost thing.

[2016-12-29 03:13] dogmaphobic commented on #4326
Yes, something is royally messed up. This was working fine at some point. The lost count is real tough it doesn't match the rest because I had reset the counters. It seems it all starts fine, with little to no drops for a while. Then you can see "pauses" and the drop count starts to pile up. I wasted a whole lot of time chasing the Android 7 "No Internet" issue (with no good solution) today. For t

[2016-12-29 03:15] dogmaphobic commented on #4326
Also note that the WiFi Bridge does not support MAVLink V2. I wonder if that has anything to do with this.

[2016-12-29 03:27] DonLakeFlyer commented on #4326
MAV_PROTO_VER param controls mavlink 2 on/off. QGC won't send MAV 2 unless it see it coming from the Vehicle.

[2016-12-29 03:34] DonLakeFlyer commented on #2669
Feature added a while ago

[2016-12-29 03:34] #2669 closed

[2016-12-29 03:51] kd0aij commented on #4326
@dogmaphobic My ESP8266 modules are the same old ones that I first tested on pixracers. And they were both working fine till recently.

[2016-12-29 04:20] dogmaphobic commented on #4326
Right, that's what I thought. I've been testing with the same thing and yes, it was working fine the last time I used it. I will do some more thorough testing tomorrow.

[2016-12-29 04:38] DonLakeFlyer commented on #4198
#1 is not supported

[2016-12-29 04:38] #4198 closed

[2016-12-29 04:39] DonLakeFlyer commented on #4324
@szechyjs Any help with testing?

[2016-12-29 10:12] AndKe opened #4360 "Android: items partially hidden"
![screenshot_20161229-091135](https://cloud.githubusercontent.com/assets/1468842/21541552/b917caec-cdb7-11e6-8c1f-1c453970a98a.png)

[2016-12-29 11:00] AndKe opened #4361 "Please allow battery to be monitored by voltage, not percent."
As is,  QGC displays battery status based on consumption, this is assuming that:

-user have correctly configured capacity
-calculated in the reduced capacity on any older pack
-have correctly calibrated current (and voltage) sensor.
-all packs are about same age
-all packs are same capacity
-never flies a half-spent pack
-never land, reboot, then fly more.

I've seen lots of crash logs & crashes

[2016-12-29 12:03] AndKe commented on #4222
The Solo my company has (only one for development right now) is in pieces, being adapted to the payload the  re supposed to carry if used professionally. So I am unable to test right away, - but will test sooner or later.
As you see from my post 24 days ago, I could no longer reproduce the problem in such a way that it appeared to have anything to do with cellular connection anyway.

[2016-12-29 15:26] AlexeyBulatov opened #4362 "Connect link problem"
On master when I try to "Connect" created link of any type, I get:
qrc:/qml/LinkSettings.qml:128: Error: Unknown method parameter type: SharedLinkConfigurationPointer&

[2016-12-29 17:10] dogmaphobic commented on #4326
@DonLakeFlyer changes last night seem to have fixed it all. I now see close to zero lost messages. @kd0aij Can you try QGC's current master as well?

[2016-12-29 17:27] #4360 closed

[2016-12-29 17:40] #4362 closed

[2016-12-29 18:02] szechyjs commented on #4324
@DonLakeFlyer latest daily appears to be working.

[2016-12-29 18:04] dogmaphobic commented on #4303
@yzzir Any input on how you got GStreaming built on Ubuntu 16.04?

[2016-12-29 19:18] dogmaphobic commented on #4238
Resolved (for the moment) with #4365. Maybe a new issue should be brought up requiring the firmware to announce ulog capabilities.

[2016-12-29 19:18] #4238 closed

[2016-12-30 08:44] Fojtik commented on #4124
OK, thank you very much for your interest. Please let me know when these points will work - I can test it.

[2016-12-30 14:00] kd0aij commented on #4326
Will these changes be in the Android beta yet? I'm not set up to build for Android myself.

[2016-12-30 16:37] DonLakeFlyer commented on #4326
Yup. Should be there. Just double-check daily build version in Settings/General to make sure you have new build.

[2016-12-30 16:59] kd0aij commented on #4326
Seems to be OK now; no "communication lost/regained" messages so far, but
losing about 20 messages/second according to the WiFi Bridge Status display.

On Fri, Dec 30, 2016 at 9:37 AM Don Gagne <notifications@github.com> wrote:

[2016-12-30 17:06] DonLakeFlyer commented on #4326
Ok, thanks for testing Mark. This specific issue is fixed now.

@dogmaphobic Your call on whether you think 20/second is acceptable.

[2016-12-30 17:06] #4326 closed

[2016-12-30 17:14] DonLakeFlyer commented on #4324
Thanks for reporting back

[2016-12-30 17:14] #4324 closed

[2016-12-30 19:29] #4341 closed

[2016-12-30 19:58] dogmaphobic commented on #4326
20/second doesn't mean much. I would say up to 10% loss is acceptable. I'm seeing around 1% overall.

[2016-12-30 20:09] kd0aij commented on #4326
What are the variables involved, if an absolute loss rate "doesn't mean much"?

[2016-12-30 20:18] dogmaphobic commented on #4326
20/second depends on how many messages were sent within that one second. If you received 20 messages and lost 20, it's 100% loss. If you received 2,000 messages, it's 1% loss. From empirical experience, 10% is acceptable (20/200)

[2016-12-30 21:35] #4307 closed

[2016-12-30 21:42] kd0aij commented on #4326
duh

![wifi_status](https://cloud.githubusercontent.com/assets/2300221/21573063/8edef462-ce9d-11e6-8400-7882c74e4464.png)

[2016-12-30 21:56] DonLakeFlyer commented on #3977
I can't repro this any more. Moving to 3.2 for some further checking.

[2016-12-30 21:56] DonLakeFlyer commented on #4019
Working fine now. Hmm.

[2016-12-30 21:56] #4019 closed

[2016-12-30 21:58] DonLakeFlyer commented on #4214
There are more complicated possibilities for write side. Moving to 3.2

[2016-12-30 22:14] #3938 closed

[2016-12-30 22:23] DonLakeFlyer commented on #3722
Ok, so for PX4 you think Radio Cal should set reversed param for all vehicle types. Correct?

[2016-12-30 22:26] dagar commented on #3722
Correct

On Fri, Dec 30, 2016 at 5:23 PM, Don Gagne <notifications@github.com> wrote:

[2016-12-30 22:37] dogmaphobic commented on #4326
A bit high but it should be fine for telemetry. Are you using a 2.4GHz RC radio? I'm not seeing anywhere near that much loss (no RC connected). The PixRacer/ESP8266 link (Serial) loss is quite high too. Try reducing the data rate (not the baud rate). Something like:

`mavlink start -r 10000 -m config -b 921600 -d /dev/ttyS0`

And see if it makes a difference.

[2016-12-30 22:44] LorenzMeier commented on #4326
@kd0aij The ESP8266 has no flow control handling. So you need to (as @dogmaphobic says) adjust all data rates carefully so no buffer overflows.

[2016-12-30 23:01] DonLakeFlyer commented on #3722
@dagar Can you retry when this goes through?

[2016-12-30 23:01] #3722 closed

[2016-12-31 01:17] lvale opened #4371 "Compass calibration ArduPilot"
Latest QGC build on MacOS. ArduPilot Copter 3.4.3 running on PixRacer with external GPS+Compass unit.

Onboard calibration doesn't appear as option

Only 2 compasses available (not 3)

adding the QGC log when I tried to run the compass cal.

No display, but was beeping like it was using the onboard routine.

<img width="1177" alt="screen shot 2016-12-31 at 00 55 55" src="https://cloud.githubuserco

[2016-12-31 01:26] DonLakeFlyer commented on #4371
There aren't options to do onboard or offboard. It's automatic based on what the vehicle supports. Let me try mine again.

[2016-12-31 01:29] DonLakeFlyer commented on #4371
![screen shot 2016-12-30 at 5 29 12 pm](https://cloud.githubusercontent.com/assets/5876851/21575064/813d4d46-ceb5-11e6-9f46-955e0b7930c6.png)

That looks like 3 compasses. The numbering is wrong though. Should be 1, 2, 3.

[2016-12-31 01:31] DonLakeFlyer commented on #4371
Works for me. When you click Ok you get this:
![screen shot 2016-12-30 at 5 29 50 pm](https://cloud.githubusercontent.com/assets/5876851/21575072/b546cb30-ceb5-11e6-8613-39c338f3a832.png)

No fancy images. Just tells you to rotate randomly.

[2016-12-31 01:55] lvale opened #4373 "Planning screen background on text - latest QGC build"
Cosmetic issue on Planning screen - the text labels - Mission - Fence - Rally very hard to see specially on Light/Outdoor style

<img width="909" alt="screen-shot-2016-12-30-at-23 05 51" src="https://cloud.githubusercontent.com/assets/3130363/21575170/1a1b97ac-cefc-11e6-9ad2-84795a32740f.png">
<img width="963" alt="screen-shot-2016-12-30-at-23 06 17" src="https://cloud.githubusercontent.com/assets

[2016-12-31 01:55] DonLakeFlyer opened #4374 "ArduPilot: Support new FRAME_CLASS, FRAME_TYPE airframe setup"
Also need to look at the firmware collapsing in Copter going on with this.

[2016-12-31 02:04] DonLakeFlyer opened #4375 "ArduPilot: Use new accel cal support"
https://github.com/ArduPilot/ardupilot/pull/5200

[2016-12-31 02:07] lvale opened #4376 "Gear wheel on flight display to configure visible elements non functional"
Latest QGC on MacOS

Gear wheel on flight display to configure visible elements non functional
<img width="286" alt="screen shot 2016-12-31 at 02 05 40" src="https://cloud.githubusercontent.com/assets/3130363/21575228/d1793156-cefd-11e6-8df5-0ad21a4bedd3.png">

[2016-12-31 02:20] lvale commented on #4371
ok. Same thing here, except that mine doesn't show the 3rd compass :)

[2016-12-31 02:44] rmackay9 commented on #4374
For AC3.5 we are introducing a FRAME_CLASS parameter and renaming FRAME to FRAME_TYPE so it would be good to update the frame selection screen.

Possible values from FRAME_CLASS are 0:Undefined, 1:Quad, 2:Hexa, 3:Octa, 4:OctaQuad, 5:Y6, 6:Heli, 7:Tri, 8:SingleCopter, 9:CoaxCopter
Possible values for FRAME_TYPE are 0:Plus, 1:X, 2:V, 3:H, 4:V-Tail, 5:A-Tail, 10:Y6B

In case it helps, this is the equ

[2016-12-31 04:03] DonLakeFlyer commented on #4371
Yeah I only saw two at first as well!

[2016-12-31 13:47] #4371 closed

[2016-12-31 18:24] #4376 closed

[2016-12-31 18:24] #4373 closed

[2016-12-31 18:26] DonLakeFlyer commented on #3767
I'll add param read support for MP format and output to old version mission format in 3.2

[2016-12-31 19:15] dogmaphobic commented on #3128
Could someone test this once #4380 makes it in?

[2017-01-02 19:20] DonLakeFlyer opened #4384 "Survey file format: camera.imageSizeOverlap should be camera.imageSideOverlap"

[2017-01-02 19:49] #4384 closed

[2017-01-02 19:50] AndKe opened #4385 "Android tablet & phone differences & issues:"
On phone:

![phone](https://cloud.githubusercontent.com/assets/1468842/21595208/985ca3be-d12b-11e6-8f0b-b26be5112e58.png)

1:  there is no "gear" for configuring the widgets, whole Altitude, Ground speed, area triggers that, (easy to touch by accident)

2: given the limited screen area, maybe Ardupilot logo should be smaller, and the top bar used for something else - like half the height of AHI an

[2017-01-02 19:57] DonLakeFlyer commented on #3800
Current state of Mission/Survey file format is documented in dev guide: https://donlakeflyer.gitbooks.io/qgroundcontrol-developers-guide/content/MissionFileFormat.html

Rally Points/GeoFence are currently separate files. Further down the road I have the concept of a "Plan" file which could include mission, rally and geo-fence.

Also: Survey still doesn't output internal waypoints for downstream cl

[2017-01-02 21:25] AndKe opened #4386 "Vehicle Current displayed with extra decimans"
VehicleFact.json specify two decimals, but current is often displayed with a lot more, (see the first screenshot in https://github.com/mavlink/qgroundcontrol/issues/4385)

[2017-01-02 21:27] #3561 closed

[2017-01-02 21:30] AndKe commented on #3767
by any change , is the "MP format" the QGC QML  ? (used by mavproxy and many more ?)  - or is it yet another thing ?

[2017-01-02 21:33] #2728 closed

[2017-01-02 21:34] #2650 closed

[2017-01-02 21:36] DonLakeFlyer commented on #3767
MP and QGC mission text (non-json) formats are the same. QGC can read text format, but can't write text format. MP supports read of V1 Json format, only writes text format.

[2017-01-03 15:36] yzzir commented on #4303
@dogmaphobic I use gstreamer for the ubuntu repos.  I verified that it is still working with master pulled today.  I didn't have to make any changes to VideoStreaming.pri.

[2017-01-03 18:32] #4386 closed

[2017-01-03 19:03] DonLakeFlyer commented on #4385
Just bugs and unfinished work. Functionality is now the same.

[2017-01-03 19:06] DonLakeFlyer commented on #4355
@dogmaphobic Are you still working on this one? Wondering if I needed to start searching the Tower code. Have you verified that Tower does the right thing here?

[2017-01-03 19:09] DonLakeFlyer opened #4389 "Instrument values widget doesn't scroll up/down when full"
Related to #4385

[2017-01-03 19:48] dogmaphobic commented on #4355
The setting required to make Android use WiFi when it cannot find "google.com" is at the system level. At this point, my Nexus tablet running Android 7 is already "fixed" (manually). I would have to revert the "fix" and see how Tower behaves, though I don't have anything to connect to (no Solo or anything APM for that matter).

The same would be true for apps such as the GoPro app, which connects

[2017-01-03 19:57] dogmaphobic commented on #4355
Note that this issue is different from the one described in #4222. That one deals with the case where you have both Cellular and WiFi. If the WiFi link doesn't have Internet, Android will route everything through Cellular. Based on the documentation I found, it's a "feature" of Android 5.x and greater. That's the work around I've attempted with #4380.

This issue (Android 7) is that Android won't

[2017-01-03 21:26] #4385 closed

[2017-01-03 21:41] DonLakeFlyer commented on #4355
Not going to wait on 3.1 for this. If it is even fixable! It's also not a new thing so we'll move forward without it.

[2017-01-03 21:42] #3974 closed

[2017-01-03 21:44] DonLakeFlyer commented on #4303
@dogmaphobic Is there a way to create a unit test for this so we will know when they've changed things?

[2017-01-03 22:41] DonLakeFlyer opened #4390 "Google map tiles not loading all zoom levels"
Some zoom levels load, some don't. Can we also make a unit test for this?

[2017-01-03 22:42] DonLakeFlyer commented on #4390
[code]

[2017-01-03 23:10] yzzir commented on #4303
With regard to the tiles issue, I have always been trying to pull using Bing as they have a better hybrid view of stat+street view.  I believe e the issue is due to my work proxy.  I have it working on one PC (Ubuntu 14.04) but not on multiple others (Ubuntu 14.04 and Ubuntu 16.04) no clue why as I've imported all relevant CA certificates pertaining to my work proxy.  Also, the tile request issue

[2017-01-04 00:04] DonLakeFlyer commented on #4303
@yzzir Can you enter a separate issue for your tile issue and put the detail there

[2017-01-04 00:08] DonLakeFlyer commented on #4303
Ok, I'm not sure what do with 3.1 with respect to Ubuntu and gstreamer. Things like the AppImage don't seem to include gstreamer in it. Hence it is broken on 16.04 which is the new LTS so we should be able to run on that. Also the README instructions for installing gstreamer don't seem to work on 16.04 either. So pre-built archives and build yourself doesn't work either.

Linux is foreign to me so

[2017-01-04 00:11] dagar commented on #4303
Possibly, I've never actually used video in QGC. What's the quickest way to get a video source for testing? Is there a PX4 gazebo simulation or an easy way to stream from my own webcam?

[2017-01-04 00:12] DonLakeFlyer commented on #4303
https://github.com/mavlink/qgroundcontrol/blob/master/src/VideoStreaming/README.md shows a way to get a bouncing ball video stream

[2017-01-04 01:43] dagar commented on #3722
Thanks!

[2017-01-04 16:47] sanderux opened #4391 "Multi-vehicle: checkboxes in vehicle selection dropdown"
There are checkboxes in front of the vehicle selection drop down
They dont seem to have a function and are quite confusing

[2017-01-04 16:49] sanderux opened #4392 "Multi-vehicle: disconnect from selected vehicle, selector disappears"
When connected to 2 vehicles (A and B) and having vehicle A active.
if vehicle A disconnects the vehicle selector disappears and there is no way to switch to vehicle B

[2017-01-04 17:46] DonLakeFlyer commented on #4392
Are you running a daily build? Should already be fixed.

[2017-01-04 17:51] dogmaphobic commented on #4303
In theory yes. Set the test to download a few, predefined tiles and see if they were downloaded successfully. It would be a matter of creating a function to load a tile from a specific provider given an x,y grid coordinate and zoom level. This is primarily an issue with google, which makes fetching tiles a game of whack-a-mole exactly for this reason.

[2017-01-04 17:52] DonLakeFlyer commented on #4390
@dogmaphobic When tile load breaks. How do you figure out how to fix it? Does it require a new url or something?

[2017-01-04 18:13] DonLakeFlyer commented on #4392
Wait this is different. When Vehicle A disconnects it will automatically switch to Vehicle B and the selector will go away because there is only one vehicle. Just tested this and it is doing the right thing?

[2017-01-04 18:29] #4391 closed

[2017-01-04 19:15] sanderux commented on #4392
`when it looses connection it doesnt. It shows the connection lost screen with a disconnect button.

[2017-01-04 19:23] sanderux commented on #4392
It might be an older version, its a daily but not todays :)

[2017-01-04 19:24] DonLakeFlyer commented on #4392
Should have been fixed on Nov 30: https://github.com/mavlink/qgroundcontrol/pull/4265

[2017-01-04 19:32] sanderux commented on #4392
I'll check, maybe my version is old. Sorry

[2017-01-04 19:32] #4392 closed

[2017-01-04 19:33] DonLakeFlyer commented on #4392
Daily builds will have date in title bar.

On Jan 4, 2017, at 11:32 AM, Sander Smeets <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll check, maybe my version is old. Sorry

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/mavlink/qgroundcontrol/issues/4392#issuecomment-270464148>, or mute the thread<https://

[2017-01-04 21:12] DonLakeFlyer commented on #4303
My current findings...

Installed the following packages:
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev
libgstreamermm-1.0-dev

Changed in VideoStreaming.pri:
gstreamer-video-1.0 -> gstreamer-plugins-base-1.0

This then seems to at least get the correct headers but then it gets unresolved references in link. The references seem to be from things that should be in gstreamer-plugins-base-1.0.

[2017-01-04 22:44] DonLakeFlyer commented on #4303
I'm think I'm going to go ahead with 3.1 release without this. It's no worse than it was before. For example AppImage on 14.04 doesn't really work either since it doesn't include the right gstreamer stuff either.

If we can figure it out we can patch.

[2017-01-05 00:27] #4390 closed

[2017-01-05 01:32] #3782 closed

[2017-01-05 05:37] DonLakeFlyer opened #4395 "Update QGC logo in Windows Installer"

[2017-01-05 14:16] mrdown11 opened #4396 "basic companion (rPi) gpio commands from qgroundcontrol?"
I would like to see the option in qgroundcontrol to control the gpio pins of the companion rpi (say, I want gpio4 to be output, and be set to high). I think this allows for a lot of control over additional hardware on any vehicle with a companion rPi. This way all control is integrated in qgroundcontrol, so you don't need something separate to for instance turn on a light..

[2017-01-05 17:18] DonLakeFlyer commented on #4396
That's need to be done by the firmware on the vehicle doesn't it? QGC isn't in control of that sort of thing.

[2017-01-05 17:58] DonLakeFlyer opened #4398 "3.2 release changelog"
New features:
- Multi-Vehicle view

Major bug fixes:

[2017-01-06 19:30] DonLakeFlyer opened #4400 "Plan: Can't click item indicators in map to make current item"

[2017-01-07 18:07] DonLakeFlyer opened #4401 "Offline Maps: Min/Max Zoom text not using map palette"

[2017-01-08 00:33] DonLakeFlyer opened #4403 "Android: Bluetooth crashes"
https://play.google.com/apps/publish/?dev_acc=03583851360351630691#ErrorClusterDetailsPlace:p=org.mavlink.qgroundcontrol&et=CRASH&sh=false&lr=LAST_30_DAYS&ecn=Native+crash&tf=unknown&tc=unknown&tm=unknown&nid=eea035ad00f02a26&an&c&s=new_status_desc&ed=1483748531123

[2017-01-08 00:53] DonLakeFlyer commented on #4400
Hmm, seems to be working fine now.

[2017-01-08 00:53] #4400 closed

[2017-01-08 00:56] DonLakeFlyer commented on #4401
This is correct. The white just wasn't working well on the satellite area I was on.

[2017-01-08 00:56] #4401 closed

[2017-01-08 08:43] CarlOlsson opened #4406 "iOS: QGC crashes when connecting through wifi"
After updating to the latest QGC for iOS the app crashes as soon as you connect a vehicle to a pixracer over wifi.
I have tried with an iphone 6 and an ipad 4 both running iOS 10

[2017-01-08 14:44] ebennb commented on #2927
Any updates here? This is a critical feature for me as I do surveys' in areas with much topography. Thanks!

[2017-01-08 17:26] DonLakeFlyer commented on #2927
Scheduled for next release. No timeframe yet.

[2017-01-08 17:29] DonLakeFlyer opened #4407 "Telemetry signal strength not radio"
Report of this using SiK radio.

[2017-01-08 17:36] DonLakeFlyer commented on #4406
Thanks for the report. Let me take a look.

[2017-01-08 17:38] DonLakeFlyer commented on #4406
Damn, I can repro as well.

[2017-01-08 17:39] dogmaphobic commented on #4406
It runs here. I assume this is the "release" version (not the TestFlight)?

[2017-01-08 17:43] DonLakeFlyer commented on #4407
@dogmaphobic Can you take alook at this one?

[2017-01-08 17:44] DonLakeFlyer commented on #4407
https://groups.google.com/forum/#!topic/qgroundcontrol/X2B1RhZELiU

[2017-01-08 17:53] DonLakeFlyer commented on #4406
I found it.

[2017-01-08 17:54] dogmaphobic commented on #4406
Where?

[2017-01-08 17:55] DonLakeFlyer commented on #4406
Vehicle::_updatePriorityLink is fully #ifdef'ed out on iOS due to NO_SERIAL_LINK. But only the serial link part of that should be out. Fallback to first link should still be in.

[2017-01-08 17:57] dogmaphobic commented on #4406
Are you fixing it or should I? How to add it back to Stable_V3.1?

[2017-01-08 17:59] DonLakeFlyer commented on #4406
Once master goes through I'll move it to Stable_V3.1 and I'll move the tag and you'll need to drop Stable and TestFlight again.

[2017-01-08 18:00] dogmaphobic commented on #4406
Yeah, that came in with #4349. That whole multiple link is voodoo to me :P

[2017-01-08 18:00] DonLakeFlyer commented on #4406
Yeah I knew I'd break something with that one. Way too much change to come clean.

[2017-01-08 23:07] dagar commented on #2927
I was thinking about this a few months ago. Would you want to feed it to the autopilot over mavlink or use it at mission planning time?
There also seems to be different sources of the data and they're not necessarily easy to pull from. We might need to host a version of it? http://www.cgiar-csi.org/data/srtm-90m-digital-elevation-database-v4-1

[2017-01-09 01:48] lvale commented on #2927
@dagar 90m resolution is not very helpful. I can't remember where I've seen 30m data, but it exists...

[2017-01-09 01:51] dagar commented on #2927
There's this one http://www.cgiar-csi.org/1106, but the site isn't loading.

[2017-01-09 01:54] dagar commented on #2927
Good data is part of it, any thoughts on the implementation @lvale? Does QGC cache SRTM and feed it to the vehicle over mavlink, or could we use it during planning with absolute altitude waypoints?

[2017-01-09 06:10] birchera commented on #2927
There is the [Google Elevation API](https://developers.google.com/maps/documentation/elevation/intro). It has a few meters accuracy, which would be decent for terrain following I guess.

[2017-01-09 06:25] dagar commented on #2927
That might be a good option. The last time I looked I only found the javascript client library, but I see they have server side options now. There are pretty low API limits, how do we handle that? Allow the user to bring their own key?

[2017-01-09 07:49] #4396 closed

[2017-01-09 07:51] mrdown11 commented on #4396
You are probably right, closing the issue

[2017-01-09 08:17] kikislater commented on #2927
Better option is not google IMO, it's SRTM 30. Google is not proven as a good provider in GIS ...
I have made a request here : https://github.com/mavlink/qgroundcontrol/issues/4007

[2017-01-09 10:12] birchera commented on #2927
What are the reasons you doubt the google data? They provide accuracy of their data for every single point and the number is usually below 5m from what I have seen.

On the other hand, 30m accuracy is not very helpful if you plan surveys on e.g. 45m altitude.

[2017-01-09 10:49] CarlOlsson commented on #4406
Awesome now it works, thanks!

[2017-01-09 10:49] #4406 closed

[2017-01-09 10:52] kikislater commented on #2927
Google use SRTM data's and his own algorithm to provide data's on elevation. Algorithm is interpolation and could provide accurate data when you divide the number by 3. So an SRTM30 you could be around 10m but I prefer raw data's than interpolated data's by Google.
Google is not a provider of elevation data but use data from other provider. Sometimes they made mix from aster dem which is definitiv

[2017-01-09 15:05] cda725 opened #4411 "UVC implementation has issue with some UVC devices"
I have discovered a slight issue that needs addressed and hope those with more insight into the matter agree and know how to achieve what I am about to explain - hoping it is not a QT / QT version issue. I have tried remedy but I believe this is slightly above my skill.

Some UVC devices are accessed by Android as USB devices and don’t list under /dev/video (or other camera type device); instead t

[2017-01-09 15:27] dogmaphobic commented on #4411
This would have to be dealt with within Qt itself. There isn't much you can do from QGC unless you want to write your own (Android) camera handler. Qt uses direct, Android (Java) calls to interface its multimedia API. If you look in `qtmultimedia/src/plugins/android/src/wrappers/jni/androidcamera.cpp` you will see functions like:

[code]

And so on... That's where Qt iterates and identifies the av

[2017-01-09 15:27] samacumen opened #4412 "HDOP/VDOP values not updated in QGC MainToolBar: GPS Status"
I would like to bring to your notice that the hdop/vdop is not getting updated in QGC in MainToolBar display
I checked that in the stable branch v.3.1.1 the GPS based changes were moved from MainToolBar.qml to MainToolBarIndicators.qml, and also some re-arrangement and code clean up has occured.

Tried to simulate this using HIL mode, did not seem to update.

Please see the image below:

![hdop](h

[2017-01-09 15:35] dogmaphobic commented on #4411
Looking at the Android documentation (https://developer.android.com/reference/android/hardware/Camera.html) it seems Qt is using an older API to access the camera. You would need to bring this up with the Qt dev team and see what they have to say.

[2017-01-09 15:40] cda725 commented on #4411
Thank you!!! I was afraid it was a QT issue - Ugh. Off to cal the powers that be.

[2017-01-09 15:41] cda725 commented on #4411
Just curious - is it that they are using android.hardware.camera?

[2017-01-09 15:45] dogmaphobic commented on #4411
I can't quite answer that as I know close to nothing about Android. I looked up how Qt was iterating cameras and found the code using android/hardware/camera. When I went to the Android website to see what that interface provided, I noticed the comment up top saying that was a deprecated API and people should use camera2 instead. That's as far as I went. I do not know what either interface does or

[2017-01-09 17:55] DonLakeFlyer commented on #4411
Maybe different in 5.8?

[2017-01-09 18:00] DonLakeFlyer commented on #4406
Thanks for the quick bug report @CarlOlsson

[2017-01-09 18:21] DonLakeFlyer commented on #4412
Tested using a real vehicle with both 3.1.1 and master and it's working fine. If you are getting 0's then most likely the vehicle is not sending the values across. Check using mavlink inspector (Widgets/mavlink inspector). You should see this:
![screen shot 2017-01-09 at 10 19 07 am](https://cloud.githubusercontent.com/assets/5876851/21777806/6543ba1a-d655-11e6-8a49-d02ac6600c64.png)

hdop and vdo

[2017-01-09 18:44] dogmaphobic commented on #4411
Looking at the sources, it doesn't seem anything changed. It's still calling `android/hardware/Camera`. If there has been some change elsewhere I don't know and I won't be able to test as I don't have any hardware that shows the problem listed in this issue.

[2017-01-09 19:04] cda725 commented on #4411
What do you need? I have extra Android tablets - Do you still have the UVC device?

[2017-01-09 19:10] dogmaphobic commented on #4411
I have one single UVC device. An "easyCap" USB dongle, which works fine.

[2017-01-09 19:16] cda725 commented on #4411
In Android? If so please send me the amazon link... I will just use those instead...

[2017-01-09 19:51] dogmaphobic commented on #4411
My bad. I've been working on so many different things at once that I lost track of what is what. The (Android) tablet I just tested is rooted and has all sorts of changes done to it. I tried on a "normal" tablet (Nexus 7, Android 6.x) and it doesn't work there. While looking at all this, I started to remember all the crazy stuff I had to do to get Android to see the UVC device.

The Android docume

[2017-01-09 22:43] CarlOlsson opened #4413 "iOS: Can't change min voltage"
In the power tab you can't change the min voltage of the battery cells on iOS. If you try to change it and then switch tab, e.g. to sensors, and then switch back again the voltage level is reset always to 3.4V.

It works however on QGC for Ubuntu.

[2017-01-10 00:30] cda725 commented on #4411
Thank you... I will look into that. I wrote QT about the issue as well to see if they may also have suggestions.

[2017-01-10 01:03] DonLakeFlyer commented on #4413
Did you hit the done button on the virtual keyboard before changing pages?

[2017-01-10 06:11] leondwyer opened #4414 "Survey functionality, create auto take off and landing/RTL options"
One of the great thing MS does is it handles the auto take of land / rtl waypoint for you to in the survey planner.

It saves having to set them up yourself. there just simple check boxes on the options screen.

[2017-01-10 06:17] leondwyer opened #4415 "Survey functionality: Change "Relative checkbox" to a Dropdownlist"
Currently, there is a check box to make the survey run for the relative ALT.
Presumably if uncheck the mission will run from Absolute (sea Level)

Almost all missions I run are in Terrain follow.  It produces a better result ensuring that the GSD is consistent across the site.

A drop down would be good
Absolute, relative, Terrain
or
Sea Level,  Above Take off Alt, Terrain

[2017-01-10 08:10] CarlOlsson commented on #4413
Yes, just tried it again and it is not possible to change the voltage

[2017-01-10 09:57] saitej09 opened #4416 "Increase Geotag Accuracy"
Hi I have tried using the ExifParser. There is a loss in accuracy of about 100 cm in conversion from decimal lat/lon to dms and writing to imagebuffer.

Can you explain how to increase the accuracy?

Relevant code:

`
gpsData.readable.extendedData.gpsLat[0] = abs(static_cast<int>(coordinate.latitude()));
    gpsData.readable.extendedData.gpsLat[1] = 1;
    gpsData.readable.extendedData.gpsLat[2] =

[2017-01-10 09:59] GlidLov commented on #2910
same here, service not avaiable. Looking forward for it

[2017-01-10 10:45] samacumen commented on #4412
Thanks @DonLakeFlyer for testing this. I did not seem to have the latest firmware for the pixhawk. It works now, you may close the issue.

[2017-01-10 10:46] #4412 closed

[2017-01-10 17:06] DonLakeFlyer commented on #2910
@GlidLov Are you using the latest version of QGC?

[2017-01-10 17:22] DonLakeFlyer commented on #4415
Sorry to disappoint you @leondwyer. QGC doesn't support terrain following yet, hence the no dropdown at this point. It's being added in the 3.2 release.

[2017-01-10 17:29] dogmaphobic opened #4417 "Command long messages need to handle the confirmation field"
Adding here before it falls through the cracks.

https://github.com/mavlink/qgroundcontrol/blob/master/src/Vehicle/Vehicle.cc#L1911

The `confirmation` field is used to identify which "instance" of the command is being processed. That is, when you send a given *COMMAND_LONG* message, the *ACK* message will have the value set in the original `confirmation` field. For example, if you send two or mor

[2017-01-10 17:36] DonLakeFlyer commented on #4417
It's going to be a pain to support this. The reason is that no firmware supports this now. Hence QGC has no idea how it is going to get acks back. Sometimes it may get a confirmation back that matches sometimes it won't. Having to case out by firmware version for all these features gets out of hand really fast. It's going to need a capability bit or something to let the groundstation knows what ca

[2017-01-10 17:41] dogmaphobic commented on #4417
Is there any (unique) command you can think of that's sent more than once in a row? That is, will this ever be set to 1 or more? This came up when @bkueng noticed a very long stream of MAV_CMD_PREFLIGHT_CALIBRATION being sent clobbering the queue.

[2017-01-10 17:44] DonLakeFlyer commented on #4417
That would be a bug. QGC should only retry five times. Also newest PX4 firmwares correctly acks this commands. So if using new firmware you should get no retries. If you are then that's a firmware bug.

Not sure what you mean by a unique command sent more than once in a row? They all will be sent more than once it they don't get an ack. But only by the retry logic. Nothing gets sent more than once

[2017-01-10 17:51] dogmaphobic commented on #4417
I have to see what's up with MAV_CMD_PREFLIGHT_CALIBRATION. I have not tried it myself yet. This is still a bit confusing to me.

Forget the "unique" part. Only now I see that the ACK only tells you which command it is responding, without its arguments. Therefore, there is no way for you to know. For example, if you were to send two MAV_CMD_PREFLIGHT_CALIBRATION commands, one for gyro and another

[2017-01-10 18:04] DonLakeFlyer commented on #4417
That is correct. Except that QGC only ever has one COMMAND_LONG out to the vehicle at a time. Additional ones get queued up until the previous one completes.

[2017-01-10 18:06] dogmaphobic commented on #4417
That answers my main question (this issue). If that's the case, QGC will never run into the "whose ACK is this for" situation.

[2017-01-10 18:06] #4417 closed

[2017-01-10 18:25] DonLakeFlyer opened #4418 "Plan: Use RowLayout for mission item editors"
This way the text field width can flow to be as large as possible based on field names.

[2017-01-10 21:15] WickedShell opened #4419 "Support GPS_FIX_TYPE enum"
Ardupilot is moving to reporting fix types as per the mavlink GPS_FIX_TYPE enum, which means GPS status of 5 which was RTK is now RTK Float, 6 is RTK Fixed, and 7 is static. I'm not sure if any of the UI needs to change to reflect that support.

[2017-01-10 23:39] DonLakeFlyer commented on #4419
Missing 7:Static
[code]

[2017-01-10 23:41] DonLakeFlyer opened #4421 "Windows: Add version number in installer ui"

[2017-01-10 23:51] DonLakeFlyer commented on #4416
@birchera Andreas?

[2017-01-11 00:00] DonLakeFlyer commented on #4414
Also need to consider flight speed since I didn't add that in my referenced pull. The reason is that with QGC a Survey item is slightly different than in Mission Planner. In Mission Planner the Survey widget sets up an entire mission. Whereas in QGC a Survey is only considered a part of a survey and you can have multiple surveys in a mission for example. Need to rationalize that difference with th

[2017-01-11 00:11] DonLakeFlyer opened #4422 "Plan: Put back VTOL values in item status"
I screwed this up in #4420

[2017-01-11 08:13] birchera commented on #4416
The current rational format is (ddd/1,mmmm/1000,0/1) and has an accuracy in the order of <2m

If we want to increase accuracy we could go for (ddd/1,mm/1,ssss/1000). This would bring us to sub cm accuracy. Such accuracy is only beneficial if you have a PPK/RTK device.

@saitej09 what are your requirements?

[2017-01-11 08:19] saitej09 commented on #4416
@birchera

Hi ..
We have the exact same requirements. RTK/PPK device

[2017-01-11 08:49] birchera commented on #4416
I can propose a patch. This week will be difficult, but next week should be possible.

[2017-01-11 09:12] saitej09 commented on #4416
@birchera

Sure!! Thanks. It will be great if u can give some hints and I too can try from my side.

[2017-01-11 15:02] sanderux opened #4423 "QT Build error on ubuntu 16.04"
After following instructions:

[2017-01-11 15:03] sanderux commented on #4423
@DonLakeFlyer do you know how to solve this so i can update the docs?

[2017-01-11 17:01] DonLakeFlyer commented on #4423
YOu installed your own copy of 5.5.1? Seems like you are building with the Ubuntu version of Qt.

[2017-01-11 19:27] cda725 commented on #4411
Hi everyone!

The issue has been raised with QT - https://bugreports.qt.io/browse/QTBUG-58026 - I am not sure what it means but yesterday they assigned it a "P3 - somewhat important" priority level.

I looked at the Android workaround but until either QT resolves the issue or there is another fix I may have to stay with either  windows tablets or Jaguar Board X86 (Pi like) devices running windows

[2017-01-11 20:39] sanderux commented on #4423
Hm, i did download QT 5.5.1 as per the manual but i think i might have overwritten it with an apt-get i did to solve another problem resulting from an older version being present on my machine.
I'll try again.

[2017-01-11 20:39] #4423 closed

[2017-01-11 22:33] tubeme opened #4425 "Windows: On Start QGC just hangs."
Still cannot figure out the reason for this. On start up QGC just does not start. The mouse pointer starts rolling for a second and no window opens.

I tried 3.1.0 ; 3.1.1 and the current Master as well. All are the same. I had a copy of a 20Dec2016 master so I installed it and it works!!!.

Might be related to Intel Graphics. The PC is with embedded graphics but with the default microsoft drivers

[2017-01-11 22:49] NaterGator commented on #4425
@tubeme there should be 3 shortcuts in your start menu that force progressively degraded GPU acceleration (down to full software rendering). Can you try them to determine if the Intel iGPU is indeed at fault?

[2017-01-11 22:56] tubeme commented on #4425
@NaterGator Exactly what I did. Tried all the 3 options to each install 3.1 3.1.1 and todays Master.

Only my 20 Dec 2016 master works.

[2017-01-11 23:02] tubeme commented on #4425
Forgot to mention it is Windows 10 with latest updates.

[2017-01-12 05:23] DonLakeFlyer commented on #4411
Leave it open so we can keep checking Qt for the fix.

[2017-01-12 05:30] DonLakeFlyer commented on #4413
Does it work if you change BAT_V_EMPTY from the parameter editor?

[2017-01-12 09:01] GlidLov commented on #2910
@DonLakeFlyer yes

[2017-01-12 18:38] DonLakeFlyer opened #4426 "Plan: MAV_CMD_NAV_LAND item should zero out altitude when added"

[2017-01-12 18:39] DonLakeFlyer opened #4427 "Add follow-me support"

[2017-01-12 18:40] DonLakeFlyer commented on #2192
Because it not implemented: #4427

[2017-01-12 18:42] DonLakeFlyer commented on #2910
That looks like the same board I tested with. I'll try it again today.

[2017-01-12 19:44] DonLakeFlyer commented on #4413
I tried to repro this on both master and stable. Both worked fine for me. Can you detail out click by click what you are doing?

[2017-01-12 20:26] jgoppert opened #4428 "Add a way to install PX4 LPE firmware version for px4fmu-v2"
See issue here: https://github.com/PX4/Firmware/pull/6307

[2017-01-12 20:28] dagar commented on #4428
@DonLakeFlyer for now what do you think about putting this in the advanced drop down if the board is px4fmu-v2? Longer term we can do something better with the json firmware listing.

[2017-01-12 21:01] tubeme opened #4430 "Joystick: On command the control surfaces shake."
Hello guys,

5-6 month ago I had a very successfull experiments with controling airplane with joystick.

Now after our new ground station is ready we put QGC 3.0.2 and the things with setting up the joystick got way better than before. But after the calibration the problem i have is there is no really commands transl;ating from the joystick to the control surfaces. They move but rather shake. Not

[2017-01-12 21:19] dagar commented on #4430
Do you have RC connected as well? What's COM_RC_IN_MODE set to?
Can you share the log?

Your ground control station is insane.

[2017-01-12 21:30] dogmaphobic opened #4431 "UVC for iOS (Not)"
Assuming there is no way to connect an external video source to an iOS device, UVC should be disabled by default for iOS builds (adding `DEFINES += QGC_DISABLE_UVC` within the iOS block).

[2017-01-12 21:51] DonLakeFlyer commented on #4430
Also 3.0.2 is pretty old now. I'd go with Stable 3.1. That is one hell of a groundstation!

[2017-01-12 22:02] DonLakeFlyer commented on #4430
Wait you're not on 3.1 because of #4425

[2017-01-12 22:04] DonLakeFlyer commented on #4430
@tubeme Do you have the ability to build your own QGC?

[2017-01-12 22:09] tubeme commented on #4430
@dagar  The RC is conected, but as far as I remember if I don't touch the RC then the Joystick gets over.
The COM_RC_IN_MODE = 2. I will get the LOG tomorrow.

BTW If I could lay with my ground station I would do it :)

I designed it, a friend of mine produced it. We plan on commercial production. This is the first prototype.

![imag0768](https://cloud.githubusercontent.com/assets/12617619/2191036

[2017-01-12 22:11] tubeme commented on #4425
I upgraded the Intel drivers. It is Intel HD 5500. Now with the good drivers nothing again. Does not start. Should be something else. May be some other device or sth... Is there a LOG??

[2017-01-12 22:12] DonLakeFlyer commented on #4425
Is it hanging or just not starting. Do you have to kill the QGC process?

[2017-01-12 22:13] tubeme commented on #4430
Forgot to mention. The ground station has triple redundancy on the input metod - Touch screen, Professional Trackball, Keyboard with pad.

And it has triple redundancy on the power supply. Internal 12 volt for 2 hours, can be connected to external 12v batery and 220v AC.

[2017-01-12 22:17] DonLakeFlyer commented on #4425
@NaterGator Could you work with Vasil to try to track this down? Maybe get him a debug build so he can get console output. Also would there be a way to get a windows build to output console to command prompt through some sort of command line option? I'm in the middle of a ton of stuff right now so will take me a while to help.

[2017-01-12 23:26] tridge opened #4432 "binary names changing for ArduCopter"
Hi Don,
This is a heads-up for a change that just went into ArduPilot master where the binary names for ArduCopter have changed. I've created an issue describing the change here:
https://github.com/ArduPilot/MissionPlanner/issues/1456
Cheers, Tridge

[2017-01-12 23:27] DonLakeFlyer commented on #4432
Thanks @tridge

[2017-01-13 07:41] jgoppert commented on #4428
If it helps, all px4 firmware versions are names  OS-BOARD-LABEL

We are stripping off all OS because it is always nuttx current.
The board is px4fmu-v2 etc.
The label identifies what set of modules were built. So far we have only been using default.

px4fmu-v2 is the only board that has both default and lpe labels. So the gui could have a label selectors at some point, but for now a drop down lis

[2017-01-13 09:50] klopezal opened #4433 "Adding support for px4fmu-v4pro"
Hello, could you add support for the upcoming px4fmu-v4pro? So we can get the very nice automatic connection feature.  New PID/VID as in Nuttx config are : USB\VID_26AC&PID_0013. Thanks!

[2017-01-13 13:36] bwmcclai commented on #4425
I'll just chime in to say that I am experiencing the exact same problem.

- Windows 10
- Tried multiple builds
- Tried all compatibility launch modes

Mouse spins for a second and then nothing....

[2017-01-13 16:28] reidel commented on #3509
jaimehonrado@gmail.com

[2017-01-13 17:33] DonLakeFlyer commented on #4430
Need to get a log file to the firmware folks to track down what is driving the servos.

[2017-01-13 17:54] DonLakeFlyer commented on #4430
Can you try manually cleaning out QGroundControl:
- Uninstall QGC
- Make sure there is no C:\Program files (x86)\qgroundcontrol directory
- Install stable
- Run QGC from the command line with this "qgroundcontrol.exe --clear-settings"

[2017-01-13 17:55] DonLakeFlyer commented on #4425
Can you try manually cleaning out QGroundControl:
- Uninstall QGC
- Make sure there is no C:\Program files (x86)\qgroundcontrol directory
- Install stable
- Run QGC from the command line with this "qgroundcontrol.exe --clear-settings"

[2017-01-13 18:07] dagar commented on #4430
@tubeme right now you can't have joystick with QGC and RC connected simultaneously. They're fighting each other.
We've been talking about how to fix it on the firmware side. At a minimum either explicitly switching to one or the other via param, or a priority system.

[2017-01-13 18:11] DonLakeFlyer opened #4434 "ArduPilot: Complete work on FRAME_CLASS, FRAME_TYPE"
Need to add back parameter setting

[2017-01-13 18:12] #4432 closed

[2017-01-13 18:17] DonLakeFlyer commented on #4433
Does this run the exact same firmware as other V4 boards? Or is there a different set of firmware builds for it?

[2017-01-13 18:18] DonLakeFlyer commented on #4433
Does the bootloader return this for board id:
    static const int boardIDPX4FMUV4 = 11;   ///< PX4 V4 board, as from USB PID

[2017-01-13 18:38] bwmcclai commented on #4425
@DonLakeFlyer I followed your steps exactly.  for "Install Stable" I used this release: https://github.com/mavlink/qgroundcontrol/releases/tag/v3.1.0

When I try to run it from the command line, nothing happens, just like when trying normally.

By the way, 3.0.2 works for me when I set it to run in GPU compatibility mode.

[2017-01-13 18:40] NaterGator commented on #4425
@DonLakeFlyer  I'm pretty slammed during the week but I can help with this over the weekend. I'll see if I can repro quickly on my Win10 work machine, if so I can probably track down the bug in a few minutes.

[2017-01-13 18:41] DonLakeFlyer commented on #4425
FYI: It doesn't repro for me on my Win10 VM.

[2017-01-13 18:45] bwmcclai commented on #4425
Thanks for the quick replies guys.  I appreciate it.

[2017-01-13 18:53] NaterGator commented on #4425
No repro here on my work machine. For those of you having this issue, can you run [DebugView++](https://debugviewpp.wordpress.com/2014/01/04/7/) to capture a log while trying to start QGC?

[2017-01-13 18:57] DonLakeFlyer commented on #4425
@NaterGator Run with "qgroundcontrol --logging:full" and DebugView++? That will capture QGC output?

[2017-01-13 18:59] NaterGator commented on #4425
Yes, the default QtMessageHandler invokes [OutputDebugString](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363362(v=vs.85).aspx) which DebugView++ captures. Anything that shows up in the QGC debug console should be caught by DebugView++.

[2017-01-13 19:16] bwmcclai commented on #4425
[13036] Settings location "C:/Users/Brian.McClain/AppData/Roaming/QGroundControl.org/QGroundControl.ini" Is writable?: true
[13036] Filter rules "qt.network.ssl.warning=false\n*Log.debug=false\n*Log.debug=true\n"
[13036] MAVLinkLogManagerLog: MAVLink logs directory: "C:/Users/Brian.McClain/AppData/Roaming/QGroundControl.org/QGroundControl/MAVLinkLogs"
[13036] JoystickLog: Available joysticks
[1303

[2017-01-13 19:28] NaterGator commented on #4425
If you have a joystick plugged in, can you unplug it and try again?

[2017-01-13 19:37] bwmcclai commented on #4425
I don't have one plugged in.

[2017-01-13 19:37] NaterGator commented on #4425
Hmm, doing a little code review I'm pretty sure I've got it. One sec and I'll submit a PR for a build for you to try.

[2017-01-13 19:58] NaterGator commented on #4425
Please try this build and let me know if it works: https://ci.appveyor.com/api/buildjobs/p5mdclv17gl5mvo0/artifacts/QGroundControl-installer.exe

[2017-01-13 20:10] vsobalski commented on #4425
Hi,
I just had the same issue, and ended up running into this thread. I have Windows 10, and had issues with the version 3.11 and 3.10 of QGroundControl. The packaged you submitted seemed to have corrected the problem on my computer. Thanks a lot

[2017-01-13 20:24] bwmcclai commented on #4425
works like a charm now.  THANKS!

[2017-01-13 21:25] #4425 closed

[2017-01-13 22:32] tubeme commented on #4430
Here is the LOG file:

http://logs.uaventure.com/view/kQS52VABfcUkHZYQNF4wU3

[2017-01-13 22:33] DonLakeFlyer commented on #4430
@tubeme Is this the problem?

[2017-01-14 00:11] tubeme commented on #4430
As far as I remember there was huge discussion about how it should be implemented and it was pretty long time ago. I thought that it is implemented such that the RC has a priority over the Joystick but if we don't touch the RC and have input from the joystick it performs the control. That is the most logical way of operation. It is very similar to Trainer Student relation with two RCs. In our case

[2017-01-14 00:16] tubeme commented on #4430
@dagar It is not a good idea to have either one. In real life situations they both are backup to each other. We use the joystick for long missions, but take off and land with the RC when we have connection. The Joystick is operated by UART so 10 times more range. If there is problem to one of the controls we have to make sure the other one is active right away.

[2017-01-14 01:37] dagar commented on #4430
If we get priorities working both could be connected simultaneously. You'd select which one has priority with a param. Other than that I don't know how you could have them both working at the same time. Even hands off they're still sending the stick position constantly.

[2017-01-14 01:54] DonLakeFlyer commented on #4430
There is an Issue in already on the whole "joystick takes control" support in QGC. More like an RC trainer type setup. But not work on it yet.

[2017-01-14 02:50] dagar opened #4440 "PX4 pixhawk firmware flash based on reported size"
Binaries for the original pixhawk are limited to 1 MB. The pixhawk 2 is binary compatible with the pixhawk 1, but able to use the full 2 MBs of flash. Newer pixhawk 1s (http://store.mrobotics.io/category-s/113.htm) are also able to use the full 2 MBs.

All of these have the same board id, however the bootloader reports the flash size.

Pixhawk 1 - Flash px4fmu-v2_default
https://s3.amazonaws.com/p

[2017-01-14 03:04] DonLakeFlyer commented on #4440
I assume you have those size reports reversed?

[2017-01-14 03:12] dagar commented on #4440
No, looks fine to me :wink:
(fixed it)

[2017-01-14 11:30] tubeme commented on #4430
I think it is very well organized in OpenTX regarding the trainer port operation.
The easiest way I think is not with parameter, but with a button on the QGC interface. Klick the button you have RC click it once more you get Joystick. Just a software switch.

[2017-01-14 17:27] tubeme commented on #4425
Thanks @NaterGator a lot. Now the qgroundcontrol starts perfect.

But there is another problem. The Joystick gets recognized but when I go to calibrate it, it states:

"Detected 0 joystick axess. To operate PX4 you need at least 4 axes."

and it does not allow me to calibrate the joystick. From the above posts I understand this is related to the joystick or other input devices. I have three of tho

[2017-01-14 17:28] DonLakeFlyer commented on #4425
@tubeme Can you move this to a new Issue?

[2017-01-14 17:34] tubeme opened #4442 "Joystick: Cannot be calibrated."
Fixing #4425 probably created new problem with the joystick

The Joystick gets recognized but when I go to calibrate it, it states:

"Detected 0 joystick axess. To operate PX4 you need at least 4 axes."

and it does not allow me to calibrate. thus I cannot use it.

qgc is master past 3.1.1. with the #4425 fix.

[2017-01-14 17:38] DonLakeFlyer commented on #4442
@NaterGator Must be a windows thing maybe. Working fine on OSX with my Logitech.

[2017-01-14 17:40] DonLakeFlyer commented on #4442
@rjehangir Are you seeing similar problems with Stable?

[2017-01-14 17:43] DonLakeFlyer commented on #4442
@bwmcclai Reported this in #4425:
[13036] Settings location "C:/Users/Brian.McClain/AppData/Roaming/QGroundControl.org/QGroundControl.ini" Is writable?: true
[13036] Filter rules "qt.network.ssl.warning=false\nLog.debug=false\nLog.debug=true\n"
[13036] MAVLinkLogManagerLog: MAVLink logs directory: "C:/Users/Brian.McClain/AppData/Roaming/QGroundControl.org/QGroundControl/MAVLinkLogs"
[13036] Joysti

[2017-01-14 17:44] DonLakeFlyer commented on #4442
@tubeme Can you follow the instructions in #4425 to get log output? Run qgc like this from command line:
```qgroundcontrol --logging:JoystickLog```

Need to see if you are seeing the same negative axis count.

[2017-01-14 18:03] NaterGator commented on #4442
@DonLakeFlyer it works fine for me on windows with the gamepads and joysticks I have available. @tubeme can you get us the JoystickLog? SDL is having trouble detecting your joystick properly... negative numbers coming from SDL indicate an error in the lib which is why you can't calibrate.

We need to handle the error condition better (inform the user) and ideally figure out if things can be made t

[2017-01-14 20:26] nicolaerosia commented on #4442
Hi, could you please take a look at my issue https://github.com/PX4/Firmware/issues/6337 ? I'm wondering if is QGroundControl related or not

[2017-01-14 21:44] tubeme commented on #4442
@DonLakeFlyer I cannot try stable because it does not start. The stable is prior the #4425 fix. The master I use is compiled by @NaterGator.

Will get the log tomorrow once in the workshop.

BTW the Joystick was perfectly working in the 20dec master (3.0.2)

[2017-01-15 05:45] dagar commented on #4430
Closing this because support needs to be added on the firmware side. Once we have that in place we can think about adding a mechanism to display and change the active controller in QGC. We could have both an RC switch and mavlink message, as well as handling failover.

https://github.com/PX4/Firmware/issues/5806

[2017-01-15 05:45] #4430 closed

[2017-01-15 20:16] dagar commented on #3973
Expensive service.

[2017-01-15 20:16] #3973 closed

[2017-01-15 20:43] klopezal commented on #4433
No it is a different firmware (the processor is STM32F469), the target is px4fmu-v4pro. Board ID is  [13](https://github.com/PX4/Bootloader/blob/master/hw_config.h#L229), but is different from USB PID (0x0013)!

[2017-01-16 06:57] crossa opened #4444 "faild to connect to my copter with 3dr radio AND can't flash the firmware to pixhawk by usb cable"
QGroundController  3.0.2
OS：MacOS 10.12.2 ,UBUNTU 16.10
when use 3dr radio to connect to my copter，the  program said:  can not lock device  "/dev/AMA0".
where I flash the firmware by use cable ,the program said:  can not lock device "/dev/cu.usbmodem"

BUT  if use apm planner,   every thing is correct,  no warning or error  being reported.

[2017-01-16 13:49] tubeme commented on #4442
@DonLakeFlyer Here it is:

QGroundControl.exe	JoystickLog: Available joysticks
QGroundControl.exe	JoystickLog: 	 "Mad Catz F.L.Y.5 Stick" axes: -1 buttons: -1 hats: -1 isGC: false
QGroundControl.exe	JoystickLog: _loadSettings  "Mad Catz F.L.Y.5 Stick"
QGroundControl.exe	JoystickLog: _loadSettings calibrated:throttlemode:exponential:deadband:badsettings false 0 false false false
QGroundControl.exe

[2017-01-16 14:59] rjehangir commented on #4442
@tubeme We're you using the same joystick when you tested with 3.0.2?

[2017-01-16 15:37] NaterGator commented on #4442
Also @tubeme can you get the same log with a working version of QGC?

[2017-01-16 16:11] tubeme commented on #4442
@NaterGator I will do this tomorrow when in the workshop.

@rjehangir Did you try this joystick with the 3.1.1??

[2017-01-16 16:19] NaterGator opened #4445 "Integrate crash reporting tools"
At least on non-mobile applications we would be well served to handle crashes more gracefully. As mentioned [here](https://github.com/mavlink/qgroundcontrol/pull/2680#issuecomment-173740648) a decent choice would be the Chromium project's [breakpad](https://chromium.googlesource.com/breakpad/breakpad/) library.

We can start small and just generate crash dumps when an unhandled exception occurs (u

[2017-01-16 20:30] nicolaerosia opened #4446 "Joystick not working on master"
Hello,

I have joystick working on v3.0.2 but it is not working on v3.1.1/v3.1.2 or daily build.
OS: Linux, Fedora 25 x86_64.
Is the project bisectable? How can I help?

Thanks,
Nicolae

[2017-01-16 20:33] nicolaerosia opened #4447 "QGroundControl won't start after being run as root"
Hello,

It seems that QGroundControl won't start as a regular user after it was run as root because it cannot access the files already created by root in /tmp.
The problem is that QGroundControl just exits, without any message.

[code]

strace output:
[code]

[2017-01-17 03:38] NaterGator commented on #4446
@nicolaerosia can you see if your issue is related to https://github.com/mavlink/qgroundcontrol/issues/4442

[2017-01-17 03:41] DonLakeFlyer commented on #4447
I doubt this is something we are going to fix inside of QGC. Running apps as root on linux leads to all sorts of havoc. You'll have to clean up the permissions, delete installations and re-install to fix.

[2017-01-17 03:41] #4447 closed

[2017-01-17 06:59] nicolaerosia commented on #4447
I've run it to see if it detects Joystick but the application warned me about running as root and exited without cleaning up the files in tmp.

[2017-01-17 07:00] nicolaerosia commented on #4446
Tried daily build (17-01-2017) with Joystick logging on:
[code]

[2017-01-17 14:49] tubeme commented on #4442
Here it is the working system 3.0.2 master 20 dec

QGroundControl.exe	JoystickLog: Available joysticks
QGroundControl.exe	JoystickLog: 	 "Mad Catz F.L.Y.5 Stick" axes: 5 buttons: 14 hats: 1
QGroundControl.exe	JoystickLog: _loadSettings  "Mad Catz F.L.Y.5 Stick"
QGroundControl.exe	JoystickLog: _loadSettings calibrated:throttlemode:badsettings false 0 false
QGroundControl.exe	JoystickLog: _loadSetti

[2017-01-17 15:46] NaterGator commented on #4446
Can you provide the output of lsusb?

[2017-01-17 15:49] nicolaerosia commented on #4446
Sure
[code]

[2017-01-17 15:50] rjehangir commented on #4442
It looks like this happened during the switch from SDL1.2 to SDL2. The 3.0.2 version used SDL1.2 and the 3.1+ versions use SDL2. I'll look into it today and see why it's showing up with no axes or buttons.

@jaxxzer

[2017-01-17 15:55] nicolaerosia commented on #4442
There seems to be a migration guide: https://wiki.libsdl.org/MigrationGuide#Joysticks
Maybe it helps. My joystick is not even detected, https://github.com/mavlink/qgroundcontrol/issues/4446

[2017-01-17 16:02] rjehangir commented on #4442
In the migration guide:

A few people have mentioned issues and all of them, as far as I know, have been using fairly old gamepads or joysticks.

[2017-01-17 16:06] nicolaerosia commented on #4442
[code]
I just fixed my problem by doing chmod o+rw /dev/input/event*, it works on latest QGroundControl!

[2017-01-17 16:07] nicolaerosia commented on #4446
I fixed my problem by doing `chmod o+rw /dev/input/event*`, I'll create a udev rule to fix my permission problems. This is explained here: https://wiki.libsdl.org/MigrationGuide#Joysticks

[2017-01-17 16:46] NaterGator commented on #4446
Good to hear!

[2017-01-17 16:46] #4446 closed

[2017-01-17 16:48] NaterGator opened #4448 "Exceptions thrown during QGCApplication constructor don't trigger WER"
Without Windows Error Reporting being triggered the app crash is silent and the user is left wondering what is going on.

This ties in with #4445 but bit us on #4425.

[2017-01-17 18:24] tubeme opened #4449 "PlayUAVOSD: Persistent problem."
Hello,

We had flown our PlayUAVOSD with older versions of QGC and PX4. We connect the telemetry to the TELEM 2 port and the system param sys_companion to OSD 57600
But when we connected to the QGC 3.1.1 and px4 1.5.3 it gives continues errors:

![osd problem 1](https://cloud.githubusercontent.com/assets/12617619/22033752/64646164-dcf2-11e6-84af-0c359ab56b09.png)

![osd problem 2](https://cloud.gi

[2017-01-17 18:50] vsobalski opened #4450 "Joystick Doesn’t Show Up Windows 10"
Hi,

I have been using QGroundControl for a while, and have been experiencing an issue with the joystick over the last few versions. I can’t seem to find a way to display the controller's configuration window in QGroundControl even when I connect one or more joystick.
I tried a few different options with no luck, but recorded my stack trace.
Here is my configuration:

- OS: Windows 10
- QGroundCon

[2017-01-17 21:53] NaterGator commented on #4450
Thanks for your report! This issue is being worked on.

Duplicate of #4442

[2017-01-17 21:53] #4450 closed

[2017-01-18 02:13] tridge opened #4451 "Coping with RC_Channel split"
Hi Don,
This issue is to create a place to discuss the implications of the RC_Channel library split in ArduPilot master.
The changes are:

-  RCn_REV becomes RCn_REVERSED, and becomes a 0 or 1 boolean
-  RCn_MIN/MAX/TRIM only affect inputs. This was always the case on copters, but is now true on planes/rovers too
-  for planes/rovers the output trims are in SERVOn_TRIM
- the old RCn_FUNCTION param

[2017-01-18 06:44] saitej09 commented on #4416
@birchera  any update on the patch ?
Thanks!

[2017-01-18 19:39] tubeme commented on #4442
@rjehangir @nicolaerosia You sure do chmod o+rw /dev/input/event* but what do i do in windows? As far as I understand it is a matter of some r/w wrights?

[2017-01-18 19:55] NaterGator commented on #4442
@tubeme that does not seem to be likely for the Windows case. I'll have another PR in just a moment to try and get more information from you.

[2017-01-18 20:42] NaterGator commented on #4442
@tubeme please get another log with this build:
https://ci.appveyor.com/api/buildjobs/gxner2dtd7fgc7t9/artifacts/QGroundControl-installer.exe

[2017-01-19 01:48] DonLakeFlyer commented on #4398
Replaced by user guide page

[2017-01-19 01:48] #4398 closed

[2017-01-19 02:20] DonLakeFlyer opened #4453 "Add Mission Settings to Daily Build docs"
#4420

[2017-01-19 02:50] DonLakeFlyer commented on #4451
Ok, read the comments on the RCn_REV changed. I didn't initially pick on the fact that it was more than a name change.

Are RCn_FUNCTION name changes only?

Currently QGC sets MIN/MAX as the min/max PWM values it sees during it calibration process. I assume this is still ok.

For _TRIM values QGC reads the PWM values for the centered sticks and sets the _TRIM params to those values. Is that still

[2017-01-19 15:10] tubeme commented on #4449
I saw this from Dec 2016.

http://en.playuav.com/question/45

[2017-01-19 15:15] NaterGator commented on #4449
Fixed in PX4 firmware: https://github.com/PX4/Firmware/commit/1c42cea28e6e09c75ed2c8ab5c012ee4465f9ffb

[2017-01-19 15:15] #4449 closed

[2017-01-19 15:16] NaterGator commented on #4442
@vsobalski your report would also be valuable since you are experiencing the same bug

[2017-01-19 17:05] vsobalski commented on #4442
@NaterGator Here is part of the error log with the parameter --logging:JoystickLog :
`5	1.861465	1096	QGroundControl.exe	JoystickLog: 	 libsdl error parsing joystick features: Joystick hasn't been opened yet`

Here is the full log:
[code]

Let me know if you need me to run another test ( with different parameters)

[2017-01-19 17:32] NaterGator commented on #4442
Thanks @vsobalski, I think this is related to the absence of a HWND context for DirectInput API calls that libsdl is likely making. I have another build for you to test if you don't mind: https://ci.appveyor.com/api/buildjobs/vsb78t4qqcqdlqr9/artifacts/QGroundControl-installer.exe

If my suspicion is right I should have a fix ready in just a moment.

[2017-01-19 18:58] tubeme commented on #4442
The same for me:

QGroundControl.exe	JoystickLog: Available joysticks
QGroundControl.exe	JoystickLog: 	 libsdl error parsing joystick features: Joystick hasn't been opened yet
QGroundControl.exe	JoystickLog: 	 "Mad Catz F.L.Y.5 Stick" axes: -1 buttons: -1 hats: -1 isGC: false
QGroundControl.exe	JoystickLog: _loadSettings  "Mad Catz F.L.Y.5 Stick"
QGroundControl.exe	JoystickLog: _loadSettings calib

[2017-01-19 19:04] NaterGator commented on #4442
@tubeme did you try the installer from https://github.com/mavlink/qgroundcontrol/issues/4442#issuecomment-273842880

[2017-01-19 19:48] shnooflown opened #4454 "QGC Keeps losing and regaining connection and [lpe] baro fault (PIXRACER)"
QGC Keeps losing and regaining connection when connected to pixracer over wifi, also I get these errors (see screenshot)
Screen Shot Here:
![captura de pantalla 2017-01-19 a las 15 40 40](https://cloud.githubusercontent.com/assets/25230347/22122468/7e77076a-de5e-11e6-8674-c32517571fb3.png)

![captura de pantalla 2017-01-19 a las 15 41 53](https://cloud.githubusercontent.com/assets/25230347/2212248

[2017-01-19 20:01] vsobalski commented on #4442
Perfect, I am glad to hear my feedback is helpful.
Here is part of the log with newer build:
[code]

Here is the full log trace:

[code]

[2017-01-19 21:14] NaterGator commented on #4442
Thanks again @vsobalski, exactly what I expected. Can you let me know if https://ci.appveyor.com/api/buildjobs/06yrg05ynpto2j0s/artifacts/QGroundControl-installer.exe works?

[2017-01-19 21:33] NaterGator commented on #4442
Okay... @tubeme @vsobalski try this one and let me know how it goes: https://ci.appveyor.com/api/buildjobs/d7nut8h9wpgynt11/artifacts/QGroundControl-installer.exe

[2017-01-19 22:03] tubeme commented on #4442
I will try the last one tomorrow.

[2017-01-19 23:03] tubeme commented on #4449
Thanks @NaterGator Maybe it has something to do with the OSD functionality. The OSD reads the mission from the px4 and then has a map for the mission. So probably they did not follow some Mavlink rules or sth.?

What can I write to them in order to fix the problem? They can make correction to their code as well.

[2017-01-20 02:19] DonLakeFlyer opened #4456 "Add new QGCFileDialog QML control"
On desktop builds this will launch native file dialogs. On mobile it will launch the nasty QML file dialog. Needed by #4455 and #4438.

[2017-01-20 15:28] vsobalski commented on #4442
The last version seems to detect both the virtual joystick and the real joystick.
Here is part of the log output:

[code]

The GroundStation doesn't open.

here is the full log output :

[code]

[2017-01-20 16:33] NaterGator commented on #4442
@vsobalski I'm struggling with the failure to load issue. If you go back to the master build does it still fail to load?

[2017-01-20 17:31] vsobalski commented on #4442
The Original version ( from http://qgroundcontrol.com/) dosen't start, but the version from issue #4425 works on my computer.

Would a log output with specific parameters help debugging it?

[2017-01-20 17:35] NaterGator commented on #4442
Are you running with --logging:full?

[2017-01-20 18:19] vsobalski commented on #4442
I didn't at first, but I just restarted with -- logging:full.

I enclosed it in a file, as there is a lot of output

[QGroundControl-LogViewFull1.txt](https://github.com/mavlink/qgroundcontrol/files/720170/QGroundControl-LogViewFull1.txt)

[2017-01-20 18:22] NaterGator commented on #4442
Thanks. That didn't appear to recognize your joystick... is that the older version that is starting up successfully? Can you try the newest build in this issue that wasn't opening but was detecting your joystick?

[2017-01-20 18:28] tubeme commented on #4442
Works for me perfect. I was able to calibrate the Joystick.

11	26.310559	5684	QGroundControl.exe	JoystickLog: Available joysticks
12	26.315473	5684	QGroundControl.exe	JoystickLog: 	 "Mad Catz F.L.Y.5 Stick" axes: 5 buttons: 14 hats: 1 isGC: false
13	26.315999	5684	QGroundControl.exe	JoystickLog: _loadSettings  "Mad Catz F.L.Y.5 Stick"
14	26.316113	5684	QGroundControl.exe	JoystickLog: _loadSetting

[2017-01-20 18:29] NaterGator commented on #4442
@tubeme that is good to hear!
@vsobalski I think the issue you are having is not related to this original issue. Can you open a new issue?

[2017-01-20 18:31] vsobalski commented on #4442
@NaterGator No problems.

[2017-01-20 18:36] NaterGator commented on #4442
Thanks everyone. @DonLakeFlyer  #4452 is ready to merge.

[2017-01-20 18:36] #4442 closed

[2017-01-20 18:49] vsobalski opened #4457 "Windows: On Start QGC doesn't load"
Good Afternoon,

Following the issues #4425 and #4442 I am still experiencing issues with QGC.

The issue  #4425 resolved the start problem, and I was able to start QGC, but the joystick wasn't recognize.
The issue  #4442 resolved the joystick problem, but I was unabled to start QGC.

Enclosed is a log issued from the last version of issue #4442 using DebugView with the parameter --logging:full
[Q

[2017-01-20 18:59] NaterGator commented on #4457
Can you try clearing your map cache?

[2017-01-22 12:17] AndKe opened #4459 "Android: zoom buttons unnecessary, and partially blocked"
On android Phone/phablet: (6.5")  , the "zoom out" button is impossible to use.
(On a tablet (10.1")  its ok, not covered by video frame)

However: none of the devices have ny need for those buttons, pinch-to-zoom is much more platform appropriate way to do it on an Android device.

Please disable(hide) those buttons for the Android builds.

![screenshot_20170122-115722](https://cloud.githubuserco

[2017-01-22 22:16] tridge commented on #4451
yes, I changed the name to give a way to distinguish the new semantics from the old. I thought that GCS implementation could check for the existence of SERVO1_REVERSED to know if the knew behaviour is needed.

yes, although you will notice that all channels have a FUNCTION now, even first 4 channels. Previously only channels 5 and above had a FUNCTION. So you can now assign any function to any out

[2017-01-23 08:02] TanoStaf opened #4461 "Switching to ACRO mode with disabled THR failsafe couses crash"
If necessary to fly without radio, just with laptop, by mission you should turn of Throttle fail-safe. To start mission you need to switch to AUTO mode in the air. There are no confirm slider (or whole mode lock on flying without radio) on dummy switching to ACRO mode, which definitely drops down your copter.

[2017-01-23 14:18] vsobalski commented on #4457
Clearing the cache work, thanks a lot for your help. This issue is then resolved.

I have one more question, not related to the issue, I hope it's OK if I ask it here. I have a custom AUV. When I connect it to QGC, the joystick doesn't appear. But if I use my PixHawk, it appears right away. Is there a signal that QGC is looking for to enable the joystick tab?

[2017-01-23 16:14] NaterGator commented on #4457
Good! The joystick button in the setup view is set visible by the following conditions:
https://github.com/mavlink/qgroundcontrol/blob/f1b82fb9d2fc8ce20c5656b54ba500db9f7b1af4/src/VehicleSetup/SetupView.qml#L308

Since you have a nonzero number of joysticks, _fullParameterVehicleAvailable is the likely culprit. That variable is set here:
https://github.com/mavlink/qgroundcontrol/blob/f1b82fb9d2fc8

[2017-01-23 16:14] #4457 closed

[2017-01-23 19:27] vsobalski commented on #4457
Thanks a lot for your feedback. I had a problem in my parameters, which was the reason why the joystick wasn't showing up. It's working great now.
Have a nice day,
Vincent

[2017-01-23 23:19] DonLakeFlyer commented on #4461
Not sure I understand what you want here. Turn off throttle-fail safe? What exactly do you mean by that. What exact setting/param where?

[2017-01-23 23:24] DonLakeFlyer commented on #4451
Ok, this is all fairly easily doable from q QGC standpoint then.

[2017-01-24 01:29] Kjkinney opened #4464 "Qgroundcontrol 3.1.2 will not replay telemetry log files"
https://drive.google.com/file/d/0ByGQI8gP4hzqYjZQWGg2VHZ1aHc/view?usp=sharing

here is a link to the file I am trying to play. For some reason it shows a very large amount of time. I have tested this file on older versions of qgroundcontrol and it works just fine.

![screenshot](https://cloud.githubusercontent.com/assets/24501673/22230214/ef7faa0c-e1a1-11e6-83c6-1ec8cfa69cd3.PNG)

[2017-01-24 11:06] TanoStaf commented on #4461
In Ardupilot you have two failsafe options - on telemetry data connection loss and\or on radio signal loss (thru monitoring throttle PWM signal on ch3 not going lower some treshold level (900 ms by default)). If you need to control copter just by laptop - you need to disable radio loss failsafe becouse you will got 0 PWM level on ch3 all time. After this only one thing you need - it just controll

[2017-01-24 11:12] TanoStaf commented on #4461
"Turn off throttle-fail safe?" No. My suggestions are:
1) Make combobox list of flight modes editable to remove unnecessary items for pilot.
2) Add confirmation slider on flight mode change to ARCO or SPORT.
3) Forbid changes to "root" modes (which definitely drops copter) when radio signal not exists and failsafe on throttle if off.

[2017-01-24 17:58] NaterGator commented on #4132
Qt 5.8 has been released: http://blog.qt.io/blog/2017/01/23/qt-5-8-released/

[2017-01-24 18:24] dogmaphobic commented on #4132
Yes, I've been using the RC for a while. I just finished installing it on Windows to make sure it all works. It took a bit to get debugging going (you need to install the Windows SDK), but it all works.

[2017-01-24 22:52] Antiheavy opened #4469 "Errors inserting and deleting waypoints"
I'm fairly new to QGC, I hope this is the right place to post this:

I am seeing some errors when inserting and deleting waypoints.  I tested this in both QGC 3.0.2 and QGC v3.1.2  on two different in Windows 7 64-bit machines.  Also this happens both when connected to a PX4/Pixracer and when not connected to any autopilot.  I'm not sure if this is one or two separate issues:

1) sometimes (not al

[2017-01-25 16:00] Antiheavy commented on #4469
Update:  I had a chance to test this on a Mac (Sierra OS).  Fresh installed Qgc v3.1.2.  The same waypoint inserting and deleting bugs occur.

[2017-01-25 16:01] ChristophTobler commented on #4092
Setting the focus to the input field would already make things much better. We would really appreciate that for parameter tuning in Switzerland where it is -8 degrees Celsius (17,6 degrees Fahrenheit). Every second where you need to take off your gloves and use the trackpad is a real pain ;)

[2017-01-25 17:15] dagar commented on #4092
Closer? https://github.com/mavlink/qgroundcontrol/pull/4458

[2017-01-25 21:43] CarlOlsson commented on #4413
Hi Don,

Tried it again now.
1) Pressed power tab
2) Pressed battery voltage field
3) Virtual keyboard shows up, changed voltage from 3.4 to 3.3
4) Pressed enter on virtual keyboard and it disappeared
5) Voltage is still 3.3 volt
6) Pressed sensor tab
7) Pressed power tab -> Voltage is again reset to 3.4V

However, if I change the parameter in the parameter tab it works and the voltage in displaye

[2017-01-26 03:13] dagar commented on #4254
@AndKe reboot - https://github.com/mavlink/qgroundcontrol/pull/4472

[2017-01-26 08:02] AndKe commented on #4254
Thanks :)

[2017-01-26 15:53] stefanoghazzali opened #4474 "Help With Gimble Control"
I have a PixHawk Board with PX4 Firmware flashed on to it via QGroundControl.

**Frame:-** S550 Hex
**Gimbal:**- Tarot T-3D - III
**Flight Controller :-**PixHawk 2.4.8
**Transmitter**:-Flysky FS-I6S
**Receiver**:-Flysky FS-IA6B
**MAVLINK**:3DR
**OS**:Windows 10 Home
**Software QGroundControl** V 3.1.2

I would like to control the tilt of the gimbal (The Gimbal is connected to Channel1 AUX out on t

[2017-01-27 13:54] altodrone opened #4475 "Custom widget value"
I've build mavlink for a custom message, following your tutorial everything works well. Now I would read that value using a gauge in a widget. I've edited a exsiting qml dashboard and I have loaded through custom command loading widget with no problem. The last step is to read mavlink message and transfer value to widget. In my qml file there is the "value:" parameter setting it to a fixed value t

[2017-01-28 11:48] CarlOlsson opened #4478 "Sensors show green but preflight fails"
Daily build on Linux.
The sensor tab shows all green but I get critical messages that preflight fails due to sensors. Is this as it should be?

![screenshot from 2017-01-28 12 46 07](https://cloud.githubusercontent.com/assets/7795133/22396362/11558412-e558-11e6-9e82-c47a8cd4476c.png)

[2017-01-28 12:00] jgoppert opened #4479 "MAVLink 2.0 messages appearing in inspector but not analyze view"
![image](https://cloud.githubusercontent.com/assets/473772/22396428/5d800730-e527-11e6-90b3-6fbcc4536008.png)

This doesn't make mush sense to me. I must be missing something obvious.

[2017-01-28 12:09] mhkabir commented on #4479
I can confirm this. The messages in the v2 space aren't coming up in plots.

[2017-01-28 12:40] mhkabir commented on #4479
Fixed here : https://github.com/jgoppert/qgroundcontrol/commit/ff3b9727c9077fb1777d218eff02c4352187f738

[2017-01-28 21:30] jgoppert opened #4481 "Support dynamic field naming in Analyze view"
This mavlink PR (https://github.com/mavlink/mavlink/pull/667, integrated with qgc here: https://github.com/jgoppert/qgroundcontrol/tree/iekf) brings in a new debugging message that let's us know detailed information about any estimator onboard and is customizable since each field type is declared in the message. Using the MAV_FIELD and MAV_SENSOR_TYPE enum the names of the fields can be constructe

[2017-01-29 13:37] jgoppert opened #4485 "Same version firmware update should overwrite existing meta"
When developing firmware we are changing params a lot. It seems we have to delete ~.config/QGroundcontrol* each time so it will upload the new data. If the version numbers match it seems it won't update. The behavior  I think should be that if the uploaded version number is >= current it should update.

[2017-01-29 14:09] jgoppert commented on #4485
I think the related logic is here: https://github.com/mavlink/qgroundcontrol/blob/master/src/FactSystem/ParameterManager.cc#L1095

We maybe need to invalidate the cache if a firmware file is uploaded with a the same version as a file in cache.

[2017-01-30 20:24] dogmaphobic opened #4487 "Duplicate QML resources in resource file"
Adding here to keep track.

I found that if you build QGC with "Enable Qt Quick Compiler" enabled, at least for Android, the build fails because there are duplicate entries for a couple of QML files in `qgroundcontrol.qrc`. The issue is that if I remove one or the other duplicate entry, QGC boots with a blank screen and no noticeable error is shown.

The 2 entries I found with issues are `FlightDi

[2017-01-31 00:33] #4416 closed

[2017-01-31 01:31] jgoppert opened #4489 "Analyze view MAVLinkDecoder only supports MAVLink 2.0 msgid's <= 512"
Currently ui/MavlinkDecoder.cc, which is used for  Analyze view represents the mavlink messages space using an array. Messages are decoded and inserted into the array index that matches the msgid. What we need to switch to in order to support all mavlink msgids, which go into the 10,000's, is a dictionary instead of an array.  To be Qt friendly I think we should use QMap: http://doc.qt.io/qt-4.8/q

[2017-01-31 02:29] DonLakeFlyer commented on #4485
On the surface this seems like an ok change. Need to think a little more to make sure,

[2017-01-31 02:32] DonLakeFlyer commented on #4481
The right way to do this is to finally get around to implementing the mavlink message Fact provider. This would then use the FactMetaData to provide all the info for each message field. And then it would work for all mavlink messages.

[2017-01-31 02:36] DonLakeFlyer commented on #4478
QGC can only tell you if you have calibrated your sensors or not. There are many other problems which can cause you to not be able to fly with respect to complaints about the sensors even after they have been calibrated. Unfortunately QGC doesn't really have access to that information so the best you get I'm those cases is error message from the vehicle which QGC shows you.

[2017-01-31 02:36] #4478 closed

[2017-01-31 02:41] DonLakeFlyer commented on #4475
Custom command widgets only have access to parameters. They don't have access to mavlink message data. So this is not possible using a custom command widget. It would only be possible with some non-trivial modifications to the QGC code.

[2017-01-31 02:41] #4475 closed

[2017-01-31 02:44] DonLakeFlyer commented on #4474
You should ask the firmware folks about this. I'm not sure if it is current supported by PX4 firmware.

[2017-01-31 02:44] #4474 closed

[2017-01-31 02:52] DonLakeFlyer commented on #4469
The delete problems are a known problem for which there is an issue entered. Unfortunately it is a bug in the Qt library we are using. Still trying to find a workaround.

Your #1, 0 altitude problem I have never heard of before. If you could figure out a set of steps to reproduce that would be awesome. Then I can fix.

[2017-01-31 03:05] DonLakeFlyer commented on #4461
It still seems like a strange setup. As far as I know ArduPilot doesn't support flying without some sort of controller (does it?). Either a real RC transmitter or a simulated one from a joystick/gamepad. Also at this point QGC doesn't support flying ArduPilot with a joystick.

If there is a way to fly ArduPilot with no rc transmitter or joystick then I'm not sure how QGC would know if you are flyi

[2017-01-31 04:57] dagar commented on #4474
@stefanoghazzali you can find gimbal documentation here - https://dev.px4.io/advanced-gimbal-control.html

[2017-01-31 05:26] Antiheavy commented on #4469
Thanks for your reply.  Ooops, I guess I tried to see if the waypoint insert issue was already reported, but I must not have searched very well.  Bummer about the Qt bug.

I figured out my 0 altitude problem when inserting:  1)  I plan several waypoints, 2) i change the last waypoint to a Land waypoint, which comes in at a non 0 altitude, 3) I (hopefully) remember to set it to 0 altitude, 4) I the

[2017-01-31 07:41] TanoStaf commented on #4461
1) Yes, it supports flight just by mission commands with no  joystic simulation.
2) QCG shouldn't know about this (but can - by monitoring throttle signal level that can't be less than 900 ms). It's more than enough to add sliders on "unsafe" flight mode and add some warning when throttle is 0 and you going no change plan and drop your MAV down:)  If we want to stop motors in the air - we already

[2017-01-31 10:28] stefanoghazzali commented on #4474
Thanks Guys saw the Gimbal Control was not sure how to program the parameters into QgroundControl will give it a play and get back to you - Thanks in advance

[2017-01-31 14:42] ChristophTobler opened #4491 "Segmentation fault (core dumped), Intel Aero"
@dogmaphobic I regularly get a ```Segmentation fault (core dumped), Intel Aero``` when I'm connect to the ```Intel Aero```.
Here's the output of the terminal
![qgc_dump](https://cloud.githubusercontent.com/assets/14769636/22469313/dbd522ea-e7cb-11e6-909f-2155e9294c16.png)
![qgc_dump2](https://cloud.githubusercontent.com/assets/14769636/22469317/ddd54b6a-e7cb-11e6-98fe-9dd00ea78770.png)

[2017-01-31 15:20] Antiheavy commented on #3934
I am very interested in this functionality as the default landing method for my fixed wing project.

Additionally:
a) I think it is very important that fixed wing RTL is tied to a valid landing pattern such as this.
b) the mission validity checker should require a valid landing pattern such as this prior to accepting mission upload.  Or some other method of ensuring the aircraft will land as inten

[2017-01-31 15:43] ChristophTobler opened #4492 "behaviour of calculate voltage divider"
I have encountered two weird behaviours:
* If you press ```calculate``` to calculate the voltage divider and then don't enter a number and click calculate you cannot enter a number afterwards. Instead you have to click ```close```, replace the ```--.--``` with the old value and then calculate again.
* If you click ```calculate``` (already in the sidebar) several times it keeps updating the value (

[2017-01-31 22:10] Antiheavy opened #4494 "auto file name for datalog"
Feature request:

When Qgc prompts to save Flight Data Log it would be neat to populate a default file name based on the system clock similar to this format:
QGCdatalog-YYYY-MM-DD-HH-MM-SS-xx.mavlink

This way a lazy user can just hit save (or Enter) and is less likely to hit cancel (..looks at self..).

![image](https://cloud.githubusercontent.com/assets/12117027/22485968/343fcaf6-e7cd-11e6-873f-

[2017-01-31 22:22] dagar commented on #4494
And optionally always save them. https://github.com/mavlink/qgroundcontrol/issues/3112

[2017-01-31 22:24] NaterGator commented on #4494
Would be even more appropriate to try and scan the logfile for a valid time signature and use _that_ time to set the filename.

[2017-01-31 22:53] Antiheavy commented on #3725
Interesting topic.  I realize this is old, but I have a suggestion:

What if the [Abort] button is always shown on screen after takeoff, maybe with the other action buttons at the bottom of QGC.  Anytime the [Abort] button is pressed MAV_CMD_DO_GO_AROUND is sent and the aircraft will climb to a safe altitude while roll limited and then loiter above the Land waypoint.

Would this show up as an "abo

[2017-01-31 22:58] Antiheavy commented on #4494
Optionally always save them would be best!  Although I would choose to start the log upon autopilot connection not just upon arm.  There is often lots of important pre-flight data recorded prior to arming when trying to troubleshoot a problem remotely.

[2017-01-31 23:02] Antiheavy commented on #3112
I'm late to the game, but I think this is a really good idea.  You might have multiple checkbox options:

- _Prompt to save Flight Data Log after each flight
- _Prompt to save Flight Data Log even if vehicle was not armed
- _Auto save Flight Data Log after each flight
- _Auto save Flight Data Log even if vehicle was not armed

[2017-01-31 23:19] DonLakeFlyer commented on #4491
If you aren't running either Master or very latest Stable first step is to run with that.

[2017-01-31 23:27] DonLakeFlyer commented on #4461
Ok, understand more now. This should be a firmware side fix to prevent a bad flight mode change not a groundstation feature. There are too many variables for a groundstation to understand to correctly implement this. You can also control a vehicle using an offboard controller in which case it is likely ok to change to any flight mode even if there is no rc signal since the offboard controller is c

[2017-01-31 23:27] #4461 closed

[2017-02-01 01:51] DonLakeFlyer commented on #4492
First problem is fixed. Still looking at second problem.

[2017-02-01 01:56] #4487 closed

[2017-02-01 02:10] DonLakeFlyer commented on #4453
Done

[2017-02-01 02:10] #4453 closed

[2017-02-01 02:20] #4419 closed

[2017-02-01 02:46] #4418 closed

[2017-02-01 02:58] DonLakeFlyer commented on #4347
This is only a problem on mobile which uses the crappy qml mobile file pickers which are horrible. Desktop file pickers don't allow you to select Save with specifying a file name. No great way to fix this. We'll live with it,

[2017-02-01 02:58] #4347 closed

[2017-02-01 05:57] ChristophTobler commented on #4491
@DonLakeFlyer Sorry for not mentioning... I'm running master that is maybe a week old. But I can try with the very latest

[2017-02-01 07:25] ChristophTobler commented on #4092
Yes :+1: Looks cool. I'll give this a try

[2017-02-01 12:23] pkocmoud opened #4499 "Removal of obsolete serial port IDs for auto board detection"
@DonLakeFlyer Per our gitter chat... A reminder

QGCSerialPortInfo.h is not the correct file anymore.

QGCSerialPort.h ids are old. I forgot to remove then from there. Can you put in an issue for that? New boards are now added by just modifying the USBBoardInfo.json file.

[2017-02-01 13:13] ChristophTobler opened #4500 "Parameter non default color"
![qgc_color_non_default](https://cloud.githubusercontent.com/assets/14769636/22508048/8835b308-e888-11e6-8378-dfd77e1f984f.png)
I don't think that black on dark grey is a very good choice ;)

[2017-02-01 18:59] AndKe opened #4502 "Mission editor: (dangerous) WP parameters change is picky about editing."
Reproduced on today's master, (Linux), observed earlier:

How to reproduce:
(while connected to a ArduCopter, but if not (no hold-time visible) results are still visible)

-Make a mission, consisting of at least WP1, WP2 (anywhere).
-WP2: by selecting all text, and overwriting (!): set hold time to 57s  , altitude 57m
-select WP1 , and back to WP2.
-observe that WP2 has the expected 57s, 57m.
-in

[2017-02-01 21:07] jaxxzer opened #4503 "Allow copy/paste of console output"
It would be easier to share debugging output if we could copy and paste the output in the console window rather than taking a screenshot or saving to file.

[2017-02-01 23:48] DonLakeFlyer commented on #4491
That should be new enough.

[2017-02-01 23:55] DonLakeFlyer commented on #4500
@dogmaphobic Most likely related to your recent palette changes?

[2017-02-01 23:59] DonLakeFlyer commented on #4502
This looks to be a focus problem when switching between WP1 to WP2 it doesn't trigger onEditingFinished. Need to force focus loss somehow or force onEditingFinished when you switch from one waypoint to another.

@NaterGator Are you familiar with the Qt focus handling code? Ever time I try to use it I can't get anything to work.

[2017-02-02 00:25] DonLakeFlyer commented on #4491
@ChristophTobler Do you have the ability to build QGC yourself? I don't have one of these boards so repro for me is tricky.

[2017-02-02 00:33] dogmaphobic commented on #4500
I only changed one color. The yellow of the "Active Button" is now more subdued. I will check this and see what's going on...

[2017-02-02 00:35] DonLakeFlyer commented on #4500
Hmm, looking at code this should be warningText color from palette which is unrelated.

[2017-02-02 00:36] DonLakeFlyer commented on #4491
Also can you run with --logging:full on the command line. Capture output and post. That may help.

[2017-02-02 04:11] Victry69 commented on #4491
ok @DonLakeFlyer
 Hope this will help   If you need anything else  just let me know  .i'll do my best to find the logs in my Mac  ✌🏾

[log.txt](https://github.com/mavlink/qgroundcontrol/files/746798/log.txt)

![screen shot 2017-02-01 at 11 06 21 pm]

(https://cloud.githubusercontent.com/assets/6749950/22536826/128db948-e8d3-11e6-8c4c-0cfe25799bf4.png)

[Process:               QGroundControl [1296]

[2017-02-02 04:18] Victry69 commented on #4491
here's a different  format  ✌🏾 hope it helps

[Date:Time:       2017-01-30 18:58:26 -0500.pdf](https://github.com/mavlink/qgroundcontrol/files/746809/Date.Time.2017-01-30.18.58.26.-0500.pdf)

[2017-02-02 05:01] dagar commented on #3725
Most of the the specifics of MAV_CMD_DO_GO_AROUND will be a PX4 issue.
There's not a lot of detail in the mavlink spec. http://mavlink.org/messages/common (search for MAV_CMD_DO_GO_AROUND) and QGC is only responsible for sending the command (if we can find a way to display it at the right time).

[2017-02-02 08:06] AndKe commented on #4502
For what it's worth: it's not reproducible on Android , so it might be a Qt issue, (and be fixed in current version ?)

[2017-02-02 08:44] tops4u commented on #4275
@DonLakeFlyer : It would be very nice to have this feature within the next 3-4 Weeks. This could also be a crude 1st Implementation that just adds a Waypoint out of the current position without any Preconfiguration.

[2017-02-02 09:29] ChristophTobler commented on #4491
@DonLakeFlyer here's the output of QGC with ```logging:full``` http://pasted.co/eb3cbf4f

[2017-02-02 10:36] 31Romain opened #4504 "Connect generic vehicle"
Hi !

I got a problem while I'm trying to connect a new generic vehicle on QGC.
Here is the google groups discution : https://groups.google.com/forum/#!msg/qgroundcontrol/l37Eh9FshhU/LkywkasKAwAJ

To recap the issue : I've got an autopilot who sends mavlink data to QGC (through serial com), I can grab and decode that mavlink data from QGC, but i still cant see the UAV on map (position sends by aut

[2017-02-02 17:56] QuiGon2 commented on #3988
Hi all,

I have been using 3rd party windows apps for recording the video, so I'm so happy for having this option in QGC. Is it possible to choose other formats for the output video (.avi, .mp4...)? Windows player does not play the output mkv I got this morning... I thing it is also necessary to overlay the navigation data (voltage, depth (ArduSub), and so)

[2017-02-02 18:04] julianoes opened #4505 "Component IDs are not filtered for flight mode indication"
If heartbeats from multiple components (with multiple component IDs) with the same system ID are received, the flight mode indication flickers/switches back and forth.

My suggestion would be to disregard the flight mode of component IDs other than 1 (PX4 default) if there are multiple components connected. If there is only one, it's fine to display whatever.

@LorenzMeier I have not looked at the

[2017-02-02 21:43] LorenzMeier opened #4506 "PX4: Hobbs meter"
@dogmaphobic These two parameters implement a 64bit microseconds total flight time count (hobbs meter):

[code]

[2017-02-02 22:25] nerocide commented on #3674
I spent couple of hours on the exact same problem.
I was actually trying to **connect** my 3DR radio devices (chinese cheap version) **manually while the autoconnect was enable for SiK radio in QGC**.

When the feature was activated and ground module plugged in, the lock would be present, like so:
`user@kali:/run/lock$ ll
total 4
-rw-r--r-- 1 user user 25 févr.  2 23:14 LCK..ttyUSB0
`
Meaning  tha

[2017-02-03 04:45] dagar commented on #2927
https://github.com/Skycatch/srtm-downloader

[2017-02-03 05:38] kikislater commented on #2927
Interesting, I didn't know go language before but only srtm 3 which mean 3 arc second or 90 meter resolution.
What I purpose above is srtm 1 data's (1 arc second = 30 meter resolution).

So you are not interested with a python purpose. Which language you need ? What is the goal of these go language inside qgroundcontrol (it's not to criticise, only for my information)?

Terrain following with ardu

[2017-02-03 05:47] dagar commented on #2927
Not the code itself, but as yet another example of one a data source and how it's structured.

[2017-02-03 13:53] dogmaphobic opened #4509 "Flight mode menu pops up in wrong place on Android"
Current master has the flight mode menu popping up on the bottom of the screen instead of where you touched the QGCLabel with the current mode:

![screen](https://cloud.githubusercontent.com/assets/749243/22593757/251c06ca-e9ee-11e6-892d-3faa789221c9.png)

[2017-02-04 14:38] kane111 opened #4512 "Cannot deploy QGC on Android"
I have android SDK 22 installed. Ubuntu 16.04. Following is the output I get
`Project MESSAGE: Qt version 5.5.1
Project MESSAGE: Linux build
Project MESSAGE: QGroundControl Development master:91a3494 2016-11-17 09:07:09 -0800
Project MESSAGE: Debug flavor
Project MESSAGE: Skipping support for UVC devices (conflict with Qt 5.5.1 on Ubuntu)
Project MESSAGE: Using Local QtLocation headers for Qt 5.5.

[2017-02-05 17:46] AndKe opened #4513 "Very slow framerate on UDP video preview."
Let me be clear on this;:  I do not KNOW if this was caused due to the recent video-recorder commits, but I love the recording feature.  - however, I must say I suspect it, because I can't remember to have seen this issue before.

When I start QGC (desktop), and it finds a 3DR Solo video stream (UDP), it's at a very low framerate. - I guess less than 1 FPS.
Surprisingly: the new recording feature

[2017-02-06 01:47] DonLakeFlyer commented on #4513
I have a Solo so I can take look at this when I finally get home next week.

[2017-02-06 01:55] Patnetpatnet commented on #2910
I'm still not able to connect to BT via Android even with the new version. Just crashes the QGroundcontrol app on attempted connection to BT.

[2017-02-06 02:21] peterbarker opened #4514 "Avoid interface clutter from non-vehicle system ids"
Currently other GCSs and MAV_TYPEs can appear in the QGC interface.

Other ground control stations, gimbals and random other non-vehicle systems should not be visible to the user by default.

Excluding based on MAV_TYPE would seem to be appropriate.  Initially this list seems to be
[code]

[2017-02-06 02:36] DonLakeFlyer commented on #4502
Yeah, this is a really important fix (3.2 won't go out without it). I had heard some reports of it before but nobody had really nailed it down to a reproducible scenario. And like you say in reality it happens all over the place. So big thanks for that.

[2017-02-06 10:36] Stifael opened #4516 "ulog format name"
Download via QGC of the new px4 logging format (ulog) is still appended with px4log instead of ulog.

[2017-02-06 15:06] NaterGator opened #4518 "Overhaul thread usage across the app"
Per #4476, we need to sanity check and rework the thread design patterns used across the app to ensure we adhere to thread safety and best practices.

[2017-02-06 16:27] ChristophTobler opened #4520 "Use radio as joystick - no flight modes"
I have an FrSKY Taranis and I can use the normal 4 channels (throttle, yaw, roll, pitch) in QGC as a joystick when connected to my desktop. However I can not set the flight modes since it has no buttons. I can see more channels on the ```Axis Monitor``` but I can't use them for the flight modes. Or can I?
This would be very useful since you could fly a Bebop for example with a real controller and

[2017-02-06 23:57] DonLakeFlyer commented on #4512
You installed Qt onto your machine using the online installer to install Qt 5.5.1 as specified in the README? If so, there are likely some options in the installer that needed to be checked that weren't. Qt folks keep changing the installer such that it install some things and not other. Use the repair functionality of the Qt installer to install additional packages named location, positioning ser

[2017-02-07 00:06] #4514 closed

[2017-02-07 00:37] dagar opened #4522 "landing waypoint default altitudes"
For PX4 default landing altitudes should currently be 0m relative for FW, MC, VTOL (including VTOL_LAND). I believe this is the case for Ardupilot as well.

https://github.com/mavlink/qgroundcontrol/pull/4471#issuecomment-277574248

[2017-02-07 06:13] abencomo opened #4523 "Issue with same system id as QGroundControl"
I recently installed [QGC v3.1.2](https://github.com/mavlink/qgroundcontrol/releases/tag/) and used it to upload the [PX4 v1.6.0rc1](https://github.com/PX4/Firmware/releases/tag/v1.6.0rc1) into the [Pixhawk](https://store.mrobotics.io/Genuine-PixHawk-Flight-Controller-p/mro-pixhawk1-minkit-mr.htm). Then today, I installed QGC v3.1.2 in a different machine, changed the SYS_COMPANION parameter to 92

[2017-02-07 21:54] DonLakeFlyer commented on #4523
Are you running a companion computer which has a mavlink id of 255? If so, change the id for the companion computer. Or use a daily build which disregards companion computers.

[2017-02-07 22:58] DonLakeFlyer commented on #4520
I think there are people who have figured out how to do this. I'd ask on Gitter to see if someone already has a way.

[2017-02-07 23:01] DonLakeFlyer commented on #3988
@dogmaphobic Do you know about this with the new record video stuff?

[2017-02-07 23:03] DonLakeFlyer commented on #4504
More from Romain:

I’m not sure to understand what you mean by “support parameters” vehicle. It’s just an autopilot who send mavlink data to QGC (this part works well).

Also what about PARAM_REQUEST_LIST message ? It’s the response of vehicle to QGC initialization ? If so, I should see some transfer into the Mavlik Inspector right ? But it still stay empty.

To get all the information about the U

[2017-02-07 23:04] DonLakeFlyer commented on #4504
PARAM_REQUEST_LIST is sent from QGC to your vehicle. You vehicle should respond with the set of parameters it supports. Does you vehicle not respond to the PARAM_REQUEST_LIST message when its gets it?

[2017-02-07 23:35] DonLakeFlyer commented on #4509
Very strange. I thought I had screwed this up with some other toolbar stuff I did. But I don' think I touched this part. Works fine on Mac which is so odd.

[2017-02-08 00:29] lvale opened #4528 "Heli parameters with Multicopter frame - ArduPilot 3.5dev"
I've closed the issue on ArduPilot, because the problem appears to be with QGC

https://github.com/ArduPilot/ardupilot/issues/5690

When selecting master firmware the top dialog box switches to heli by itself

[2017-02-08 01:53] abencomo commented on #4523
Yes, I'm using a companion computer with ROS and MAVROS.  Where do I change the mavlink id that you are referring to?  And, where are the QGC daily build located?

[2017-02-08 06:33] anton-matosov commented on #4132
I have start using 5.8 on OS X for mac and ios builds. Works pretty stable so far.

[2017-02-08 17:39] samacumen opened #4530 "Communication lost with Vehicle (over Serial)"
When QGC is connected to Pixhawk via Serial, I sometimes find that it says "Communication lost". I need to plug the serial cable back in to get the mavlink flowing between the two. I have tested with different USB cables, the quality of cable is fine.

QObject::connect: invalid null parameter seems to be the problem somewhere trying to connect to QML object, which breaks and stops the flow of mavl

[2017-02-08 18:06] dogmaphobic commented on #4530
That seems like a signal/slot connection passing a NULL pointer.  Is this using the latest master? I haven't seen this before.

[2017-02-08 18:11] samacumen commented on #4530
We are using branch v3.1.1 tag of qGroundcontrol. So, looks quite recent.
It happens mostly when qgc is started with a usb cable plugged in, or after
plugging in a cable on started usb. I thought to report it right away.

On 8 Feb 2017 7:06 p.m., "Gus Grubba" <notifications@github.com> wrote:

[2017-02-08 18:17] samacumen commented on #4530
When I plug back the usb in the vehicle instance is created (again). Somehow it gets lost, as you said signal/slot NULL pointer looks like the possibility. Would be interested if you could reproduce the same at your end. Sometimes it happens quite regularly.

1) Connect the Pixhawk
2) Start qgc (launched in release mode via qtcreator)
3) In principle, we should get the green progress bar and Vehic

[2017-02-09 12:07] samacumen commented on #4530
Found this:
qrc:///qml/QGroundControl/FlightMap/CenterMapDropButton.qml:44: TypeError: Cannot call method 'get' of null
qrc:///qml/QGroundControl/Controls/RallyPointEditorHeader.qml:34:9: QML Rectangle: Binding loop detected for property "height"
Vehicle::_sendMavCommandAgain retrying command:_mavCommandRetryCount 520 2
Vehicle::_sendMavCommandAgain retrying command:_mavCommandRetryCount 520 3
Veh

[2017-02-09 12:07] svpcom opened #4532 "Qgroundcontrol 3.1.2 video corruption"
I've got periodic video corruption (see screenshots attached) with test video stream on localhost.
Host system is a Linux x86-64.

Video source:  ```gst-launch-1.0 videotestsrc ! videoconvert ! clockoverlay ! x264enc tune=zerolatency key-int-max=32 ! video/x-h264,width=800,height=600,framerate=30/1 ! rtph264pay ! udpsink host=localhost port=5600```

If i receive video using gstreamer (without qgro

[2017-02-09 15:29] samacumen opened #4533 "RTK GPS on QGC - won't connect again once disconnected - need to restart QGC! (Reproducible)"
I have an RTK ublox chip connected to QGC on a serial connection. The connection is detected by QGC however, once I disconnect the RTK it does not connect again. This is a bug, my explanation is as follows:

In LinkManager.cpp: We autodetect links and RTK case is as follows:
[code]
The function, gpsManager()->connected() "always returns true once the instance of gpsProvider is created".
`bool conn

[2017-02-10 13:00] samacumen commented on #4523
Usually applications (like qgroundcontrol) assume a default MAVLINK_ID - which can be changed in the settings. It is very much possible that MAVROS may have this id hardcoded (not sure) - but you certainly should be able to change it. Look for it in the code, also have a look at [this issue](https://github.com/mavlink/mavros/pull/256).
:

[2017-02-10 15:34] 31Romain commented on #4504
No, you found my mistake. My vehicle does not respond to the PARAM_REQUEST_LIST message for now.
So, I'm trying to decode the mavlink data send by QGC to my vehicle.
I cannot see the PARAM_REQUEST_LIST_MESSAGE_ID (id = 21), I only get the HEARTBEAT_MESSAGE (id = 0). I just started to work on it so it's probably my fault.
Thanks for all, I will try to fix it on my own !

[2017-02-11 00:46] jaxxzer opened #4534 "Allow override of enumerated parameter values"
Can we add an additional field to manually enter parameter values for those parameters that only present a dropdown list of choices? For example, ATC_ACCEL_Y_MAX in Copter. If there is concern about making this feature available to general users, maybe we could have an option for it in the Application Settings?

[2017-02-12 02:46] davidbuzz opened #4535 "connecting via serial port with QGC 3.0 ( on OSX)...."
repeatable error:
open qgroundcotrol, click the Q logo in the top-left corner, click the "comm links" button, and in the screen that shows up, "add" a SERIAL connection to a pixhawk... be sure to select the correct serial port name for your pixhawk, baud rate here doesn't seem to matter, but 57600 is common, press "OK" to save the connection, highlight the new serial connection with a single click

[2017-02-13 16:52] jaxxzer commented on #4513
@DonLakeFlyer Did you try this? I have heard from one other person running windows on an [intel atom cherry-trail box](https://www.amazon.com/gp/product/B01FS6SIUE/ref=oh_aui_search_detailpage?ie=UTF8&psc=1) about laggy video after the video recording was added. They don't have any issues with 3.1.2.

[2017-02-13 17:37] DonLakeFlyer commented on #4535
This is because it is conflicting with the autoconnect link. As you probably already know there is no need to add a connection and Connect through Comm Links if autoconnect works. Still there should be a better way to let the user know what is going on.

[2017-02-13 17:41] DonLakeFlyer commented on #4534
Make sense

[2017-02-13 17:42] DonLakeFlyer opened #4537 "FactTextField: Help button and validation dialog focus problesm on mobile"
This is on my iPhone. Can't seem to click Help button also can't move focus to validation entry field when pop up shows up.

[2017-02-13 17:44] DonLakeFlyer commented on #4504
You shouldn't need to respond to PARAM_REQUEST_LIST. There is a bug on the QGC side. But if you start to do that things will work.

On Feb 10, 2017, at 7:34 AM, 31Romain <notifications@github.com<mailto:notifications@github.com>> wrote:

No, you found my mistake. My vehicle does not respond to the PARAM_REQUEST_LIST message for now.
So, I'm trying to decode the mavlink data send by QGC to my vehic

[2017-02-13 17:45] DonLakeFlyer commented on #4523
Daily build links at the bottom: https://donlakeflyer.gitbooks.io/qgroundcontrol-user-guide/content/download_and_install.html

[2017-02-13 17:49] abencomo commented on #4523
That did it.  Thanks everyone.

[2017-02-13 17:49] #4523 closed

[2017-02-13 20:36] DonLakeFlyer opened #4538 "Change wording of missing param error"
```You may be running a version of firmware QGC does not work correctly with or your firmware has a bug in it```

It can be caused by newer firmware as well. Also need to de-dup the param list.

[2017-02-13 22:29] tubeme commented on #4520
It depends on the firmware you are using. Before it was not possible because the driver for the Taranis Joystick did not support more than first 4 channels for control only. Later the driver was upgraded so we could use the the Taranis connected as a joystick in the simulators and use 8 channels. But I never tried it in recent versions of QGC.

The easiest way to check is to see in parameters in t

[2017-02-13 22:33] DonLakeFlyer opened #4541 "iOS: Virtual Keyboard refuses to display"
After a while I just refuses to come up. Don't have a concrete set of repro steps yet. Trying Qt 5.8 to see if Qt fix.

[2017-02-13 22:42] DonLakeFlyer opened #4542 "Plan View: iPhone 5s text clipping item editors"
* Text is getting clipped
* Blue text is pretty unreadable (more-so on actual device)

Mission Item editors need to switch to GridLayout using Layout.fullWidth=true so labels take as much room as they need but edit field can fill everything left. I had a pull for this but I thought @dogmaphobic's recent pull was enough to replace it. I'll rework that and bring it back.

![img_1362](https://cloud.g

[2017-02-14 00:20] lucasdemarchi commented on #4451
AFAICS RC3_MIN/MAX still applies to output if MOT_PWM_MIN/MAX are not set or set to 0.

[2017-02-14 00:42] DonLakeFlyer opened #4543 "Plan view: Tools are unclear to users"
Nobody can remember what each plan tool does.

[2017-02-14 00:45] DonLakeFlyer commented on #4528
Can you detail out some repro steps. I'm not getting it.

[2017-02-14 00:53] DonLakeFlyer commented on #4502
No repro on OSX.  Cranking up Linux.

[2017-02-14 01:40] DonLakeFlyer commented on #4502
@AndKe I can't repro on Linux either. I have a feeling I'm not reproing exactly the same. Could you make a video?

[2017-02-14 17:00] AndKe commented on #4502
@DonLakeFlyer  Please see video at https://youtu.be/-KQ992RHkdo
I did load an standalone app that visualizes the keystrokes so you can see the different, futile, attempts to edit.
The app does not influence the QGC's bahavior.

in short:
-marking all text (numbers) and overwriting works
-just placing a cursor inbetween , and inserting  an digit, or replacing a few, does not stick, even with "enter

[2017-02-14 17:12] DonLakeFlyer commented on #4502
Ok, that is exactly what I was doing and it works fine. Did you build this GGC yourself or are you using a downloaded version. If downloaded, what variant? AppImage? Tarball? If built yourself are you building with QGC 5.5.1?

[2017-02-14 17:20] AndKe commented on #4502
cloned from github, updated today. (you can see build on top)
it's built on the same computer as recorded on, using
[code]
to further add to mystery, this happens with boxes containing floating point values, (or at least presented as such)
mission item "delay" (displays seconds as integer)  - behaves as expected, regardless of editing method.

[2017-02-14 17:24] DonLakeFlyer commented on #4513
Trying to repro but I can't seem to get any video to my mac box at all now with any QGC version old or new. 3DR Solo app works fine on phone so I know video is working. Likely something screwed up with my setup not QGC. Will need to do so more hacking to figure.

[2017-02-14 17:28] DonLakeFlyer commented on #4502
Could you try using an AppImage downloaded daily build to see if the same thing happens? Also are you running Ubuntu, what version?

[2017-02-14 17:29] AndKe commented on #4502
It's Ubuntu 16.10 x64 , I have a virtual 16.04 I could try as well..  where do I find the image ?

..and the Qt is installed from the public http://www.qt.io/download-open-source as described in README.md.
may it be there are some bugfixes or something ?

Finally, not entirely comparable, but APM2 , built in the same environment , at this computer , have more of a list-form of waypoints,  any meth

[2017-02-14 17:30] AndKe commented on #4502
found appimage in releases

[2017-02-14 17:30] DonLakeFlyer commented on #4502
Daily download links at bottom of page here: https://donlakeflyer.gitbooks.io/qgroundcontrol-user-guide/content/download_and_install.html

[2017-02-14 17:31] DonLakeFlyer commented on #4502
I was running on my 14.04 vm, let me try 16.10 as well.

[2017-02-14 17:33] AndKe commented on #4502
Appimage 3.1.2 , is no better.

[2017-02-14 17:34] DonLakeFlyer commented on #4502
Ok, I'll try to repro on 16.10

[2017-02-14 17:36] AndKe commented on #4502
Appimage , on Ubuntu 16.04 LTS , same thing, I have no older at hand.

[2017-02-14 18:34] AndKe commented on #4502
FYI: I installed a virtual Ubuntu 14.04 x64  - and ..appimage only , I get this:
[code]

[2017-02-14 18:37] DonLakeFlyer commented on #4502
You need to install gstreamer packages yourself: https://github.com/mavlink/qgroundcontrol/tree/master/src/VideoStreaming

[2017-02-14 18:43] DonLakeFlyer commented on #4502
I can't repro on 16.04 either.

[2017-02-14 18:44] AndKe commented on #4502
gstreamer added, did not change the way it crashes on fresh 14.04LTS  (the crash seems to be related to VMWare, still ,very unusual...)

[2017-02-14 18:45] DonLakeFlyer commented on #4502
The gstreamer packages should just remove the error. I didn't see if was crashing. I've never seen that before.

[2017-02-14 18:47] AndKe commented on #4502
it's crazy that you can't see it on 16.04 - the 16.04 I have is a clean install I made - .. I defined Norwegian keyboard layout.. , regional settings.... these are floats.. will test US , or .. what do you use ?

[2017-02-14 18:48] DonLakeFlyer commented on #4502
I'm running pretty clean 16.04 on Parallels using US settings. I've asked other Linux folks to try to repro.

[2017-02-14 18:59] DonLakeFlyer commented on #4502
Is there some way I can duplicate you norwegian setup/settings? Tell me what to do, some file or something?

[2017-02-14 19:01] AndKe commented on #4502
do you run the appimage of 3.1.2 , or have it all built there ?  the 16.04 I had have everything for compiling there, but have same result using the image .. the 14.04 is just clean + the appimage.

[2017-02-14 19:03] DonLakeFlyer commented on #4502
I tried both AppImage and my own build. Both worked fine. My guess is it has something to do with your norwegian settings.

[2017-02-14 19:04] AndKe commented on #4502
for Norwegian,  set "system settings" like this:

![screenshot from 2017-02-14 20-01-35](https://cloud.githubusercontent.com/assets/1468842/22944295/81137732-f2f0-11e6-8db4-28ec82a7ce63.png)
![screenshot from 2017-02-14 20-01-48](https://cloud.githubusercontent.com/assets/1468842/22944296/811793da-f2f0-11e6-8f58-3aeeb185e8a7.png)

I did try to select US regional & keyboard, (in 16.04 VM) no succes

[2017-02-14 19:06] AndKe commented on #4502
YES ! - selected US system setting , keyboard - it did not help, but rebooted !  - and it works - will reboot the VM now for each item, Norwegian keyboard first..

[2017-02-14 19:12] dogmaphobic commented on #4502
Jumping from up high here and not really knowing what's going on. With that said, is there any float/double parsing going on? That would be something that would changed based on locale (US versus the rest of the world).

[2017-02-14 19:14] AndKe commented on #4502
Nailed it :)
Regional formats:
![screenshot from 2017-02-14 20-11-58](https://cloud.githubusercontent.com/assets/1468842/22944706/dd9de9aa-f2f1-11e6-83bc-e85b581ed064.png)

.. causes the problem...
please notice how we, (and many other countries)  use the comma vs dots differently from US..

[2017-02-14 19:16] DonLakeFlyer commented on #4502
I think I know what it is. There is a Qt DoubleValidator on the field which probably doesn't understand regional formats. Take me a little while to try. In the middle of something else right now. Huge thanks for plugging away at this one for me.

[2017-02-14 21:53] DonLakeFlyer commented on #4502
@AndKe What's the package to install in order to get the Norwegian format?

[2017-02-14 22:17] dogmaphobic commented on #4502
If it's a locale issue, any language other than English would do it. It looks like a float parser using period instead of commas for decimal delimiters. There should be an option to define these, regardless of the current language (as in *Regional Formats* above).

[2017-02-14 22:21] DonLakeFlyer opened #4547 "Do a full pass on Q_ASSERT removal"
These are all in old code and are all major badness (unless in unit tests).

[2017-02-14 22:44] NaterGator commented on #4502
Is this Qt.ImhFormattedNumbersOnly + DoubleValidator + locale with commas screwing things up? I could have sworn that bug was squashed upstream a while ago.

[2017-02-14 22:46] DonLakeFlyer commented on #4451
@tridge Can you tell me the firmware version numbers for plane/rover for which this new param naming starts. For example for Copter it's 3.5. It need it to fill out my parameter remapping arrays correctly.

[2017-02-14 22:47] AndKe commented on #4502
@DonLakeFlyer  To get Norwegian(or any other regional settings)
In language support, there is a tab "Language" (also in screenshot above)  - click the big button "install/remove languages"   , scroll down, and check off for desired language.
Then, it becomes a choice in the right tab ("regional formats")

[2017-02-14 23:15] Antiheavy opened #4548 "graphical anomalies with survey waypoints"
When planning larger survey points and zooming in/out the white and brown lines in the survey mission get messed up.  Pretty easy to recreate on my machine running windows 7 64-bit.

![image](https://cloud.githubusercontent.com/assets/12117027/22953644/b7302374-f2d7-11e6-8b54-117012219127.png)

[2017-02-14 23:20] Antiheavy opened #4549 "Land start marker in wrong spot when placed after a Survey waypoint"
The "Land start" marker seems to get attached to the start of the survey point instead of the end.  Is this working correctly?  Seems confusing to me either way.
![image](https://cloud.githubusercontent.com/assets/12117027/22954046/d3914168-f2d9-11e6-9c9b-4fbcfd30c3af.png)

[2017-02-15 00:34] DonLakeFlyer commented on #4502
I can repro know with Norwegian install.

[2017-02-15 01:00] DonLakeFlyer commented on #4502
It's the DoubleValidator on FactTextField this is screwing up.

[2017-02-15 01:07] DonLakeFlyer commented on #4502
That's not really needed since the higher ligher validation will kick in after the fact.

[2017-02-15 02:07] DonLakeFlyer commented on #4548
These are most likely the same as #3853. Should go away when we move to new Qt. Good to have more test cases to verify though.

[2017-02-15 02:25] DonLakeFlyer commented on #4549
Complex Mission Item bug.

[2017-02-15 02:25] #4549 closed

[2017-02-15 02:25] #4502 closed

[2017-02-15 17:08] DonLakeFlyer commented on #4451
@tridge I figured out the versions. I can ge them from the dev firmware download naming.

[2017-02-15 17:12] #3980 closed

[2017-02-15 17:16] DonLakeFlyer commented on #4538
Place param list at end of message so important text alwaus shows up.

[2017-02-15 19:13] #4451 closed

[2017-02-15 22:10] #4505 closed

[2017-02-15 22:11] #4504 closed

[2017-02-15 22:14] #4500 closed

[2017-02-15 22:18] AndKe opened #4555 "Feature request: Ghost mode :)"
On BLOS/BRLOS , it's not uncommon for telemetry to die for a while, direct 433Mhz radio link may be barely obscured when going into a valley, cellular coverage may vary, and Iridium is just unreliable - regardless of technology, we lose link now and then.

The mission below, with the only landable/suitable Home location, is doomed to lose connection when going to WP 25,24,21,21,17,16  ...  then on

[2017-02-15 22:22] DonLakeFlyer commented on #4491
@NaterGator @dagar Windows builds are still set up to store symbols and debug crashes isn't it?

[2017-02-15 22:23] DonLakeFlyer commented on #4456
This isn't needed since Qt already does this with FileDialog.

[2017-02-15 22:23] #4456 closed

[2017-02-15 22:33] dagar commented on #4491
We're uploading symbols to s3, but I'm not sure what needs to be done with a windows symbol server to actually use them.

@NaterGator?

[2017-02-15 22:36] DonLakeFlyer commented on #4491
Actually I have a stack trace included here and now that I look at that a stack trace on a different OS isn't going to help. It's deep in Qt Qml code which nevers tells you anything about what is really going on since it's all script processing.

Is there anyone from Intel that could lend/give me one of these boards to test with?

[2017-02-15 22:41] dagar commented on #4491
@ChristophTobler how reproducible is this? Is it always happening at the end of param sync? Has it ever worked?

[2017-02-15 22:49] NaterGator commented on #4491
Yes, windows builds are still storing debugging symbols. The only tricky thing is running pepto to act as a proxy, details are here: https://github.com/mavlink/qgroundcontrol/pull/2680#issuecomment-180029843

Obviously you also need a crash dmp file from a windows user.

[2017-02-15 22:53] dagar commented on #4555
Neat idea, although it gets complicated when you factor in configured firmware behaviour and any situation other than moving in a straight line.
Something that would be much quicker (and hopefully still useful) to implement would be a counter displayed for when the vehicle was last heard from. That would at least help you estimate.

[2017-02-16 00:00] samacumen opened #4556 "QGC crashes during running HIL (on network error/ on px4 disconnection)"
To reproduce this issue,
1) Open QGC and connect with Pixhawk over USB
2) Open the 'HIL Config' widget
3)  Start HIL (with standard settings connection to X-Plane)
4) See that connection to simulator (X-Plane or any other simulator is established)
5) Now, disconnect Pixhawk (plug off USB). The QGC should crash.

_**Reason**: LinkManager thinks it is still connected to the X-Plane on the UDP link w

[2017-02-16 00:05] #4374 closed

[2017-02-16 00:05] #4434 closed

[2017-02-16 03:48] dagar opened #4559 "attitude indicator not responding"
QGC master and PX4 master. I still see ATTITUDE and ATTITUDE_QUATERNION updating in the mavlink inspector.

[2017-02-16 06:41] julianoes commented on #4505
Thank you @DonLakeFlyer, appreciated!

[2017-02-16 16:29] AndKe commented on #4555
Displaying seconds is better than nothing, but if there were a ghost flying at last average GS it would give some clue about when the plane should be expected to communicate again.  Counting seconds does not really give a clue about that.
I do not ask for full simulation of spline/turn radius, acceptance radius and so on, just a symbol moving along the line with a speed based on last few leg's ave

[2017-02-16 17:27] #4479 closed

[2017-02-16 18:28] AndKe opened #4560 ""Save Flight Data Log" ,provide filename for organized storage."
Before exiting user is asked to save tlog, or not.
I wish there were options like  "always save", "save if vehicle was armed",  or "ask user".

apmplanner2 have a great system for organizing logs, that I hope QGC can adopt:
(Please let's all have one uniform way to store logs)

"vehicle type directory"/"yyyy-mm-dd HH-mm-ss".tlog

resulting in plane/2017-02-15 11-09-15.tlog

[2017-02-16 18:30] dagar commented on #4555
It sounds great if we can make it work. My only concern is the number of cases where it could be misleading.

[2017-02-16 18:31] AndKe opened #4561 "Please allow (much) longer trailing track"
the track disappears, only a certain length is visible, please make it possible to select a much longer trail.

[2017-02-16 18:36] AndKe commented on #4555
I guess misleading is better than nothing, time seems to go extra slowly
when awaiting telemetry packets :)  during lost connection, most is just
guesswork anyway , there can be strong crosswinds or headwind, maybe
tailwind on the way back, it will not be perfect, but give a reasonable
clue.

On 16 February 2017 at 19:30, Daniel Agar <notifications@github.com> wrote:

[2017-02-16 18:39] DonLakeFlyer commented on #4560
Coming soon...

[2017-02-16 18:42] AndKe commented on #4560
fantastic, please allow to select default directory for this structure as
well I am always syncing logs across computers (so they are all in place
regardless of which laptop was used (and soon regardless of GCS used))

On 16 February 2017 at 19:39, Don Gagne <notifications@github.com> wrote:

[2017-02-16 18:46] DonLakeFlyer commented on #4561
FYI: They used to be infinite. The longer vehicle tracks ended being a perf problem on mobile. So I set it to a fixed size. But didn't spend the time to add a settings for it.

I'll add a setting back for it.

[2017-02-16 21:16] AndKe commented on #4561
fantastic, another way to reduce, but keep enough on mobile, would be to reduce by just removing two of thee (or more) instead of all.

[2017-02-16 21:38] Siytek commented on #2910
I also have the same problem as Patnetpatnet, QGC just crashes when I try to open a BT connection. I set up connections to both my HC-06 and to my TBS Crossfire, both with the same issue. Running on a brand new Acer Iconia, which I bought today for dedicated QGC usage, running Marshmallow 6.0.

[2017-02-16 21:40] DonLakeFlyer commented on #2910
@dogmaphobic Do you time to look at this?

[2017-02-16 23:02] dkschrad opened #4562 "Climb out altitude for MAV_CMD_DO_GO_AROUND hardcoded"
The climb out altitude for MAV_CMD_DO_GO_AROUND is currently hardcoded to 50 m.  Something needs to be implemented to properly set that altitude.

[2017-02-16 23:21] DonLakeFlyer commented on #4561
Are you saying that the whole track is disappearing. The way it should be working is that there is a max number of points. When you hit that max, points are removed from the start of the track so you can always see the end of the track.

[2017-02-16 23:55] DonLakeFlyer commented on #4562
This is use the altitude slider from the guided bar with an appropriate default on the slider.

[2017-02-17 01:07] #4543 closed

[2017-02-17 06:28] AndKe commented on #4561
No, sorry for misformulating that, it works as designed, (last points are
lemoved).
I am just asking for longer track, by having more points, and/or by
reducing point density.

On 17 February 2017 at 00:21, Don Gagne <notifications@github.com> wrote:

[2017-02-17 10:00] mhugentobler opened #4564 "Disconnecting a link when multiple links are manually connected to one vehicle"
I connect to my vehicle via a Serial and a UDP link. When both links are connected and I want to disconnect only the Serial link by clicking "disconnect" in the link settings, often, tough not every time, I cannot reconnect this link, because the "connect" button is not clickable. The only thing that helps is to wait for the "communication lost" message and then click "disconnect" in the main tool

[2017-02-17 14:41] Siytek commented on #2910
Thanks for a quick response on re-opening the issue. Let me know if there is anything I can do to assist. Would it be worth me having a go at putting Qt on my Android device, compiling the source and seeing if I can feed back an error report?

[2017-02-17 15:09] dogmaphobic commented on #2910
I found the change that is causing the crash: #4349

It changed how the configuration is handled. The Bluetooth driver is now using a NULL pointer for its configuration and crashing. I need to understand what the change was for before I can find a fix.

[2017-02-17 16:43] DonLakeFlyer commented on #4564
Can you try a daily build? There have been a number of fixes around this which have been made since the last stable.

[2017-02-17 16:46] DonLakeFlyer commented on #4561
Got it thanks. Just wanted to make sure.

[2017-02-18 11:45] zenetio opened #4569 "crash switch to Airframe"
QGC 3.1.3, Windows 10
When I switch from one option to Airframe, the QGC crashes and I need start it again. It was happening with QGC 3.1.2 and continue with 3.1.3

[2017-02-18 17:48] DonLakeFlyer commented on #4569
What OS, Firmware and firmware version?

Also do you mean when you switch to the Setup/Airframe page from any other Setup page?

[2017-02-18 18:04] DonLakeFlyer commented on #4403
Fixed

[2017-02-18 18:04] #4403 closed

[2017-02-18 18:05] DonLakeFlyer commented on #4325
@wallbanger123 Can you install the latest daily build?

[2017-02-18 18:06] #3583 closed

[2017-02-18 18:06] #2920 closed

[2017-02-18 19:42] Siytek commented on #2910
I just compiled QGC in Qt and deployed to my tablet. I checked that the addition from #4565 was present before compiling, the following line was present in BluetoothLink.cc

    , _config(qobject_cast<BluetoothConfiguration*>(config.data()))

Still crashing on opening the BT connection. Application output errors as follows

[code]

Apologies if I'm doing something dumb here, I'm new to Qt! :)

[2017-02-18 21:28] dogmaphobic commented on #2910
If you are building yourself, you can launch it through the debugger and see where it crashes.

[2017-02-18 21:50] Antiheavy opened #4572 "Mission Planning: last used waypoint altitude function should ignore special cases such as LAND"
Special case waypoints such as LAND should ignore the last used waypoint altitude and these waypoints should also be ignored by other waypoints when determining last used altitude.

Currently if waypoints are placed numerically after a LAND or inserted earlier into the mission they default to the land altitude (usually set to 0 altitude, although at time of writing https://github.com/mavlink/qgrou

[2017-02-18 22:05] OmahaCounsel commented on #4374
This issue is NOT solved. There is no way to configure a y6b . The coax is the only choice. Even after loading the developer build.

[2017-02-18 22:23] DonLakeFlyer commented on #4374
@OmahaCounsel Do you mean this configuration:
<img width="386" alt="screen shot 2017-02-18 at 2 22 10 pm" src="https://cloud.githubusercontent.com/assets/5876851/23097313/b01a9f90-f5e5-11e6-97ae-89a7f0eb0a0b.png">

What OS are you using? Maybe the build drops aren't working correctly.

[2017-02-18 22:40] DonLakeFlyer commented on #2910
@Siytek If you're new to Qt and you figured out how to get an android build to build and deploy then that's huge! That combination can be quite the pain. Anyway, if you could get the crash in the debugger and find the crash point that would be awesome.

[2017-02-19 01:06] Siytek commented on #2910
Thanks @DonLakeFlyer, I'm quite well rehearsed with lower level stuff, I'm a hardware guy really (electronic engineer as a day job) but would like to improve my programming/embedded skills. There's some pretty good documentation so didn't have too much problem deploying to Android.

Sure, I was just in the process of reading up on the debugger but had to go out and do some socialising. I'll contin

[2017-02-19 11:06] zenetio commented on #4569
I am using Windows 10, QGC 3.1.3 and FW v1.5.5
The crash happens when I switch from one icon to Airframe. For instance, from Sensors to Airframe or from Firmware to Airframe

[2017-02-19 16:54] Siytek commented on #2910
@DonLakeFlyer @dogmaphobic I've been scratching my head for a few hours now, when I deploy the debug build, it successfully runs on the target but debugging fails with the error

Debugging starts
Failed to contact debugging port.Debugging has finished

Debugging works ok with the Qt example project, I can set breakpoints etc. Did I miss something?

[2017-02-19 18:07] DonLakeFlyer commented on #2910
Have you turned on developer mode on your device?

On Feb 19, 2017, at 8:54 AM, Simon <notifications@github.com<mailto:notifications@github.com>> wrote:

@DonLakeFlyer<https://github.com/DonLakeFlyer> @dogmaphobic<https://github.com/dogmaphobic> I've been scratching my head for a few hours now, when I deploy the debug build, it successfully runs on the target but debugging fails with the error

De

[2017-02-19 19:18] Siytek commented on #2910
Yes USB debugging is active on my device, it works fine with one of the Qt sample applications. I am probably getting a bit off topic here with Qt related issues, ill head over to QGC in Google groups to start a new topic.

[2017-02-19 20:57] DonLakeFlyer commented on #2910
Yeah, sorry I missed that. Maybe Gus will have some ideas.

[2017-02-19 23:05] DonLakeFlyer commented on #4513
I'm getting really laggy video even using 3.1.3 Stable. So not sure what is going on there. This is with a Typhoon. I can't get video through from my Solo any more on any of my devices.

[2017-02-19 23:08] DonLakeFlyer commented on #2910
I can repro the crash, but I can't catch it in the debugger either.

[2017-02-19 23:20] DonLakeFlyer commented on #2910
Actually I can't repro the crash. Here's why:
* I didn't uninstall the previous version of QGC I had on the device
* Then when you try to deply a new build from Qt it is not super clear that in reality it didn't deploy a new one. There is a failure message is you look for it.
* Instead it cranks up the old build that was already on there which is still bad.
* And you can't debug it, because it isn

[2017-02-20 00:06] Siytek commented on #2910
@DonLakeFlyer you are correct! Makes perfect sense, its always something simple :) I deleted the original installation, debugging now working for me and BT didn't crash - I didn't assign an adapter nor try a connection but I now get the disconnect button available after pressing connect. Ill try it on the plane tomorrow.

[2017-02-20 04:01] KeeyenPang opened #4579 "Low Resolution Map"
As per suggested, I raise the issue here. The original post was on ArduPilot [http://discuss.ardupilot.org/t/low-resolution-map/14920](url)

I've tried install in three difference computer, running on Win 8 and Win 10 with the same result.

[2017-02-20 09:29] mhugentobler commented on #4564
Just tried it with current master (as of now). The problem is still there: connect serial -> connect udp, then disconnect and reconnect serial a couple times. Usually at the second disconnection of the serial link the problem described above occurs.

[2017-02-20 16:25] DonLakeFlyer commented on #4564
Sorry I misread your issue. Thought it was multi-vehicle.

[2017-02-20 16:28] DonLakeFlyer commented on #2910
Great. Let us know if everything is working for you now and we can close this one out.

[2017-02-20 16:33] dogmaphobic commented on #4579
The link above returns a 404. What is this about?

[2017-02-20 16:33] DonLakeFlyer commented on #4579
@KeeyenPang Can you repost you images and details here instead of linking to ArduPilot forum?

[2017-02-20 16:40] DonLakeFlyer commented on #4559
Working fine for me on master+master. I had to assign an airframe first.

[2017-02-20 16:45] DonLakeFlyer commented on #4569
Can you save your parameters to a file and attach here?

[2017-02-20 16:46] Patnetpatnet commented on #2910
Does the latest QGC in Google Play now have a BT Android fix? Or does one have to go this circuituitous route? Not clear. BT issues have been outstanding for a long long time btw. Thanks,

[2017-02-20 16:47] DonLakeFlyer commented on #4572
I'm also thinking the current logic to determine last used altitude is wrong with respect to the fact that it always pulls the last altitude in the list even if you are inserting and item in the middle of the mission. I think it should pull the altitude to use by only walking back from the insert point.

[2017-02-20 17:12] dagar commented on #4559
This was PX4 SITL last week. I'll try again.

[2017-02-20 17:52] DonLakeFlyer commented on #4559
I used a real board and it was fine

[2017-02-20 17:55] DonLakeFlyer commented on #2910
@dagar I just went to play store dev console and it says there is no APK in beta testing. Am I looking at the wrong place, or is something out of whack. Want to make sure Android beta is up to date with latest daily.

[2017-02-20 18:28] Antiheavy commented on #4572
I guess walking back from the insert point would work for waypoints placed at the end of a mission list too.  As long as the walking back logic skips over special case waypoints such as Takeoff, Land, Patterns, and maybe others.

[2017-02-20 19:26] Siytek commented on #2910
I just deployed a release build on my tab and I am pleased to report Bluetooth is now working as expected! At a glance, all instruments and information now seems to be displaying as expected in QGC. Thanks for resolving this issue, I'm excited to go try my tablet in the field now!

[2017-02-20 21:44] DonLakeFlyer commented on #2910
Thanks for testing folks.

FYI: Still trying to figure out Android daily builds from Google Play.

[2017-02-21 01:26] #4572 closed

[2017-02-21 08:06] OmahaCounsel commented on #4374
I have never see that screen.
My operating system is Windows 10 home. 64 bit running on a Samsung notebook.
I tried the qground control with both with and with out the px4 stack. Would only work with px4 stack but then no option for  a y6 b.

With respect,

Brent W. Nicholls, J.D., LL.M
Kasaby & Nicholls, LLC
300s. 19th Street #300
Omaha, NE 68102
402.502.0600 (p)
402.615.5926.(f)

On Feb 18, 2017

[2017-02-21 09:01] winszenYoung opened #4586 "Compile error occurs using new branch in windows"
Hi, I have a few prbolem  compile QGC in windows.

I try to compile QGC in windows.
It works  your StableV3.1 branch.

but i make a new branch or commit StableV3.1 branch.
It  occurs in error.

error message is
	link /NOLOGO /DYNAMICBASE /NXCOMPAT /DEBUG /OPT:REF /INCREMENTAL:NO /OPT:ICF /LTCG /SUBSYSTEM:WINDOWS "/MANIFESTDEPENDENCY:type='win32' name='Microsoft.Windows.Common-Controls' version='6.

[2017-02-21 17:34] DonLakeFlyer commented on #4374
You ahve to be using a Daily build not a Stable build.

[2017-02-21 17:43] DonLakeFlyer commented on #4556
I tried latest master and it's working fine for me. Where exactly is it crashing?

[2017-02-21 17:48] DonLakeFlyer commented on #4530
This has been fixed in daily builds.

None of those matter.

[2017-02-21 17:49] DonLakeFlyer opened #4588 "Add better error messaging when attempting to connect to auto-connected link"
Details: #3674

[2017-02-21 17:50] DonLakeFlyer commented on #3674
Closing. Covered in better named issue

[2017-02-21 17:50] #3674 closed

[2017-02-21 17:53] #4499 closed

[2017-02-21 18:57] OmahaCounsel commented on #4374
Don:

First let me belaboredly thank you for responding to my post.
At this point I have opened up the quad to rewire it to use the not as good tradition y6 type rotation but that mess with my props as I was going with larger bottom props to avoid the wash .
Perhaps I am doing something wrong in loading the software or firmware.  I say this because in fact I don’t even see the select frame type sc

[2017-02-21 18:59] OmahaCounsel commented on #4374
Yes. I originally tried the stable build then the most recent or daily, as downloaded last Thursday I believe.

Again thank you for your help.

KN LAW

Brent Nicholls, J.D., LL.M.
Brent@KNLAWpc.com<mailto:Brent@KNLAWpc.com>
www.KNLAWpc.com

300 S. 19th Street
Suite 300
Omaha, Nebraska 68102
402.502.0600
402.614.6540 (fax)

IRS CIRCULAR 230 DISCLOSURE: Unless expressly stated otherwise, any U.S. fe

[2017-02-21 19:25] DonLakeFlyer commented on #4374
Please send a screen shot of what you are seeing.

[2017-02-21 19:38] DonLakeFlyer opened #4593 "Android daily builds not working"
I see this:
![screen shot 2017-02-21 at 11 37 24 am](https://cloud.githubusercontent.com/assets/5876851/23181531/2818ac62-f82a-11e6-84c1-f2c9e67fd3cc.png)

I'm not quite sure how the daily side works so not sure how to fix it myself.

[2017-02-21 20:16] samacumen commented on #4556
Thanks for checking it out. I just verified this on the latest build master, but unable to reproduce it this time. I will anyhow close this issue. On a side note, when the user disconnect's by pressing the disconnect button, the streaming text "Received from XPlane at xHz" should change to something like "Disconnected X-Plane". Helps in indication.

![already_disconnected](https://cloud.githubuser

[2017-02-21 20:16] #4556 closed

[2017-02-21 20:20] samacumen commented on #4530
Get the same message as you showed. Object Null is not found, I tried it a number of times on daily build. Closing this issue! Thanks.

[2017-02-21 20:20] #4530 closed

[2017-02-21 20:26] samacumen opened #4596 "With QGC running, closing and reopening the laptop screen greys out QGC screen/tab icons"
_Tested with:_
Ubuntu 16.04
Dell XPS15 (16 GB RAM)
Build: Latest QGC master build (21 Feb, 2017)

We often go out to the field for testing by leaving the QGC in running state. We obviously need to close the laptop while travelling.  When we arrive, we open the laptop to find something like below. The tabs are present but seem hidden. Clicking brings the map but not the tabs. Not sure if it is the

[2017-02-21 20:30] NaterGator commented on #4596
This screams buggy OpenGL driver. Are your GPU drivers up to date? Can you get newer drivers from your GPU vendor?

[2017-02-21 20:50] svpcom commented on #4532
@DonLakeFlyer  Do you need any additional details to reproduce it? How difficult to fix this?

[2017-02-21 20:54] DonLakeFlyer commented on #4596
I get that a lot from running in a VM. QGC isn't in control of it.

[2017-02-21 20:55] DonLakeFlyer commented on #4532
Haven't look at it. @dogmaphobic Will have to look.

[2017-02-21 21:28] samacumen commented on #4596
I am not running it on a VM. I have only 1 OS installed on my system i.e.
Ubuntu. Maybe a Linux library issue or something? To confirm, would be a
good idea to check it on APMPlanner2.0,  which is also built on qt.

On 21 Feb 2017 21:54, "Don Gagne" <notifications@github.com> wrote:

[2017-02-21 21:32] DonLakeFlyer commented on #4596
APMPlanner and QGC user very different mechanisms to show ui. That won't tell you much.

[2017-02-21 22:08] OmahaCounsel commented on #4374
Ok will do I DO however  want to try downloading the right version one more time , perhaps from my office computer.
What would be the best version to use way to go about that so that I can get a y6b with a stable-is platform?
I think I have version 3.1.4 now

KN LAW

Brent Nicholls, J.D., LL.M.
Brent@KNLAWpc.com<mailto:Brent@KNLAWpc.com>
www.KNLAWpc.com

300 S. 19th Street
Suite 300
Omaha, Nebrask

[2017-02-22 04:15] #4586 closed

[2017-02-22 05:54] dogmaphobic commented on #4532
The screen grab above doesn't have the recording button. That would indicate it's an older version? I'm having some issues with RTSP (unrelated to this) but I just tried UDP and it's working fine.

<img width="1229" alt="screen shot 2017-02-22 at 12 50 26 am" src="https://cloud.githubusercontent.com/assets/749243/23199000/581cfaa2-f899-11e6-9bd4-c1e70d6010d3.png">

[2017-02-22 13:24] Stifael commented on #4569
I am not sure if this issue is related tho the issue that I encountered:
The vehicle was hovering close to the groundstation, and everytime I opened the analyzer and observed some value, QGC crashed after around 30s

[2017-02-22 14:15] zenetio commented on #4569
After save parameters, I switched from Joystick to Airframe and got crash.
[px4.params.txt](https://github.com/mavlink/qgroundcontrol/files/793692/px4.params.txt)

[2017-02-22 18:02] dagar commented on #4593
I'll look at this tonight. Need to drop something in master for versioning.
Maybe a dev tag? `v3.2-dev`

On Tue, Feb 21, 2017 at 2:38 PM, Don Gagne <notifications@github.com> wrote:

[2017-02-22 18:03] DonLakeFlyer commented on #4593
Thanks Daniel.

[2017-02-22 18:14] DonLakeFlyer commented on #4374
If you are using anything other than ArduPilot Copter 3.5 builds then Stable is fine.

[2017-02-22 19:39] OmahaCounsel commented on #4374
thanks

KN LAW

Brent Nicholls, J.D., LL.M.
Brent@KNLAWpc.com<mailto:Brent@KNLAWpc.com>
www.KNLAWpc.com

300 S. 19th Street
Suite 300
Omaha, Nebraska 68102
402.502.0600
402.614.6540 (fax)

IRS CIRCULAR 230 DISCLOSURE: Unless expressly stated otherwise, any U.S. federal tax advice contained in this e-mail, including attachments, is not intended or written by KN Law, P.C., L.L.O. to be used, and any

[2017-02-22 20:59] svpcom commented on #4532
@dogmaphobic I've retest it with latest master (a56a153d2b8a9dede579058b2c59fd71428a6805) and the issue is fixed there.  But it exists in latest stable release 3.1.3

[2017-02-22 21:40] dogmaphobic commented on #4532
Is it then safe to close this issue?

[2017-02-22 21:41] svpcom commented on #4532
Yes, but I think we need to identify and backport fix to stable branch.

[2017-02-22 22:11] DonLakeFlyer commented on #4532
Not sure what would have changed from stable to master for video? I think only the recording stuff was added. The mainline video code didn't change I think.

[2017-02-22 23:44] NaterGator commented on #4532
I am surprised we have latency set to 0 for RTSP sources and no jitterbuffer for udp sources. In my experience the network is very very rarely good enough to deliver the packets in order and without issues... even a buffer of 1 frame period is usually long enough.

[2017-02-23 01:38] DonLakeFlyer commented on #4588
Related to #4535

[2017-02-23 01:38] #4535 closed

[2017-02-23 01:39] DonLakeFlyer commented on #4528
@lvale ?

[2017-02-23 01:56] lvale commented on #4528
Managed to sort things on latest master. The refreshing of parameters when changing frames was the "bad guy".
Sorry for not closing sooner.

[2017-02-23 02:00] DonLakeFlyer commented on #4528
To me those frame params should have a "reboot required" on their meta data (firmware change). All sort of strange things happen when you change them on the fly.

[2017-02-23 08:50] KeeyenPang commented on #4579
Dear Don

I've found the culprit, it is Bing Map issue. Once I change to Google, all went well. For the benefit of those who want to use Bing map, I re post the map here. Thanks

Keeyen
![qgc](https://cloud.githubusercontent.com/assets/25891910/23248914/bfa56f9e-f9dc-11e6-9cf0-b785d79d08ea.jpg)

[2017-02-23 15:14] dagar commented on #4593
Hmm, might be easier to have a completely separate play store entry for QGC Beta.
Any objection?
It would be nice if the dev version had a slightly different icon, but that's optional.
![image](https://cloud.githubusercontent.com/assets/84712/23264853/cd813b1a-f9b0-11e6-8c9a-a0c369c47e7d.png)

The upside is that we'll be able to install and use stable and dev side by side on the same device.

[2017-02-23 22:46] DonLakeFlyer commented on #4593
Perfectly fine by me. If you update can you update the docs as well which has links to the android beta stuff.

[2017-02-23 22:48] #4579 closed

[2017-02-23 22:52] DonLakeFlyer commented on #4593
You could ask the icon man: @dogmaphobic for a beta icon for the site.

[2017-02-24 11:06] Siytek commented on #2910
Did you manage to get daily builds sorted? @Patnetpatnet if you really want a copy with working Bluetooth and it's not going to be available on Google Play just yet, I can have a go at sending you a compiled version of the latest code.

[2017-02-24 14:52] dagar commented on #2910
The Android Google Play beta (daily build) isn't currently auto updating, but you can install it manually.
https://s3-us-west-2.amazonaws.com/qgroundcontrol/builds/master/QGroundControl.apk

[2017-02-24 16:58] Patnetpatnet commented on #2910
Thanks! Will test this weekend.

[2017-02-24 18:06] DonLakeFlyer opened #4615 "Mission items loaded back from vehicle cannot be edited"
The editors don't show the values. They never expand.

Need to check 3.1 stable for this bug.

[2017-02-24 18:42] #4615 closed

[2017-02-24 21:06] DonLakeFlyer opened #4620 "Fly: Follow me checkbox missing from Center Map tool"

[2017-02-24 22:38] hackra76 commented on #2910
The version of Google play beta is 3.1.3, but the version posted here is 3.1.2-277.... Couldn't this be the problem why it is not updating ?

[2017-02-25 05:16] goodman110110110 opened #4622 "qgroundcontrol build error ( Error: C2440: "Initialization": Can not convert from "initializer-list" to "QMap <int, QString>" The constructor for "QMap <int, QString>" is declared as "explicit")"
hi, when i try to compile the qgroundcontrol3.0.0 source code with qt5.5.1 ctreator, an error appear.

 Error: C2440: "Initialization": Can not convert from "initializer-list" to "QMap <int, QString>" The constructor for "QMap <int, QString>" is declared as "explicit"

i followed the readme.md to download the qt version 5.5.1 and to build the code.

please help me . Thankyou.
![default](https://cl

[2017-02-25 18:59] DonLakeFlyer opened #4624 "Rename QGCSettings to QGCSettingsPage"
To remove confusion from app settings (QSettings) like SettingsFact and so forth

[2017-02-25 19:43] DonLakeFlyer commented on #4622
Are you using VS 2015 to build. QGC only support VS 2013 at the moment.

[2017-02-25 19:45] DonLakeFlyer commented on #2910
As far as I know google play still does not have the right daily build. @dagar ?

[2017-02-25 21:32] dagar commented on #2910
Yes, that's the issue with the beta/daily build, and it won't auto update without a version greater than the stable. There will be a separate play store entry for the QGroundControl beta.

[2017-02-25 21:48] dogmaphobic opened #4627 "Video Streaming options remain invisible when changing back from UVC"
In General Settings, if you change the video source to an available UVC source, it hides the UDP/RTSP options. Now, if you change it back to UDP or RTSP, the FactComboBox no longer emits a signal that the source has changed and as a result, the options remain invisible.

This FactComboBox:

https://github.com/mavlink/qgroundcontrol/blob/master/src/ui/preferences/GeneralSettings.qml#L471

Once `QGr

[2017-02-26 02:05] Patnetpatnet commented on #2910
Was able to successfully test that the beta via the link above from Daniel does not crash the app as the final version does. However, I'm back at square one in that I cannot maintain a connection. It keeps cutting out. Something likely to do with the fact I just use BT as a bridge to an Xbee link to Mavlink Pixhawk. Historic problem going back years for me.

[2017-02-26 09:18] crashmatt opened #4629 "Qt5.1.1 on Ubuntu 16.04 = QtQuick design crashes creator??"
Maybe way off topic but is anyone else having this problem with the old Qt 5.1.1. version?

[2017-02-26 12:36] crashmatt commented on #4629
Fixed by using Qt 5.8 using the kit from Qt5.1.1. Closing.

[2017-02-26 12:36] #4629 closed

[2017-02-26 12:43] Siytek commented on #2910
@Patnetpatnet I had problems just like you describe with MAVLink when just using OpenLRS serial bridge for telemetry. A serial pass through connection will not manage any lost MAVLink heartbeats, therefore when a heatbeat packet is dropped, QGC will think that the connection has been lost, leading to sporadic disconnection warnings.

I now use TBS Crossfire which has a dedicated setting for MAVLin

[2017-02-26 14:28] goodman110110110 commented on #4622
I used vs2013， I followed the readme.md to complie the code.
but it can not work.

[2017-02-26 14:39] OmahaCounsel commented on #4374
Well I never get to the setup screen you are looking at . Here is what I see after reinstalling q-ground control and updating firmware.

[image1.JPG]
With respect,

[image2.JPG]
See no choice for y6b. .???

Brent W. Nicholls, J.D., LL.M
Kasaby & Nicholls, LLC
300s. 19th Street #300
Omaha, NE 68102
402.502.0600 (p)
402.615.5926.(f)

On Feb 22, 2017, at 12:14 PM, Don Gagne <notifications@github.com<

[2017-02-26 15:36] Patnetpatnet commented on #2910
Thanks Simon. The only change I could make would be dropping the now configured 115200 baud rate down to the recommended 57600. It works two-way as is in Tower though. Wondering whether that's the issue?

[2017-02-26 16:29] 18911847946 commented on #4622
i have met the same trouble

[2017-02-26 16:38] 18911847946 commented on #4622
![qq 20170227003833](https://cloud.githubusercontent.com/assets/25566729/23341573/1bac11f8-fc85-11e6-97d2-951ed0aed98f.png)

[2017-02-26 17:27] DonLakeFlyer opened #4630 "Add command name to COMMAND_LONG failure message"
Now you only get a numeric id. We can translate to the command name to make things more clear.

[2017-02-26 17:43] Siytek commented on #2910
Its difficult to say without knowing exactly what setup you have but yes you could try reducing the baud rate to minimise packet loss, also make sure all baud rates at matched up throughout your telemetry connection.

This is probably off topic now for this thread as it is unlikely to be related to QGC BT issues, your best bet would be to open a new topic here (assuming you're using PX4 flight sta

[2017-02-26 17:43] DonLakeFlyer commented on #4374
No images. You can't post images from image. Need to do it from GitHub.

[2017-02-26 17:46] DonLakeFlyer commented on #4627
Signal missing on isGstreamer property. Need to catch signal from videoSource settings change and propogate.

[2017-02-26 18:05] DonLakeFlyer opened #4632 "Video: Source=RTSP but URL left blank sends steady stream of qWarnings"
Warning: VideoReceiver::start() failed because URI is not specified

Need better usability on this.

[2017-02-26 18:41] crashmatt opened #4633 "Qt design wont open .qml files - Right or wrong?"
I am attempting to open .qml files with design.  Is this possible?  If not then please tell me to stop it.  If possible then there is a problem.

Everything builds ok but...
When browsing qml files it can't find the imports below.  When launching editing in design mode it reports that it can't find these imports.

import QGroundControl.FactSystem    1.0
import QGroundControl.FactControls  1.0
impo

[2017-02-26 18:45] DonLakeFlyer commented on #4633
Stop. You have to edit Qml by hand. Two problems:
1) Most QGC qml uses a C++ controller which pushed values into the Qml so designer wont' work
2) Most QGC Qml is way to complex to edit in the designer

[2017-02-26 18:45] crashmatt commented on #4633
Running ubuntu 16.04

[2017-02-26 18:45] #4633 closed

[2017-02-26 18:46] crashmatt commented on #4633
ok, I was expecting too much.

[2017-02-26 18:54] DonLakeFlyer opened #4635 "FixedWing Landing Pattern: Remaining work"
Remaining work:
* Persistence
* Mission stats calculations

Finished:
* Click to set current item
* More work on visuals - much better now, feedback still welcome

Questions:
* Exit cross-track MAV_CMD_NAV_LOITER_TO_ALT command is set to 0. Does this mean the vehicle will exit the loiter on a direct line from loiter to land waypoints center?
* Need feedback on default values

Current state:
* Read

[2017-02-26 18:54] DonLakeFlyer commented on #4635
@antiheavy FYI...

[2017-02-26 19:00] crashmatt opened #4636 "Prototype user interface for mixer tuning"
To test mixer tuning backend code I need a user interface to communicate with.  Some basic edit boxes and buttons to start with.

Something that hangs off the config menu would be a good place to put it.  I think I see bits that I can copy such as the parameter editor.   Suggestions of where to get started would be welcome.

The shape of the final user interface will be open for debate.  For now I

[2017-02-26 19:01] DonLakeFlyer commented on #4636
I'll add the framework for you to get started with. Then you can fill in the guts.

[2017-02-26 19:08] crashmatt commented on #4636
Thanks Don.  Where will you put the new stuff?
I can add you as a collaborator to by fork if that helps?

[2017-02-26 19:18] DonLakeFlyer commented on #4636
This is mavlnk generic support right? Not specific to a firmware?

[2017-02-26 19:21] DonLakeFlyer commented on #4636
I would suggest putting through small pulls so I can review and make sure you are using the right parts of the QGC infrastructure. Also make sure to ask me any questions you need to. If you have some sort of initial mock up (pencil drawing is fine) as well as some example of how you need to talk to the vehicle then I can point you in the right direction.

[2017-02-26 19:22] crashmatt commented on #4636
The target is for it to be generic and it is written in a generic way.  The plan is to have the mavlink messages in common.  I already have it running with mavproxy and ardupilot.

[2017-02-26 19:24] DonLakeFlyer commented on #4636
Ok, good. The pull I put through adds Mixers to both PX4 and ArduPilot firmwares. The Mixer code is common to both. Depending on what you need you may also need to create a custom C++ controller object to drive the Qml. Depends on how you need to talk to the vehicle and whether what you need is already in there.

[2017-02-26 19:43] DonLakeFlyer opened #4638 "Plan: Mission item status should show entry and exit heights for complex items"

[2017-02-26 19:57] crashmatt commented on #4636
Well that saved me a whole bunch of stress attempting to find where to connect things.
I will need to work on a custom c++ controller, a bit similar to parameters.

[2017-02-26 20:17] OmahaCounsel commented on #4374
Ok I'm giving up there just is no way to fly a y6b with this program . On option to chose y6b exist if you used the px4 stack

With respect,

Brent

Kasaby & Nicholls
300 S. 19th Street #300
Omaha, NE 68102
402.502.0600

On Feb 26, 2017, at 11:43 AM, Don Gagne <notifications@github.com<mailto:notifications@github.com>> wrote:

No images. You can't post images from image. Need to do it from GitHub.

[2017-02-26 20:54] DonLakeFlyer commented on #4374
I'm sorry but I have no idea what screen you are not seeing the Y6b on since your images did not make it through. The settings for frames is just a parameter so it is absolutely possible.

[2017-02-26 22:11] DonLakeFlyer commented on #4509
As far as I can tell this is a Qt android bug. All Menu qml element show up in the wrong place. They are supposed to show up right where you clicked. There is no control to position them. All you do is call Menu.popup().

[2017-02-26 22:47] DonLakeFlyer opened #4641 "Android: Clicks being lost be ToolStrip control"
* Fly view
* Click center map tool
* Click in map to dismiss DropPanel
* Click center map tool (doesn't work)
* Click center map tool (now it works)

The map behind it seems to steal the click or maube a gesture problem in the case where it doesn't work.

[2017-02-26 23:44] OmahaCounsel commented on #4374
I tried to send you a picture of the screen been trying to over come this for three weeks . Downloaded and reinstalled q ground control 8 times .chosing  px4 pro the frame type screen only show y6 coaxial the us a drop down select but that only gives you the one option y6 coxial.

With respect,

Brent

Kasaby & Nicholls
300 S. 19th Street #300
Omaha, NE 68102
402.502.0600

On Feb 26, 2017, at 2:54

[2017-02-27 00:16] lvale commented on #4528
@DonLakeFlyer Just retested on the latest master and the issue of changing frame is there:

better see the video https://www.youtube.com/watch?v=RKxgJ4YO_Wo

[2017-02-27 00:19] lvale opened #4643 "Initial loading of parameters extremely slow-ArduPilot master"
After flashing the PixRacer the initial loading of parameters takes forever and eventually QGC crashes

https://www.youtube.com/watch?v=UFfJoiQ61Bo

[crash.mavlink.zip](https://github.com/mavlink/qgroundcontrol/files/802443/crash.mavlink.zip)

[2017-02-27 17:32] DonLakeFlyer commented on #4622
Do you have the same problem when you build latest master?

[2017-02-28 00:02] #4641 closed

[2017-02-28 10:06] sanderux opened #4653 "Show wiring scheme in airframe selection"
I think it will greatly increase the usability of QGC if the airframe selector or the home screen shows wiring scheme for the selected airframe type. (MAIN and AUX ports)

/cc @DonLakeFlyer @LorenzMeier

[2017-02-28 13:29] vsobalski opened #4654 "RTSP Video Stream Crash QGC"
Hi,
I’m experiencing some difficulties using the RTSP of my IP camera. The ground station works great, but when I change the RTSP Url from the general tab, connect my stream, and then restart QGC, the station crashes.
If I connect my stream (plug the camera back in) after QGC is connected, the station crashes shortly after reconnection. The stream works on VLC and has the following settings:
URL:

[2017-02-28 13:31] NaterGator commented on #4654
That should have been fixed by #4613, can you try a recent build from master?

[2017-02-28 13:36] NaterGator opened #4655 "Video recording stops when connection times out"
If the video link is operating at the fringe of range and the link times out while recording it will restart when back in range but the recording is stopped.

Ideally we'd have a separate clock source for the recording branch of the gstreamer graph and leave that portion of the pipeline playing while we repair the link to the network source. There would be gaps in playback representative of the dr

[2017-02-28 13:42] NaterGator opened #4656 "Log download is CPU bound on UI thread"
I've noticed that some systems manage to consistently saturate USB HS bandwidth when downloading logs while others struggle to utilize 1/3rd of the available bandwidth. Some cursory digging leads me to believe this is a performance issue with performing mavlink decoding and log download on the UI thread.

We should rework the LogDownloadController to handle the actual download process on a worker

[2017-02-28 21:24] NaterGator commented on #4635
Exiting the loiter on a tangent point is virtually all I've seen in use because it provides for the most predictable transition to landing approaches. Also computing the glide slope from the breakout point to landing coordinate is helpful to determine if you are within the aerodynamic margins of your craft.

I've succeeded in getting NaNs on the landing point distance and heading; I think it is ha

[2017-02-28 22:12] Patnetpatnet commented on #2910
No longer Android-specific for sure. Same connection loss on Windows via BT and Xbee.

[2017-03-01 01:49] #4620 closed

[2017-03-01 02:25] jakehewitt opened #4664 "Console logs truncate numbers"
It seems that the logging is truncating numbers to be at most 6 digits, for example this cherry picked output:

[code]

In both instances the numbers being logged are the results of truncating the numbers. Is this behavior inherited from the qt logging system or was this behavior configured? I guess more importantly, is there anything I can do to enable logging the full number?

[2017-03-01 02:34] NaterGator commented on #4664
Unfortunately it is a shortcoming of the logging system. We'll need to handle this on case-by-base basis

[2017-03-01 02:37] DonLakeFlyer commented on #4664
@NaterGator Could you put a bug in on Qt for QGeoCoordinate qDebug output? Should be 7 digits past decimal.

[2017-03-01 02:41] Antiheavy commented on #4635
copying my comments from https://github.com/mavlink/qgroundcontrol/pull/4599 to here:

I get the following error messages (yellow pop-up bar) when uploading missions with Landing Patterns:

- "Error during Mission communication with Vehicle: Vehicle returned error: Command is not supported (MAV_MISSION_UNSUPPORTED). Vehicle only has a partial list of mission items."
- "IGN MISSION_ITEM: Busy"

The

[2017-03-01 02:42] DonLakeFlyer commented on #4564
You should turn off all auto-connect from Settings and try this again using manual links only. Most likely auto-connect getting in the way.

[2017-03-01 02:45] DonLakeFlyer commented on #4635
Fixed by #4665

[2017-03-01 02:46] DonLakeFlyer commented on #4635
Yeah, this was on purpose.

[2017-03-01 02:47] DonLakeFlyer commented on #4635
@Antiheavy Rest of comments all make sense. I'll get those changed.

[2017-03-01 02:49] NaterGator opened #4666 "QGeoCoordinates used in debug output need to output 7 digits of precision"
Would be nice for this to be handled app-wide.

[2017-03-01 02:50] NaterGator commented on #4664
Done in #4666.

[2017-03-01 02:50] DonLakeFlyer commented on #4666
This needs to be a Qt bug. We don't have control over qDebug() << QGeoCoordiante(...) output as far as I know.

[2017-03-01 02:52] NaterGator commented on #4666
I actually think we can do this on our own. Working on it now...

[2017-03-01 02:52] DonLakeFlyer commented on #4666
Awesome, thanks Nate

[2017-03-01 09:41] mhugentobler opened #4667 ""communication lost" trigger"
When sending HIGH_LATENCY messages via a high latency link from a UAV to QGC it takes usually more than 3.5s before that message arrives, triggering the "communication lost" warning. As it is implemented now, you do not regain communication once the next HIGH_LATENCY message arrives.

[2017-03-01 12:21] mhugentobler commented on #4564
I have never used auto-connect before (always all disabled), so I suppose the issue occurs due to something else.

[2017-03-01 14:40] ldsanders2807 opened #4668 "Laptop Display Issue"
QGC 3.1.3: It appears that for some reason, the mouse does not function on the center part of the airframe selection screen.  I can't select ANY airframe.  I can't select any airframe's selection list.  Or use the mouse roller to scroll down the screen. The mouse does work on the outside panels of the airframe screen. And everywhere else on QGC.  The laptop is an HP Elitebook 8540p with Windows 10

[2017-03-01 18:54] DonLakeFlyer commented on #2910
@Siytek You aren't getting communication list problems with your setup right?

[2017-03-01 18:57] DonLakeFlyer opened #4670 "Update README build requirements to require Qt 5.8+"

[2017-03-01 19:03] DonLakeFlyer commented on #4667
@mhugentobler  Can you verify this?

[2017-03-01 19:18] DonLakeFlyer opened #4672 "Move all Qml imports to latest Qt 5.8 versions"

[2017-03-01 19:48] dagar commented on #4667
@DonLakeFlyer this is something I've been meaning to discuss, so might as well bring it up here. The point of HIGH_LATENCY is to have a single 50 byte mavlink message you can send over something like Iridium SBD (short burst data) and only get a few messages through every minute.

So the outstanding issues I'm aware of are
 1. basic support for HIGH_LATENCY in QGC (relatively easy)
 2. keeping the

[2017-03-01 19:53] Patnetpatnet commented on #2910
Correct. Just intermittent connection lost. Always when sending data.

[2017-03-01 20:20] DonLakeFlyer commented on #4667
I can fix the comm lost stuff. But handling the concept of high latency connection for all communication and turning things off/on is a huge piece of work. That's all over the place. I don't see that something for this release.

What identifies a high latency message so I can trigger off it for comm lost?

[2017-03-01 20:31] dagar commented on #4667
We're talking about a single mavlink message called HIGH_LATENCY. http://mavlink.org/messages/common#HIGH_LATENCY

On the PX4 side enabling Iridium on telem2 starts mavlink at a very low rate streaming only that message and nothing else.

I wasn't suggesting it for this release. With your input to unblock a few parts I was going to gradually expand support. The idea of turning things off/on is onl

[2017-03-01 20:37] vsobalski commented on #4654
I just compiled the latest version, and it has been fixed. It is working really well now, thanks for your help.

[2017-03-01 21:12] #4654 closed

[2017-03-01 21:30] DonLakeFlyer commented on #4667
Ah, I've never seen that before (HIGH_LATENCY). Now I get it. Should be easy enough to plumb that through. Creating a vehicle from it as well is trivial, but the problem you will run into immediately is that QGC is going to go into it's Vehicle connect sequence asking for params, missions and so forht and then it's going to get quite annoyed.

[2017-03-01 21:46] dagar commented on #4667
I wasn't sure how to create a vehicle without the HEARTBEAT (type, autopilot, etc).

For now we could at least note all of these issues and any ideas for how to handle them eventually.
https://github.com/mavlink/qgroundcontrol/issues/4121

[2017-03-01 21:52] DonLakeFlyer commented on #4667
Oops, I looked to fast. If that's missing it won't be possible. Unless you create some settings somewhere that says create this type of vehicle if you see one.

[2017-03-01 22:06] dagar commented on #4667
@DonLakeFlyer I think that would be fine for how I intend to use it. The alternative is an updated mavlink message that we try to squeeze the bare minimum vehicle creation info into. Let me know if you feel strongly either way.

For QGC in the case where you only receive HIGH_LATENCY do you think some very basic crippled support is viable at this point (with some work)? No params, mission, knowled

[2017-03-01 22:09] DonLakeFlyer opened #4676 "Improve touch dragabilty of mission items on mobile"

[2017-03-01 22:21] DonLakeFlyer commented on #4667
If possible I'd mod the HIGH_LATENCY message to include the two missing fields (type, autopilot). Then I can create vehicles from it. Does it include fligth mode like heartbeat. Not sure if that's really needed.

[2017-03-01 22:41] dagar commented on #4667
It's tough because adding more fields pushes it over 50 bytes (billing
increment). Copying base_mode, custom_mode, and landed_state seem a bit
wasteful in retrospect.

If I were to take another pass (add a new message and deprecate the
existing I'd guess) any other suggestions?
http://mavlink.org/messages/common#HIGH_LATENCY
Notes added to the top of this issue -
https://github.com/mavlink/qground

[2017-03-01 23:37] Siytek commented on #2910
@DonLakeFlyer no my setup works perfectly now as far as my bench testing goes, ill fly it soon though as the weather is starting to pick up. Im confident it will work great now but ill report back if I have any issues.

I used to get random disconnection warnings due to lost heartbeat packets, but this was because my old telemetry radio setup did not have flow control, not because of a bug with QG

[2017-03-01 23:59] DonLakeFlyer opened #4677 "Change Rally/GeoFence to new dynamic map visuals system"

[2017-03-02 00:01] goodman110110110 commented on #4622
yes, we have the same problem. there have many mistakes when qt creator was used.

[2017-03-02 00:03] DonLakeFlyer opened #4679 "Add timeout to file downloads to show error"

[2017-03-02 00:19] DonLakeFlyer commented on #4635
Fixed by #4669

[2017-03-02 00:21] DonLakeFlyer commented on #4635
Is that in response to this question: "Exit cross-track MAV_CMD_NAV_LOITER_TO_ALT command is set to 0. Does this mean the vehicle will exit the loiter on a direct line from loiter to land waypoints center?"

If so, is that cross track value correct then that I'm sending?

[2017-03-02 06:49] dagar commented on #4559
Verified it's working with QGC master and PX4 master.

[2017-03-02 06:49] #4559 closed

[2017-03-02 09:51] mhugentobler commented on #4667
about issue #4671: this is how I have it implemented right now, just for HIGH_LATENCY(#234) only. You regain communication once the message(#234) arrives.

about the list of @dagar
1) I added a button to switch between telemetry and iridium communication. Issue #4564 hinders complete functionality.
2), 3) no problem with a call to Vehicle::_connectionActive() when you receive a message (see issue

[2017-03-02 09:58] Tutorgaming commented on #4228
@dogmaphobic  I have some question from this context.

 _**So it starts as a "server" listening for connections on a specific port.**_
You can however, manually add target hosts. You can enter either a fully qualified host name or an IP address and QGC will "call" them.

1.If I want to control multiple vehicles,
Can I specify just only the port on the server that I want to open for robots?

Like c

[2017-03-02 11:25] goodman110110110 commented on #4622
Yes, we have the same problem, following the readme.md to build the latest
code, but the qt creator comes out many mistakes. please help me!
Thank you!

2017-02-28 1:32 GMT+08:00 Don Gagne <notifications@github.com>:

[2017-03-02 15:41] goodman110110110 opened #4682 "Can HILstar xplane airframe not be applied to HIL fixed-wing simulation with QGC and flightgear？"
I want to do the HIL fix-wing simulation with QGC 3.1.3, pixhawk(pix4) and flightgear 3.4.
But I can not find the simulation airframe for flightgear but the HILstar (xplane), so I choose the HILstar (xplane) and apply.
When start the simulation, the QGC ui can receive the data from the flightgear, but flightgear can not receive the data from QGC, the plane in the flightgear can not be controlled b

[2017-03-02 16:40] dagar commented on #4667
@mhugentobler I'll have to come back to this later in March to bring QGC + PX4 Iridium closer to usable.
Let's keep in sync in these QGC (https://github.com/mavlink/qgroundcontrol/issues/4121) and PX4 (https://github.com/PX4/Firmware/issues/6228).

In particular we'll need to put some thought into what can be dropped in HIGH_LATENCY to make it a full HEARTBEAT substitute.

[2017-03-02 16:56] NaterGator commented on #4666
I've played around with this on and off, and while I have been able to come up with app-wide fixes they are decidedly inelegant and abuse platform specific behaviors. It simply isn't worth the headache, so upstream this goes: https://bugreports.qt.io/browse/QTBUG-59259

[2017-03-02 18:22] DonLakeFlyer commented on #4666
Thanks for trying Nate

[2017-03-02 18:29] DonLakeFlyer commented on #2910
@Siytek I'm going to leave this issue open to you report back on flying. If that goes well then I'm going to close this issue as resolved.

[2017-03-02 18:40] Patnetpatnet commented on #2910
I agree that this issue could be closed now as far as I'm concerned. Simon, my setup works fine in Tower, and Mission Planner, just not in QGC. That's a QGC issue, not MAVLINK or radio setup. Thanks for everyone's help.

[2017-03-02 18:58] DonLakeFlyer commented on #2910
Oops, sorry I missed that. @Patnetpatnet Could you create a new issue specifically for your problem? Then we can track there. This one is pretty clouded with lots of stuff in it and is really about first connection.

Then I'll close this one since this is about connecting.

[2017-03-02 18:58] #2910 closed

[2017-03-02 19:00] DonLakeFlyer opened #4683 "Survey+Mobile: Losing clicks when adding polygon"
Need to convert to new dynamic mechanism which works better

[2017-03-02 19:08] Antiheavy opened #4685 "Landing Loiter getting incorrectly set to zero altitude (Landing Pattern)"
Issue found with recent daily build:

The Landing loiter point shows as 40m alt, but when I upload it I get a "Landing waypoint above last nav waypoint" error".
![image](https://cloud.githubusercontent.com/assets/12117027/23522576/1b5cafb6-ff49-11e6-8aa8-3e2505b44ce6.png)

After "loading from vehicle" the loiter (6) is shown at zero alt.
![image](https://cloud.githubusercontent.com/assets/12117027

[2017-03-02 19:11] Patnetpatnet opened #4686 "Intermittent dropped connection with Xbee with BT bridge"
When connecting to QGC Android and QGC Windows to Pixhawk (PX4) with Bluetooth as a bridge to xBee  I get a dropped connection when sending data, such as a switch position change.

Setup is flight controller to xBee via TELEM1 port. Then xBee to xBee. Then XBee to BT. Then BT to Android device or Windows PC.  15,200 baud rate throughout.

Wired connections are OK.

Also unable to replicate issue w

[2017-03-02 19:53] DonLakeFlyer commented on #4643
The problem was triggered by a change in copter which makes some parameters be missing at boot. Talked to tridge about it a week or so ago it and he changed it to delay reponse to param_request_list until all params are available. But this in turn causes QGC to timeout and drops to a slow fallback mechanism to get params.

I need to figure out how to either not hit the fallback mechanism or to spe

[2017-03-02 20:55] DonLakeFlyer commented on #4643
Nope I was wrong. ArduPilot is just not working correctly on initial request. It sends one param and then it stops.

[2017-03-02 21:18] DonLakeFlyer commented on #4643
And that wasn't it either. Just more strangeness with ArduPilot and the param protocol. I still can't get the crash though. Can you retry one this goes throuhg?

[2017-03-02 22:00] jakehewitt commented on #4666
Thank you Nate. Is there any temporary hacky way I could log the full numbers?

[2017-03-02 22:16] dogmaphobic commented on #4666
If I'm reading this correctly, you could have a function that takes a `QGeoCoordinate` and spits out a `QString`. You can format it any way you want it.

[code]

In the code you would use it instead of feeding it directly to `qDebug`:

[code]

[2017-03-02 22:36] NaterGator commented on #4666
There's a few approaches to attacking this... you could also just shift the [qSetRealNumberPrecision](http://doc.qt.io/qt-5/qtextstream.html#qSetRealNumberPrecision) manipulator right after calling qDebug() and not need to dereference the qgcApp pointer.

I played around with replacing the stream operator at the linker, manipulating the debug macros, etc. There's not one silver bullet to solve thi

[2017-03-02 22:43] DonLakeFlyer commented on #4666
Many different way to hack in one-off changes. No way to do it without having to change all references in code.

[2017-03-02 22:46] jaxxzer opened #4688 "Ubuntu 16.04 segfault at launch"
The application segfaults at launch on Ubuntu 16.04, since switch to 5.8.

[2017-03-02 22:47] jaxxzer commented on #4688
Tested with precompiled daily build, and compiling natively from source using QT 5.8. Compiling the same tree using QT 5.5.1 does not segfault.

[2017-03-03 00:35] DonLakeFlyer opened #4689 "Survey: Add new survey after delete goes wrong"
* Add Survey item
* Setup polygon
* Delete
* Add new Survey Item

New item shows up closed and you can't click on it.

[2017-03-03 00:37] DonLakeFlyer commented on #4677
Including polygon editor

[2017-03-03 01:32] marinesimulation opened #4691 "Change compass heading display to 3 digits"
The heading indicator numbers from 1-99 degrees are in a two digit format, can we chance these to three digits where we have a zero in front? ("045") This would bring it inline with aircraft and vessel displays.

![qgc-heading](https://cloud.githubusercontent.com/assets/17232608/23534637/4664a9fa-ff87-11e6-851f-26f7ab8b2ea7.png)

[2017-03-03 01:37] DonLakeFlyer commented on #2548
Check if this is still there with 5.8

[2017-03-03 01:41] DonLakeFlyer commented on #3095
FW channel reverse is fixed

[2017-03-03 01:41] #3095 closed

[2017-03-03 01:42] DonLakeFlyer commented on #3075
Implemented

[2017-03-03 01:42] #3075 closed

[2017-03-03 01:43] #2876 closed

[2017-03-03 02:08] DonLakeFlyer opened #4692 "PolygonEditor: Need to cancel polygon edit when current item focus is lost"

[2017-03-03 02:32] DonLakeFlyer commented on #4635
This is on purpose since you click to set the landing point. The assumption is that is where you want to land since you just clicked there so the loiter is adjusted not the land point.