[2015-12-29 04:18] lvale commented on #2491
Linked to #2440

[2015-12-29 04:55] lvale opened #2492 "Gimbal config screen APM- OS X QGC 2.8.0-346-g9ae456c (Development) build"
There's a parameter  MNT_DFLT_MODE related to the Gimbal that might be useful to expose on the gimbal config screen

<img width="911" alt="screen shot 2015-12-29 at 04 37 44" src="https://cloud.githubusercontent.com/assets/3130363/12029667/405c4ac8-ade8-11e5-8efc-d8b66f008dae.png">

[2015-12-29 04:58] lvale opened #2493 "Standard Params in MP vs OS X QGC 2.8.0-346-g9ae456c (Development) build"
Some discrepancy between what's on the Standard Params on MP and not exposed at the current interface on QGC. Some like Arming Checks and Auto Tune Bitmask are not IMHO "power user" material :)

[2015-12-29 13:39] LorenzMeier commented on #2433
The real user scenario with "multiple links" is this:

  * Receive on N links
  * Send to "best" link which hasn't timed out

So from an implementation perspective this is how we could make it work:

 * Receive on all links (easy)
 * Attach a priority to each link and send only to the link with the highest priority. If the link with the highest priority changes (because USB connected or the radio

[2015-12-29 15:04] CornerOfSkyline opened #2494 "Windows build release error!"
error: C2039: 'TypeMock' : is not a member of 'LinkConfiguration'
When i build the qgc in the windows use Qt Creator 3.5.1 . There is error when build the release , it seems the QT_DEBUG not worked in some files.

[2015-12-29 17:36] DonLakeFlyer commented on #2433
Ok, I'll have to think about how to switch state machines on the fly. That's going to be a bit tricky. I'm not sure a reset will be possible. But keeping a state machine on the same link may be. Since they are short lived then next one will pick up the right link.

[2015-12-29 19:23] DonLakeFlyer commented on #2491
The other issue here is that the frame types show up differently based on what firmware you are running.

[2015-12-29 19:32] DonLakeFlyer opened #2498 "Use MAV_CMD_PREFLIGHT_SET_SENSOR_OFFSETS to write compass offsets"
Also compass device ids won't show up correctly until you make this call. So APM Stack needs to work same wasy as PX4 stack. Rotations set after compass call since compasses aren't known till then.

[2015-12-29 19:33] DonLakeFlyer opened #2499 "Complete support for bitmask parameter meta data"
Initial bitmask support is in. Need to finish implementation by handling bits showing up in parameters that are not in the meta data. Handle it just like enum meta data, but adding new bits as "Unknown %d" on the fly to keep the ui working.

[2015-12-29 20:36] lvale commented on #2491
I'm running Hexa so perhaps Hexa frames should come out ?

[2015-12-29 22:27] #2490 closed

[2015-12-29 22:55] DonLakeFlyer commented on #2494
There is likely something wrong with your configuration. Your going to to have to track it down yourself most likely. Windows biulds are working fine as far as I can tell.

[2015-12-30 03:12] DonLakeFlyer commented on #2433
I think the way to do this is for mini-protocol's to essentially keep a session id sort of a thing. The session id tracks which link to use in a multi-link situation. When a new protocol starts, it always uses the best one. But while the mini-protocol is in play i stays on the same session/link. If the session/link it's currently working on goes away, retry should kick in and the mini-protocol wil

[2015-12-30 13:49] CornerOfSkyline commented on #2494
@DonLakeFlyer I try adding CONFIG-=debug_and_release to the qmake additional arguments, it's ok.

[2015-12-30 13:49] #2494 closed

[2015-12-30 18:29] #2461 closed

[2015-12-30 18:31] LorenzMeier commented on #1740
I finished this already, its all done.

[2015-12-30 18:31] #1740 closed

[2015-12-30 18:36] DonLakeFlyer commented on #1740
Leaving this open but moving from 3.0 release. Still don't have advanced tuning page, which is what this was originally talking about.

[2015-12-30 18:46] DonLakeFlyer commented on #2498
MAV_CMD_PREFLIGHT_SET_SENSOR_OFFSETS doesn't support compass 3. Also from testing device ids should when the new device shows up. You don't need to cal. So this is ok.

[2015-12-30 18:46] #2498 closed

[2015-12-30 21:08] DonLakeFlyer commented on #2493
Arming Checks and AutoTune are in. I'll wait for people to bitch to add any more.

[2015-12-30 21:08] #2493 closed

[2015-12-30 21:48] DonLakeFlyer opened #2505 "Tablet light theme needs works"
- Go to any config screen with disabled fields. Disabled color is too light
- Flight mode config shows channel selected, color is too light to notice

![screenshot_2015-12-30-13-47-18](https://cloud.githubusercontent.com/assets/5876851/12058021/35e9ef0e-aefc-11e5-9b04-d6d1462ded50.png)

[2015-12-30 22:00] #2492 closed

[2016-01-02 11:45] LorenzMeier opened #2507 "User model for surveying"
We should revisit and understand the user model for surveying - how users want to configure the survey and what API we should expose.

I'm less interested in what is there on the tech side, but rather what the one dominant mode of operation is people are using.

Some initial questions:
- Do people want to set camera distances in meters and let the vehicle trigger?
- Or do people want to plan each

[2016-01-02 20:33] DonLakeFlyer commented on #2491
I"ve dumbed down the UI for now with no images. Coming at some point will be auto-generate images which include correct prop rotation, motor numbers and pixhawk wiring. Once we have that this will get nicer again.

[2016-01-02 20:33] #2491 closed

[2016-01-02 20:36] #2453 closed

[2016-01-02 20:46] DonLakeFlyer commented on #2447
Need this change https://github.com/PX4/Firmware/issues/3420 in order to remove script start from QGC side.

[2016-01-02 21:24] #2505 closed

[2016-01-02 21:35] sanderux opened #2512 "Support for new VTOL mission commands and flight modes"
For both PX4 and APM the following commands are/will be available soon:

               <entry value="84" name="MAV_CMD_NAV_VTOL_TAKEOFF">
                    <description>Takeoff from ground using VTOL mode</description>
                    <param index="1">Empty</param>
                    <param index="2">Empty</param>
                    <param index="3">Empty</param>
                    <para

[2016-01-02 21:36] DonLakeFlyer commented on #2512
Thanks. Lorenz just added transition here: https://github.com/mavlink/qgroundcontrol/pull/2510

[2016-01-03 05:03] billbonney commented on #2243
I know it's been awhile but I have something similar to lorenz wrote.

I was thinking to have in the future the ability to have extended elements to be something like

e.g specify a polygon area to scan (essentially it’s a polygon as as in geoJson http://geojson.org/geojson-spec.html )

see https://gist.github.com/billbonney/8d8b8798ba5bb7a50fa8#file-mission_format_mavlink-json-L31

There definite

[2016-01-03 05:47] #2464 closed

[2016-01-03 10:24] LorenzMeier opened #2514 "Generate Firmware upload and general usage statistics"
@DonLakeFlyer For the sake of Dronecode statistics it would be great to extend the URL with get params like:

[code]

For QGC statistics themselves, it would be great if it would open the QGC website on boot to check for updates like:

[code]

and:

[code]

[2016-01-03 10:30] LorenzMeier commented on #2512
They are here: https://github.com/mavlink/mavlink/commit/c81d2fd794d1a304a85a9e6769892a37bef71c1a

[2016-01-03 10:47] LorenzMeier commented on #2433
I really, really think we need this for the release. It will give a lot of users a very flaky experience on desktop if we don't have this in. Nobody disconnects the radio when he has the autopilot connected and a lot of people use USB to power the autopilot during testing / pre-flight / setup.

[2016-01-03 11:10] LorenzMeier commented on #2514
I will likely use this to add tracking. https://github.com/binaryage/leechgate

[2016-01-03 14:36] dogmaphobic commented on #2435
I'm taking over this as having done the firmware side, I'm probably the one in best position to test as I go (I can fix both sides at once if needed). With that said, the first release will be just a dialog that allows you to pick the logs to download to your computer. Once we have a proper *Analyze" view, it could be integrated within so logs can be loaded directly into the view.

[2016-01-03 14:43] dogmaphobic commented on #2431
This needs a bit of an architectural change on the client side (QGC). As it stands, once a bad sequence is detected, the transfer is flagged as failed and the process terminates. We need to implement error recovery. Something like pre-allocating the file and writing the incoming packets in their respective offsets. If one or more packets are lost, these are re-requested to *fill in the gaps*.

[2016-01-03 14:44] LorenzMeier commented on #2435
I think just getting the file is more than enough for 99% of users. We have great GUI plotting tools already and I'm not sure this is truly GCS functionality.

[2016-01-03 14:57] LorenzMeier commented on #2447
This is fixed on PX4 master, you can go ahead here now.

[2016-01-03 17:08] DonLakeFlyer commented on #2447
Thanks Lorenz.

[2016-01-03 17:11] DonLakeFlyer commented on #2433
I know I had it marked for Release 3.0 already.

[2016-01-03 17:21] DonLakeFlyer commented on #2243
Thanks Bill. I’ll use this as a starting point for integrating the survey stuff.

[2016-01-03 17:32] pritamghanghas opened #2515 "QGC crash when one clicks on Radio button when connected to SITL"
Does the same thing with raspilot board running APM. I couldn't check with pixhawk. Don't have a working pixhawk right now.

Here is the stack trace as shown by QtCreator

0	QVariant::QVariant(QVariant const&)			0x7ffff32cbd90
1	Fact::rawValue	Fact.h	81	0x53e517
2	RadioComponentController::_setInternalCalibrationValuesFromParameters	RadioComponentController.cc	751	0x6c7d9d
3	RadioComponentControll

[2016-01-03 17:55] #2447 closed

[2016-01-03 17:57] #2367 closed

[2016-01-03 18:53] pritamghanghas commented on #2515
ok found the problem. function RadioComponentController::_chanMax(void) return 14 as the number of channels and then it tried to get RC9_TRIM. Such parameter don't exist beyond RC8. So it returns null and then null ptr referencing and crash.

[2016-01-03 19:18] pritamghanghas commented on #2515
This is trange. RC9* parameters don't exist. While RC10 and RC11 exist and after that nothing. Would it make sense to reduce _chanMax to 8 for APM. Though pointer checking may still be required for missing parameters. If a parameter is missing for RC#, What do we do that make the fields to some  default or 0 in channelInfo struct.

[2016-01-03 20:05] DonLakeFlyer commented on #2515
QGC will only work with the latest ArduCopter or above. I think that's 3.3. Anything below that is going to be missing parameters. I haven't been trying to support versions below that because it just gets to complicated dealing with the differences.

http://copter.ardupilot.com/wiki/arducopter-parameters/

[2016-01-03 20:08] DonLakeFlyer commented on #2515
There needs to be a version check put in for ArduPilot versions. If the version is too old it should fall back to generic mavlink support.

[2016-01-03 20:13] pritamghanghas commented on #2515
On ArduCopter master. this http://copter.ardupilot.com/wiki/arducopter-parameters/. This doesn't contain CH9_MIN CH9_MAX or CH9_TRIM
some how ch10* and ch11* are there. Plus after that there is nothing. So no way 14.

[2016-01-03 20:13] DonLakeFlyer commented on #2515
Need to look at the RadioComponent code since it should trigger a "missing params" alert instead of crashing.

[2016-01-03 20:14] pritamghanghas commented on #2515
trigger missing parameter message but after that returns null for the FACT
which gets deferenced.

On Mon, Jan 4, 2016 at 1:43 AM, Don Gagne <notifications@github.com> wrote:

--
Regards,
pritam

[2016-01-03 20:19] DonLakeFlyer commented on #2515
It's not doing the check ahead of time like it should.

[2016-01-03 20:28] pritamghanghas commented on #2515
I can do that, But I still don't get the number 14 for channel count and
how its supposed to be used, when there is currently no way to use them or
store any information about them.

On Mon, Jan 4, 2016 at 1:49 AM, Don Gagne <notifications@github.com> wrote:

--
Regards,
pritam

[2016-01-03 20:51] DonLakeFlyer commented on #2515
It's going to be tricky to fix this. Since it seems like the problem is not only in master but in 3.3 as well. Both the RadioComponent and the unit test will need to be updated. Since the code is shared between PX4 and APM it's going to be a real pain. I"ll figure out how to deal with it.

[2016-01-04 00:11] DonLakeFlyer commented on #2357
This isn't actually a bug. It happens if you try to scroll the view using the mouse wheel and accidentally hit a combo box which in turn selects an airframe type. This whole thing needs a redesign to prevent that. I"m going to add a scroll bar and call it good for now.

[2016-01-04 00:18] DonLakeFlyer commented on #2357
I"m going to leave this alone till the redesign. Tried Scroll bar but it made a mess of things.

[2016-01-04 00:18] #2357 closed

[2016-01-04 01:14] dogmaphobic opened #2518 "QmlObjectListModel needs memory management."
Putting here so I won't forget. Items in QmlObjectListModel are not cleaned up, causing memory leaks.

[2016-01-04 02:41] DonLakeFlyer opened #2519 "QGC needs APM version check"
Current support is 3.3 and above. May change later, but not now.

[2016-01-04 03:22] DonLakeFlyer opened #2520 "Need some mechanism to capture logging from Android builds"

[2016-01-04 03:57] DonLakeFlyer opened #2521 "Consider using Google Analytics for UI usage tracking"
We could use it to track UI usage.

[2016-01-04 04:12] DonLakeFlyer opened #2522 "Consider APM stack RC override style joystick support"

[2016-01-04 04:18] #2427 closed

[2016-01-04 04:20] DonLakeFlyer commented on #2264
This is a Qt bug. Given the fact that I'm going to re-work this screen post 3.0 release it not worth try to hack around some more to work around the bug. At this point a work around doesn't seem possible. Moving out of the 3.0 release.

[2016-01-04 04:20] DonLakeFlyer commented on #2520
Will consider for 3.0, but I think it's unlikely.

[2016-01-04 04:35] dogmaphobic commented on #2521
Only Android? Why not everything? I have all the code for it. I can do it in a day or so for all platforms at once. Anonymous, non identifying usage analytics.

[2016-01-04 04:46] WickedShell commented on #2507
Answering from my perspective where we both do commercial mapping services and sell systems for mapping:

When mapping I usually prefer to exclusively trigger the camera by distance, I don't care if the distance is managed by the vehicle or the camera, if the camera can manage the distance thats fine, but the vehicle is the fallback that is expected to work and be available at all times, and in so

[2016-01-04 07:24] LorenzMeier commented on #2521
I'm closing this as a duplicate of https://github.com/mavlink/qgroundcontrol/issues/2514

[2016-01-04 07:29] LorenzMeier opened #2524 "Don't start another QGC instance if the UDP default port is taken"
@DonLakeFlyer @dogmaphobic I have used this before, it fixes multiple instances on all OS and works perfectly.

[2016-01-04 08:16] LorenzMeier commented on #2514
Discussing the MP format and potential adjustments with Michael here:
https://github.com/diydrones/MissionPlanner/issues/1093

Goal is to have a simple, well-documented API how to pull firmware files so Dronecode gets a good picture of where things are going.

[2016-01-04 14:13] LorenzMeier opened #2525 "Mode switching doesn't work in HITL, shows multiple items ticked if it fails"
I'm not clear yet where things break, but once PX4 is in HITL mode mode switches are completely ignored. Might be a firmware thing, the reason I'm filing it here is a different one: The mode switch indicator still updates, resulting in two modes being selected even if the system rejected or didn't respond.

[2016-01-04 16:14] DonLakeFlyer commented on #2514
"Only Android? Why not everything? I have all the code for it. I can do it in a day or so for all platforms at once. Anonymous, non identifying usage analytics."

@dogmaphobic Just stumbled across the Google thing and wanted to make a note of it. Do you have a server side backend though for analysis? How does that work?

[2016-01-04 16:25] dogmaphobic commented on #2514
It's all hosted by google. You setup an *analytics* account, which will give you a *key* to use. It's a bit of a daunting learning curve but it's somewhat logical. From the app, you send http requests to a specific (google) API. It includes, along with your *key*, *events*, *categories*, etc. From your *Analytics Portal*, you can monitor usage of various aspects of the app (based on those *events*

[2016-01-04 16:59] DonLakeFlyer opened #2526 "Integrate survey code"
From David Goodman:

I've released the code available here: http://dagoodma.github.io/dppl_code/. The QGC branch still needs to be merged and fixed up a little before a pull request, but it's available here: https://github.com/dagoodma/qgroundcontrol/tree/dpp_addon_dtspascpp.

[2016-01-04 17:09] amuehlf2 commented on #2507
Answering from the perspective of a commercial UAV camera manufacturer:

Sentera cameras only use the MAV_CMD_DO_DIGICAM_CONTROL message (from the autopilot), and they only use it for triggering.  A step further, they assume every MAV_CMD_DO_DIGICAM_CONTROL message is a trigger message, regardless of its parameters.  This choice was made to make Sentera cameras compatible with the default commands

[2016-01-04 17:12] LorenzMeier commented on #2507
Thank you both for your feedback. That is indeed very helpful.

[2016-01-04 17:34] dagar commented on #2526
I don't like the idea of pulling dppl in as a binary and passing around json. I'll try to get it building with qmake and then include it as a submodule.

[2016-01-04 17:40] DonLakeFlyer commented on #2526
It should just be in the main tree. Shouldn't be a submodule either. I plan to look at the code and re-work as needed to bring it in. I'll handle bringing this in after the 3.0 release goes out. Don't want it before then.

[2016-01-04 17:41] DonLakeFlyer commented on #2526
@dagar I'll ping you when I get to this for help.

[2016-01-04 18:08] DonLakeFlyer opened #2528 "Connecting to APM Stack gives Failed Command: 241"

[2016-01-04 19:05] dagar commented on #2520
Which logging are you referring to?

We do get some crash information if the user chooses to submit.

https://play.google.com/apps/publish/?dev_acc=03583851360351630691#ErrorClusterDetailsPlace:p=org.mavlink.qgroundcontrol&et=CRASH&lr=LAST_6_MONTHS&ecn=Native+crash&tf=unknown&tc=unknown&tm=unknown&nid=57f3a59d758e6758&an&c&s=new_status_desc

[2016-01-04 19:08] DonLakeFlyer commented on #2520
QLoggingCategory logging.

[2016-01-04 19:26] dogmaphobic commented on #2520
It goes out to logcat. At runtime, you can run ```adb logcat``` and all logging (including QGC's) will be output. You can even capture it using WiFi if you don't have the device connected directly (USB).

logcat: http://developer.android.com/tools/help/logcat.html
adb: http://developer.android.com/tools/help/adb.html

[2016-01-04 20:55] DonLakeFlyer commented on #2520
Not helpful on users machine. They won't have that installed. I'm talking about using logging to debug a problem a user is having.

[2016-01-04 21:01] DonLakeFlyer commented on #2520
I'd guess the logcat logs are sitting on the tablet somewhere. Wonder if there is a tablet app that you can run to look at them?

[2016-01-04 21:02] dogmaphobic opened #2532 "Settings are being stored in different (and some wrong) places."
Adding here so I won't forget.

The settings file reported by QSettings has a weird filename:

[code]

Note the _**com.org**_ prefix, which should be the *domain* TLD.

In addition, two separate files are being written to ```/Users/<me>/Library/Preferences```. The one above and another named ```org.qgroundcontrol.qgroundcontrol.plist``` (with a proper TLD).

With that said, there is some other set

[2016-01-04 21:11] WickedShell commented on #2507
I should also mention that while I consider triggering by distance the essential requirement, I am fine with having the autopilot generate and emit MAV_CMD_DO_DIGICAM_CONTROL messages on the fly.

With regards to the seesion name, Thats a very good point. I don't think we really need a string, but if we could at least assign a unique ID to it that would be extremely helpful. (IE I could track the

[2016-01-04 23:10] DonLakeFlyer commented on #2350
Another problem is that it throws errors if Vehicle requests the same item more than once. That should be ab ok thing. Code is too finicky.

[2016-01-05 01:58] #2519 closed

[2016-01-05 02:16] #2528 closed

[2016-01-05 02:58] DonLakeFlyer commented on #2525
The fact that the mode switch indicator update is just a bug. That dropdown cna't have checkmarks on it. I have a fix for this. I stepped through the actual flight mode change onthe QGC side and everythign looks good from there. The change of mode is going out. The firmware just never does anything with it. That's going to need to be debugged fromthe firmware side. Also when I ran HIL with XPlane

[2016-01-05 02:58] DonLakeFlyer commented on #2525
There is also a crashing bug in QGC HIL when you shutdown. I'll fix that as well.

[2016-01-05 03:00] DonLakeFlyer commented on #2525
FYI: I did get it to switch to Loiter one time. No idea what I did to make that happen. It only worked once.

[2016-01-05 03:15] DonLakeFlyer commented on #2525
I'm trying to debug the firmware side.

[2016-01-05 08:11] dogmaphobic opened #2534 "Crash on exit when using QGCQmlWidgetHolder"
It has to do with some setting saved automagically by ```QGCQmlWidgetHolder``` (or ```QGCDockWidget``` for that matter). It's hard to reproduce. You have to launch QGC (with the Log Download Widget) several times before it starts. Once it starts crashing, it crashes every time on exit. You must use the "Clear Settings on Next Start" to make it stop.

[code]

[2016-01-05 18:49] DonLakeFlyer commented on #2525
Here is what I found:
- If you attempt to change flight mode before you connect HIL (which turns on HIL mode) the flight mode changes are rejected by firmware. So the messages are getting to the board.
- If you attempt to changle flight mode after HIL is turned on firmware no longer responds to messages from QGC. Not on does flight mode change no longer work, but things like param refresh are not

[2016-01-05 18:51] LorenzMeier commented on #2525
Thanks, that cross validation is helpful. Its some sort of regression. I need to instrument the receive logic if we suffer from a buffer overflow or if the vehicle's HIL state machine somehow disables command handling in a bad way.

[2016-01-05 18:54] DonLakeFlyer commented on #2525
I intrumented commander and it didn't seem like the flight mode message ever got  there. After that I gave up.

[2016-01-05 18:57] #2525 closed

[2016-01-05 20:15] DonLakeFlyer opened #2536 "Mission Editor: Delete all, doesn't set dirty bit"

[2016-01-05 21:37] #2350 closed

[2016-01-05 21:45] DonLakeFlyer opened #2538 "Log download gets stuck in a loop on APM"
Get's a couple logs in the list then spits out of continuous stream of these:
[code]

[2016-01-05 21:51] #2536 closed

[2016-01-05 21:53] DonLakeFlyer commented on #2518
This is correct behavior. The caller is respondible for memory management when using QmlObjectListMode.

[2016-01-05 21:53] DonLakeFlyer commented on #2526
Related to Issue #2507

[2016-01-05 21:57] dogmaphobic commented on #2538
Yep, I need to flash something with APM to test this...

[2016-01-05 21:58] DonLakeFlyer commented on #2538
Figured I'd give it a try to see if you got lucky

[2016-01-05 22:01] LorenzMeier commented on #2538
It would be fantastic if you could put up a few words on the protocol in this repo using this fantastic markup notation:
https://github.com/mavlink/mavlink_devguide/blob/master/concept-protocol-mission.md

Which renders to this:
http://dev.mavlink.io/concept-protocol-mission.html

[2016-01-05 22:07] dogmaphobic commented on #2538
That's quite a bit of sorcery :) I had in mind to put something down (I had even asked Don where I could write it up) as the protocol is not quite obvious. I will wait I until I figure out what's wrong with APM and then write it up. While at it, how much breakage would it cause to bump the payload from 90 bytes to the maximum allowed? That is a big hit in performance.

[2016-01-05 22:10] LorenzMeier commented on #2538
Why is it a hit in performance? Why can't we just put the packets back to back?

[2016-01-05 22:20] dogmaphobic commented on #2538
At minimum, the header versus payload ratio is higher. For UDP, a full 1,500-byte frame is sent each time regardless.

[2016-01-05 22:23] dagar opened #2540 "linux gstreamer exact dependencies"
Document exact Ubuntu gstreamer dependencies and install them on travis-ci. Currently the documentation says to install everything which is probably excessive.

    sudo apt-get install gstreamer1.0*
    sudo apt-get install libgstreamer1.0*

[2016-01-05 22:29] LorenzMeier commented on #2538
I am fully aware. But nothing keeps you from holding off a few more microseconds before sending off the frame. Then if the UART buffer on the AP side is large enough you should get 200-500 bytes at a time (the full buffer).

[2016-01-05 22:36] dogmaphobic commented on #2538
Hmm... Something to tweak at the 8266 firmware level. I'll see what I come up with. I don't exactly have threads and interrupt routines cannot mess with (non re-entrtant) system calls. Nice puzzle though :)

[2016-01-05 23:19] dogmaphobic commented on #2538
@DonLakeFlyer I just flashed APM in one of the Pixhawks. Do you have the file hierarchy (in the MicroSD card) where the log files are stored? Along with their naming. I have to create a bogus list as there is no way I can generate those *normally*.

[2016-01-05 23:41] DonLakeFlyer commented on #2538
Turn off arming checks and arm the vehicle and you should get some logs.

[2016-01-06 03:54] dagar opened #2542 "Linux Daily Build (qgroundcontrol.tar.bz2) built by travis-ci doesn't work"

[2016-01-06 04:22] dagar commented on #2542
It seems to be something to do with libQt5Core.so.5, which is the only lib that's different from my local machine.

[2016-01-06 04:23] DonLakeFlyer opened #2543 "Set RC to Param support is PX4 Stack specific"
Need to remove from APM side

[2016-01-06 05:17] DonLakeFlyer opened #2544 "Mission Editor: When you scroll the waypoint list it also zooms the map below it"
Also scrolling by dragging with the mouse doesn't seem to work.

[2016-01-06 05:30] DonLakeFlyer commented on #2544
The MouseArea to catch clicks and add new items is interfering with drag movement.

[2016-01-06 09:13] AndreasAntener commented on #2544
What I just noticed is that dragging with my trackpad screws it up to the point where clicking and and dragging with the mouse also doesn't work anymore.

[2016-01-06 16:19] dagar commented on #2266
@DonLakeFlyer do you have a milestone in mind for a wider android release (and this issue)?

[2016-01-06 17:13] DonLakeFlyer commented on #2544
Yup. Was looking at that last night.

[2016-01-06 17:15] DonLakeFlyer opened #2548 "Mission Editor: Pan/Scroll gets stuck and then you can't click on any map buttons"
@AndreasAntener Are you running on a Mac and panning with a trackpad?

[2016-01-06 17:16] AndreasAntener commented on #2548
Yup

[2016-01-06 17:21] DonLakeFlyer commented on #2548
To get it unstuck, do some small two finger zoom things a couple time and eventually it will come back. Looks like Qt bug. Going to have to figure out a workaround.

[2016-01-06 17:24] DonLakeFlyer commented on #2266
I'm thinking we go Stable on Android after the 3.0 release. Hoping to get enough APM testers to wring android out some more.

For now I'll grab some more screenshots and clean the store listing up.

[2016-01-06 17:28] DonLakeFlyer commented on #2515
Flight Mode config is also referencing these missing params.

[2016-01-06 17:30] DonLakeFlyer commented on #2542
@pkocmoud Was saying it only showed up recently. Maybe a week old. Something recent broke it.

[2016-01-06 17:30] pritamghanghas opened #2549 "search dialog not coming up in parameter view"
Other side dialogs may also be affected.
qrc:///qml/QGroundControl/Controls/QGCView.qml:144: Error: Cannot assign [undefined] to int

somehow panel.showDialogDefaultWidth seems to be missing.

[2016-01-06 17:35] dagar commented on #2266
I've started flying tablet only so I can update the screenshots.

I'm somewhat concerned we're going to receive negative reviews from phone users. I wonder if we should limit distribution to only large phones + tablets. Thoughts?

[2016-01-06 17:36] DonLakeFlyer commented on #2266
I put in 7" and above in the text. Could you see if there is some way to set that up so that it rejects devices with smaller screens?

[2016-01-06 17:39] #2549 closed

[2016-01-06 17:44] DonLakeFlyer opened #2551 "Limit Play store installs to 7" tablets or larger"
Hopefully there is some way to do this.

[2016-01-06 17:46] pkocmoud commented on #2542
Initially I thought it was a bad daily build, since the stable release works fine. I plan on installing the most modern non-LTS version of Ubuntu as that may have a better video driver. However, the LTS is the better solution in my opinion.

[2016-01-06 17:47] DonLakeFlyer commented on #2542
The video driver thing is bogus, sorry about that. Both Daniel and I can reproduce this one our machine. Daily build is just broken.

[2016-01-06 17:48] pkocmoud commented on #2542
So, should I delay the OS upgrade?

[2016-01-06 17:49] pritamghanghas opened #2552 "APM: GCS failsafe option in safety screen"
screenshot of mission planner, helpful when vehicle is driven by GCS in autonomous or guided mode.
http://copter.ardupilot.com/wp-content/uploads/sites/2/2012/01/RadioFailsafe_MPSetup.png

[2016-01-06 17:56] dagar commented on #2551
Seems straightforward -
http://developer.android.com/guide/topics/manifest/supports-screens-element.html
http://developer.android.com/guide/practices/screens-distribution.html

I did some testing with my Nexus 6p (5.7" screen) and it's nearly usable, but a few things are off screen (mission planner, etc). So for the release I'll set it to tablet only, but we should try to phase in phone support as

[2016-01-06 18:52] DonLakeFlyer commented on #2542
It won't fix the problem.

[2016-01-06 20:17] DonLakeFlyer commented on #2542
I was just building my own version of Qt on Ubuntu and got this while running configure:
[code]

Seems vaguely similar to the above problem?

[2016-01-07 08:27] LorenzMeier opened #2553 "HIL mode floods serial link"
@DonLakeFlyer I have labeled this all firmware, but it could be well a PX4 bug: When the joystick is enabled, the arriving manual_control packets force the autopilot into manual mode.

Is there any sort of mode setting associated with the joystick code, or does it just send manual control messages? Could this be the button to flight mode functionality going wrong?

This is the follow-up issue to t

[2016-01-08 00:51] billbonney commented on #2552
GCS Failsafe works in all mode in Plane, ie. when contact is lost the plane will trigger a failsafe. In Copter GCS_Failsafe only works in RC_OVERIDE mode.

[2016-01-08 14:05] cfelipesouza commented on #2440
I've been doing the icon family for PX4, as requested by @LorenzMeier, maintaining the same style as used today. I would like to share to receive some feedback, because I have doubts about the rotation and numeration of the rotors. Do you guys have this information to help me?

Feel free to comment about the drawing and, if I missed something or did something wrong, tell me than I can correct asap

[2016-01-08 14:13] LorenzMeier commented on #2440
@cfelipesouza Would you prefer to move the new icon style immediately? Do you have an example?

[2016-01-08 14:51] biapalmeiro commented on #2440
@LorenzMeier If it's not a problem to you, I prefer to start improving some usability issues then move to redesign the UI. What do you think? BTW, if @cfelipesouza has an example to send you, I don't think it's a big problem too.

[2016-01-08 15:32] LorenzMeier commented on #2440
I'm perfectly fine going with these, they look great! I just don't want to imply that we're in any way clinging on to the current visual style. We want it to be awesome!

[2016-01-08 15:33] LorenzMeier commented on #2440
Can you put the SVG files somewhere so we can download them?

[2016-01-08 15:49] cfelipesouza commented on #2440
@LorenzMeier , I'm working on the new style. I've made some tests but I don't have a finished example. For now, I prefer to move with the current style.

To be awesome (I want it to!) I would like to give more efforts and time on this, discussing some points before presenting something new. For example: arrows, are they necessary or can I explain the rotor sense using only colors? Is 2D the best w

[2016-01-08 15:52] LorenzMeier commented on #2440
Sorry, I skipped over that part. I need a little more time to review all of them. In general the rotation direction is pretty small and not well visible. Should we remove the arrows and add a legend with turn direction arrows? Do you see another method?

[2016-01-08 16:32] dogmaphobic commented on #2440
Don and I were talking about this the other day. Unless you make the arrow huge, there is no practical way to expect you will be able to determine proper direction from this icon. It makes more sense for the icon to be only representative of the vehicle (and not much else). Once you select a vehicle, a larger dialog would come up showing a better view, with not only proper rotation direction but a

[2016-01-08 16:57] cfelipesouza commented on #2440
I did some research and I noticed that, ~normally~, green is for CW and blue for CCW in many others GCS's. Maybe this could be a pattern and arrows and legend aren't needed. Maybe. I will do some tests about arrows and reduction and maybe I can find a way to maintain them well visible. But the big problem for me are the rotor numbers. I do agree with @dogmaphobic: a larger dialog or something like

[2016-01-08 17:26] lvale opened #2555 "Flaps for a quad ?? QGC (from master) on OSX"
While doing radio setup on PX4 do we really need to ignore the flaps setting up (i.e. Skip it)? As it is a quad the prompting for flaps is kind of unnecessary...imho :)

<img width="1435" alt="screen shot 2016-01-08 at 16 35 01" src="https://cloud.githubusercontent.com/assets/3130363/12205694/0cb6cdfc-b634-11e5-822a-885595fe539e.png">

<img width="646" alt="screen shot 2016-01-08 at 17 18 38" src=

[2016-01-08 18:16] lvale opened #2556 "PX4 - QGC setting quad - Power tab"
Setting up a Quad using PX4 master on the power tab there is no place to set up the battery capacity, that has to be set on the Parameters screen. I believe it makes sense to have the Battery capacity on the Power Tab.

<img width="993" alt="screen shot 2016-01-08 at 16 59 52" src="https://cloud.githubusercontent.com/assets/3130363/12205663/e9fb7696-b633-11e5-8c14-b06a8b804e83.png">

<img width="1

[2016-01-08 19:24] biapalmeiro commented on #2440
@DonLakeFlyer , @LorenzMeier We are working on the other aspects you discussed here, probably in the beginning of the next week we will send you an update. Thanks a lot!

[2016-01-08 20:28] NaterGator commented on #2264
This bug is related to the [renderType](http://doc.qt.io/qt-5/qml-qtquick-text.html#renderType-prop) being set to NativeRendering when there are some transformations applied or inherited.

For example, to fix the Firmware page simply add `renderType: Text.QtRendering` [here](https://github.com/mavlink/qgroundcontrol/blob/0d962e0a66ba6c421362edc2f42b0ef128b3de6a/src/VehicleSetup/FirmwareUpgrade.qml

[2016-01-08 22:27] NaterGator commented on #2264
Per [this](https://bugreports.qt.io/browse/QTBUG-46030) Qt bug report the issue can also be mitigated by not using fractional positioning of the SetupView.

[2016-01-09 00:47] jmachuca77 commented on #2507
Since you are asking about surveying, I will answer with what we do for that, however, there are a lot of other uses that need different camera controls and trigger modes.

For surveying I tend to use the distance trigger, its the most convenient way to trigger the camera since triggering with specific waypoints is not scalable. Either way (distance or specific waypoint) what we are trying to acco

[2016-01-09 13:52] lvale opened #2560 "QGC default map location"
I believe that the default location shown on the map could be saved on the last location received by a vehicle instead of just jumping back to SF.

Example: I disconnected the vehicle while in Europe, and as soon I disconnected the location map just jumped back to the pic.....

Also, some display of coordinates would be useful. Perhaps a crosshair in the middle of the view, and the location would

[2016-01-09 14:02] lvale opened #2561 "Wrong VDOP displayed"
When connected to APM 3.3.2 copter this value is wrong (I'll have to check but I think is not sent by APM)

<img width="398" alt="screen shot 2016-01-09 at 13 31 27" src="https://cloud.githubusercontent.com/assets/3130363/12216450/9df78086-b6d9-11e5-8165-c0fe531a0c73.png">

[2016-01-09 15:05] dogmaphobic commented on #2561
That means the value was not present. The receiving code initializes the value to 1e10f (an absurd value) to indicate it's not present. The dialog missed that and it's displaying it any way. It should just say "N/A" (or something along those lines).

[2016-01-09 15:27] blankered opened #2563 "pixhawk latest firmware connection issue"
Hello,
I was using qgroundcontrol v2.8.0 to update my pixhawk to the latest firmware and found that it does not connect to qgroundcontrol after flashing it. It does however connect to qgroundcontrol after flashing the APM firmware. I am confused why this is happening, the ports in qgroundcontrol were the same when compared to the dmesg output in Ubuntu 14.04. Is this a firmware issue or qgroundcon

[2016-01-09 15:48] LorenzMeier commented on #2563
Can you please re-flash? I have cross tested this and it should work just fine with the latest code.

[2016-01-09 16:06] dogmaphobic commented on #2561
@lvale Can you please check and see if this indeed resolved the issue?
Thanks!

[2016-01-09 16:33] lvale commented on #2551
I tend to use more my mobile phone (OnePlus One 5.5" screen) than my Android 10" tablet, even as @dagar says it can get some elements out of place.

[2016-01-09 19:44] LorenzMeier commented on #2563
It would be fantastic if you could re-try and provide us an update.

[2016-01-09 23:41] DonLakeFlyer commented on #2542
@dagar Any news on this one? Want' to announce QGC APM Beta, but need this fixed for that.

[2016-01-10 13:29] lvale commented on #2561
It's ok now. But spotted another issue. I'll open it

<img width="737" alt="screen shot 2016-01-10 at 13 17 30" src="https://cloud.githubusercontent.com/assets/3130363/12221706/2f0ef972-b79e-11e5-85ca-1e720a35211c.png">

[2016-01-10 13:29] #2561 closed

[2016-01-10 13:33] lvale opened #2566 "QGC OS X latest with APM Copter GPS Status incomplete"
Hi,

I was checking for other issue and found that GPS Status is not being correctly reported.
APM reports these:

https://github.com/diydrones/ardupilot/blob/6bc19cd44c6b538bff2d6c089c2a706c171b35a9/libraries/AP_GPS/AP_GPS.h#L75

   /// GPS status codes
    enum GPS_Status {
        NO_GPS = 0,             ///< No GPS connected/detected
        NO_FIX = 1,             ///< Receiving valid GPS mes

[2016-01-10 15:03] LorenzMeier opened #2567 "MAVLink input data garbling"
We should ensure we have this enabled on the UART:

https://github.com/mavlink/c_uart_interface_example/blob/master/serial_port.cpp#L359-L495

I can see that the parameter count gets modified by the input processing on my machine.

[2016-01-10 15:14] LorenzMeier commented on #2567
With this debug diff:

[code]

I get this string feedback on a param load attempt on PX4 master via radio:
[code]
Note that we're receiving it twice: Once with the correct payload data, once with the incorrect count. I have no idea what's going on there.

[2016-01-10 15:15] LorenzMeier commented on #2567
I debugged this on the Firmware side. Its sending the right thing!

[2016-01-10 15:28] LorenzMeier opened #2568 "GPS indicator confusing"
@dogmaphobic The GPS indicator says no GPS available when the GPS module is actually found and sends data. It would be good if the wording would clearly say it found the GPS receiver but no lock or it didn't find a GPS receiver at all.

<img width="361" alt="screen shot 2016-01-10 at 16 24 38" src="https://cloud.githubusercontent.com/assets/1208119/12222246/11afeb84-b7b7-11e5-90e6-470472bc0079.png

[2016-01-10 17:06] LorenzMeier opened #2569 "QGC connected to 3DR radio beachballs on exit"
When I have it connected to a 3DR radio (and not to USB) it goes into an endless loop on exit. I have to kill the app manually.

[2016-01-10 17:06] LorenzMeier commented on #2569
This is on Mac OS X 10.10

[2016-01-10 17:35] LorenzMeier commented on #2567
So the data was indeed garbled. Because of that frickin 2nd Pixhawk setup I had sitting on the CI hardware system which had the same radio ID. Cost me a complete afternoon. I hate it!

[2016-01-10 17:35] #2567 closed

[2016-01-10 17:37] DonLakeFlyer commented on #2567
Are you sure that doesn't have something to do with #2569 as well? Haven't tried to repro yet, but I was running radio last week without issue on OSX.

[2016-01-10 17:48] DonLakeFlyer commented on #2264
@NaterGator Thanks for the fix on this.

[2016-01-10 17:48] #2264 closed

[2016-01-10 17:51] DonLakeFlyer commented on #2556
Although there is a BAT_CAPACITY parameter I'm not sure anything triggers off of that value? Hence, setting it does nothing interesting.

[2016-01-10 20:12] blankered commented on #2563
I reflashed the pixhawk to the px4 firmware using v2.8.0. After I flashed it, I disconnected and reconnected the USB. I checked the dmesg output and verified the connection settings in QGroundControl. QGroundControl can find the px4 and flash it accordingly but wont bring up the parameters or calibration page. I have tried both the pre-compiled version and the qt compiled version with the same eff

[2016-01-10 21:20] DonLakeFlyer commented on #2563
This is an OS problem not a GGC problem.

[2016-01-10 21:25] blankered commented on #2563
@DonLakeFlyer This only occurs when I flash the px4 firmware. GGC connects when I flash the apm firmware. Why would it be firmware specific?

[2016-01-10 21:28] LorenzMeier commented on #2563
@blankered Its still an OS issue. It likely has nothing to do with Firmware but the sequence of your trial and error steps. Have you tried re-flashing the most recent PX4 Firmware (like from *now*) and trying again?

Also make sure to connect to the back of your PC (NOT A HUB) and to not power your whole drone off USB (your USB doesn't provide enough power)

[2016-01-10 21:29] DonLakeFlyer commented on #2563
I can't answer that, but that error is exactly what you get when there is an OS permission issue. Given the fact that you are clicking a Connect button I assume you are running a Stable build. I'd also make sure you are using a daily build.

[2016-01-10 21:37] dagar commented on #2542
I still don't why it's broken when created on travis-ci, but works when created locally. I'll try another source of Qt for travis.

[2016-01-10 22:14] sanderux opened #2571 "Firmware upgrade fails on underpowered USB port"
On a USB2 port, that might be under powered, the firmware upgrade process fails with the following statement;
[code]
The user can resolve this by connecting the device to a USB3 port or an externally powered USB hub.
A notice could indicate this upon failure, or an informative text could warn the user about this in the Firmware upgrade section.

[2016-01-10 22:20] DonLakeFlyer commented on #2551
So what's the consensus, don't look out below 7" since it "sort of" works? If so, we need a much more prevalent warning to 7" and below usage being on an as-is basis for now.

[2016-01-10 22:24] blankered commented on #2563
I have both the stable build and daily build. I tried flashing the px4 firmware using the daily build, a usb port off the back of my tower, and battery pack connected. It still fails to connect after flashing the firmware, the pixhawk boots and starts to flash red rapidly. If I use QGC to flash the apm firmware then I have no problems getting the pixhawk to connect and show the summary page.

[2016-01-10 22:33] DonLakeFlyer commented on #2515
@pritamghanghas Can you tell me again what params are missing when you go to Flight Mode config on your linux board? I'm not seeing references to the same missing params in the code.

[2016-01-10 22:35] LorenzMeier commented on #2563
Can you flash it again today, unless you have done that already? I want to be sure that both QGC and the Firmware are absolutely recent - depending on the combination they need to be absolutely recent.

[2016-01-10 22:36] LorenzMeier commented on #2551
I would be wary about running on anything that's not officially supported. Users will still complain and remember the bad experience. Either put up the work to support it or do not offer it in the first place.

[2016-01-10 22:52] blankered commented on #2563
OK, so I reformatted the SD and it fixed itself. QGC has established a connection with the px4 after the flashing process. I reflashed using the daily build with the px4 master build firmware. I am going to do so testing to see if the problem is actually fixed and report back later. Thank you for your help.

[2016-01-10 22:57] LorenzMeier commented on #2563
That's quite interesting. Could you try that at the end again to see if maybe flashing APM actually threw off the PX4 boot?

[2016-01-10 22:58] DonLakeFlyer commented on #2515
@pritamghanghas Once you have that can you enter a new Issue with that in it? I'm closing this one since the Radio Config is fixed.

[2016-01-10 22:58] #2515 closed

[2016-01-10 23:16] DonLakeFlyer commented on #1879
@LorenzMeier Is this done now?

[2016-01-10 23:18] LorenzMeier commented on #1879
Yes, all done.

[2016-01-10 23:18] #1879 closed

[2016-01-10 23:29] #2443 closed

[2016-01-10 23:32] DonLakeFlyer commented on #2524
This will only sort of work since you can turn off UDP auto-connect. @dogmaphobic Did you say you had some way to do this?

[2016-01-10 23:37] DonLakeFlyer commented on #2552
Is there anything more than the FS_GCS_ENABL parameter for this?

[2016-01-10 23:48] #2543 closed

[2016-01-10 23:51] DonLakeFlyer commented on #2551
I'm kind of in the same camp as Lorenz. So I say we lock it down from the store. I assume if someone really really really wanted phone support (and can't tether to a larger tablet) then they could install the .apk manually.

[2016-01-11 00:07] lvale commented on #2556
Theoretically if the "reserve capacity" is reached then Failsafe gets active. And the reserve is calculated by Design capacity - consumption (mAh)= remainder > reserve cap

<img width="276" alt="screen shot 2016-01-11 at 00 04 02" src="https://cloud.githubusercontent.com/assets/3130363/12224983/05142f6c-b7f7-11e5-88ac-189b3b18f739.png">

[2016-01-11 00:10] lvale commented on #2556
Just checked the code and it's being verified here:

https://github.com/diydrones/ardupilot/blob/8fdbb36827ca489df157984c4a8b444a7300a6e4/libraries/AP_BattMonitor/AP_BattMonitor.cpp#L274

[2016-01-11 00:14] lvale commented on #2551
Are there any real usage stats available to check which %% of larger tablets are used, besides what @dagar mentioned above ?

[2016-01-11 00:17] lvale commented on #2556
Sorry. Wrong fw. I was thinking APM.

[2016-01-11 00:17] #2556 closed

[2016-01-11 02:10] DonLakeFlyer commented on #2556
@LorenzMeier Is the bat capacity (maH) used anywhere on PX4 stack? Seems like I remember it wasn't yet.

[2016-01-11 02:15] julianoes opened #2574 "Configurable units in the instruments / flight view"
It would be nice if the units of the flight view could be changed, for instance I'd want to use m/s instead of km/h.

If this has already been added after 2.8.0, excuse my ignorance!

[2016-01-11 02:26] DonLakeFlyer commented on #2574
This is doable but first the firmware needs to standardize on parameter unit definitions. Right now most parameter units are just unknown quality strings. So you can't really trust that "km/h" is what you expect in order to translate it. It requires validation of units on the firmware parameter meta data generation side as well as validation against a known set.

[2016-01-11 02:28] julianoes commented on #2574
Ok but the units are mostly defined in the mavlink comments, right?

[2016-01-11 02:31] DonLakeFlyer commented on #2574
Ah, sorry you said "Flight View". Those are more locked down and don't need parameter meta data. That could all be done on the QGC side.

[2016-01-11 02:40] julianoes commented on #2574
Yes, I guess that's what I meant.

[2016-01-11 04:51] dagar commented on #2542
I believe the linux package is missing qt plugins, but finding them locally. Working on a fix.

[2016-01-11 11:21] pritamghanghas commented on #2552
Looking at APM code seems to suggest that it will be active for arducopter also in guided mode.
https://github.com/diydrones/ardupilot/blob/master/ArduCopter/events.cpp#L174

[2016-01-11 15:30] biapalmeiro commented on #2440
@DonLakeFlyer , @LorenzMeier , @tcanabrava told us you have concerns about the APM airframe setup. Could you tell us more details about it?

[2016-01-11 17:53] #2551 closed

[2016-01-11 18:16] DonLakeFlyer commented on #2569
I tried repro'ing by doing the following:
- Radio connected to desktop, boot QGC, boot Vehicle, turn off Vehicle
- Radio connected to desktop, boot QGC, boot Vehicle, shutdown QGC
- Radio connected to desktop, boot QGC, boot Vehicle, pull desktop USB radio plug

All worked fine.

[2016-01-11 19:13] biapalmeiro commented on #2440
[QGroundControl - Airframe Setup - vs1.1.pdf](https://github.com/mavlink/qgroundcontrol/files/86198/QGroundControl.-.Airframe.Setup.-.vs1.1.pdf)

Guys, I've attached the updated wireframe according to our discussions here.

We have some questions about this issue:

1) About the PX4 icons:
- we are not sure about what Simulation and Tricopter Y- are.
- could you check the numbers and the correct ro

[2016-01-11 19:45] DonLakeFlyer commented on #2553
The reason HIL is not working correctly or flaky is because the rate at which QGC is sending HIL messages to the firmware seems to be choking out the connection on the firmware side. All the right messages are being sent by QGC they just are never seen by the firmware. I hacked QGC to stop sending the high rate HIL messages and then everything works. Change modes are seen, param request goes throu

[2016-01-11 19:48] LorenzMeier commented on #2553
Thanks! Let me see if I can fix this for good.

[2016-01-11 20:42] #2544 closed

[2016-01-11 20:43] DonLakeFlyer commented on #2563
@blankered What's the state of this? Is there a QGC problem here?

[2016-01-11 20:49] #2571 closed

[2016-01-11 20:49] DonLakeFlyer commented on #2553
FYI: There still could be some joystick issue here. But that main message loss problem needs to be fixed before that can really be looked at.

[2016-01-11 21:59] #2312 closed

[2016-01-11 22:02] DonLakeFlyer commented on #2316
Requires too much special casing to deal with this. Since PX4 Flow has no real Stable that is different than master it's as "Stable" as it gets.

[2016-01-11 22:02] #2316 closed

[2016-01-11 22:34] #2568 closed

[2016-01-11 22:34] #2566 closed

[2016-01-11 23:36] DonLakeFlyer opened #2581 "Mission Editor help screen overlaps with Help pop up"

[2016-01-11 23:40] DonLakeFlyer opened #2582 "Look into Qt Quick Compiler"
http://doc.qt.io/QtQuickCompiler/

[2016-01-12 05:16] DonLakeFlyer opened #2584 "Something wrong with multiple components and param editor"
<img width="1006" alt="screen shot 2016-01-11 at 9 15 31 pm" src="https://cloud.githubusercontent.com/assets/5876851/12255447/9fddfd28-b8a8-11e5-9f0d-82ba7b116d49.png">

[2016-01-12 05:50] DonLakeFlyer opened #2585 "Mission load bug"
- QGC + PX4 MockLink
- Add some waypoints, send to vehicle
- Delete one waypoint
- Load from Vehicle
- No waypoints show up

[2016-01-12 05:54] DonLakeFlyer commented on #2585
Looks like MissionManager::inProgress flag is incorrect

[2016-01-12 12:52] marianobianchi commented on #601
I have this problem too

[2016-01-12 13:06] LorenzMeier commented on #2553
We almost need a outgoing MAVLink inspector widget for this. I think that QGC is flooding the link with something other than the HIL packets, because even if I limit them to 50 Hz its still not able to keep up. Firmware does read them immediately, so I suspect there is a stream of messages I'm not expecting which is screwing us over.

[2016-01-12 13:06] LorenzMeier commented on #2569
This was with two radio pairs on the same frequency. Maybe it triggered a freak condition inside QGC. Closing for now.

[2016-01-12 13:06] #2569 closed

[2016-01-12 15:38] cfelipesouza commented on #2440
I've done the APM icon family. Here I also need help, review and feedback about the rotors.
If I missed something, just let me know.

![qcg_icons_apm](https://cloud.githubusercontent.com/assets/7512740/12267932/a25e9bc8-b931-11e5-9e6b-2b1c27142329.png)

[2016-01-12 15:52] LorenzMeier commented on #2440
Y- is a tricopter with opposite rotation direction. I think I will fold them both into the Tricopter category though, so no need for a 2nd airframe.

Simulation is difficult: The easiest would be to combine three of the airframes into a single icon, e.g. a quad, a plane and a VTOL grouped together. Or if that's too tight you could use a standard plane and different colors to indicate  a difference

[2016-01-12 17:29] cfelipesouza commented on #2440
I'm sending all the icons I've made, exported in SVG format and without arrows. The file is organized by APM and PX4, but you guys can use as you want.

Again, if I missed something, let me know.

[AirframeIcons.zip](https://github.com/mavlink/qgroundcontrol/files/87677/AirframeIcons.zip)

[2016-01-12 17:46] LorenzMeier commented on #2440
Thanks!

@DonLakeFlyer We should not make these two different icon sets. PX4 and APM use *exactly* the same physical configurations and the final airframe name comes from the airframe XML anyway. We shouldn't parallel efforts for something that is the same and we have to push a bit on both projects to try to weed out subtle differences wherever they can.

[2016-01-12 17:47] DonLakeFlyer commented on #2553
Just qDebug the Vehicle::_sendMessage. I only had to kill two message ids. Can't remember which ones.

[2016-01-12 17:49] DonLakeFlyer commented on #601
@dogmaphobic Can you look a this? No idea how proxy settings affect network access.

[2016-01-12 17:52] DonLakeFlyer opened #2586 "ParameterlLoader handling of multiple components and hash"
- Request parameter list as well as hash values at start
- The hash cache must be separated out by component
- hash values will come back from each component
- If hash comes back from component and the hash matches write a value back to that components hash value, which will in turn stop the param list. Then use the cache for that component

[2016-01-12 17:58] DonLakeFlyer commented on #2408
Still need to fix:
1) Offline edit
2) Connect to Vehicle
3) Waypoints from Vehicle stomp offline edit waypoints

[2016-01-12 17:59] DonLakeFlyer opened #2587 "Windows qgccrash.reg file is missing"
This was used to capture crash dumps. Will need to double check crash dump usage as well with change to not push .pdbs with release.

[2016-01-12 18:34] DonLakeFlyer commented on #2440
Never said anything about two different icon sets. What I said was that I wanted to generate these images programmatically from the airframle xml definition. This way we aren't contuously chasing the latest frame config icon. It would also allow us to draw both small version for airframe selection and larger versions which show rotation and motor wiring numbers more easily.

Issues:

- The current

[2016-01-12 18:38] DonLakeFlyer opened #2588 "Fly view: Zooming causes Vehicle to go off center, even when Follow Vehicle is set"
Vehicle should remain centered in map is Follow Vehicle is turned on.

[2016-01-12 18:59] DonLakeFlyer commented on #2408
Also the prompt dialogs are incorrect. Still showing placeholder text.

[2016-01-12 19:05] DonLakeFlyer commented on #2408
Prompt dialogs are fixed

[2016-01-12 19:19] biapalmeiro commented on #2440
Thanks @DonLakeFlyer for your answer. So, we will wait your adjustment to look it up again. If you prefer, you can send us just the flow for this configuration and we figure out how to fix the screen.

About the screen title and the airframe groups (it is not clear to me if it is an idea yet, but if yes), can we do some proposes to you evaluate?

[2016-01-12 19:25] DonLakeFlyer commented on #2440
I think I could mock up some images for a flow and then you could take it from there.

[2016-01-12 19:35] biapalmeiro commented on #2440
Ok. Great! I think if you just list the sequence of steps it is a good start point for us. Thank you.

[2016-01-12 21:25] #2585 closed

[2016-01-12 23:44] julianoes commented on #2574
FYI @georgehines

[2016-01-13 03:54] dagar commented on #2268
Android now limited to 7"  https://github.com/mavlink/qgroundcontrol/issues/2551

[2016-01-13 03:54] #2268 closed

[2016-01-13 05:35] #2433 closed

[2016-01-13 05:38] DonLakeFlyer commented on #2582
Appears to only be available in the commercial version of Qt.

[2016-01-13 05:46] #2581 closed

[2016-01-13 06:08] #2552 closed

[2016-01-13 06:13] harewei opened #2593 "PX4Flow video downlinking tab missing"
Hello

I've just installed qgroundcontrol by pulling from
git clone --recursive https://github.com/mavlink/qgroundcontrol.git
and compiling with Qt5.5.1

I'm able to run it, but I could no longer find the PX4Flow video streaming tab that existed a couple of days ago.  Could someone tell me where it is?  If not, how do I install the old version, such as 2.7.1?  Because I tried downloading the sourc

[2016-01-13 06:15] DonLakeFlyer commented on #2593
The PX4Flow has to be connected directly to QGC via USB for it to show up. Nothing has changed here in a while.

[2016-01-13 06:21] harewei commented on #2593
I connected with USB, but the it was showing up as if a coptor has been connected (with the airframe, radio setup etc tabs on the left hand side), but no video downlink tab

[2016-01-13 06:26] DonLakeFlyer commented on #2593
I’ll try it tomorrow to see what I get.

[2016-01-13 06:58] harewei commented on #2593
ok.  oh and by the way, the 2.8 version which I could see video downlink was from a week ago, and from memory it had a qgroundcontrol-splash.sh which I called directly, without me needing to compile through qt.

I have since then reformatted my laptop and downloaded the new v2.8.0-483-g438cf36 (development) that I needed to compile with qt, and launched with
~/build-qgroundcontrol-Desktop_Qt_5_5_1

[2016-01-13 11:48] dogmaphobic commented on #2524
The problem is that you can configure a different port. If you do that, there is no simple way to find it (the config is only loaded way later in the game and this test has to be done very early.

I added this code to main() and it works but it implies assigning another port just for this (14551 in this case):

[code]

If that's acceptable, I have it ready for a PR.

[2016-01-13 11:51] dogmaphobic commented on #2524
On Mac OS, the code above even brings the existing instance to the foreground.

[2016-01-13 17:34] DonLakeFlyer commented on #2524
I don't know much about whether taking another port is ok. @LorenzMeier ?

[2016-01-13 17:42] DonLakeFlyer commented on #2593
PX4Flow is working fine for me on Daily Build:
![screen shot 2016-01-13 at 9 38 54 am](https://cloud.githubusercontent.com/assets/5876851/12302341/974271ee-b9d9-11e5-8458-7054da4d31f5.png)

If you are seeing setup buttons like Radio Config and so forth then are you sure you are not connecting a Pixhawk via USB which has a PX4Flow then connected to it. In order to get video setup button to focus th

[2016-01-13 17:50] #2582 closed

[2016-01-13 17:53] DonLakeFlyer commented on #2588
This only happen if you move the map first. So this is ok.

[2016-01-13 17:53] #2588 closed

[2016-01-13 18:11] dogmaphobic commented on #2180
This is all done.

[2016-01-13 18:11] #2180 closed

[2016-01-13 18:12] dogmaphobic commented on #2117
Where it matters, this was done a while back.

[2016-01-13 18:12] #2117 closed

[2016-01-13 18:12] dogmaphobic commented on #1182
This has been done for almost a year. Just forgot to close it.

[2016-01-13 18:12] #1182 closed

[2016-01-13 18:26] DonLakeFlyer commented on #2532
The change to move the settings location on OSX is screwin up a bunch of other stuff as well. The parameter meta data is stored in the same location. By using the .ini format Qt creates a directory for all this stuff with the org naming. Then you have everything in one place. By switching to plist it no longer creates a directory and instead dump everything in Preferences which could then lead to

[2016-01-13 18:26] dogmaphobic commented on #2015
I fixed the original issue, Mac OS TTS, a while back. If we have a compelling reason to change the current target (10.6) we can re-open this.

[2016-01-13 18:26] #2015 closed

[2016-01-13 18:35] #2465 closed

[2016-01-13 18:43] DonLakeFlyer commented on #2440
Thanks @cfelipesouza. I'll begin integrating these and comment if I find any problems.

[2016-01-13 18:44] DonLakeFlyer commented on #2440
FYI: My plan for V3.0 release is to move to the new icon set but still use the existing UI mechanism. Then for V3.1 we will move to the next aiframe config flow/ui which is in discussion.

[2016-01-13 19:03] DonLakeFlyer opened #2599 "Airframe Config Icons"
First let's list out the needed icons and  consistent filenaming:
* Helicopter
  * Single rotor - Helicopter
  * Coaxial rotor - HelicopterCoaxial
* Flying Wing
  * Simple version (no rotors) - FlyingWing
  * VTOL Duo Tailsitter - VTOLDuoRotorTailSitter
  * VTOL Quad Tailsitter - VTOLQuadRotorTailSitter
* VTOL tiltrotor - VTOLTiltRotor
* Multi Rotor
  * Quad Rotor
    * Plus - QuadRotorPlus
    *

[2016-01-13 19:03] DonLakeFlyer commented on #2440
@cfelipesouza I'm moving the icon discussion to a separate Issue: https://github.com/mavlink/qgroundcontrol/issues/2599, so it doesn't clutter up this Issue.

[2016-01-13 19:07] biapalmeiro commented on #2440
@DonLakeFlyer Do you have any dates for the releases?

[2016-01-13 19:08] cfelipesouza commented on #2599
Great @DonLakeFlyer! Just to clarify, I split into two sets just to organize myself and the file I sent you. I totally agree that both should use the same icons. :)

[2016-01-13 19:29] DonLakeFlyer commented on #2599
Issues with current set:
- There is only one set of airframe icons for QGC that encompass both PX4 and APM. No need to split them out into two sets. A QuadRotor Plus icon for example is the same for both PX4 and APM.
- I think the Helicopter should use the same color circle rotor visualization as the others (instead of showing individual blades).
![screen shot 2016-01-13 at 11 06 08 am](https://cl

[2016-01-13 19:35] dogmaphobic commented on #2534
I have not seen this in a few days. Closing it. I'll reopen if I see it again.

[2016-01-13 19:35] #2534 closed

[2016-01-13 19:54] dogmaphobic commented on #2532
Done in #2600

[2016-01-13 19:54] #2532 closed

[2016-01-13 19:57] DonLakeFlyer commented on #2599
@cfelipesouza First set of comments are good to go. I'm working to integrate the current set into the codebase now.

[2016-01-13 20:04] DonLakeFlyer commented on #2599
@LorenzMeier For the Coaxial setups do those have Plus and X variants?

[2016-01-13 20:26] LorenzMeier commented on #2599
We have Coaxial in + and x layout, yes. Although I think the + layout is not flown by anyone any more these days.

a foo coaxial has foo / 2 rotors on top and bottom each. So a coaxial octorotor has 8 rotors.

[2016-01-13 20:32] DonLakeFlyer commented on #2599
Ok, so we need Coaxial Icons in both style. I'll update the icon list.

[2016-01-13 20:33] dogmaphobic commented on #2599
I assume only for Octos, not Hexa (Y config)?

[2016-01-13 20:34] DonLakeFlyer commented on #2599
Removed Hexa Coxial from list since these are Y6A and Y6B variations.

[2016-01-13 20:43] DonLakeFlyer commented on #2599
Changed TriCopter naming to YPlus/YMinus to match Y6A/Y6B naming.

[2016-01-13 21:07] dogmaphobic commented on #2599
Isn’t a tri Copter one where the tail has a servo to tilt it? In that case, Y6A/Y6B are Hexa Coaxials, right?

[2016-01-13 21:17] DonLakeFlyer commented on #2599
TriCopter is three blade Y configuration (PX4/APM seem to use this naming) and Y6* for Hexa Coaxial.

For a Hexa Coaxial in PX4 terminology, which one is it:
![screen shot 2016-01-13 at 1 17 25 pm](https://cloud.githubusercontent.com/assets/5876851/12308091/0ee9ffe6-b9f8-11e5-820d-a9e038457c2f.png)
![screen shot 2016-01-13 at 1 17 37 pm](https://cloud.githubusercontent.com/assets/5876851/12308092/

[2016-01-13 21:22] DonLakeFlyer commented on #2599
Drawing bug, Heli is png, Flying Wing is svg:
![screen shot 2016-01-13 at 1 22 08 pm](https://cloud.githubusercontent.com/assets/5876851/12308204/bb24e0be-b9f8-11e5-8205-a13934399bb3.png)

[2016-01-13 21:46] #2542 closed

[2016-01-13 21:52] DonLakeFlyer opened #2603 "RCMAP_* params in APM are reboot required, careful with Radio Cal"
Don't write them unless they change. Otherwise it will pop messages.

[2016-01-13 22:34] DonLakeFlyer opened #2604 "New Aiframe Config Proposal"
![screen shot 2016-01-13 at 2 27 11 pm](https://cloud.githubusercontent.com/assets/5876851/12309877/e8aa2270-ba01-11e5-99f6-5dd662be7bd7.png)

Here is a completely hacked up minimalist screen shot of the new airframe config proposal. The basic concepts:
- Top of screen shows current airframe selection name
- There should be some more text fields below that like: Maintainer and probably a longer te

[2016-01-13 22:35] DonLakeFlyer commented on #2604
@biapalmeiro @cfelipesouza Here is the new airframe flow with hack visuals as discussed in #2440

[2016-01-13 22:47] LorenzMeier opened #2605 "MAVLink secure link icon"
We would want to create a new icon to indicate a secure link, much like HTTPS in a web browser.

[2016-01-13 22:48] LorenzMeier commented on #2605
@biapalmeiro @cfelipesouza Essentially the equivalent of the padlock in the browser.

[2016-01-13 22:55] DonLakeFlyer commented on #2408
This sequence is already working correctly.

[2016-01-13 22:55] #2408 closed

[2016-01-13 22:57] DonLakeFlyer commented on #2555
@LorenzMeier Which MAV_TYPE's are Flaps valid?

[2016-01-13 23:06] LorenzMeier opened #2606 "MAVLink 2.0 branch for testing & validation"
Tracks the QGC side of this:

https://github.com/PX4/Firmware/issues/3506

[2016-01-13 23:06] DonLakeFlyer commented on #2266
I just pushed a pile of new screenshots

[2016-01-13 23:11] dagar commented on #2266
New screenshots look good.

@DonLakeFlyer @LorenzMeier @dogmaphobic - I put the current description in my first comment, please edit it in place and I'll update the play store listing.

[2016-01-13 23:20] DonLakeFlyer commented on #2266
Let me look at the things like Tower or DJI description looks like for comparison.

[2016-01-14 00:16] harewei commented on #2593
Ok I figured out the problem.  I was using px4flow-klt-06Dec2014.px4 (which is the one I used to get loiter working with optical flow) for px4flow firmware before, and with that version installed, the video did not show up in QGC.

So the steps to solving my problem was, flashing with the latest stable PX4Flow firmware, change the lens focus with video display, then flash the custom firmware.

Tha

[2016-01-14 00:21] #2593 closed

[2016-01-14 06:49] LorenzMeier opened #2608 "Do not allow people to start QGC with sudo"
Too many stupid people run QGC with sudo to work around not having configured their system properly. Here is one way to work out if someone is running with root: http://stackoverflow.com/questions/26552517/get-system-username-in-qt

[2016-01-14 06:59] LorenzMeier opened #2609 "Show Linux permission setup docs on port open failure"
We should show the instructions to add the user to dialout and remove modem manager to users. Then a bold hint to reboot (not just logout). The reason being that you need to re-plug the USB device after logout / login and its already too complex for most people. They continue to not read any documentation and every Linux user results in support overhead.

[2016-01-14 12:08] biapalmeiro commented on #2604
@DonLakeFlyer Thanks. We'll take a look and give some feedback soon.

[2016-01-14 13:26] cfelipesouza commented on #2605
Where this icon will be placed??

[2016-01-14 14:13] LorenzMeier commented on #2605
In the status bar at the top to indicate the user wether he has a secure link.

[2016-01-14 14:27] dogmaphobic commented on #2605
I would put it up on top on the toolbar. Something like this (showing an insecure connection). Clicking/touching the icon would bring up a small pop up explaining to the user.

![screen shot 2016-01-14 at 9 17 19 am copy](https://cloud.githubusercontent.com/assets/749243/12326802/da27fd90-baa0-11e5-986f-6cb84fdca1ab.png)

[2016-01-14 14:51] LorenzMeier commented on #2605
It would be fantastic if it could be a MAVLink / drone specific style. So that by looking at the icon, you know its secure MAVLink (and not just some "lock").

[2016-01-14 17:42] DonLakeFlyer commented on #2608
Do you mean that the username will come back as "root" in these cases?

[2016-01-14 17:47] LorenzMeier commented on #2608
I haven't tested it, but that was my thinking.

[2016-01-14 18:56] dogmaphobic commented on #2608
Hmm, not sure about that. For Linux/Mac you would use uid. It returns 0 for root. This is irrelevant for Windows any way.

[2016-01-14 19:01] dogmaphobic commented on #2608
You want to call ```getuid()```. If it returns 0, it's root (or sudo).
http://linux.die.net/man/2/getuid

[2016-01-14 21:45] DonLakeFlyer commented on #2603
They are also not available in all firmware versions. So need to special case this.

[2016-01-15 01:05] lvale commented on #2560
@DonLakeFlyer
Sorted, thanks.
But :)

Vehicle had GPS lock and then was disconnected and this screen is correct, i.e. remained at the last known GPS Pos.

<img width="1436" alt="screen shot 2016-01-15 at 01 01 27" src="https://cloud.githubusercontent.com/assets/3130363/12342606/dbb00e0e-bb23-11e5-92d0-9d92455f6ada.png">

but if I move to the planning tab it goes back to SF

Shouldn't it inherit th

[2016-01-15 01:09] DonLakeFlyer commented on #2560
I can make it do that.

[2016-01-15 01:10] DonLakeFlyer commented on #2560
It's doesn't inherit the GPS position, because that ui is only created when you click the tab. If you never clicked the tab, then it never saw the gps position go by because it wasn't running.

[2016-01-15 01:20] lvale commented on #2560
I believe it makes sense to "inherit" the last known good position, in this case from the Fly tab.

[2016-01-15 01:26] lvale opened #2614 "Usability, scrolling lists"
On APM parameters, the scrolling list of parameters when too long and scrolled to the bottom, when changing to a smaller list does not appear.

Example:
Check this:
<img width="1440" alt="screen shot 2016-01-15 at 00 46 56" src="https://cloud.githubusercontent.com/assets/3130363/12342872/8d168fb8-bb26-11e5-8ebd-f14d217d1ebe.png">

scroll down to the bottom of this list:

<img width="1440" alt="scr

[2016-01-15 01:29] DonLakeFlyer commented on #2614
Related to #2469 which I just moved to 3.0.

[2016-01-15 02:10] lvale opened #2615 "APM parameter selection"
When modifying parameters with ArduPilot vehicle when one chooses to edit a value the edit dropdown should present the currently used value, instead of the first value of the options.

Case in point on the screen below:

<img width="1439" alt="screen-shot-2016-01-15-at-00 44 57" src="https://cloud.githubusercontent.com/assets/3130363/12343575/e2dcef54-bb2c-11e5-976e-892a1dee21ee.png">

GPS_AUTO_SW

[2016-01-15 02:56] #2615 closed

[2016-01-15 03:10] DonLakeFlyer commented on #2614
Tracking scroll feedback in #2649

[2016-01-15 03:10] #2614 closed

[2016-01-15 03:25] DonLakeFlyer opened #2619 "Check usage of INS_USE and OFFSET triggers for APM accel sensor"
INS_USE is not available in olders firmwares. If not available fall back to offsets for first accel only.

[2016-01-15 04:13] DonLakeFlyer commented on #2548
This looks to be a problem when you use the Map control in our hybrid QQuickWidget setup. It doesn't happen in a native qml window. Sigh!

[2016-01-15 04:23] DonLakeFlyer commented on #2548
Yup, I verified it by hacking desktop to run as Native Qml.

[2016-01-15 04:24] lvale commented on #2614
@DonLakeFlyer In this case it might be something else. I believe that when a new item is selected on the left list it should "reinitialize" the position of the list to be at the top, so that when one changes from category at the left, the list is always "painted" from the beginning.

[2016-01-15 04:27] DonLakeFlyer commented on #2614
I know. I fixed that in #2618

[2016-01-15 07:12] tumbili opened #2620 "QGC not dispalying params < e-3"
I was looking a the ekf2 parameters in QGC and noticed that e.g. 5e-4 is not displayed anymore but just appears as zero.  It looks like QGC has a hard limit of three on the decimal places.
I think the best solution would be to write them in the format 'xe-y' in that case.

[2016-01-15 07:40] LorenzMeier commented on #2620
Those params are missing the decimals meta field on the PX4 side

[2016-01-15 08:23] tumbili commented on #2620
Thanks, closing then!

[2016-01-15 08:23] #2620 closed

[2016-01-15 12:00] Flugsicherung commented on #2563
Hello together. I have exact the same Problem as "blankered" I can´t connect to my Pixhawk after flashing the stable Firmware on QGC 2.8.0.  I am useing QGC on Windows 7 64 Bit. Flashing works only if the Pixhawk is NOT powered with external Power. Only if I flash with USB Power onIy can I flash it otherwise the flashing is not start up. On QGC 2.7.1 it works fine so I guess it must be a issue in

[2016-01-15 12:03] LorenzMeier commented on #2563
It is designed to prevent reboots if the system is pre-armed, which probably happens when you connect the battery. So it all works as it should.

@DonLakeFlyer Do the instructions ask users to *ONLY* have USB connected already?

[2016-01-15 12:13] Flugsicherung commented on #2563
I flash Firmware 1.1.0 and I can connect to the Pixhawk and the Summary Page is shown.
I make a Test and flash 1.1.1 again.....

[2016-01-15 12:17] Flugsicherung commented on #2563
I flash Firmware 1.1.1 and same Problem, I can´t connect to Pixhawk.....

[2016-01-15 15:48] cfelipesouza commented on #2599
Here is the new icon set. Waiting for comments before export. :)

![qcg_icons](https://cloud.githubusercontent.com/assets/7512740/12357375/a233260a-bb8e-11e5-9c67-5d6208b7f109.png)

[2016-01-15 18:04] DonLakeFlyer opened #2621 "Remove interactive=false when message popup on map"
Use same fix as Mission ListView

[2016-01-15 18:08] DonLakeFlyer commented on #2599
@LorenzMeier Is this one correct (it's not supposed to be coaxial):
![screen shot 2016-01-15 at 10 07 30 am](https://cloud.githubusercontent.com/assets/5876851/12360942/db5dac4e-bb6f-11e5-8886-67aeb3de9c86.png)

[2016-01-15 18:10] DonLakeFlyer commented on #2599
Oops, Also does one work in Light theme?
![screen shot 2016-01-15 at 10 09 28 am](https://cloud.githubusercontent.com/assets/5876851/12360983/20d5f308-bb70-11e5-97a5-b2332863bbea.png)

[2016-01-15 18:14] cfelipesouza commented on #2599
For sure.
Light Theme color background is #d9d9d9

![qcg_icons_light](https://cloud.githubusercontent.com/assets/7512740/12361055/ea3ac89a-bba2-11e5-8997-bb6d7e67f320.png)

[2016-01-15 18:15] LorenzMeier commented on #2599
@DonLakeFlyer The quad tailsitter is ok.

[2016-01-15 18:16] DonLakeFlyer commented on #2563
It doesn't say no battery. That wording is starting to read like a book! I'll change it. I think I'm going to change it to output after a failed flash as well.

[2016-01-15 18:17] DonLakeFlyer commented on #2599
Awesome we're good to fo then. Thanks @cfelipesouza

[2016-01-15 18:38] DonLakeFlyer opened #2623 "Retructure main window to be native qml in all cases"
USe QApplication as top level class which allows main window to be native qml but should still allow to to pop widgets on desktop.

[2016-01-15 18:38] DonLakeFlyer commented on #2623
This will in turn fix #2548

[2016-01-15 18:49] #2621 closed

[2016-01-15 18:57] DonLakeFlyer opened #2626 "Parameter Editor: Clip string lengths"
Even though the units in this case should really not be that long. QGC should still guard against this and clip to some width. The parameter rows should most likelt be shown in a grid control to limit things.

![screen shot 2016-01-15 at 10 55 31 am](https://cloud.githubusercontent.com/assets/5876851/12362117/8d4ac8b4-bb76-11e5-9dac-ce41e85be4b2.png)

[2016-01-15 19:02] Flugsicherung commented on #2563
Sorry but why do you close this issue? The Problem is not to make the flash of the Firmware. Flashing without battery works fine. But if I flash Firmware 1.1.1 I can´t get a connection after successful flashing, but with Firmware 1.1.0 it works!!!!
Please can you explan it for me, thanks.

[2016-01-15 19:22] DonLakeFlyer commented on #2563
Can you switch to using a QGC Daily Build. Stable is quite old and this point. If you still can't connect after that. See here for getting connection logging: http://www.qgroundcontrol.org/logging. Then put log output here.

[2016-01-15 19:23] dogmaphobic opened #2627 "The sequence number for MavLink messages sent from QGC is not *in sequence*"
While trying to process sequence numbers to keep track of packet loss, I run into this issue. I noticed that there were more than one *sequence* and some where incremented by two. @billbonney pointed out that the issue is the way QGC packs and sends messages.

As an example, in:

https://github.com/mavlink/qgroundcontrol/blob/master/src/AutoPilotPlugins/AutoPilotPlugin.cc#L99-L106

the message is

[2016-01-15 19:28] DonLakeFlyer commented on #2627
@LorenzMeier Is there some other way to do this? The pack/finalize/send pattern is used pretty much everywhere.

[2016-01-15 19:43] LorenzMeier commented on #2627
I think the pack API is just terribly broken. We need to fix the MAVLink serializing code.

[2016-01-15 19:49] LorenzMeier commented on #2563
@Flugsicherung I'm checking the release. Let me make sure I didn't screw up and something bad slipped in.

[2016-01-15 19:50] LorenzMeier opened #2628 "Support custom download / web server URL"
@DonLakeFlyer When working with non-developer early adopters we start to run into cases where we would need to provide them auto-built binaries but off custom builds. We need to generalise the download locations for PX4. Any particular suggestions?

[2016-01-15 19:52] LorenzMeier commented on #2628
Urls for PX4 on Pixhawk: https://github.com/mavlink/qgroundcontrol/blob/master/src/VehicleSetup/FirmwareUpgradeController.cc#L216-L218

[2016-01-15 19:55] LorenzMeier commented on #2627
I'm too tired to fix it. But if you get to it, here is where it needs to be changed upstream: https://github.com/mavlink/mavlink/tree/master/pymavlink/generator/C/include_v1.0

[2016-01-15 19:57] DonLakeFlyer commented on #2627
Is there really any reason to change it now (with V2 coming)? It doesn't cause a bug anywhere does it.

[2016-01-15 19:58] AndreasAntener commented on #2628
Suggestion for startup parameters (or something similar), to narrow down the update choices:
- base URL
- types (apm, px4, custom binary)
- which of the 3 types should be available (stable, beta, dev)

[2016-01-15 20:00] dogmaphobic commented on #2627
Some more findings. I put a qDebug() for each instance where messages are written out. These are the 2 *sequences*:

[code]

[2016-01-15 20:01] DonLakeFlyer commented on #2628
Two versions of Custom:
- Custom (local file)
- Custom (download) prompt for url

[2016-01-15 20:04] DonLakeFlyer commented on #2627
The sequence number you are outputting from Vehicle are bogus and get stomped. The ones that go out on the wire are from MAVLinkProtocol.

[2016-01-15 20:06] dogmaphobic commented on #2627
No, there isn't really. It makes sense to wait. I was more curious about the secondary sequence.

But I (the ESP8266 Bridge) get them as above. I do see these two sets of *sequences* where one is incremented by 1 and the other by 2.

[2016-01-15 20:06] DonLakeFlyer commented on #2619
Need to look at actual compass cal implementation as well for older FW support.

[2016-01-15 20:10] DonLakeFlyer commented on #2627
Vehicle::_sendMessageOnLink() doesn't actually send the message. So those values never go out the wire. The likely reason you are seeing multiple sequences is because there is a codepath which doesn't use the pack/finalize/send pattern.  Some places use encode which may cause different results. I don't really know what the difference is between pack and encode. Just kept the pattern from old code.

[2016-01-15 20:19] billbonney commented on #2627
The advantage of fixing it, is that the MAVESP8266 FIRMWARE can give you an estimate of packet loss from it's perspective.

@DonLakeFlyer  I concur that I followed the same pattern in code, it wasn't until I saw an issue where UDP packet send was failing that I noticed an issue. Solo requires a full packet in each UDP packet or it will just ignore them.

I fixed by 'packing' the message first, the

[2016-01-15 20:21] DonLakeFlyer commented on #2627
I don't quite get what you are saying. What mavlink API sequence did you use? or did you do something custom?

[2016-01-15 20:21] dogmaphobic commented on #2627
Yes, it does! Right at the end of the function:
[code]

I'll take a look at those functions and see what I can come up with.

[2016-01-15 20:23] DonLakeFlyer commented on #2627
Hmm, forgot about that. I'm going to have to look through that. Must be old UAS code that is calling through mavlink to send.

[2016-01-15 20:32] DonLakeFlyer commented on #2627
The skipping sequence numbers from MAVLinkProtocol are coming from the heartbeat output which is handled there. It uses encode/finalize/send_buffer/writeBytes which is a different api pattern than Vehicle uses. If you change that api sequence to be like Vehicle does it then I think you won't skip sequence numbers.

[2016-01-15 20:34] dogmaphobic commented on #2627
Yep, I was just following that thread of code. I will fix that and route the Vehicle send as well so it follows the same sequence.

[2016-01-15 20:38] DonLakeFlyer commented on #2627
The correct direction is to move the heartbeat and any outtbound messages from mavlink protocol to Vehicle. Vehicle should be the central point of message sending.

[2016-01-15 21:51] dogmaphobic commented on #2627
I moved it to LinkManager. All *sends* are now from LinkManager. The interesting side effect is that I no longer see drops on incoming UDP messages.

The issue with Vehicle is that most calls are within a loop sending to all links. It made more sense to locate the call within LinkManager.

While at it, on current master, I can no longer have more than one vehicle. I will open a new issue for that.

[2016-01-15 21:54] DonLakeFlyer commented on #2627
I'm going to have to look at the pull. I would much rather have it in Vehicle. Since message sending interacts with plugins and you need to the Vehicle to get the plugin.

[2016-01-15 21:54] dogmaphobic opened #2630 "Cannot connect more than one vehicle on current master."
The output shows QGC connecting but the UI does not reflect multiple connections.

[code]

The UI only shows the USB link. There is no way to see the one connected on UDP.

[2016-01-15 21:57] DonLakeFlyer commented on #2630
Are you sure your vehicles don't have the same id?

[2016-01-15 21:57] dogmaphobic commented on #2627
I noticed that. In that case, it should be in MultiVehicleManager as *Vehicle* is one instance of many. Instead of looping through links, it should loop through Vehicles instead. This will take some careful thought. Let me think about it.

[2016-01-15 22:04] dogmaphobic commented on #2630
Crap. I changed the wrong ID on all 3 vehicles. I changed Comp ID instead of Sys ID. Tired...

[2016-01-15 22:04] #2630 closed

[2016-01-15 22:04] DonLakeFlyer commented on #2627
That's not the way it works. A message send is directly connected to a vehicle and only goes out on links which are associated with that Vehicle. Not to all links. Hence the send all being scoped to the Vehicle object.

[2016-01-15 22:07] dogmaphobic commented on #2627
That's what I meant about *careful thought*. I have not done that yet :)

Suffice to say, just by consolidating all sends not only I got the sequence issue fixed, but also I'm not seeing UPD packet drops. Now it's a matter of having it in the right place.

[2016-01-15 22:08] DonLakeFlyer opened #2631 "APM: Convert severity of initial boot messages"
Things like firmware version and so forth come across as high sev. Hence they get audio output and popups.

[2016-01-15 22:17] DonLakeFlyer commented on #2627
I think we may be talking about two different things. The only change that should be needed is to move GCS heartbeat to MultiVehicleManager. The it loops through Vehicles sending out heartbeats from the GCS. The Vehicle::sendMessage path should not need to change.

@LorenzMeier Is that multiplexing stuff in MAVLinkProtocol still needed?

[2016-01-16 01:33] dogmaphobic commented on #2627
The Good:

Most messages throughout QGC are sent on a specific link (sendMessage(link, message)). This fits well with the send being centralized within the Vehicle.

Now the things that got me confused:

The Bad:

Besides legacy stuff in UAS.cc and MavLinkProtocol.cc (more on that later), the only place where a message is sent to all connected links is in ```APMSensorsComponentController::nextClic

[2016-01-16 02:32] DonLakeFlyer commented on #2627
You are stepping into the realm of many to one and one to many relationship of links and Vehicles. You might want to run as fast as you can away from having to understand this! It can make your head spin. It certainly confuses me everytime I step into it as to how it is supposed to work.

In the last couple days the concept of sending a message out on a specific single link associated with a vehic

[2016-01-16 02:32] DonLakeFlyer commented on #2627
My suggestion: Let me fix the heartbeat problem. Then let's see what @LorenzMeier has to say about the rest.

[2016-01-16 03:18] DonLakeFlyer commented on #2627
Looked into these things:
- PING message: Seems to me that should be handled by Vehicle. It has to inbounard from a specific vehicle, not sure why you would send a response out to all links. I'm going to move to Vehicle and handle there.
- Auth stuff: Doesn't appear to be used anywhere. I'll remove it.

[2016-01-16 03:29] DonLakeFlyer commented on #2627
More questions:
* Does there really need to be an option to turn off GCS hearbeats?

[2016-01-16 03:37] #2631 closed

[2016-01-16 03:39] DonLakeFlyer commented on #2619
Compass call is OK.

[2016-01-16 04:04] DonLakeFlyer opened #2636 "Joystick should not be in APM"
Same thing for thumbstick

[2016-01-16 04:16] billbonney commented on #2627
Turn off heartbeats from GCS. I say yes as it handy to debug sometimes, and test.

[2016-01-16 04:21] DonLakeFlyer commented on #2627
Sounds good @billbonney Thanks.

[2016-01-16 04:26] DonLakeFlyer commented on #2619
Ok, this is all working back to 3.2 versions.

[2016-01-16 04:26] #2619 closed

[2016-01-16 04:27] #2609 closed

[2016-01-16 08:10] Flugsicherung commented on #2563
@DonLakeFlyer with Software do you mean? The Beta Version? If so my Virus Scanner (AVG) delete this File, he found a Virus inside. So I put the File to https://www.metascan-online.com the Scanner found a Virus too.
![beta installer](https://cloud.githubusercontent.com/assets/16131122/12371344/9b894044-bc30-11e5-8fd1-02be8eded25b.PNG)

@LorenzMeier Thanks, I thing the last "Stable" Versions of QGC

[2016-01-16 09:14] Flugsicherung commented on #2563
Today I flash the Master Version of the PX4 Firmware but same happens, I can´t connect to the Pixhawk with QGC 2.8.0 flashing works fine. Then I flash the Version 1.1.0 back to the Pixhawk and I can connect without Problems.

[2016-01-16 11:20] LorenzMeier opened #2638 "Tame the CPU hog"
@DonLakeFlyer I know this is not fun and not so much a consideration during desktop development, but its the No. 1 complaint in the field: QGC eating your battery alive. This is what it currently looks like for me.

It ramps up my fan quite a bit and I'm relatively sure that my field battery life would not be great.

<img width="672" alt="screen shot 2016-01-16 at 12 18 29" src="https://cloud.gith

[2016-01-16 11:20] LorenzMeier commented on #2638
Note that I included WindowServer because its load goes from single-digit percent to 35 once QGC starts.

[2016-01-16 17:18] DonLakeFlyer commented on #2563
It is extremely doubtful that qgroundcontrol has a virus in it. This is a false positive. You should report the false positive to you virus folks.

[2016-01-16 17:19] DonLakeFlyer commented on #2563
![screen shot 2016-01-16 at 9 19 21 am](https://cloud.githubusercontent.com/assets/5876851/12373569/43c50846-bc32-11e5-96f1-de711b01a9a5.png)

[2016-01-16 17:24] DonLakeFlyer commented on #2563
I'll deal with reporting the false positive.

[2016-01-16 17:41] DonLakeFlyer commented on #2627
I"m wrong about the authkey. It did go out with the heartbeat. And I just broke that with my last pull!

[2016-01-16 17:43] DonLakeFlyer commented on #2627
Searched PX4 and APM source. No use of AUTH_KEY

[2016-01-16 17:52] DonLakeFlyer opened #2640 "Serial Port list in Settings does list direct USB connection to board port"
- Connect Vehicle to Tablet using direct USB connection
- Once QGC is booted up, Settings/Comm/Add Serial
- Serial port combo has nothing in it

@dogmaphobic I'm not quite sure what should really happen here given that ports on tablet kind of work differently.

[2016-01-16 17:52] DonLakeFlyer opened #2641 "Crash on Disconnect from Vehicle"
- Direct connect Vehicle via USB to Android tablet
- Wait for everything to crank up
- Power down Vehicle
- Click Disconnect
- Crash

[2016-01-16 18:04] DonLakeFlyer commented on #2641
Caused by:
[code]
The setLink call emits a signal while in the destructor which confuses Qt since some objects are in the middle of going away.

@dogmaphobic Is it necessary to clear the link here since the whole object is going away anyway?

[2016-01-16 18:05] DonLakeFlyer commented on #2638
Unless there is something trival here I don't think this will fit into 3.0 release.

[2016-01-16 18:07] DonLakeFlyer commented on #2628
Curious as to why you would need something built into QGC for this. Seems like it just add complexity to things. Why not:
- Email them build
- or Provide then a url to the build, they then click that in a browser which downloads it to there machine
- Then they just use Custom to install?

[2016-01-16 18:07] #2608 closed

[2016-01-16 18:11] #2626 closed

[2016-01-16 18:41] DonLakeFlyer commented on #2636
@LorenzMeier Any ideas where given #2642 which has MANUAL_CONTROL support on custom APM stack. The issue is that Joystick shows a lot of UI that may not work correctly on all firmwares. But whether joystick support is there or not can't really be trigggered on firmware type. Needs to be triggered some other way.

[2016-01-16 19:50] rjehangir opened #2644 "Joystick: Connect button to generic COMMAND_LONG"
Allow mapping of joystick to generic COMMAND_LONG messages, primarily to support custom APM stacks, payloads, etc.

Requested to support ArduSub: https://github.com/bluerobotics/ardupilot

[2016-01-16 19:51] rjehangir opened #2645 "Joystick: Allow additional axes in RC_OVERRIDE"
Allow joystick axes to be added beyond the standard 4 axes. This will allow triggers to be used for servo commanding, payloads, etc.

Requested to support ArduSub: https://github.com/bluerobotics/ardupilot

[2016-01-16 19:52] DonLakeFlyer commented on #2636
New values for MAV_PROTOCOL_CAPABILITY?

[2016-01-16 19:53] DonLakeFlyer commented on #2636
@rjehangir Adding you, so you can follow along on this one.

[2016-01-16 19:55] rjehangir opened #2646 "Mission: Allow mission map to be disabled for non-autonomous vehicles"
Allow the mission map to be disabled (possibly via a MAVLink message) to support the ease-of-use goal for vehicles that are not autonomous. This supports FPV setups and custom stacks.

[2016-01-16 19:57] DonLakeFlyer commented on #2644
This could use the same Mission Item mini-editors which are basically just COMMAND_LONG editors. This would give nice access to all existing COMMAND_LONG as well as custom COMMAND_LONGs. Not to mention making it very easy to implement.

Depends a bit on this: https://github.com/mavlink/mavlink/pull/480 to get known user commands into mavlink.

[2016-01-16 19:59] DonLakeFlyer commented on #2646
@LorenzMeier Another MAV_PROTOCOL_CAPABILITY add? In this case it should be a negative, no mission support bit I think.

[2016-01-16 20:16] DonLakeFlyer commented on #2640
Same thing with 3DR Radio plugged in.

[2016-01-16 20:17] dogmaphobic commented on #2538
This has been fixed! ( #2547 )

[2016-01-16 20:19] #2538 closed

[2016-01-16 20:36] #2603 closed

[2016-01-16 20:58] lvale opened #2649 "Log Download for APM"
Some more options would be nice for APM vehicle Log download:

Currently it seems that we have to do it one at a time and there is no feedback.

<img width="462" alt="screen shot 2016-01-16 at 20 51 19" src="https://cloud.githubusercontent.com/assets/3130363/12374442/768f80f6-bc93-11e5-8082-a692d6b08f9d.png">

I would suggest something more like what APM Planner has:

<img width="605" alt="screen

[2016-01-16 21:00] lvale opened #2650 "Screen goes off on Android tablet"
Latest beta on Android tablet.

Screen goes off. I would suggest an option to force screen on settings.

Also no widgets on Android (I was trying to download logs from vehicle)

[2016-01-16 21:17] DonLakeFlyer commented on #2649
Makes sense

[2016-01-16 21:24] LorenzMeier commented on #2638
It might make sense to run a function profiler to see if the load is somewhere it can be easily fixed, or if its across the board. I had QGC around 20-25% back in the day when I regularly profiled it.

[2016-01-16 21:25] LorenzMeier commented on #2638
Note that native QML main Window might also help because it uses different rendering - didn't you work out recently how to do this?

[2016-01-16 21:28] dogmaphobic commented on #2649
It's all there. Expand the window to see the other fields and select any number of files for download (Command-A for everything).

P.S. It must *rain* a lot in **W**estern **E**uropean **T**ime :P

![screen shot 2016-01-16 at 4 23 35 pm](https://cloud.githubusercontent.com/assets/749243/12374588/dd4cb190-bc6d-11e5-9e65-c3d0b041d1fe.png)

[2016-01-16 21:29] DonLakeFlyer commented on #2638
Hmm, maybe. I'll still have a branch for that. I'll try it to see if it makes a difference. Another interesting thing is that in the commercial version of Qt there is a Qml compiler.

[2016-01-16 21:34] lvale commented on #2649
Thanks @dogmaphobic. Usable but no intuitive. I didn't think of resizing the dialog box, and the multiple selection is obvious AFTER we know about it :)

https://www.youtube.com/watch?v=gL0CzPQ0pAQ

Now those disconnects and reconnects kill me :)

[2016-01-16 21:38] dogmaphobic commented on #2649
Those voice messages are basically useless and extremely annoying! As to the link lost/regained, how are you connecting?

[2016-01-16 21:39] dogmaphobic commented on #2649
Closing as the issue itself is not valid. The crazy link connect/disconnect should be a new issue.

[2016-01-16 21:41] lvale commented on #2649
Please consider resizing the widget on first time it opens.

[2016-01-16 21:42] dogmaphobic commented on #2649
It should have a sensible default. Obviously that's not working. Let me reopen and deal with that then.

[2016-01-16 21:48] lvale commented on #2649
If I may suggest to have the column Status as First column and the ID either don't show it or have it as last column.

[2016-01-16 21:49] dogmaphobic commented on #2649
If you don't have GPS, the dates are all the same. The index is all you have to go by.

[2016-01-16 21:54] LorenzMeier commented on #2649
I don't think it makes sense to spend a lot of time on the widget, as we still don't have it on tablets then - shouldn't a fix maybe be done straight in QML?

[2016-01-16 21:55] dogmaphobic commented on #2649
It's all QML. Just the *container* is a widget.

[2016-01-16 22:31] DonLakeFlyer commented on #2649
Ooh, that might be a problem if I try to do the Native QMl thing on desktop. In that case I think the only Qml can be main window. Hmm.

[2016-01-16 22:39] DonLakeFlyer commented on #2650
Widgets on Android is going to take some time. Do you think Log Download is critical on tablet? You won't be able to do anything other than pull it off the tablet to a desktop.

[2016-01-17 00:26] DonLakeFlyer commented on #2640
User error. Auto-Connect ports won't show up in this list.

[2016-01-17 00:26] #2640 closed

[2016-01-17 00:28] #2435 closed

[2016-01-17 00:29] lvale commented on #2650
No hurry for the widgets. The log download is important while you're configuring a vehicle and we must examine the log, like to set the value to TH_MID. Although I still use the Mac on the field :)

The screen turning off is more annoying.

[2016-01-17 00:38] #2584 closed

[2016-01-17 06:00] dogmaphobic commented on #2649
#2654 takes care of the connection loss.

[2016-01-17 12:42] LorenzMeier opened #2655 "Configuration UI does not get re-evaluated on parameter write"
@DonLakeFlyer To repro:

(this is not PX4 specific, but I have a test case to repro)

1) Reset the PX4 config
2) Set COM_RC_IN_MODE = 1
3) The RC calibration UI / check should now turn OK (instead of red) since it got disabled. But it only does once you read back the params from the vehicle completely, not when the write of the param is confirmed

I think the UI is triggered off the wrong param ca

[2016-01-17 15:45] pkocmoud opened #2656 "Change reference for Altitude in the HUD view"
Without a GPS the Altitude reads 0.

Can we change the reference in the QGC for altitude to VFR_HUD : alt ?

![image](https://cloud.githubusercontent.com/assets/7053372/12378297/e7c65c34-bcfe-11e5-98af-73f4f7ac5031.png)

[2016-01-17 15:47] LorenzMeier commented on #2656
@DonLakeFlyer @dogmaphobic When using non-AMSL (from GLOBAL_POSITION_INT) the altitude indicator should be e.g. red and have these two indications:

With global position: Altitude (AMSL m)
Without: Altitude (baro m)

We need to make sure people understand what they are seeing and using.

[2016-01-17 17:14] DonLakeFlyer commented on #2655
The param trigger list is missing fromthe component.

[2016-01-17 19:37] DonLakeFlyer commented on #2656
Can't it just be (m) and (baro m)?

[2016-01-17 20:56] LorenzMeier commented on #2656
It can, but then its not clear if this the altitude over ground or absolute (in particular in your area where these are pretty close).

[2016-01-17 21:05] LorenzMeier commented on #2656
I guess I'm fine whatever works for users, as long as baro altitude is flagged somehow.

[2016-01-17 21:07] dogmaphobic commented on #2656
Make it **GPS Altitude** and **Barometer Altitude** accordingly?

[2016-01-17 21:17] DonLakeFlyer commented on #2656
Just trying to keep unneeded clutter off the UI. Let's just flag baro. If we hear there is confusion we can add.

[2016-01-17 22:51] #2469 closed

[2016-01-17 22:54] DonLakeFlyer commented on #2548
This problem shows up on all Flickable/ScrollView/ListView containers scrolled using a Mac trackpad.

[2016-01-17 23:00] #2655 closed

[2016-01-17 23:02] DonLakeFlyer commented on #2638
What sort of connections were you running when you did this test? We can't get anything higher than 20% CPU to show up.

[2016-01-17 23:09] DonLakeFlyer commented on #2656
We're not switching to VFR_HUD are we. Not sure that works on APM stack.

[2016-01-17 23:59] DonLakeFlyer commented on #2560
This is going to require some restructuring of the Fly View. The Map and Video items need to be persistent and just switch size and z-order. Otherwise you can't depend on the Fly view being around. By re-loading the items, the Fly view also also loses state like position I think, and re-creating all the mission and flight lines is expensive on the switch.

Other option is to leave things along and

[2016-01-18 03:39] #2308 closed

[2016-01-18 03:59] rjehangir commented on #2636
Don, thanks. I want to chime in on this issue because it's important for our work. We're developing ArduSub (https://github.com/bluerobotics/ardupilot) and relying primarily on real and virtual joystick in QGC for user control input.

We are happy to contribute to and test the joystick thoroughly to make sure that it functions correctly.

[2016-01-18 06:52] DonLakeFlyer opened #2661 "RC#_MIN, RC#_MAX, RC#_REV may be treated differently between APM/PX4 Stack"
APM: RC#_MIN is always, lowest PWM value even if channel is reversed
PX4: RC Cal has been coded forever such that MIN/MAX meaing is reversed if channel is reversed. Wondering if that is correct now?

Either way something has to change.

[2016-01-18 07:11] DonLakeFlyer opened #2662 "Rover RC cal should have throttle trim and mid-stick to support revese"

[2016-01-18 07:55] #2661 closed

[2016-01-18 10:18] LorenzMeier opened #2663 "Ask user to put the SD card back in if connecting to an unresponsive Pixhawk or Pixracer"
APM and PX4 now both boot into "debug mode" with the SD card removed. QGC will be able to open the link, but not communicate with the board in that state. If that happens, it should ask the user to put a microSD card in.

[2016-01-18 12:11] lvale opened #2664 "QGC OS X latest with APM Copter - Info view widget"
Apparently this widget still wants to be connected, even when the vehicle is connected

<img width="1110" alt="screen shot 2016-01-18 at 12 06 25" src="https://cloud.githubusercontent.com/assets/3130363/12390943/2b9c2410-bddc-11e5-9362-3879a47c77e9.png">

[2016-01-18 12:15] lvale opened #2665 "Plan View: Altitude map shows NaN"
On Plan Screen the first time we enter on that screen, usually a NaN is displayed at the bottom:

<img width="1169" alt="screen shot 2016-01-18 at 12 10 03" src="https://cloud.githubusercontent.com/assets/3130363/12391088/2307968a-bddd-11e5-94af-bc1d2242a5a3.png">

[2016-01-18 12:21] lvale opened #2666 "QGC - OS X Location services"
Hi,

Again on the maps position :).

Considering that the OS has location services (at least OS X, IOS and Android have), couldn't QGC query the base OS for location and display the map if the OS reports a valid location, perhaps using a option for "Use current location for Map Center" to enable that, similar to the Center Map on Vehicle option.

[2016-01-18 14:22] pkocmoud commented on #2656
What is the purpose of all of the duplicate MavLink messages, seems like a great time to audit them?

[2016-01-18 14:22] cfelipesouza commented on #2605
What do you guys think?

![qgc_securelink_01](https://cloud.githubusercontent.com/assets/7512740/12393640/218db842-bdde-11e5-9fac-a6f4a3714758.png)
![qgc_securelink_02](https://cloud.githubusercontent.com/assets/7512740/12393641/218f9b76-bdde-11e5-8242-ece62c779e51.png)

[2016-01-18 14:38] #2649 closed

[2016-01-18 14:38] lvale commented on #2649
Thanks @dogmaphobic

[2016-01-18 17:20] dogmaphobic commented on #2560
I'm not even sure I understand what you are asking :)

The whole Map view UI code has changed so much since I first created, I can't barely recognize it. What is it that it is desired and it's not working?

[2016-01-18 17:20] lvale opened #2669 "QGC - Emergency Stop on APM"
APM has implemented the concept of a "Kill Switch" on recent fw versions.

Tower has implemented that, but requires IMHO too many clicks and drags to be effective.

I would suggest a simple slider at the top to provide such functionality. If we want a 2 step verification after the user slides the control, a pop-up would appear with confirmation YES/NO.

<img width="1440" alt="screen shot 2016-01-1

[2016-01-18 17:48] lvale opened #2670 "QGC - APM quick access to Aux functions"
Both APM and PX4 can control Extra functions usually defined as RC radio Aux functions.

On APM Channels 7 to 12 can be used to that, and these functions are on a List http://copter.ardupilot.com/wiki/arducopter-parameters/#channel_7_option_arducopterch7_opt

Most of these functions can be activated via Mavlink and Mission Planner can activate these Aux functions
<img width="423" alt="screen shot

[2016-01-18 19:58] julianoes opened #2671 "Crashing on startup on Windows 7 and 10 (2.8)"
A user has [reported](http://discuss.px4.io/t/qgrountcontroll-neuste-stabile-versiob/95/5) that his QGC crashes on startup on Win7 and Win10 and only works in the XP compatibility mode.

![screenshot](https://photos-5.dropbox.com/t/2/AADCh-SDO-oILt-CdZTx2I6QPuYCI6-9XVmYFxQ5jF0hXg/12/219123245/jpeg/32x32/3/1453161600/0/2/Qg.jpg/EOav6qQBGLuEASACKAI/FvuVbTdePrs0UOS6rrcvBn8TgRJfY3DF3r9e8rbX27I?size_mo

[2016-01-18 23:13] DonLakeFlyer commented on #2560
Currently the PIP and Map change positions by reloading themselves into loaders. So they are desrtroyed/re-created on the swap. There is a main view loader and a PIP loader. I'm wondering if instead it would be better to just have the two items always in existence and just change size/position/z-order when you want to swap. That would you have a persisten connection to the Fly view that you can us

[2016-01-18 23:16] DonLakeFlyer commented on #2605
The issue is that it is QuadCopter oriented. People get consfued when we do things like that and they are flying a Plane or piloting a Rover or a Sub.

[2016-01-18 23:18] DonLakeFlyer commented on #2666
If the OS supports map location then that is what happens now. Location is only support nu Qt in Android and iOS at this point.

[2016-01-18 23:19] DonLakeFlyer commented on #2663
Detected how?

[2016-01-18 23:28] lvale commented on #2666
ok, although that's why I haven't seen any requests by QGC to OS X location services:

<img width="665" alt="screen shot 2016-01-18 at 23 27 12" src="https://cloud.githubusercontent.com/assets/3130363/12405351/366becc2-be3b-11e5-9dc1-8f5cc5915dc9.png">

[2016-01-18 23:35] DonLakeFlyer commented on #2666
Closing this for now, since QGC already supports this. Boot up android tablet with no vehicle and map will move ot tablet location.

[2016-01-18 23:35] #2666 closed

[2016-01-18 23:37] DonLakeFlyer commented on #2650
V3.0 for screen going Off. 3.1 for the rest.

[2016-01-19 02:33] dogmaphobic commented on #2560
Tricky but should be doable. I will take a stab at it. I want to get *Over The Air* firmware update done first though...

[2016-01-19 07:38] LorenzMeier commented on #2605
Yes, second that. It should not include the airframe itself. And it should be visually nimble so that you recognise it, but at the same time doesn't eat a lot of screen real estate.

[2016-01-19 07:39] LorenzMeier commented on #2663
Essentially you have a Pixhawk or Pixracer detected, but its not sending any data back (or it might actually return data on heartbeats, but no MAVLink).

[2016-01-19 11:19] biapalmeiro commented on #2605
Just to understand. Is it to show the drone is connected or it is an extra information?

[2016-01-19 11:29] LorenzMeier commented on #2605
It's the equivalent of the padlock in your browser to indicate a secure connection.

[2016-01-19 12:55] cfelipesouza commented on #2605
I understand that the icon represents a secure connection, but for us here, the information about the drone connection is missing, like on Mission Planner, where it has a socket to represent it. And it is more important, what do you think? Do you guys have the intention to implement it? Maybe we can merge this information (connection + security) in one single icon.

Another question: the scenario

[2016-01-19 12:58] LorenzMeier commented on #2605
Compare the connected and unconnected toolbar. The connected state is obvious.

[2016-01-19 13:02] biapalmeiro commented on #2605
@LorenzMeier We can notice the difference, but maybe for new users it is not enough. Or maybe if the entire screen changed and redirect the user to the correct screen could solve this perception. What do you think?

[2016-01-19 17:34] NaterGator commented on #2671
Can you get more information about the machine it is crashing on? CPU, GPU, etc?

[2016-01-19 17:39] NaterGator commented on #2638
@DonLakeFlyer The Qt Quick compiler should only help with initial load times; once the JIT has compiled at runtime things should theoretically be the same. The Qt Quick [performance guide](http://doc.qt.io/qt-5/qtquick-performance.html#bindings) is worth looking over, but you've probably already seen it.

@LorenzMeier any chance you were streaming video via QGC/Gstreamer?

[2016-01-19 17:51] DonLakeFlyer commented on #2605
There is quite a bit of UI change that happens when a vehicle connects:
- Toolbar changes radically
- Parameter loader progress bar goes across the top of the screen
- Vehicle shows up on map
- Setup View populates with buttons

We haven't had anyone confused as to when something was connected. Don't think we need to add something. Less is more. I also think that the lock icon or whatever shouldn'

[2016-01-19 18:11] biapalmeiro commented on #2605
@DonLakeFlyer Agreed the Vehicle Summary is the best place for that. In this case we don't need an icon, once this screen shows only text information. Neither a pop up, because all the info could be displayed directly on this screen. It could be placed on Safety block.

[2016-01-19 23:08] DonLakeFlyer opened #2674 "LinkManager::_vehicleHeartbeatInfo skips new vehicle is link already active"
@jgoppert In looking at this it's going to need some restucturing between LinkManager and MultiVehicleManager. I"ll take care of it.

[2016-01-20 05:37] DonLakeFlyer commented on #2671
Can you get a crash dump: http://www.qgroundcontrol.org/bugreporting?

[2016-01-20 17:35] #2674 closed

[2016-01-20 22:25] LorenzMeier opened #2678 "Flash dialog is super confusing"
@DonLakeFlyer @dogmaphobic What QGC is trying to say is here is:

"UNPLUG THE USB PLUG TO START FIRMWARE UPGRADING"

I think that is what it should say. In the center. BIG. Right now users think "it doesn't work".

![screen shot 2016-01-21 at 9 16 43 am](https://cloud.githubusercontent.com/assets/1208119/12465111/c572e244-bfcc-11e5-8233-1cc376f0fa21.png)

Then on to the 2nd issue: If you unplug, t

[2016-01-20 22:29] DonLakeFlyer commented on #2678
Tell me exactly word for word what you want it to say and I'll change it!

[2016-01-20 22:32] LorenzMeier commented on #2678
"UNPLUG THE AUTOPILOT USB CABLE TO START FIRMWARE UPGRADING"

In center. no other text. In a big font.

[2016-01-20 22:43] DonLakeFlyer commented on #2678
What about Radio?

[2016-01-20 22:44] LorenzMeier commented on #2678
Right. Change it to board or something.

[2016-01-20 22:44] LorenzMeier commented on #2663
People struggling:
http://discuss.px4.io/t/pixracer-feedback-thread/27/28

[2016-01-20 22:52] DonLakeFlyer commented on #2663
The current pattern is here:
- QGC detects incoming heartbeat, starts a new Vehicle. So heartbeats are coming through.
- QGC sends outgoing parameter request and waits for response
- If QGC times out on parameter request response it pops a message to the user and retries

That's all I have to go on. I can change the message that pops up when a parameter requests fails to also say "possibly you don

[2016-01-20 23:00] LorenzMeier commented on #2663
There is a direct way: You never get a heartbeat. Not a single MAVLink message. No vehicle. Just try with a Pixhawk without microSD inserted.

[2016-01-20 23:04] DonLakeFlyer commented on #2663
Ok, so it needs to know that it has a direct usb connection to a Pixhawk board and it never gets a heartbeat. Doable.

[2016-01-20 23:08] DonLakeFlyer commented on #2678
This is the first I've heard of the UI reset issue. Althought now that I know about it I can certainly see it as completetly screwed up. If things just fly by in Gitter I lose them. A detailed GitHub Issue and I won't miss things.

[2016-01-21 00:03] DonLakeFlyer opened #2679 "Need to capture pdbs for Windows daily and stable builds"
QGC Windows tends to crash and hang more than other OS versions. I have instructions for collecting crash and hang dumps here: http://www.qgroundcontrol.org/bugreporting. But without a PDB it's not very useful. This is why I used to have the PDBs installed with QGC. Setting  up PDBs in such a way that they could be in a symbol server would be fantastic. But just a way to download the right one tha

[2016-01-21 13:59] marianobianchi opened #2681 "Bug in the vehicle selector"
I'm having problems connecting two UAVs with QGC. When i start QGC and connect both UAVs, they show in the map correctly. But when i try to select one of them to, for example, set a new mission, i can only select one of them, as showed in the next picture:

![initial_menu](https://cloud.githubusercontent.com/assets/1700075/12482023/fc5fa864-c02b-11e5-8ff4-aeb09104535a.png)

When i select the only

[2016-01-21 17:39] DonLakeFlyer commented on #2681
Fixed by #2677

[2016-01-21 17:39] #2681 closed

[2016-01-21 17:41] DonLakeFlyer commented on #2574
Need to consider whether for now we change to m/s and do confgurability in 3.1

[2016-01-21 17:42] DonLakeFlyer opened #2683 "Plan: "+" auto-off implementation is confusing users"
Should just switch to normal toggle

[2016-01-21 18:10] #2678 closed

[2016-01-21 18:11] #2664 closed

[2016-01-21 18:22] DonLakeFlyer commented on #2663
@LorenzMeier How many seconds to wait before this times out? Board boot is 5 seconds I think, so maybe something like 7 seconds?

[2016-01-21 18:34] LorenzMeier commented on #2663
Sounds fair

[2016-01-21 18:47] #2663 closed

[2016-01-21 18:49] DonLakeFlyer commented on #2548
The fix for this is not going to make it into 3.0 release. Needs to wait for widget conversion to Qml.

[2016-01-21 18:49] DonLakeFlyer commented on #2623
This doesn't work

[2016-01-21 18:49] #2623 closed

[2016-01-21 19:29] DonLakeFlyer commented on #2599
Ok, just tested this and we can close this now. Thanks everyone.

Found two bugs:
-  #2686
- https://github.com/PX4/Firmware/issues/3562

[2016-01-21 19:29] #2599 closed

[2016-01-21 19:50] DonLakeFlyer opened #2687 "Change disconnect handling of VehicleSummary"
Current this is handled in SetupView.Qml which is unwieldy. VehicleSummary.qml should handle this internal to itseld.

[2016-01-21 20:02] DonLakeFlyer commented on #2650
@dogmaphobic Can you take a look at this. Also not sure if WAKE_LOCK is correct: http://stackoverflow.com/questions/4195682/android-disable-screen-timeout-while-app-is-running

[2016-01-21 20:03] DonLakeFlyer commented on #2587
Fixed

[2016-01-21 20:03] #2587 closed

[2016-01-21 20:04] DonLakeFlyer commented on #2563
Is this still a problem?

[2016-01-21 20:06] DonLakeFlyer commented on #2627
@LorenzMeier ?

[2016-01-21 20:22] DonLakeFlyer commented on #2266
I updated the description. This should get us far enough for 3.0 release.
------
QGroundControl provides full flight control and configuration for ArduPilot or PX4 powered vehicles. The goal for QGroundControl is improved ease of use for new users as well as high end feature support for experienced users. Support for ArduPilot vehicles is currently in Beta.

QGroundControl features:
- Full configu

[2016-01-21 20:22] #2266 closed

[2016-01-21 20:24] DonLakeFlyer commented on #2514
Narrowing to Firmware Usage statistics for 3.0 release. Re-opened #2521 as issue for UI tracking.

[2016-01-21 20:26] DonLakeFlyer commented on #2638
I'm planning to move this to 3.1 release. Speak up now if you disagree.

[2016-01-21 20:26] DonLakeFlyer commented on #2628
I'm planning to move this to 3.1 release. Speak up now if you disagree.

[2016-01-21 20:26] DonLakeFlyer commented on #2520
I'm planning to move this to 3.1 release. Speak up now if you disagree.

[2016-01-21 20:32] #2683 closed

[2016-01-21 21:06] #2636 closed

[2016-01-21 21:07] DonLakeFlyer commented on #2574
@lorenz Feedback?

[2016-01-21 21:37] DonLakeFlyer commented on #2524
@LorenzMeier ?

[2016-01-21 21:38] DonLakeFlyer commented on #418
This is all going to end up being re-written in Qml

[2016-01-21 21:38] #418 closed

[2016-01-21 21:38] DonLakeFlyer commented on #602
I believe there is only one now

[2016-01-21 21:38] #602 closed

[2016-01-21 21:43] DonLakeFlyer commented on #2245
Planning on add QGC configurable vehicle information for survey support. Things like what camera you have on the vehicle, turn radius and so forth. We'll also capature a Vehicle Name and ask for ID set along with this.

[2016-01-21 21:43] DonLakeFlyer commented on #1850
Still a problem?

[2016-01-21 21:43] #2324 closed

[2016-01-21 22:02] DonLakeFlyer commented on #2227
We now have delete and insert. Move is not going to happen until a Qt bug is fixed which prevents us from doing item moves.

[2016-01-21 22:02] #2227 closed

[2016-01-21 22:21] DonLakeFlyer commented on #2514
You talk about checking for updates. Checking for updated what? QGC doesn't do any update checking on boot.

[2016-01-21 22:26] DonLakeFlyer opened #2692 "Rework Firmware Upgrade with a real user interface"
Instead of the logging style UI it has now. Logging style doesn't allow for enough UI to prevent confusion around un-plugging, plugging in at the right times.

[2016-01-21 22:32] DonLakeFlyer commented on #2560
@dogmaphobic Sending to you for the Fly View change, then back to me the fix Plan view.

[2016-01-21 22:38] DonLakeFlyer commented on #2692
If this still is a major issue when we take on new users with APM Beta I'll move this up to 3.0 release.

[2016-01-21 22:39] DonLakeFlyer commented on #2553
I'm going to give this a try again with the recent message sending changes.

[2016-01-21 22:47] DonLakeFlyer commented on #2553
![screen shot 2016-01-21 at 2 46 43 pm](https://cloud.githubusercontent.com/assets/5876851/12496970/d92f5368-c04d-11e5-8b9f-811f376322e7.png)

The receive rate for HIL spikes up to over 100hz. Doesn't that mean that the HIL setup rate for XPlane is to high in XPlane settings?

[2016-01-21 23:03] LorenzMeier commented on #2563
Should be fixed by a Firmware fix and the SD card warning fix.

[2016-01-21 23:03] #2563 closed

[2016-01-22 05:00] DonLakeFlyer opened #2694 "Waypoint file doesn't load"
[Gems 2016.01.19.waypoints.txt](https://github.com/mavlink/qgroundcontrol/files/100325/Gems.2016.01.19.waypoints.txt)

[2016-01-22 05:05] DonLakeFlyer commented on #2694
Version is 110, but version mismatch error doesn't come out. Also Takeoff waypoint seems to have bad coord. Does ArduPilot stack not have coord in takeoff? Also what is jump to index -1?

[2016-01-22 05:07] DonLakeFlyer commented on #2694
Altitude display is screwed up for this as well. Also need some way to move to waypoints, when a file is loaded.

[2016-01-22 09:45] Flugsicherung commented on #2563
Ok I wait for the next Firmware, thanks.

[2016-01-22 09:46] LorenzMeier commented on #2563
You don't have to wait. Just flash master (see the checkbox on the bottom of the flash dialog for "advanced options").

[2016-01-22 16:17] LorenzMeier opened #2695 "Disconnect button is not close to connection lost label, "doesn't work" if not hitting it"
If you don't click disconnect after a firmware upgrade (where you pull out the cable because the UI tells you to and the link becomes stale) the board will never show up.

Because the stale link is preventing the rebooted board to come live again. The disconnect button should be close to the CONNECTION LOST label.

[2016-01-22 16:55] kd0aij commented on #1723
This issue is still present in 2.8.0-597
It means having to restart QGC if the zoom level is changed, and that can happen with a stray mouse click. I'd suggest disabling zoom completely if no better fix is possible.

[2016-01-22 17:15] dogmaphobic commented on #2560
Working on it...

[2016-01-22 17:19] DonLakeFlyer commented on #1723
I'll do that. Analyze is going to get tossed for new Qml implementation. So don't want to put any effort here.

[2016-01-22 17:27] DonLakeFlyer opened #2696 "Change APM naming to ArduPilot"
This is per the ArduPilot folks

[2016-01-22 17:31] DonLakeFlyer commented on #2671
Also check the graphics driver. Intel graphics drivers are known to crash in OpenGl.

[2016-01-22 17:56] DonLakeFlyer commented on #1723
@jgoppert Do you know anything about this code? I understand nothing about the qwt stuff. Tried poking around but it's going to take me way longer to figure this out than someone who may be more familiar.

[2016-01-22 18:18] DonLakeFlyer commented on #2694
APM/MP write 110 version, QGC has been writing 120 version since 2011. When I load this file in MP it asks me "Reset home to local coords"? Have to figure out what that does.

[2016-01-22 19:50] DonLakeFlyer opened #2698 "Verify mission command list againsts firmware"

[2016-01-22 19:51] DonLakeFlyer opened #2699 "Mission: Takeoff command does not support coordinate"
Only Altitude/Pitch is used from the command

[2016-01-22 20:07] DonLakeFlyer opened #2700 "Plan View: Need to figure out fake home position usage while editing"
Current state:
- ArduPilot firmware expects a fake home position in position 0 of waypoints. This is true when load/save to vehicle or file.
- PX4 firmware does not have a fake home position anywhere.
- AP2/MP uis support the concept of fake home position while editing
- QGC currently handles the firmware differences for fake home position with respect to the back end
- QGC does not support the co

[2016-01-22 20:09] DonLakeFlyer commented on #2700
Keep in mind that I am only talking about editing experience here. I make no comments about a fake home position actually being on the Vehicle. I expect that to stay the same and is already dealt with.

[2016-01-22 20:11] DonLakeFlyer commented on #2694
Remainder of work needed is covered here: https://github.com/mavlink/qgroundcontrol/issues/2700

[2016-01-22 20:11] #2694 closed

[2016-01-22 20:56] DonLakeFlyer commented on #2699
Only Altitude is used from the command

[2016-01-22 23:04] DonLakeFlyer commented on #2699
From the source:
[code]

[2016-01-22 23:07] DonLakeFlyer commented on #2700
The fix for this will likely come with a change to json format for mission file.

[2016-01-22 23:23] jgoppert commented on #1723
I didn't write this code, the zoom bug has been there for years. @LorenzMeier might have a better idea. I know the qt c++ api pretty well and can take a look if no one else feels more comfortable with it.

[2016-01-22 23:53] DonLakeFlyer commented on #2700
As I get deeper into this, the concept of storing a "Planned Home Position" on the Vehicle now starts to make sense to me. Without it, you can't read a Mission from a Vehicle and have it show a full Mission visualization with a start and finish from Home.

[2016-01-23 02:14] DonLakeFlyer commented on #1723
Ok, thanks James. I saw your name in blame, figured I'd ask.

[2016-01-23 03:53] MikaelFerland opened #2702 "Support DO_CMD_SPEED"
LorenzMeier implemented the support for DO_CMD_SPEED. He did that here https://github.com/PX4/Firmware/pull/3567. We have to add it in waypoint list for PX4 flight stack in offline mode.
Regards,

[2016-01-23 18:08] dogmaphobic commented on #1681
This is long done with.

[2016-01-23 18:08] #1681 closed

[2016-01-23 18:37] dogmaphobic commented on #2524
Done

[2016-01-23 18:37] #2524 closed

[2016-01-23 18:38] DonLakeFlyer commented on #2700
That is only the case if the Mission starts/ends on the ground which you can't quite determine without asking the user. Hmm.

[2016-01-23 20:29] DonLakeFlyer commented on #2700
Work in progress can be found here: https://github.com/DonLakeFlyer/qgroundcontrol/tree/MissionHome

How it works:
* Plan View
  * Always shows a "Planned Home Position", whether offline or online and whether the vehicle has sent a true home position or not. This home position is identified clearly as "Planned" home position such that it is not confused with the actual vehicle home position.
  * T

[2016-01-23 23:03] DonLakeFlyer commented on #2700
WIP json format:
[code]

[2016-01-24 01:29] lvale opened #2704 "Unreliable SD Card detection"
Hi.

This new feature is giving me the absent SD when I plugin the PixHawk on APM 3.4dev, although it can reach the card to retrieve logs....

I tested in several ways.

PixHawk off: Plugin USB cable - warning appears almost immediately (less than 5 seconds)

PixHawk powered via Power module and already ready (boot process complete verified by the leds): Same thing

PixHawk off: QGC not launched,

[2016-01-24 01:58] DonLakeFlyer commented on #2704
It takes way longer to get the first heartbeart from the ArduPiliot stack than the PX4 Stack. The timeout is too short. You can disregard the error though and everything will be fine.

[2016-01-24 02:40] DonLakeFlyer commented on #2704
Thanks for the report @lvale

[2016-01-24 02:40] #2704 closed

[2016-01-24 03:21] DonLakeFlyer commented on #2698
From the source:
[code]

[2016-01-24 21:37] lvale opened #2706 "Number formatting"
Hi

For the sake of consistency and easy readability is it possible to format the number of bytes downloaded with the commas like the total on the left:
<img width="939" alt="screen shot 2016-01-23 at 22 00 43" src="https://cloud.githubusercontent.com/assets/3130363/12539090/b4acd3ca-c2e2-11e5-8f31-cf46ab1b2bcc.png">

[2016-01-25 17:52] LorenzMeier opened #2709 "Win7: Reinstall does not reset settings"
@DonLakeFlyer It seems like a re-installation on Win7 does not reset all settings:
http://fpv-treff.de/viewtopic.php?p=103983#p103983

It also looks like we should be defaulting Windows to angle maybe? @dagar Any insights / suggestions?

Its so common that we will want to sort this before 3.0.

[2016-01-25 19:58] dagar commented on #2709
What's missing here? Not clearing the installation directory in program files, QGroundControl user settings, or something else?

[2016-01-25 21:33] DonLakeFlyer commented on #2709
Should prompt to uninstall if you try to install over another install. Put it in about a month ago

[2016-01-26 09:26] quentin1002 commented on #933
Hello,

I am facing the same problem: Firmware is upgraded via QGC but then the connection is lost and here is the screenshot:
![image](https://cloud.githubusercontent.com/assets/15336020/12576836/7765dc9e-c451-11e5-983c-c44fd67a1f11.png)
The big blue light is switched on during a couple of seconds between the end of the firmware upgrading and the connection lost message.

I am running QGC v2.9.1

[2016-01-26 09:33] LorenzMeier commented on #933
You have to click disconnect to make QGC reconnect.

[2016-01-26 09:34] LorenzMeier commented on #933
I filed a new issue for this: https://github.com/mavlink/qgroundcontrol/issues/2695

[2016-01-26 09:39] LorenzMeier commented on #2695
Confuses more users. The issue is to do auto-connect but not auto-disconnect. It just looks broken to users because they don't understand that they need to do something.

[2016-01-26 19:31] mysid opened #2711 "Connection and firmware upgrade issues in 2.9.1"
I've noticed some connection issues where qgc is unable to connect to my pixhawk over usb, presenting with following error messages:

![link_error](https://cloud.githubusercontent.com/assets/12174271/12591993/7422b016-c438-11e5-96c7-714cb6b000f0.JPG)

![err_msg](https://cloud.githubusercontent.com/assets/12174271/12591995/79bf4782-c438-11e5-9952-9e3f9ce43336.JPG)

![upgrade_cancelled](https://clou

[2016-01-26 22:13] DonLakeFlyer commented on #2695
Huh? Don't understand what you means by that. The detection is that there are no longer heartbeats coming from the vehicle. There is not auto-disconnect.

[2016-01-26 22:27] DonLakeFlyer commented on #2709
No we shouldn't. We need to blacklist built-in Intel Graphics cards such that they default to Angle. The rest work fine. There is a blacklist mechanism to do this in Qt supposedly. Was waiting to see if the Angle thing actually worked as a work-around which it seems it does. Also not sure at this point if it requires additional DLLs to be included in the install, which I think it may.

[2016-01-26 22:28] DonLakeFlyer commented on #2709
What exactly is this forum post saying is going wrong?

[2016-01-26 23:13] LorenzMeier commented on #2695
There is no workflow for connect. So users don't have the mental model of a connection state and hence do not consider the disconnect button worth clicking. However, if they don't, a rebooted PIXHAWK will never ever connect again. So from th user perspective everything breaks after Firmware upgrade. Nothing works. The autopilot is dead.

[2016-01-26 23:22] DonLakeFlyer commented on #2695
Understood. That just goes back to firmware upgrade needs a complete re-work.

[2016-01-26 23:23] DonLakeFlyer commented on #2695
Auto-Connect/Disconnect may need some more explanation in general as well even if you take firmware upgrade out of the picture.

[2016-01-27 02:14] quentin1002 commented on #2695
Hi,
You answered me on the #933. After the firmware's update, I clicked Disconnect because a Connection Lost Message was shown.
Nevertheless, nothing happens now:
- big LED is still blinking red
- Message at the bottom saying: Your Vehicle is not responding. If this continue check if you have a SD card... I do have the SD card inside, the one that is sold by 3DR.

What should I do?

[2016-01-28 15:56] tcanabrava opened #2713 "ArduPilot Airframe discovery"
Right now ArduPilot has no way to telling us what are the possible airframe types for a drone, I know that some guys on ArduPilot are working hard on that part, but still not set on stone.

[2016-01-28 17:30] lucasdemarchi commented on #2713
Related issue in ardupilot: https://github.com/diydrones/ardupilot/issues/3562

[2016-01-28 20:48] AndreasAntener opened #2715 "Improve mission feedback"
Mission states are reported via various messages. One problem on the PX4 side is that the message severity sometimes make no sense. The other issue is that in QGC you need to check the messages.

A few problematic cases should be handled better, e.g. mission not accepted, takeoff too far away, etc. I'm not actually sure what is done how at the moment in terms of notifications.

@sanderux

[2016-01-28 20:50] sanderux commented on #2715
Thnx, i'll see if i can improve this.

[2016-01-28 21:35] tubeme opened #2716 "Loop Mission Fail: JumpToItem defaults to ID0 after reload from FC"
Programming a JumpToItem command in a mission to ID1 repeats: 60 times is accepted by QGC, but after reload from the FC the JumpToItem defaults the ID to "0". So no loop mission is possible.

The Mission file is without extension and I could't attach it. So I archived it in ZIP.
[Loop Mission Fail.zip](https://github.com/mavlink/qgroundcontrol/files/108905/Loop.Mission.Fail.zip)

[2016-01-28 21:50] tubeme commented on #2390
I was never sure what I was loading until I started manually downloading all the stable/beta and masters, mark them and keep track of versions I flash myself. There is even harder problem. If I want to see what I've loaded in the FC let say three months ago on a certain machine. We fly couple of machines and couple of FC's at the same time.

[2016-01-28 22:28] NaterGator commented on #2709
@DonLakeFlyer the qt packaging app already includes the necessary DLLs, nothing to do there.

@LorenzMeier I don't think so. If we find out there are other OpenGL implementations that are problematic we can define our own blacklist and set QT_OPENGL_BUGLIST to override the built in one... the syntax is pretty easy: http://code.qt.io/cgit/qt/qtbase.git/plain/src/plugins/platforms/windows/openglblac

[2016-01-29 08:00] LorenzMeier commented on #2709
Fixed on master and maintenance release v2.9.2 out, thanks!

[2016-01-29 08:00] #2709 closed

[2016-01-29 08:06] AndreasAntener commented on #2715
@DonLakeFlyer @LorenzMeier do the message severity level currently play a role in communication with QGC?

[2016-01-29 08:08] LorenzMeier commented on #2715
Yes, the severity controls what is spoken and what not. Anything at critical or higher will be spoken.

[2016-01-29 08:11] AndreasAntener commented on #2715
Oh, wasn't there that thing with the # (hash) in front of the message for that? For the FW stuff we used `mavlink_log_info(_mavlink_fd, "#Takeoff on runway");` and I think QGC speaks that as well

[2016-01-29 08:18] LorenzMeier commented on #2715
That's deprecated.

[2016-01-29 13:19] DonLakeFlyer commented on #2715
The message severity determine whether the toolbar icon turns to a yield sign. Also messages above a certain severity cause the message to show in a popup at the bottom of the screen. Unless the severity trigger threshold is incorrect in QGC (or you think the toolbar/popup mechanism is insufficient) the changes needed to make this better will come from the firmware side, not the QGC side.

[2016-01-29 15:55] NaterGator commented on #2711
I'm fighting a lot of USB communication issues on windows too.

In my experience I think at least some aspect of it is down to buggy USB CDC ACM. I'm not sure if the fault lies in the NuttX ACM driver or the usbser driver in Windows... but somehow opening and closing the COM port triggers a state where the port is still "valid"  (no WinAPI functions return errors) but there is no data flowing thro

[2016-01-29 16:12] NaterGator commented on #2711
On second thought this may not be so bad.

@LorenzMeier can you take a look at [this](https://groups.yahoo.com/neo/groups/nuttx/conversations/topics/3514) thread? [This post](https://groups.yahoo.com/neo/groups/nuttx/conversations/messages/4683) looks like a smoking gun for the connection issues we're seeing in Windows. They've fixed it upstream, so if you agree I think it would be appropriate to

[2016-01-29 21:30] KadynCBR opened #2720 "Px4FMU_v1 Firmware upgrade pointing to dead link?"
When upgrading firmware for PX4FMU, it points to
px4-travis.s3.amazonaws.com/Firmware/latest/px4fmu-v1_default.px4
which appears to be a bad link and does not return a px4 file

I don't know if it should point to...
px4-travis.s3.amazonaws.com/Firmware/stable/px4fmu-v1_default.px4
which seemed to work out for me downloading and selecting it as a custom file.

[2016-01-30 11:00] sanderux commented on #2715
My proposal for mission feedback and analysis would be the following;

1. Revisit the mavlink log feedback. Currently a mission always raises a critical alert that states the takeoff altitude. This results in less attention to true critical alerts that could contain safety or feasibility warnings.
2. There is currently no GCS feedback on the result of uploading a mission to the FC. I have recently

[2016-01-30 13:21] DonLakeFlyer commented on #2715
#2 QGC will display an error if send to vehicle flails, with details of what went wrong. Nothing currently on a successful send.

[2016-01-30 13:48] LorenzMeier commented on #2715
There should be no notification on successful sends. That's meaningless and does not represent modern user interface design. If something goes wrong it will tell you.

[2016-01-30 14:25] LorenzMeier opened #2721 "Parameter editor: Show defaults in tooltip or column so comparison between current value and meta default is possible"
@DonLakeFlyer Users like to compare current value vs. default value without the need to reset them. Not sure about the user model for touchscreen though.

[2016-01-30 15:06] AndreasAntener commented on #2715
I generally agree Lorenz, but in this case it should at least show the upload progress. Ok to be fair, I hear the buzzer when it's accepted and the check passed. But if I upload a big mission and don't have the buzzer (or the plane is already in the air) I have no notion of what's going on.

[2016-01-30 19:38] dreske opened #2722 "wrong vehicle type used in application?"
If I build the code http://qgroundcontrol.org/dev/mavlink_linux_integration_tutorial and run it against current release v2.9.2, something seems to be wrong.

the heartbeat message ist constructed like
mavlink_msg_heartbeat_pack(1, 200, &msg, MAV_TYPE_HELICOPTER, MAV_AUTOPILOT_GENERIC, MAV_MODE_GUIDED_ARMED, 0, MAV_STATE_ACTIVE);
But qgroundcontrol shows a quadcopter icon, and loads the PX4Flow tab

[2016-01-30 21:54] DonLakeFlyer commented on #2721
Default value is shown when you edit a value isn't it?

[2016-01-30 22:01] #2722 closed

[2016-01-30 22:26] sirPerna opened #2723 "Parameter does not save when pressing enter"
As far I could test it saving the parameter works if all the text is selected but not if the cursor is somewhere in the value which is mostly the case if you edit the value.

I tested this under windows.

[2016-01-30 22:30] sirPerna opened #2724 "Touchscreen left mouse click does not work properly under windows"
If you simple click on Preferences with a single touch, the menu only flashes for a second. You can only open it if you press and hold the item. Same issue on all items inside the mission editor as I tested so far.

[2016-01-30 23:20] sanderux opened #2725 "MAV_CMD_DO_VTOL_TRANSITION read back sets wrong frame"
When reading a mission from the vehicle the MAV_CMD_DO_VTOL_TRANSITION is read with MAV_FRAME_GLOBAL_RELATIVE_ALT and not identified as a VTOL transition command. It should  be read as MAV_FRAME_MISSION.

[2016-01-31 16:57] DonLakeFlyer commented on #2715
The mission controller has an in progress signal internally. My original plan was to animate/rotate the sync icon in the button when send/recevie was in progress. I can change that when I get back.

[2016-02-01 10:07] RomanBapst opened #2726 "Mission planning user experience"
Users are confused with how a plane flies along a path specified by the mission items. They expect the plane to fly by the waypoint as close as specified by the acceptance radius in the mission item.
However, the plane will rather fly along the waypoints in a band which is related to the L1 radius of the controller. It would be useful to indicate this band in the planning view of QGC. This would t

[2016-02-01 10:10] LorenzMeier commented on #2726
@DonLakeFlyer @dogmaphobic We could start with a simple spline 200 pixels wide and semi-transparent. We could then go on to refine it based on the actual mission math so it reproduces the path as close as possible.

[2016-02-01 18:29] jgoppert opened #2727 "Indicate commanded yaw for waypoint"
In the new qml plan view, this was lost. It would be nice to have a similar line to the old version pointing in the direction of the commanded yaw for relevant mission items.

[2016-02-01 18:36] lvale opened #2728 "Spoken and displayed info from the vehicle"
As the severity of the messages sent by the vehicle is a limited range of options, I believe that on the options of QGC should be a dialog that allowed which severities should be "spoken" and which should pop-up on the screen.

Possibly locking the higher priority messages to behave like it is currently, and only adding the other severities.

[2016-02-01 19:09] sanderux commented on #2715
@DonLakeFlyer
From the dev call we also got the request to support user configurable severity for spoken messages.

[2016-02-01 19:10] dogmaphobic opened #2729 "Display what firmware is currently installed."
When you connect a vehicle, the summary page should tell you what firmware you have installed (APM/PX4) and what version. The same for the _Firmware_ panel.

Though one could infer the type based on certain subtleties, this information should be up front and easy to see.

[2016-02-01 23:08] dogmaphobic commented on #2586
While at it, this:

[code]

makes an assumption all values are sizeof(uint32_t), which assumes the memory location where they were first set was initialized (zeroed) before setting. I had the CRC running only for the length of the actual **type** and was getting different values than those computed by QGC.

[2016-02-02 10:12] Nurgak opened #2731 "New MAVLink message implementation to QGroundControl"
**Quick word on my goal**: I'm implementing an "_advanced fail safe messaging system_" that has the goal of putting the user in the control loop. If something goes wrong (GPS loss, low battery...) the areal vehicle will propose solutions to the user (return to launch, fire parachute, switch to manual control...), the ground station will prompt a window where the user can click on a solution within

[2016-02-02 15:42] DonLakeFlyer commented on #2731
I doubt tutorial is up to date. You can see if your message is getting through using the mavlink inspector widget. But only if you have set up new headers correctly. Data stream goes from SerialLink to MavlinkProtocol to Vehicle. Implement new measage handling in Vehicle

[2016-02-02 20:17] dogmaphobic commented on #2706
Done in #2732.

[2016-02-02 20:17] #2706 closed

[2016-02-02 23:00] kd0aij commented on #2138
@scott-eddy Is Rattitude mode broken in the firmware or just not displayed properly in QGC?
I'm setting up a dual-FC Spedix250 to compare CleanFlight/Naze32 with PixRacer. Should be interesting.

[2016-02-03 09:57] LorenzMeier commented on #2725
This sounds like its modified on the vehicle side then.

[2016-02-03 10:05] sanderux commented on #2725
https://github.com/PX4/Firmware/issues/3658

[2016-02-03 10:05] #2725 closed

[2016-02-03 14:37] scott-eddy commented on #2138
@kd0aij rattitude is not broken in master, just not displayed properly in QGC

[2016-02-03 14:46] kd0aij commented on #2138
@scott-eddy Thanks. I thought Rattitude was showing up in QGC at one point too.

[2016-02-03 15:39] Nurgak commented on #2731
Thanks for the feedback. I made sure that the new headers were correctly set up. I used the same headers on the UAV and QGC, but I can't see the custom message being passed.

For the sending I essentially coped the `GCS_MAVLINK::send_statustext_all` function, with some additional arguments of my own:

[code]

For the receiving part I edited `Vehicle.cc` and added a case in `Vehicle::_mavlinkMessag

[2016-02-04 10:00] sanderux opened #2734 "Rearrange mission items in planner"
It would improve the usability of the plan view if the user has the ability to rearrange the mission items. Preferably by means of drag & drop.

[2016-02-04 15:35] lvale opened #2735 "Ardupilot firmware flashing from QGC master disabled"
Hi. Any reason why flashing with QGC of Ardupilot firmware has been disabled ?? Just followed all the steps with Wireshark active and I don’t see any attempt of QGC to query any servers, while trying to flash PX4 runs ok from amazonaws ?
running latest qgc from master on OS X

https://youtu.be/2LvQlmq12Tc

[2016-02-04 16:05] dogmaphobic commented on #2735
You were trying to load APM Quad V1. I don't see any *V1* for APM in the list:
https://github.com/mavlink/qgroundcontrol/blob/master/src/VehicleSetup/FirmwareUpgradeController.cc#L206-L282

[2016-02-05 17:12] fkaiser opened #2739 "qgc on tablet: Video stream lagging"
I am currently trying to stream a video into QGC by using a logitech C920 camera that is connected to a Odroid C1 that redirects the video stream via WiFi to the QGC on a Samsung tablet computer. The video starts to lag after 4 to 6 seconds. However, if I stream the video to a desktop computer that runs QGC, the videostream looks good and does not lag.

[2016-02-06 04:57] jcooper21 opened #2742 "Mapping Grid Interface"
To use an APM plane or copter in Qground control we need a mapping grid to really test it out.  Is there any chance in this getting implemented?

[2016-02-06 13:05] LorenzMeier commented on #2726
@NaterGator @dagar Would you be interested to look into this? It seems like this is the primary user experience issue left, because users can plan missions that are absolutely not doable by the aircraft and the best-effort based result is confusing them a lot. We need to expose the result on the UI and enforce some basic parameters like waypoint distances.

[2016-02-06 13:19] LorenzMeier commented on #2726
This issue is a result of missing visibility from the user side: https://github.com/PX4/Firmware/issues/3639

[2016-02-06 13:24] LorenzMeier commented on #2716
@tubeme Could you try that again with PX4/master? I believe we fixed it there.

[2016-02-06 13:26] LorenzMeier opened #2743 "Do not show the acceptance radius in simple edit mode"
@DonLakeFlyer Showing the acceptance radius is confusing users. They can also kill mission performance (by setting it too wide or too narrow). This field should never be shown on friendly edit.

<img width="1120" alt="screen shot 2016-02-06 at 14 23 51" src="https://cloud.githubusercontent.com/assets/1208119/12866867/87760156-ccdd-11e5-92d4-1c6fd7155514.png">

The fact its shown led to user experi

[2016-02-06 13:29] LorenzMeier opened #2744 "Loiter radius has to be visualised, but only for planes"
@DonLakeFlyer The friendly edit for loiter waypoints should only show the radius field for planes, not for multicopters. When it does, it should draw a circle at the right scale to indicate where the plane will be loitering. It should also enforce a minimum radius (for PX4:  fixed wing: 1.0f / M_PI * FW_L1_DAMPING * FW_L1_PERIOD * FW_AIRSPD_TRIM), which is the same as the minimum turn distance dis

[2016-02-06 15:54] tubeme commented on #2716
No it is not working properly. It remembers the ID# -1 and 60 repeats for IDs larger than 2. If ID2 is chosen then it returns ID1 repeats: 0. If ID1 chosen then it returns ID0 and repeats: 0. Do you need any logs or screens?

[2016-02-06 17:59] dagar commented on #2742
Survey support is coming.

Follow #2526 and #2507 for details.

[2016-02-06 17:59] #2742 closed

[2016-02-06 18:02] dagar commented on #2507
I had a good email exchange with a QGC Android user coming from Mission Planner looking for survey support.

His feedback -

[2016-02-06 19:13] DonLakeFlyer commented on #2507
Yup. I've been studying survey ui'a and already have a nice pretty good idea of what I want to do. On the plane ride across the country I implemented the concept of a "complex" mission item that has its own visualization.

[2016-02-07 17:03] LorenzMeier opened #2746 "Implement drop-down for enums with PX4"
@DonLakeFlyer MERGED: This adds this param meta for PX4 (note the <values> tag). It would be great if that could be enabled in the UI to drive the drop-downs like for APM. I also have a wish list for a few config UI additions driven by this.

[code]

[2016-02-07 17:12] LorenzMeier commented on #2702
Added in 7e441d4.

[2016-02-07 17:12] #2702 closed

[2016-02-07 17:21] LorenzMeier commented on #2746
@DonLakeFlyer How do I wipe the parameter XML cache? I'm not seeing the new default file I introduced.

[2016-02-07 17:38] NaterGator commented on #2746
@LorenzMeier check the locations listed here for your platform:
http://doc.qt.io/qt-5/qsettings.html#platform-specific-notes

On windows it is located in %APPDATA%\Roaming\QGroundControl.org

[2016-02-07 23:10] #2735 closed

[2016-02-07 23:52] sanderux opened #2749 "Add support for MAV_CMD_NAV_VTOL_TAKEOFF and MAV_CMD_NAV_VTOL_LAND"
Please add support for VTOL takeoff and land commands as specified here: https://github.com/mavlink/mavlink/pull/487/files

PX4 reference: https://github.com/PX4/Firmware/pull/3699

[2016-02-08 01:26] #2746 closed

[2016-02-08 01:32] DonLakeFlyer commented on #2743
This did not used to be in friendly edit. Then users asked why it was missing. Then I added it to friendly. Now I'm asked to take it out. Do we really have a correctly informed idea on the users usage of this value? Which users are correct?

[2016-02-08 02:04] DonLakeFlyer commented on #2726
I get the concept of showing the user a better visual of what will really happen in a mission. But in reality I"m concerned this is going to be very difficult and very firmware specific. As a different example what really happens when a fixed wing flies to a loiter mission item with a turning radius? How do you visualize that with a correct path? What if PX4 and ArduPilot do it differently? What a

[2016-02-08 06:22] LorenzMeier commented on #2743
Users are not actually editing this. Only developers are. You are not showing the radius on the map either. So just remove it.

Please don't get confused by people asking for stuff they had previously in QGC or MP. Both didn't have a user model and the presence of a feature there doesn't mean it made sense.

[2016-02-08 06:27] LorenzMeier commented on #2743
You can also look at it like this: Changing the acceptance radius fundamentally changes the geometry of the mission, because it will lead to a different path taken. So its really confusing if you do it and unless yo have the visuals in the map to indicate this it should not be user facing.

[2016-02-08 06:56] LorenzMeier commented on #2726
It will be a lot of work, yes. I'm wondering if we should enforce the minimum waypoint distance though already for 3.0. That will prevent the primary failure case.

[2016-02-08 16:13] DonLakeFlyer commented on #2726
Shouldn't the firmware do this somehow as well? Some sort of warning output when the user tried to fly an invalid mnission. I'm not saying QGC shouldn't do it as well. But doing it only from the QGC side will not be 100% infallible. The only time a turn radius is truly known is when the mission is actually flown. Anything before that is in essence offline editing since the parameters to calc turn

[2016-02-08 16:27] DonLakeFlyer opened #2751 "Plan View altitude map incorrectly shows inidicator for items with no altitude"
For example Jump to Item shows up in altitude map

[2016-02-08 17:32] DonLakeFlyer commented on #2731
I'm closing this since Issues are for QGC bugs. But we can continue the discussion.

First thing I would test is change your code above to send a normal mavlink mesage text message. Then see if that message gets to QGC by dropping down the message icon in the toolbar. That way you can verify that you firmware code is at least being called and attempting to send a message.

[2016-02-08 17:32] #2731 closed

[2016-02-08 17:48] DonLakeFlyer commented on #2715
Seems interesting, but worried that this really is being requested because the firmware isn't marking severity appropiately. Hence users want to tone town all the talking the firware is causing. Do you have a use case where changing the setting for this is a useful feature? Some example message traffic to show how changing back/forth is helpful?

From my standpoint, adding an option is always a la

[2016-02-08 17:57] DonLakeFlyer commented on #2711
Any update on this?

[2016-02-08 20:53] DonLakeFlyer commented on #2744
@LorenzMeier ArduPilot will circle a multi-rotor as well as fixed wing using the specified radius for MAV_CMD_NAV_LOITER_TURNS. For _UNLIM and _TIME it disregards radius for multi-rotor. That seems to make some sense. Do you want to do the same? If not, it causes a problem as to what MAV_CMD_NAV_LOITER_TURNS means for a multi-rotor.

[2016-02-08 20:58] DonLakeFlyer opened #2752 "Aiframe Config screen left up after apply/restart"
Buttons went away, but config was still showing

[2016-02-08 21:19] LorenzMeier commented on #2711
These should have been back ported already. You can however run recent NuttX now as well: https://github.com/PX4/Firmware/pull/3131

If the issue goes away with that Firmware version then it is indeed NuttX.

[2016-02-08 21:24] DonLakeFlyer opened #2753 "Allow clickable URLs in parameter long description meta data"

[2016-02-08 21:38] DonLakeFlyer opened #2754 "Resrtructure FirmwarePlugin"
Such that base class contains default implementaions. This prevents unecessary duplication in derived classes.

[2016-02-08 21:42] LorenzMeier commented on #2744
It makes no sense at all why one loiter command leads to a circle and one not. Its against the MAVLink spec. We're not going to adopt hackery.

[2016-02-08 21:55] NaterGator commented on #2711
I have been having intermittent issues and have been running with a JTAG debugger attached. Most often when I notice the CDC ACM driver stops responding interrupts on the STM32 are also not function and the PC is at https://github.com/PX4/NuttX/blob/3009fb230ec8232c4c4fd7798fd70ea9632692ec/nuttx/arch/arm/src/stm32/stm32f40xxx_dma.c#L625 when I break.

I audited upstream nuttx's otgfs code for the

[2016-02-08 22:02] LorenzMeier commented on #2744
That said I'm open to adding a new command which is fully specced and consistent.

[2016-02-08 22:04] sanderux commented on #2715
The request was made in light of people wanting spoken info messages when flying FPV.

[2016-02-08 22:09] DonLakeFlyer commented on #2744
So does this mean that the list of supported commands needs to change based in fixed-wing/multi-rotor?

[2016-02-08 22:46] DonLakeFlyer commented on #2715
Ah, makes perfect sense, thanks.

[2016-02-08 23:05] DonLakeFlyer commented on #2743
This is going to be more complicated than just removing it from friendly edit. The issue is that friendy edit also sets the default. If I remove it from friendly edit the default will go away as well which is bad. Also falling back to "Show all values" is too much of a leap for someone that actually wants to set an acceptance radius since "Show all values" just shows Param1-4 and you have no idea

[2016-02-08 23:43] DonLakeFlyer commented on #2734
There is a Qt bug related to MapQuickItem which prevents this from being implemented. I've tried multiple ways to work around it but failed in all tries. In 3.1 release I will likely implement my own MapQuickItem derivative in order to provide better visualization of missions. In the process of doing that I should be able to create something that doesn't have this bug and then can re-consider movi

[2016-02-08 23:48] DonLakeFlyer commented on #2726
Better visuals for vehicle paths is going to have to wait until 3.1. For 3.1 I plan on implmenting custom mission item visuals support. Initially this was only for the item indicators themselves but I can include the path elements as well. It's a fairly involved piece of work which I have already started on for survey support.

This leaves making a call on minimum waypoint distance checks. My feel

[2016-02-08 23:57] DonLakeFlyer commented on #2720
@LorenzMeier Is this supposed to be "stable" instead of "latest"?

[2016-02-09 00:07] DonLakeFlyer commented on #2716
This is a QGC bug with the JUMP commands and ids.

[2016-02-09 00:23] DonLakeFlyer commented on #2716
This is going to have to wait for the Planned home position work. It is mired in the PX4/ArduPilot home position in slot 0 difference issues.

[2016-02-09 00:25] DonLakeFlyer commented on #2700
These changes also need to handle JUMP to id's correctly.

[2016-02-09 00:26] DonLakeFlyer commented on #2716
Also just FYI: The IDs are sent correctly to the vehicle and the mission should work fine. The bug is when you read back from the vehicle.

[2016-02-09 00:28] DonLakeFlyer commented on #2744
With #2755 Loiter Radius is now correctly hidden on multi-rotor loiter command editors. The remainder of the on map visuals will be done in 3.1.

[2016-02-09 00:41] DonLakeFlyer commented on #2662
Moving Rover support to 3.1

[2016-02-09 08:45] LorenzMeier commented on #2720
We have /stable, /beta and /master, never latest. So the link is definitely wrong, fix depends on context.

[2016-02-09 09:41] tubeme commented on #2716
@DonLakeFlyer OK then I will fly test it in two days and will report back.

[2016-02-09 09:55] #2720 closed

[2016-02-09 10:01] LorenzMeier commented on #2728
Its not going to work. The Firmware doesn't have that sort of resolution.

[2016-02-09 10:08] Nurgak commented on #2731
This is what I've been trying:

[code]

![qgc_no_afs_message](https://cloud.githubusercontent.com/assets/1785126/12913085/eb46ffe6-cf1c-11e5-8598-6129ebc6619a.png)

[2016-02-09 10:33] LorenzMeier commented on #2726
@DonLakeFlyer It doesn't really help if you enforce the minimum waypoint distance on the autopilot - its something that has to be done during editing. What you're proposing is an user experience from hell. Missions which fail to upload and you only can figure it out from a cryptic text message. Yuck!

Flight stack neutral offline editing is a fringe use case. I'd even say its non-existent. You can

[2016-02-09 11:37] LorenzMeier commented on #2743
@DonLakeFlyer We need to have to agree on one very basic fundamental principle: Show nothing in friendly edit which is missing the representation on the map. I'm happy to talk you through it on a call, but changing that value changes *EVERY* coordinate in the mission. Its frickin' *DANGEROUS*. So I propose to fix the default dependency on friendly edits, remove it and only re-introduce it with a m

[2016-02-09 15:27] NaterGator commented on #2743
Perhaps this is a separate discussion, but isn't the user intuition to expect the craft to "nearly" hit the center of the navigation point even if it achieves an achievement criteria before then? For example in fixed-wing would it not make sense to estimate the time to WP at the achievement met condition and perform a best effort approach to the point?

[2016-02-09 16:55] DonLakeFlyer commented on #2743
When we get to 3.1 and I have better infrastructure in place for drawing visuals associated with a mission command on the map it will be easier to get closer to this. But whether there is a visual or not will be determined on a case by case basis. I see no reason to hold the 3.0 release because we don't show visuals for acceptance or say loiter radius for example.

Back to acceptance radius:
Missi

[2016-02-09 17:01] #2751 closed

[2016-02-09 17:01] #2699 closed

[2016-02-09 17:08] lvale commented on #2728
@LorenzMeier I've recently went through all the messages on ArduPilot to correct the severity they are sent to GCS's, and at the moment all have a well defined set of severities according to what is defined on MAV_SEVERITY at https://pixhawk.ethz.ch/mavlink/

So the suggestion, as discussed on the PX4 meeting is a simple selection box to "speak" the messages according to the severity. Alternativel

[2016-02-09 17:15] DonLakeFlyer commented on #2726
What I'm proposing is to not deal with this on the QGC side in the 3.0 release, and fix it in 3.1.

I'm already working my way towards that in 3.1 since mapping/survey needs the same thing in order to create a feasible grid flight pattern. My plan is to resurrect the discussion we had on detecting a a new vehicle that QGC has never seen before. Then assign it ID and collect information on vehicle

[2016-02-09 17:25] DonLakeFlyer commented on #2728
Why not just have an option to speak all messages? That will be way more understandable to user then trying to have them know what a MAV_SEVERITY means. Tying to select on severity assumes there is really a clear delineation between each separate severity. That's probably not the case as lorenz says, not enough resolution between types.

[2016-02-09 17:46] DonLakeFlyer opened #2758 "Mission command overrides not working correctly when offline editing"
Offline editing firmware setting should be taken into account but it doesn;t seem to be

[2016-02-09 18:03] DonLakeFlyer opened #2759 "Fix hack reading of OfflineEditingFirmwareType setting"
Need to expose to application to remove duplicate code.

[2016-02-09 18:10] lvale commented on #2728
@DonLakeFlyer Mav_Severity is what we know that the system uses.

Proposal to be displayed to users would be simple things like

INFO
NOTICE
WARNING
ERROR
ALERT

All those of Critical, Emergency would be always spoken if Voice Alerts were enabled

[2016-02-09 20:28] DonLakeFlyer commented on #2700
Correctly handles loading the following file formats:
- WPL 100 - MP/AP2 format which includes home position in index 0
- WPL 120 - QGC format which does not have a home position in the file
- New .mission json format file - Described above

[2016-02-09 21:04] DonLakeFlyer commented on #2743
Plan:
- Remove acceptance radius from friendly edit
- Add Setting for acceptance radius
- Create all waypoints using this global acceptance radius
- Don't show acceptance radius on map

[2016-02-10 01:12] #2700 closed

[2016-02-10 02:13] DonLakeFlyer commented on #2716
This is fixed, but there is a problem with previously saved mission files which include a DO_JUMP command. For the last few months (not sure exactly how far back) QGC has been writing mission files with incorrect DO_JUMP indices (off by +1). Given the fact that it has been a longer time that QGC wrote this correctly my fix assumes DO_JUMP indices in a mission file are correct. The brand new json .

[2016-02-10 02:15] DonLakeFlyer commented on #2586
@LorenzMeier Has this change been made on the firmware side?

[2016-02-10 06:52] LorenzMeier commented on #2586
not yet

[2016-02-10 13:58] NaterGator commented on #2586
To be fair I made that assumption knowing the only two union initializers used in the python script are float and 32-bit int:
https://github.com/PX4/Firmware/blob/56d67c6f6c8f19d5362936257ed4e6a76513c0dc/Tools/px_generate_params.py#L76

[2016-02-10 14:14] ChristophTobler opened #2765 "gazebo cross connections in network"
We get a lot of cross connections when simulating in gazebo (so e.g. my qgc connects to my friends gazebo simulation). We just tried with latest px4 master and qgc 2.9.2. Is there anything we can do about this? (except unplugging the network connection which is a bit inconvenient)

[2016-02-10 16:29] DonLakeFlyer commented on #2765
@LorenzMeier Can you turn of auto-connect and then change to manual connections with specific IP adreseses in gazebo?

[2016-02-10 16:55] #2758 closed

[2016-02-10 16:55] #2752 closed

[2016-02-10 17:06] DonLakeFlyer commented on #2749
From looking at the firmware source I think these assumptions are correct:
- [ArduPilot:PX4] Supports coordinate for both takeoff and land
- [PX4] Support heading for takeoff and land
- [ArduPilot] Does NOT support heading for takeoff and land

@sanderux Can you very this is correct?

[2016-02-10 17:08] DonLakeFlyer commented on #2749
Also:
[PX4] - Support VTOL_TRANSITION
[ArduPilot] - Does NOT support VTOL_TRANSITION

[2016-02-10 17:10] DonLakeFlyer opened #2767 "Parameter/Airframe meta data needs to be versioned"
This will allow the latest version to take precedence over older versions. Whether it is cached or internal to QGC.

[2016-02-10 17:17] DonLakeFlyer opened #2768 "Connect/Disconnect/Connect sequence causes crash in mission code"
- Boot
- Connect PX4 MockLink
- Plan: Add a few waypoints
- Disconnect
- Connect ArduPilot MockLink
- Boom!

[2016-02-10 17:23] DonLakeFlyer commented on #2698
Missing:
- MAV_CMD_NAV_CONTINUE_AND_CHANGE_ALT
- MAV_CMD_NAV_LOITER_TO_ALT
- MAV_CMD_NAV_SPLINE_WAYPOINT
- MAV_CMD_DO_SET_MODE
- MAV_CMD_DO_SET_HOME
- MAV_CMD_DO_SET_PARAMETER
- MAV_CMD_DO_LAND_START
- MAV_CMD_DO_FENCE_ENABLE
- MAV_CMD_DO_PARACHUTE
- MAV_CMD_DO_INVERTED_FLIGHT
- MAV_CMD_DO_GRIPPER
- MAV_CMD_DO_AUTOTUNE_ENABLE
- MAV_CMD_NAV_ALTITUDE_WAIT

[2016-02-10 18:00] DonLakeFlyer commented on #2698
Need to check on PX4 missing commands as well.

[2016-02-10 19:10] #2749 closed

[2016-02-10 19:10] #2698 closed

[2016-02-10 19:15] #2716 closed

[2016-02-10 19:20] DonLakeFlyer opened #2770 "Firmware upgrade cancel broken"
- Plug in device
- Cllick cancel on side dialog
- Dialog stays up

[2016-02-10 19:21] #2696 closed

[2016-02-10 19:31] DonLakeFlyer commented on #2586
@NaterGator You familiar with this code, wondering if you could update it:
- To follow the new spec
- Also need to handle type size appropriately so that we don't need to rely an extra space being zeroed. ArduPilot uses additional type sizes smaller than uiint32_t, so we'll need that to bring them on board. Also to guard against PX4 adding additional smaller types further down the road.

[2016-02-10 19:42] sanderux commented on #2749
@DonLakeFlyer as far as i can tell APM indeed does not support VTOL_TRANSITION yet. @tridge ?

[2016-02-10 20:31] DonLakeFlyer opened #2772 "First waypoint line missing from mission"

[2016-02-10 20:43] NaterGator commented on #2586
Sure I can spend some time on this. Is the "new spec" [this](https://github.com/mavlink/qgroundcontrol/issues/2586#issue-126235663)? Should we plan to maintain a separate caches for each system ID  + component?

[2016-02-10 21:05] DonLakeFlyer commented on #2586
Correct on spec. Yes I think cache for each vehicle as well makes sense.

[2016-02-10 21:06] dogmaphobic commented on #2586
I used to compute the CRC based on the value type (sizeof(type)). I've changed the code in the ESP firmware to copy the value into a zeroed out uint32_t to match QGC's code.

https://github.com/dogmaphobic/mavesp8266/blob/master/src/mavesp8266_parameters.cpp#L172-L186

If we switch to sizeof(type), I need to revert it. The PX4 firmware uses sizeof(val). We just need to make it consistent across al

[2016-02-10 21:13] DonLakeFlyer commented on #2744
Final decision:
- Acceptance radius defaults to 0
- Acceptance radius is not show anywhere in UI

[2016-02-10 21:13] DonLakeFlyer commented on #2744
Plas is

[2016-02-10 21:13] #2744 closed

[2016-02-10 21:15] DonLakeFlyer commented on #2743
See #2744, #2773

[2016-02-10 21:15] #2743 closed

[2016-02-10 21:19] DonLakeFlyer commented on #2726
Better visuals for vehicle paths is going to have to wait until 3.1. For 3.1 I plan on implmenting custom mission item visuals support. Initially this was only for the item indicators themselves but I can include the path elements as well. It's a fairly involved piece of work which I have already started on for survey support.

[2016-02-10 21:19] DonLakeFlyer commented on #2726
Moving all of this to 3.1

[2016-02-10 21:42] #2772 closed

[2016-02-10 21:47] DonLakeFlyer commented on #2627
@LorenzMeier ?

[2016-02-10 22:03] NaterGator commented on #2586
I'm all for fixing it to only hash enough bytes to completely cover the storage type specified (less overhead work too).

Technically the CRC32 implementation in NuttX is not spec-compliant since it doesn't properly handle pre/post conditions, but most CRC32 implementations I've found are not spec compliant so I'm inclined to leave it be.

[2016-02-10 22:11] DonLakeFlyer commented on #2695
@quentin1002 My guess is that you have something going wrong on the firmware side. I'd direct your questions there. If you continue to get Connect Lost when connecting to your vehicle it means QGC is not getting a heartbeat from the vehicle.

[2016-02-10 23:14] #2770 closed

[2016-02-10 23:14] DonLakeFlyer commented on #2695
See pull for usabillity change

[2016-02-10 23:14] #2695 closed

[2016-02-11 01:36] DonLakeFlyer opened #2776 "Blacklist intel drivers for OpenGl"
Need to figure out how to blacklist the intel drivers to use Angle instead of OpenGl.

[2016-02-11 02:43] NaterGator commented on #2776
We can use QT_OPENGL_BUGLIST: http://doc.qt.io/qt-5/windows-requirements.html

[2016-02-11 15:39] tubeme commented on #2716
@DonLakeFlyer I just wanted to confirm it works, despite it is closed issue.

http://logs.uaventure.com/view/cv8fabKPAFGMkTNyTi9KQm

[2016-02-11 16:12] DonLakeFlyer commented on #2716
@tubeme Thanks for reporting back.

[2016-02-11 17:22] DonLakeFlyer opened #2778 "Waypoint 110 version files are output tp AP2 and MP"
This means you can't tell if there is a home position in it or not.

[2016-02-11 17:36] DonLakeFlyer opened #2779 "Really large waypoint file causes Plan View mission item ListView to be very slow to scroll"
[large_test.waypoints.txt](https://github.com/mavlink/qgroundcontrol/files/126797/large_test.waypoints.txt)

[2016-02-11 17:47] DonLakeFlyer commented on #2779
Also need to check that the altitude displays is a flickable so you can scroll it.

[2016-02-11 18:00] billbonney commented on #2700
see https://github.com/diydrones/apm_planner/blame/master/src/uas/UASWaypointManager.cc#L510

For AP2 waypoint version being 110, same as MP

[2016-02-11 20:28] gcarmix opened #2780 "Can't add new items to Quick Info View on OS X 10.11"
As described in the subject, I can't add new items to Quick Info View on OS X 10.11, qgroundcontrol version is 2.9.2 stable

[2016-02-11 20:35] DonLakeFlyer commented on #2778
Wait I think I have that wrong. 120 is the new QGC format.

[2016-02-12 17:22] DonLakeFlyer commented on #2778
MP outputs 110 and AP2 outputs 110 so we are fine here.

[2016-02-12 17:22] #2778 closed

[2016-02-12 17:22] #2768 closed

[2016-02-12 17:24] DonLakeFlyer commented on #2765
@dogmaphobic Gus?

[2016-02-12 17:31] dogmaphobic commented on #2765
My guess is that it's using broadcast for all messages. In that case, anyone listening will get it. The idea would be for the *sender* to switch to unicast once it receives a response from a *client*.

[2016-02-12 17:32] dogmaphobic commented on #2765
Different code but the idea applies:
https://github.com/dogmaphobic/mavesp8266/blob/master/src/mavesp8266_gcs.cpp#L102-L107

[2016-02-12 17:33] #2780 closed

[2016-02-12 17:34] LorenzMeier commented on #2765
@dogmaphobic It was all the time that way. I can't reproduce this issue with PX4 master with a desktop and tablet. I expect that we're having issues with stale code being used.

[2016-02-12 17:36] DonLakeFlyer commented on #2776
FYI: vasil.petrov.tv@gmail.com has one of these laptops with the intel board which doesn't work

[2016-02-12 19:17] DonLakeFlyer opened #2785 "Plan: When List doesn't fill screen, allow clicks to add waypoints in that space"
Users are confused by the fact they can't click to add waypoint in that space.

[2016-02-12 19:30] DonLakeFlyer commented on #2779
Better implementation is to not show the list when count get high. But instead show a single mission editor. Then the user can click waypoints in the map to change that single editor.

[2016-02-12 19:35] WickedShell opened #2786 "Map tiles can't always be loaded"
![qgcmap](https://cloud.githubusercontent.com/assets/567688/13018068/de6cfe28-d184-11e5-9fff-96aa28cf6ca2.png)

The affected area will never look correct again once zoomed out/or in. I arrived at this state by just panning/zooming around the  map at the same time. The console at the time had this:

[I] at :0 - "Logging ini file directory "C:/Users/WickedShell/AppData/Local/QtPr
oject""
[I] at :0 -

[2016-02-12 19:38] WickedShell commented on #2786
Did some more pan and zooming (caused some more tiles to not load) this is in the same session (with already bad tiles but at a different spot on the map) Most of the console is the same but the [E] at :0 - "QNetworkReplyImplPrivate::error: Internal problem, this method must
 only be called once." messages might indicate there are multiple ways to create the bug/arrive at the state.

[I] at :0 - "

[2016-02-12 19:40] WickedShell commented on #2786
Restarting doesn't address the issue, causing me to suspect bad data was cached. I have now lost about half the world of usable map area.

![qgcmap2](https://cloud.githubusercontent.com/assets/567688/13018265/d7373000-d185-11e5-9a30-fa22991bbc59.png)

[2016-02-12 19:52] dogmaphobic commented on #2786
I think google is getting smart about it. I've been noticing the same thing. If you go slowly, you get them. Until we have a *proper* way to get these tiles, stick to Bing for satellite maps.

[2016-02-12 19:53] WickedShell commented on #2786
Does Q support mappbox? And how can I go about clearing my cache? (The directory isn't jumping out at me)

[2016-02-12 20:31] DonLakeFlyer opened #2788 "Mobile needs file picker for Mission Load/Save"
No mission file support on mobile is kind of bad.

[2016-02-12 22:34] #2788 closed

[2016-02-12 22:35] DonLakeFlyer opened #2790 "Plan: Altitude display should be scrollable ListView"

[2016-02-12 22:48] #2785 closed

[2016-02-12 22:56] DonLakeFlyer commented on #2776
@NaterGator Do you think you can set this up in the installer? The guy above has an example case you can test against.

[2016-02-12 22:58] #2779 closed

[2016-02-12 23:15] #2790 closed

[2016-02-12 23:26] NaterGator commented on #2776
@DonLakeFlyer it will be a _little_ bit grosser than that. We likely shouldn't muck with the user's system wide environment variables.

On Windows I'd advocate we check that QT_OPENGL_BUGLIST is set at launch, and if not respawn via QProcess w/ our custom buglist provided. I'll see if I can get the info necessary from that user to extend the buglist.

[2016-02-12 23:34] DonLakeFlyer commented on #2776
Hmm. Any way to detect the bad drivers ourselves and do the switch internally? I think you can tell the QmlEngine what rendering to use.

[2016-02-13 00:04] NaterGator commented on #2776
Doing anything ourselves would be more of a hack than using the existing Qt code.

The other option is to give users the ability to enforce a particular renderer in the QGC settings page. We can give them Native, Compatibility (ANGLE), or Software rendering. That setting is applied when QApplication is started.

I'll trace through QtBase and find out when the QT_OPENGL_BUGLIST variable is checked.

[2016-02-13 02:34] gmaclennan opened #2794 "Support for Bebop 2?"
Does qgroundcontrol support the Parrot Bebop 2 yet? I see support is mentioned in the v2.9.0 milestone, but I don't see any other mention of it in any commits, other than some airframe stubs by @tcanabrava. I am unclear what mechanism I should use to connect to the Bebop if it were to work, I seem to be getting some kind of connection with UDP, but it doesn't read any parameters.

[2016-02-13 09:52] LorenzMeier commented on #2794
Parrot has shipped two units to our developers, which should help.

[2016-02-13 10:33] tubeme commented on #2776
Year and a half ago There was a version of QGC that stopped working on my Lenovo with nVidia Quadro NVS 140M, despite it is pretty capable VGA. Then I moved to the laptop I'm currently using for GCS. So when the Intel problems started on my current machine I tried again the nVidia Quadro NVS 140M and it works there perfect. So with the progress of Qt strange things happen. Making more complex soft

[2016-02-13 16:05] DonLakeFlyer opened #2795 "Implement Follow Me using new mavlink message to vehicle"
@catch-twenty-two Adding this here so I remember who is dong what

[2016-02-13 16:09] DonLakeFlyer commented on #2776
QGC crashes out before you get there.

This is an interesting idea and simpler to implement. Still would be nice to have a runtime check right in main before Qt craps out that will point the user in the right direction.

[2016-02-13 16:32] kd0aij opened #2796 "Comm Links menu needs work"
- no indication of which link is connected
- displays garbage if a "disconnect" button is pressed
- impossible to see config settings of connected link

[2016-02-13 16:33] DonLakeFlyer opened #2797 "Downloadable JSon file for firmware listings"
Currently the urls to the various firmware versions are hardcoded into QGC. Also QGC needs to jump through hoops to determine things like the versions of those firmware files. It would be much better if these were dynamically determined at runtime instead of hardcoded in. I'm proposing using a standard json file format to represent the available firmware versions. These json files could then be do

[2016-02-13 16:34] DonLakeFlyer commented on #2797
@LorenzMeier @lvale FYI: Proposal to standardize downloadable firmware information across PX4, ArduPilot, AeroCore. Can someone include in the AeroCore folks?

[2016-02-13 16:34] DonLakeFlyer commented on #2390
See Issue #2797

[2016-02-13 16:40] lvale commented on #2797
Following our previous conversation:

[code]

[2016-02-13 16:41] NaterGator commented on #2776
Another dirty option is to supply a windowless launcher process that acts
as a springboard for launching the main process with the appropriate
renderer.

I'm going to get a first pass done today.

On Sat, Feb 13, 2016, 11:09 AM Don Gagne <notifications@github.com> wrote:

[2016-02-13 16:51] DonLakeFlyer commented on #2776
QGC only crashes out once it starts rendering Qml. So various checks can go in main before any Qml engine is started. Then I think the appropriate renderer can be set for the Qml engine. So you don't need the launcher.

[2016-02-13 17:02] NaterGator commented on #2776
The point is actually moot, here is the stack trace for the OpenGL compatibility check:
![image](https://cloud.githubusercontent.com/assets/2575/13028865/957f7dec-d249-11e5-9633-0ea15dd13333.png)

We can easily set the environment variable ourselves with no trickery. Crisis averted, will have a PR momentarily :)

[2016-02-13 17:17] tubeme commented on #2776
BTW on both notebooks and on both occasions I did not have crash but rather hanging.

[2016-02-13 17:19] NaterGator commented on #2776
I'm not surprised. The issue is not Qt getting more complicated but Intel's history of very poor OpenGL implementations on Windows. They have recently improved quite a bit and their drivers are getting less quirky, but in the past they were a mess and badly broken.

[2016-02-13 17:55] #2560 closed

[2016-02-13 18:09] NaterGator commented on #2776
@tubeme can you verify if this installer fixes the issue? If not we may need to block GLES too and fall to pure d3d11 rendering, and failing that fall all the way back to software rasterization.

https://ci.appveyor.com/api/buildjobs/mk5f8w8c1xjqw2jc/artifacts/qgroundcontrol-installer.exe

[2016-02-13 21:51] tubeme commented on #2776
@NaterGator No it is not working.... Had to manually set again "angle" to see it working.

[2016-02-13 22:35] LorenzMeier opened #2800 "MAVLink 2.0 testing branch"
@DonLakeFlyer It would be great to get MAVLink 2.0 supported on a branch:

http://discuss.dronecode.org/t/mavlink-2-0-progress-tracking/23/4

[2016-02-14 03:16] DonLakeFlyer commented on #2800
Is there a built c library repository for it anywhere so I can add it as a submodule like mavlink 1?

[2016-02-14 03:33] DonLakeFlyer opened #2802 "Fly: Map/Video switching issues"
- Video box is showing up on my Android bulid even though I don't have the GStreamer stuff installed
- When you switch to Video the Map instruments stay up and don't switch to Video widgets

[2016-02-14 03:36] DonLakeFlyer opened #2803 "Implement direct control commands: Takeoff, Land, ..."
Takeoff, Land, Go here, Kill Switch?

[2016-02-14 03:38] DonLakeFlyer commented on #2803
@dogmaphobic Hey icon man: I think this will likely be a DropButton. Any ideas for icons?

[2016-02-14 03:55] DonLakeFlyer opened #2804 "Fly: Restucture instrument panel for use with Thumb Sticks"
- Layout the dials horizontally at the top of the screen with the total width being the same width as non-thumbstick vertical control.
- Move the ValuesWidget to be standalone control below the two dials.
- ValuesWidget has alternate visual in this mode
- ValuesWidget max height is from bottom of dials to top of thumb stick

[2016-02-14 04:02] DonLakeFlyer opened #2805 "Plumb remainder of Vehicle FactGroup object model"
Then we can get rid of Info View widget

[2016-02-14 05:20] dagar commented on #2803
I'm looking forward to "go here". Does PX4 need anything added for this to work?

[2016-02-14 13:48] jimdsouza commented on #2800
I'm building one at https://github.com/jimdsouza/mavlink/tree/mavlink2-wip_test/generator/C/include_v2.0

[2016-02-14 16:12] DonLakeFlyer opened #2806 "Remove 3d mouse support"
Doesn't meet new licensing requirements

[2016-02-14 16:14] DonLakeFlyer commented on #2803
Lorenz is specing it all out right now.

[2016-02-14 16:35] NaterGator commented on #2776
@tubeme can you set the environment variable QT_LOGGING_RULES=qt.qpa.gl=true and run again? The log window for QGroundControl should have a bunch of entries for qwindowsopengltester.cpp I'd like to see.

[2016-02-14 16:55] kd0aij opened #2807 "QGC send param save to vehicle too often"
Scenario:
1) Fly without GCS
2) Remove SD card, copy logfiles
3) Power up via USB
4) Connect QGC via wifi
5) discover that SYS_AUTOSTART is now zero, as are all sensor cal params
6) look for means to restore parameters from last flight log;

[2016-02-14 17:12] NaterGator commented on #2776
Actually scratch that, I made a silly mistake. Never code groggy! See if this one works for you:
https://ci.appveyor.com/api/buildjobs/g3r1afjkjm4d6ev2/artifacts/qgroundcontrol-installer.exe

[2016-02-14 17:13] DonLakeFlyer opened #2808 "Pull out WGS84 values from system"
They are incorrect and are actually AMSL

[2016-02-14 17:14] LorenzMeier commented on #2803
Here is what I was thinking so far:

Go to location command (MAV_CMD_DO_REPOSITION). This command should lead to a mode switch to POSCTL / GUIDED. Stick activity should override the position command and let the user take over.

param1: velocity: -1: default. > 0: ground speed
param2: Mode: -1: Hold current position, < -1: Loiter radius, 1: go to position (multicopter mode), 2: go to position: Fixe

[2016-02-14 17:52] DonLakeFlyer commented on #2807
What exactly is QGC doing wrong here, and how is it changing parameters?

[2016-02-14 17:53] LorenzMeier opened #2809 "Add option to bind param value to RC channel on mobile (Set RC to Param..)"
@DonLakeFlyer I guess this is because its control is a widget.

[2016-02-14 18:13] DonLakeFlyer commented on #2809
Correct, not converted to Qml yet.

[2016-02-14 18:23] LorenzMeier commented on #2807
Its sending a param save command as part of the sync process, even during the first sync where no params are changed (since ages). That save could, given the right timing, trash the params if the user shuts down the board right then.

[2016-02-14 20:12] DonLakeFlyer commented on #2807
Not sure why a param save when QGC has changed no params would cause a problem. That would seem to be a firmware problem to me. Anyway, I'll look at making these saves not as stupid.

[2016-02-14 20:12] #2808 closed

[2016-02-14 20:20] DonLakeFlyer commented on #2803
* Using NaN to indicate no yaw change is going to be tricky to handle from a ui side. Will require both a check box and a text field. That's a one-off from anything else we have auto-generated in the ui right now. Would be better if it was something the user could type in as well.
* How do you change altitude only? Maybe speed only as well?
* Same issue as NaN with Mode being a combination value a

[2016-02-14 20:23] DonLakeFlyer commented on #2803
Also as far as direct control with PX4 firmware: RETURN_TO_LAUNCH doesn't appear to be implemented in missions just NAV_LAND. Maybe it's implemented only as a direct command? Really need both command in both command/mission mode.

[2016-02-14 20:24] DonLakeFlyer commented on #2803
Also for MAV_CMD_NAV_TAKEOFF you would want options there to go just straight up and also not affect yaw.

[2016-02-14 20:25] DonLakeFlyer commented on #2800
Also where is the firmware MAVLink 2.0 branch?

[2016-02-14 20:27] DonLakeFlyer opened #2811 "ValuesWidget should show largeValues larger on mobile"
Unless you start to add smallValues. Then they should go back to fontLarge to give more space.

[2016-02-14 20:52] jimdsouza commented on #2800
Still working on building it https://github.com/jimdsouza/Firmware/tree/mavlink2-test

[2016-02-15 10:08] tubeme commented on #2776
This latest one does not work either..Here is the latest version output:

[I] at :0 - "Logging ini file directory "C:/Users/Vasko/AppData/Local/QtProject""
[I] at :0 - "Filter rules "qt.network.ssl.warning=false\n""
[I] at :0 - "Settings location "C:/Users/Vasko/AppData/Roaming/QGroundControl.org/QGroundControl.ini" Is writable?: true"
[I] at :0 - "Mapping cache directory: "C:/Users/Vasko/AppData/

[2016-02-15 10:10] tubeme commented on #2776
Here is with the ANGLE and QT_LOGGING:

[I] at :0 - "Logging ini file directory "C:/Users/Vasko/AppData/Local/QtProject""
[I] at :0 - "Filter rules "qt.network.ssl.warning=false\n""
[I] at :0 - "Settings location "C:/Users/Vasko/AppData/Roaming/QGroundControl.org/QGroundControl.ini" Is writable?: true"
[I] at :0 - "Mapping cache directory: "C:/Users/Vasko/AppData/Local/cache/QGCMapCache55""
[I] at

[2016-02-15 10:47] LorenzMeier commented on #2807
Found the mistake on the PX4 side. Fix going to master.

[2016-02-15 13:33] NaterGator commented on #2776
@tubeme thank you very much for the logging output, something really really weird is going on. Your computer is loading ATI Catalyst drivers "aticfx32.dll" on and Intel GMA system. I imagine this is something related to discrete + integrated GPUs. No matter, I think the better course is to unconditionally switch Intel GMA adapters to ANGLE regardless of driver version.

This version should not che

[2016-02-15 14:50] LorenzMeier opened #2815 "De-select param values in param editor by default"
The param values in the param editor are selected by default (at least on Android), which leads to the complete field erased on backspace. Its a normal UI convention and its highlighted in blue, but some users reported that this seemed unexpected to them.

[2016-02-15 14:51] LorenzMeier opened #2816 "Phone / sub-9" operation"
@DonLakeFlyer @dogmaphobic Our user experience is already not great for 7" tablets. I'm wondering if we should ban them, let people suffer until we get to it or see how hard fixing the most pressing small-screen issues are.

People trying it will certainly have a bad experience. It seems to take 10" at minimum for the current UI to really work.

[2016-02-15 15:08] LorenzMeier commented on #2776
@tubeme Could you give this another try?

[2016-02-15 16:29] jmachuca77 commented on #2507
Hello Don,
	Are you still trying to implement this? is there a test version out? I have a lot of experience with survey missions and planning, and I think I have some suggestions as to what would be needed to make mission planning easier. If there is a preliminary version I could give it a test and give you some feedback.

Jaime

[2016-02-15 16:30] dagar commented on #2816
FYI About 55% (66 devices) of the current tablet beta testers are on devices < 10".

Through the play store beta listing I'm getting 3-4 emails every week asking why their phones aren't supported. I wonder if we should add tablet to the name or something.

[2016-02-15 16:45] tubeme commented on #2776
@NaterGator @LorenzMeier I might be the reason for this mess. Originaly my laptop has 2 GPUs Intel one and ATI Mobile Radeon HD 4670 which broke so i had spare ATI Mobile Radeon HD 5470 and installed it. Probably the 5470 I had is not properly set for Dual GPU work. And it messed all the drivers in the Win10. I fit in this weird 1% of crazy cases that it is hard to create in the lab on purpouse. :

[2016-02-15 16:46] NaterGator commented on #2776
@tubeme weird case or not, I personally have experience with the terrible state of Intel's OpenGL support in the GMA series of graphics adapters. They should be blacklisted.

[2016-02-15 16:54] tubeme commented on #2776
So the first time I ran it it did not work with the following log:

[I] at :0 - "Logging ini file directory "C:/Users/Vasko/AppData/Local/QtProject""
[I] at :0 - "Filter rules "qt.network.ssl.warning=false\n""
[I] at :0 - "Settings location "C:/Users/Vasko/AppData/Roaming/QGroundControl.org/QGroundControl.ini" Is writable?: true"
[I] at :0 - "Mapping cache directory: "C:/Users/Vasko/AppData/Local/

[2016-02-15 16:58] NaterGator commented on #2776
Interesting. The both times it selected ANGLE and the second time it still loaded ATI drivers:

Either way we should have all 4th gen Intel GMA adapters defaulting to the ANGLE based renderer.

[2016-02-15 17:36] DonLakeFlyer commented on #2507
Yes, this is coming up in our 3.1 release. I've already started the backend work. I will likely get deeper into it by next week. I'll ping you for discussion. Thanks a ton for reaching out. My goal is to create the best, most usable survey support in a ground station you've ever seen.

[2016-02-15 17:47] DonLakeFlyer opened #2819 "Major work items for 3.1 release"
- Survey support
- Switch to fully/completely/all-the-way/really-I-mean-it-this-time native Qml
- Translation support (#3961)
- Mavlink 2.0
- Full direct command support: Takeoff, Go Here, Land, Follow Me
- Parrot support

[2016-02-15 17:55] DonLakeFlyer commented on #2815
Full select on focus is a pretty standard ui paradigm on almost all operating system uis. The is done on all text fields on all os in QGC. Let me look on tablet specifically though to see if they change that paradigm due to the pop up keyboard thing. If they do, we'll follow. If not, we'll keep the same.

[2016-02-15 17:57] DonLakeFlyer commented on #2807
Re-opening since i think it still makes sense to at least try to make QGC a little smarter about these uneeded saves.

[2016-02-15 18:06] tubeme commented on #2776
I'm pretty sure it is Win10 issue... I don't see any difference between both settings the standard and angle one in terms of view and performance... So just turn it on for all Intel GMA adapters. Don't even know what will be the difference in the performance. We have no 3D view...

[2016-02-15 18:45] DonLakeFlyer commented on #2811
@LorenzMeier Ok, so I just went to make these larger on tablet. So I ran tablet to double-check sizing once more. I just don't see why these need to be any larger:
![screenshot_2016-02-15-10-39-51](https://cloud.githubusercontent.com/assets/5876851/13057416/ee3c02e2-d3d0-11e5-95fe-6538bc3d6383.png)

They are easily readable and are the largest font on the screen. Consistently sized withother large

[2016-02-15 18:58] DonLakeFlyer commented on #2800
Sorry for being dense with submodules. But isn't this way to add the v2.0:
[code]

[2016-02-15 18:59] LorenzMeier commented on #2800
I would copy the ZIP file into place and/or just clone the folder to this location. Not add the submodule again.

[2016-02-15 19:01] jimdsouza commented on #2800
I'm sorry. That's the branch. The repository is https://github.com/jimdsouza/mavlink.git

You can clone this repo and checkout to the "mavlink2-wip_test" branch.

[2016-02-15 19:06] DonLakeFlyer commented on #2800
I think I'll just do that. Then I'll let the submodule gods figure out how to do it the right way later.

[2016-02-15 23:17] NaterGator commented on #2819
Can we take a swipe at optimization here too (#2638)? Optimizing the QML side can/will be a bit tricky but it is probably best to learn and implement best-practices as we go whole-hog on QML.

[2016-02-16 13:36] sanderux opened #2822 "Progress bar on log download"
It would be very helpful to get a progress bar on log download, like the one in file download

[2016-02-16 18:18] lucasdemarchi commented on #2776
@NaterGator defaulting to angle or sw rendering only on windows, right?

[2016-02-16 18:33] NaterGator commented on #2776
@lucasdemarchi we're operating as described [here](http://doc.qt.io/qt-5/windows-requirements.html#dynamically-loading-graphics-drivers) with the caveat that we automatically use angle for Intel GMA and 4th generation GPUs.

[2016-02-16 19:27] NaterGator commented on #1819
The plotting interface is still a big sore point. What if we consider something like Chart.js integration:
https://github.com/jwintz/qchart.js

![image](https://cloud.githubusercontent.com/assets/2575/13088211/5ff955c2-d4b9-11e5-9167-8ab4405bddee.png)

[2016-02-16 19:37] dogmaphobic commented on #1819
I've looked at that and considered it. Qt Chart is now supposedly open source. Waiting to see how that goes before investing time with JavaScript.

[2016-02-16 19:55] NaterGator commented on #1819
Ah, missed that... the release is [here](http://blog.qt.io/blog/2016/01/13/new-agreement-with-the-kde-free-qt-foundation/)

It looks like it will be GPLv3, is that going preclude us from using it on mobile platforms?

[2016-02-16 20:32] LorenzMeier commented on #1819
No. It just means we need a proper license for the App Store build.

[2016-02-16 21:59] DonLakeFlyer commented on #2776
FYI: I've updated the wiki to be more specific on Windows laptops with Intel integrated graphics drivers.

[2016-02-16 22:07] DonLakeFlyer commented on #2819
Sure, sounds good.

[2016-02-16 22:21] sanderux opened #2823 "QuadRanger airframe sets wrong autostart"
When selecting QuadRanger (13008) from standard VTOL, SYS_AUTOSTART is set to 13005

[2016-02-16 23:02] DonLakeFlyer commented on #2823
Can flash again and let me know. I think that was fixed on the firmware side. Built in xml meta data is 13008 but you may still have a flash cached version which is incorrect.

[2016-02-16 23:10] sanderux commented on #2823
This was not through flashing, it was flashed through make and then selecting a different airframe. is that behavior different?

[2016-02-17 00:00] cosmonate opened #2824 "Flight modes tab PWM indicator ignores ArduPlane FLIGHTMODE_CH parameter"
On APM:Plane you can change the RC channel flight modes are on. The flight modes tab ignores this parameter and just highlights the PWM value range of whatever channel 5 is, not the actual flight modes channel.

[2016-02-17 00:07] DonLakeFlyer commented on #2824
Ah, missed that quirk of Plane versus Copter!

[2016-02-17 00:15] #2824 closed

[2016-02-17 00:37] DonLakeFlyer commented on #2816
Didn't we limit installs to 10" or higher through a store setting?

[2016-02-17 00:39] DonLakeFlyer commented on #2823
Nope looks like a QGC bug, not a meta data bug.

[2016-02-17 00:41] dagar commented on #2816
It's set in AndroidManifest.xml which also limits the installation of the apk. https://github.com/mavlink/qgroundcontrol/blob/master/android/AndroidManifest.xml#L54

This limits it to roughly 7".

[2016-02-17 00:45] DonLakeFlyer commented on #2823
Can you try flashing master using QGC. Quit QGC. Reboot QGC and then try setting the airframe again?

[2016-02-17 00:50] DonLakeFlyer commented on #2816
Ok. I don't have anything 7" to test on. Let me see how cheap a 7" tablet is.

[2016-02-17 00:53] DonLakeFlyer commented on #2815
No this isn't quite right. Focus should only full select if you tab into a field. Not if you click into a field. I'm going to turn auto-full select for now.

[2016-02-17 01:02] DonLakeFlyer commented on #2815
Turned auto-select for mobile

[2016-02-17 01:02] #2815 closed

[2016-02-17 01:12] #2806 closed

[2016-02-17 01:21] DonLakeFlyer commented on #2776
Feels good to close this one!

[2016-02-17 01:21] #2776 closed

[2016-02-17 01:22] #2804 closed

[2016-02-17 02:12] #2807 closed

[2016-02-17 04:57] quentin1002 commented on #2695
At the end of the day, I tried to install QGC on my Windows computer and it worked. Back on my Ubuntu, I realized that I had to unplug all my USB devices. And now QGC also works on my Ubuntu computer. The lack of USB energy might be the reason of the connection lost error...

[2016-02-17 05:42] DonLakeFlyer commented on #2695
Great, thanks reporting back. Yes you need to plug in directly to the computer to get full power.

[2016-02-17 15:14] LorenzMeier opened #2829 "Critical errors not displayed aggressively enough for the user, leads to wrong focus on QGC errors"
<img width="1392" alt="screen shot 2016-02-17 at 16 13 58" src="https://cloud.githubusercontent.com/assets/1208119/13113933/87710176-d591-11e5-8fe8-226b2b17b01b.png">

[2016-02-17 15:15] LorenzMeier commented on #2829
And actually this a usability issue: The real error is shown in a critical message from the system. The critical messages should probably be shown all in the lower message pane:

<img width="1392" alt="screen shot 2016-02-17 at 16 15 10" src="https://cloud.githubusercontent.com/assets/1208119/13113968/b6c69008-d591-11e5-9515-6a9a9a7a833c.png">

[2016-02-17 15:44] jcooper21 commented on #2819
On the land function for APM Plane support is it possible to get the do_start_land command so planes can autoland with APM?

[2016-02-17 16:05] dogmaphobic commented on #2816
I have a Nexus 7. I haven't loaded anything there in ages. I'll take a look when I get a chance.

[2016-02-17 17:01] LorenzMeier opened #2830 "Vehicle position in plan view"
Right now the vehicle position is not shown in the plan view. This is extremely confusing to users as they use the vehicle to relate to in terms of planning their mission.

Its not obvious that the vehicle is at the home position, nor is this always guaranteed.

[2016-02-17 17:08] DonLakeFlyer commented on #2819
I added that a few days ago.

[2016-02-17 17:11] DonLakeFlyer commented on #2829
@dogmaphobic Shouldn'y all critical errors be showing up down there? I have noticed sometimes they don't pop. Not sure why.

[2016-02-17 17:26] kd0aij opened #2831 "problem connecting PixRacer when USB and wifi are both active"
appears to start loading parameters over wifi (slower than USB) and fails to complete
Must disconnect from wifi and restart QGC.
@pkocmoud can you reproduce this?

[2016-02-17 17:27] pkocmoud commented on #2831
When did this start?

[2016-02-17 17:28] DonLakeFlyer commented on #2831
Can get logging out from connection logs: http://www.qgroundcontrol.org/logging. Then we can see what order things are connecting.

[2016-02-17 17:34] LorenzMeier opened #2832 "New altitude indication feature creep on Desktop ;)"
@DonLakeFlyer The usability of the altitude indication is terrible. A clear step back. Don't let the feature creep get you!

<img width="1392" alt="screen shot 2016-02-17 at 16 49 19" src="https://cloud.githubusercontent.com/assets/1208119/13118557/034396b6-d5a5-11e5-9783-069b4bfa247b.png">

[2016-02-17 17:42] kd0aij commented on #2831
[qgc.log.zip](https://github.com/mavlink/qgroundcontrol/files/134855/qgc.log.zip)

[2016-02-17 17:43] jcooper21 commented on #2819
Awesome keep up the great work.  The only other main features I see missing that have not been said is vibe monitoring, EKF monitoring, second GPS sat info, Wind speed & direction

[2016-02-17 17:45] DonLakeFlyer commented on #2831
This has full logging which makes it near impossible to pull anything out.. I need the connection logging only. Need --logging:LogManagerLog,MultiVehicleManagerLog. Also the log doesn't look like it starts from boot.

[2016-02-17 17:46] kd0aij commented on #2831
./qgroundcontrol --logging:full 2>&1 qgc.log | tee qgc.log
Is that wrong?

[2016-02-17 17:46] DonLakeFlyer commented on #2831
./qgroundcontrol --logging:LogManagerLog,MultiVehicleManagerLog

Not sure why it doesn't seem to get the beginning of the log.

[2016-02-17 17:47] DonLakeFlyer commented on #2819
Can you move those to a new issue and we'll continue discussion there?

[2016-02-17 17:53] kd0aij commented on #2831
[qgc.log.zip](https://github.com/mavlink/qgroundcontrol/files/134870/qgc.log.zip)

[2016-02-17 18:24] jcooper21 opened #2833 "Vehicle object model: Implement Estimator status messages and visual indicators"
A couple of great features to see in Qground control would be vibe monitoring, EKF monitoring, second GPS sat info, Wind speed & direction and current draw.