[2017-08-08 18:26] #5540 closed

[2017-08-08 18:41] DonLakeFlyer opened #5542 "Change Sensor health icon to QGCMouseArea"
Related to #5135

[2017-08-08 19:59] LubinKerhuel commented on #5540
Hi Don,

You hit the nail on the head. I had HEARTBEAT set with Component Id = 0 (MAV_COMP_ID_ALL). QGC disregarded it. (this behavior was introduced in v3.2).
Component ID need to be 1 (MAV_COMP_ID_AUTOPILOT1) to make the vehicle registered within qgc, and its packets showing up within the mavlink inspector.
Many thanks for pointing-out the solution.

Mavlink Inspector not showing-up valid (CRC o

[2017-08-08 20:33] #5430 closed

[2017-08-08 21:46] DonLakeFlyer commented on #5417
All fixed now

[2017-08-08 21:46] #5417 closed

[2017-08-09 03:53] kyuhyong opened #5544 "Joystick mode for attitude not working"
Tried to use Joystick to control a copter setup with pixhawk, latest FW 1.6.5dev.
Flying with RC has no problem at all.

Now I tried to control it with USB joystick(Xbox360) using QGC.
 - Arming /Disarming can be done with Joypad buttons.
 - On Joystick mode: normal mode, Joystick input is working but not in controlled manner(No stabilization) and RC input also exists.
 - In other Joystick mode(At

[2017-08-09 14:49] barchstien commented on #5454
Hi guys
Thanks for the fix
Thought it still is failing when running the archive
The AppImage is just fine
So I guess it's only an update of the archive missing

[2017-08-09 17:45] DonLakeFlyer commented on #5454
Ok, I guess that must be in a different place. I'll look.

[2017-08-09 19:56] DonLakeFlyer opened #5545 "Remove FMUV1 support from PX4"
Related to https://github.com/PX4/Firmware/issues/7758

[2017-08-09 21:03] fabricionovak commented on #5511
@hamishwillee I'll work on this today.

[2017-08-09 22:16] hamishwillee commented on #5511
Thanks @fabricionovak  !

[2017-08-09 22:32] fabricionovak commented on #5511
Android icons in PNG. Still working on the iOS versions

![ic_qgc_beta_android_google_play](https://user-images.githubusercontent.com/4181566/29146735-c2009cc8-7d17-11e7-914c-f7c5a6a1d0e4.png)
![ic_qgc_beta_android_hdpi](https://user-images.githubusercontent.com/4181566/29146734-c1ffc938-7d17-11e7-857c-98e6c55ffca8.png)
![ic_qgc_beta_android_mdpi](https://user-images.githubusercontent.com/4181566/

[2017-08-09 22:34] fabricionovak commented on #5511
PSDs for android

[ic_qgc_beta_android.zip](https://github.com/mavlink/qgroundcontrol/files/1213061/ic_qgc_beta_android.zip)

[2017-08-09 23:07] hamishwillee commented on #5511
Thank Fabricio! @dagar @DonLakeFlyer  What else do you need/can you take it from here?

[2017-08-10 02:31] MyOnlyOnlySunshine opened #5547 "Why we have to install Qt 5.7.1 otherwise 5.8.X ect???"
Why we have to install Qt 5.7.1

[2017-08-10 21:14] NaterGator commented on #5547
That is the current officially supported version of Qt for this project. YMMV but I do not have issues when building using Qt 5.9.1 LTS and we do generally work towards supporting the next major long term release when there aren't show stopping bugs.

Anything _other_ than the current official library should be handled with care and treated like beta, nor do we provide support for building here. Y

[2017-08-10 21:14] #5547 closed

[2017-08-10 21:27] DonLakeFlyer commented on #5511
I'll get going on this. I'll yell if I need antyhing.

[2017-08-11 00:35] MyOnlyOnlySunshine commented on #5547
thanks

[2017-08-11 01:17] DonLakeFlyer opened #5549 "Rework ArduPilot Geo/Rally support for new system"

[2017-08-11 01:45] meteor0530 opened #5550 "Problem of connecting px4flow with QGC 3.2.4"
Hi
I connect the px4flow and open the QGC, and there is no response. I try it both on windows and OSX, the version of QGC is 3.2.4.
Then I download v3.1.3 and try it again, it works well.
So I think this is the problem of v3.2 of the QGC.
Here is the v3.2.4 QGC log output:
[px4flow.txt](https://github.com/mavlink/qgroundcontrol/files/1216772/px4flow.txt)

[2017-08-11 02:02] MyOnlyOnlySunshine opened #5551 "I want to translate messages which are sent by PX4 and json file ."
I want to translate messages which  are sent  by  PX4 and json file ,but i do not have any ideas , could you give me some advices about this problem. thanks

[2017-08-11 02:18] MyOnlyOnlySunshine opened #5552 "i can not delete waypoint when in the mocklink."
I  can not delete waypoint when in the mocklink.

[2017-08-11 13:17] NaterGator commented on #4445
@DonLakeFlyer what do you think about integration with https://drdump.com ? We can upload the release build symbols to their service and collect crash dumps from Windows there.

[2017-08-11 19:06] DonLakeFlyer opened #5554 "Offline Maps: Center on Current Location disabled even when GCS location is known"

[2017-08-11 19:54] DonLakeFlyer opened #5555 "Plan: Delete plan on mobile should not close dialog"

[2017-08-11 20:42] gugpilot opened #5556 "Ios instruments panel"
Hi!
I cannot set anymore the instruments panel with the info that I prefere. If i press the settings icon under the artificial horizon no menu is shown. Lastest ios 10.3.3 on iphone 7.
Thanks!

[2017-08-11 22:14] DonLakeFlyer commented on #5552
Are you talking about individual awaypoint using the Delete command? Or are you talking about the Remove All command from the Synce button. If Remove All this was fixed recently and is in master.

[2017-08-12 03:36] DonLakeFlyer opened #5557 "Fly: Current waypoint item updates broken"
Most likely by recent mavlink 2 mission item protocol changes.

[2017-08-12 13:38] dogmaphobic commented on #5435
This is back to hunt us. The reason I had an IP address was to avoid a DNS lookup. Now that we're looking for www.github.com (or anything else for that matter), the code goes through a DNS lookup. On Android, with no Internet connection, this takes 60 seconds before it gives up. If you try to exit QGC, the lookup thread is blocked for up to 60 seconds before it closes.

[2017-08-12 17:58] DonLakeFlyer commented on #5435
https://stackoverflow.com/questions/4238921/detect-whether-there-is-an-internet-connection-available-on-android?

[2017-08-12 18:06] DonLakeFlyer commented on #5454
Doesn't the archive version require you to install Qt yourself?

[2017-08-12 18:17] DonLakeFlyer opened #5559 "Do visual inspection of Resume Mission generation for possible crashes"
Still getting crash reports but can't reproduce.

[2017-08-12 18:35] dogmaphobic commented on #5435
That only detects if you have a network connection, which you do. I've worked around by splitting the host lookup from the connection. The host lookup can be aborted.

[2017-08-12 18:38] DonLakeFlyer commented on #5435
Ok, can you make your pull against Stable_V3.2? Then I'll merge to master and you can pull to where you need. It's much easier to make stable changes in the order.

[2017-08-12 18:42] DonLakeFlyer commented on #4996
Closing since there are no concrete steps to reproduce. I believe there is a Qt bug somewhere causing this. Fingers crossed that 3.3 moe to 5.9 will fix.

[2017-08-12 18:42] #4996 closed

[2017-08-12 19:17] DonLakeFlyer commented on #4328
I can reproduce this. But I'm having probelsm with my tablet where I can't get it to go into wireless debugging mode to be able to catch the crash.

[2017-08-14 20:12] jaxxzer opened #5567 "Broken APM fw downloads"
See https://github.com/ArduPilot/ardupilot/issues/6767

[code]

[2017-08-14 21:51] DonLakeFlyer commented on #4445
That sound like a great idea. Do we need to start flipping some bits in the installer to get better crash reports?

[2017-08-14 21:51] fabricionovak commented on #5511
PNG files for iOS devices
![ic_qgc_beta_appstore](https://user-images.githubusercontent.com/4181566/29293446-080bda34-8100-11e7-8775-0c09c8d63c76.png)
![ic_qgc_beta_ipad_ 2x](https://user-images.githubusercontent.com/4181566/29293447-080d0634-8100-11e7-8a14-03cf588c2d92.png)
![ic_qgc_beta_ipadpro_ 2x](https://user-images.githubusercontent.com/4181566/29293450-080feb60-8100-11e7-8aa2-aa170963a247.p

[2017-08-14 21:52] fabricionovak commented on #5511
iOS icons in PSD
[ic_qgc_beta_iOS.zip](https://github.com/mavlink/qgroundcontrol/files/1223560/ic_qgc_beta_iOS.zip)

[2017-08-14 21:57] fabricionovak commented on #5511
Android icon update in XXXHDPI. Please, replace the previous files (ic_qgc_beta_android_XXXHDPI.psd and ic_qgc_beta_android_XXXHDPI.png) for these.

![ic_qgc_beta_android_xxxhdpi](https://user-images.githubusercontent.com/4181566/29293693-cab7d20e-8100-11e7-8302-8443bac732bf.png)
[ic_qgc_beta_android_XXXHDPI.zip](https://github.com/mavlink/qgroundcontrol/files/1223566/ic_qgc_beta_android_XXXHDPI.z

[2017-08-14 22:27] DonLakeFlyer opened #5570 "Offline Maps: Maps pluging added twice in FlightMap"
@dogmaphobic It worked for me to remove. Can you try again?

[2017-08-14 22:27] DonLakeFlyer commented on #5570
I have the pull but want to figure out why crashing.

[2017-08-15 00:35] dogmaphobic commented on #5570
It works fine. I must have done something else when I tried it (mixed branches most likely).

[2017-08-15 16:19] enginc opened #5571 "LevelhHorizon calibration"
Hello,

In SensorsComponent.qml page line 394 is :

sens_board_x_off.value != 0 || sens_board_y_off != 0 | sens_board_z_off != 0

value property of y_off and z_off is not called and | operator is used also.  Could they be forgotten?

Best regards.

[2017-08-15 17:18] DonLakeFlyer commented on #5571
Yup this is a bug. If you could submit a pull request for the fix against Stable_V3.2 branch that would be awesome.

[2017-08-16 06:24] LorenzMeier opened #5576 "Provide clear indications for GPS lock from vehicle"
It should be crystal clear to the user when GPS lock is acquired and when not. We should focus on the main toolbar on making GPS indication red or similar if

MAV_SYS_STATUS_SENSOR_GPS is set to present, enabled and not healthy:
http://mavlink.org/messages/common#SYS_STATUS

[2017-08-16 09:01] SaliniVenate opened #5577 "RTSP streaming do not work when QGC has no internet access"
I'm trying to stream a video from drone to QGC running on ubuntu desktop over RTSP. The ubuntu machine is connected to drone over a wifi hosted by drone. Every time the ubuntu machine is disconnected from internet the QGC is not able to receive the video stream. However when I run vlc or gstreamer pipeline to receive the same video stream , it works.
For video streaming should QGC be dependent on

[2017-08-16 11:15] enginc commented on #5571
Submitted.

[2017-08-16 15:38] jaxxzer commented on #5567
Fixed on APM side of things.

[2017-08-16 15:38] #5567 closed

[2017-08-16 15:57] vmishra9 commented on #3184
Drotek RTK does not auto-connect to QGC via USB

[2017-08-16 16:11] DonLakeFlyer commented on #3184
@bkueng Should this be working?

[2017-08-16 16:36] DonLakeFlyer commented on #5577
You must have something wrong in your setup. There is no depedancy on internet for video that I know of.

@dogmaphobic Does this make any sense to you?

[2017-08-16 17:02] dogmaphobic commented on #5577
No, it doesn't. The video connection is peer-to-peer with no dependency on anything else.

I'm curious though, what is the URL used?

[2017-08-16 18:17] mhkabir commented on #3184
Works for me.

[2017-08-17 05:38] SaliniVenate commented on #5577
The url used is : rtsp://192.168.8.1:8554/video13. This RTSP server is running in Intel Aero companion board.

1. With Internet : QGC is able to receive video streamed by drone
2. No Internet : QGC does not receive the video stream. Restarting the video (i.e choosing Video Stream Disabled and then choosing RTSP Video Stream in Settings) does not help. However VLC or gst pipeline is able to receive

[2017-08-17 06:03] bkueng commented on #3184
Yes everything that uses the u-blox M8P should work.

[2017-08-17 07:16] klopezal commented on #3184
Could it be that you are using u-blox VCP drivers? Have you tried [Standard drivers](https://www.u-blox.com/sites/default/files/products/tools/UBX-GNSS-CDC-ACM-windows_Driver_%28UBX-drv-v1.2.0.8%29.exe.zip)?

[2017-08-17 09:10] lyt13080649017 opened #5583 "waypoint attitude"
when you change waypoint's attitude without press Enter or Return key,then the attitude of the newly added waypoint is inconsistent with the previous one.

[2017-08-17 09:13] lyt13080649017 opened #5584 "add survey"
Add a survey mission item directly, there will be no takeoff waypoint.

[2017-08-17 14:53] vmishra9 commented on #3184
@mhkabir Which version of QGC are you using? Was it plug and play?

[2017-08-17 15:36] DonLakeFlyer commented on #5584
Are you reporting a bug? Requesting a feature? If you can provide more detail, I'll re-open.

[2017-08-17 15:36] #5584 closed

[2017-08-17 15:37] DonLakeFlyer commented on #5583
Are you using QGC version 3.2?

[2017-08-17 15:45] birchera commented on #4328
We are also experiencing this bug. I tracked it down to happen when clearing the QGCRingBuffer in the serial read functionality. Specifically it seems that [clearing](https://github.com/mavlink/qgroundcontrol/blob/master/libs/qtandroidserialport/src/qserialport_p.h#L194) the remaining first QByteArray in the buffers list produces the error. However, no attempt to guard it with the obvious checks s

[2017-08-17 15:46] DonLakeFlyer opened #5585 "Survey: Camera shot count calculation is incorrect"
* Trigger immediate for first waypoint is not taken into account
* Shot count must be calculated on a per transect basis

[2017-08-17 15:49] vmishra9 commented on #3184
@bkueng Can you please point out what could be the issue in my case?

[2017-08-17 15:51] DonLakeFlyer commented on #5511
Won't be closed until their use is implemented.

[2017-08-17 15:54] DonLakeFlyer commented on #4328
@birchera I can repro this, but I haven't been able to get it into the debugger. Are you using QtCreator to debug?

[2017-08-17 16:08] birchera commented on #4328
Normally I do, but without the cable available, I also could not yet attach the debugger. So I only have the adb shell at hand.

[2017-08-17 16:24] DonLakeFlyer commented on #5585
Details on the shot count bug:
* If "Take images in turnarounds" is **on** the shot count will be off by 1 too low.
* If "Take images in turnarounds" is **off** the shot count will be off by 1 * transect count too low.

[2017-08-17 20:03] DonLakeFlyer commented on #3184
* Can you follow the instructions here: https://docs.qgroundcontrol.com/en/Support/Support.html to turn on LinkManagerLog.
* Start QGC
* Connect RTK
* Save the Console log and paste here

[2017-08-17 20:38] #3048 closed

[2017-08-17 20:40] DonLakeFlyer commented on #5585
Fixed in #5587

[2017-08-17 20:40] #5585 closed

[2017-08-17 20:42] DonLakeFlyer commented on #5454
@dagar Isn't this the case?

[2017-08-17 20:47] DonLakeFlyer commented on #5435
This is all fixed now. Just waiting for new round of 3.2 builds to kick off.

[2017-08-17 20:48] DonLakeFlyer commented on #5559
Reviewed yet again and found nothing.

[2017-08-17 20:48] #5559 closed

[2017-08-17 20:48] DonLakeFlyer commented on #5570
Fixed

[2017-08-17 20:48] #5570 closed

[2017-08-18 00:59] DonLakeFlyer opened #5589 "Add distance to home as a Vehicle FactGroup value"

[2017-08-18 01:39] lyt13080649017 commented on #5583
yes

[2017-08-18 02:13] #5589 closed

[2017-08-18 06:16] vmishra9 commented on #3184
@DonLakeFlyer I am getting the following block of logs repeatedly after connecting RTK:

LinkManagerLog: Waiting for next autoconnect pass "/dev/ttyACM0"
VideoReceiver::start() failed. Error with gst_element_factory_make('h264parse')
VideoReceiver::start() failed
VideoReceiver::start() failed. Error with gst_element_factory_make('h264parse')
VideoReceiver::start() failed

[2017-08-18 08:20] bkueng commented on #3184
I'm seeing this on master:
[code]

And the RTK icon correctly shows up.
@vmishra9 which OS do you use?

[2017-08-18 09:39] vmishra9 commented on #3184
@bkueng I didn't get "LinkManagerLog: RTK GPS auto-connected"

I am using ubuntu 16.04 LTS

[2017-08-18 09:49] bkueng commented on #3184
What does `lsusb` output when the GPS is connected? There should be a line like:
[code]
And do you have a vehicle connected before connecting the RTK?

[2017-08-18 12:19] feilongfl opened #5591 "can not connect the optical flow"
i use the QGC v3.2.2,it can not work with PX4 Flow.then i use v3.1.1 it works well.

![2017-08-18 19-17-32](https://user-images.githubusercontent.com/10269596/29458606-83f5f0bc-8452-11e7-87b4-4cdd3f5a221a.png)

[2017-08-18 14:33] vmishra9 commented on #3184
@bkueng I am getting the following output for lsusb

Bus 001 Device 011: ID 1546:01a8 U-Blox AG

I do not have a vehicle connected to QGroundControl at the time of connecting the RTK using USB. Should I connect a vehicle before connecting the RTK? If yes, should I connect the vehicle using USB or Telemetry?

[2017-08-18 14:46] bkueng commented on #3184
That looks correct

Yes, connect the vehicle first. It does not matter if it's USB or Telemetry, but the RTK icon will only show if a vehicle is connected (the user experience still needs to be improved here).

[2017-08-19 07:32] myeVivek commented on #3184
@bkueng It worked! Thanks for the help.

[2017-08-19 10:00] probonopd opened #5593 "libespeak.so.1 missing in AppImage"
`QGroundControl: error while loading shared libraries: libespeak.so.1: cannot open shared object file: No such file or directory`

Solution:
Bundle libespeak inside the AppImage

Reference:
https://travis-ci.org/AppImage/AppImageHub/builds/266234023#L556

[2017-08-19 15:42] dogmaphobic commented on #5593
There is a branch ready to merge that moves away from individual speech engines and uses Qt's own. It needs Qt 5.9 or greater so it's waiting until we update. Maybe it's time?

[2017-08-19 19:41] DonLakeFlyer opened #5594 "Make sure all Stable 3.2 MissionManager changes make it to new PlanManager"

[2017-08-21 19:48] makquel opened #5598 "Can't display video feed even though pixflow image is displayed"
I've been working on a communication pkg with several sensors for an custom aircraft. I'm using a TCP link to send telemetry info to the QGS, so I can visualise the camera feed on the pixflow tab, but can't see it on the video feed window

[2017-08-22 01:27] DonLakeFlyer commented on #5598
Ok. Then I would assume something is wrong with you code. How is this a QGC bug?

[2017-08-22 12:19] makquel commented on #5598
I have been experimenting with QGC, and I cannot seem to find any way to get live video to display without using mavlink. However, I can see the video streaming on the Pix4Flow tab, but can't display it on the video feed widget.
My camera driver is publishing a topic called /drone/image_raw_slow, and the following is the code that I used on my launch file in order to send it over mavlink to the QG

[2017-08-22 21:27] DonLakeFlyer opened #5600 "Pull across patch which allows map to be passed to PageView controls"

[2017-08-23 10:17] KhristopherK opened #5602 "qrc:qml/FirmwareUpgrade.qml:115: TypeError: Type error"
Firmware cant be uploaded to pixhawk. Setup:
- Pixracer
- QgroundControl HEAD: 08deff4b7 2017-08-19

Error:
qml: 0.03518518518518519
qml: 34.5 38
Orphaned log file count 0
QDBusConnection: name 'org.freedesktop.Geoclue.Master' had owner '' but we thought it was ':1.93'
qrc:qml/FirmwareUpgrade.qml:115: TypeError: Type error

Tried PX4 stack, and all APM firmwares. Same result

[2017-08-23 18:03] DonLakeFlyer commented on #5602
Can you try a prebuilt AppImage version?

[2017-08-24 18:01] DonLakeFlyer commented on #5591
Ok, I can repro this. The fix isn't simple so I'll take care of it in 3.3.

[2017-08-24 18:01] xoltar commented on #5602
I had this problem (along with other firmware upgrade failures that did not result in a message on the console) on **Ubuntu 17.04** with yesterday's daily appimage build. The same day's build worked fine for upgrading firmware on **Windows**. This was with pixhawk mini.

[2017-08-24 21:43] DonLakeFlyer commented on #5602
Could you check to see if this is daily build only as opposed to Stable as well?

[2017-08-26 10:23] john9393 opened #5606 "Generic mavlink vehicle should allow connection even if component id is incorrect"
Howdy all,
I own a **Parrot AR drone 2.0** with a **gps** flight recorder.
I want to use QGroundcontrol  with it .
**I tried it with **Android** version (Lenovo A40 ,Android 4.4.2)**

- It works up to version 3.1 x (connect automatically)
- SInce version 3.2.* the vehicle isn't recognized even though i configure manually the UDP port.

**I tried it  on a **Linux box 64 bits**** : on all version th

[2017-08-26 17:56] DonLakeFlyer commented on #5606
This is caused by newer versions of QGC being more specific about what information it needs to connect. I should be able to fix that but it is not a simple fix.

[2017-08-27 09:51] sanderux opened #5608 "RTSP doesn close when switching to 'video disabled'"
While analyzing traffic i noticed that the RTSP stream seems to close when switching to UDP but not when switching to 'Video disabled'

@dogmaphobic FYI

[2017-08-27 14:23] flo-vienna opened #5609 "QGroundControl 3.2.4 Crash in "Change command" (reproducible)"
Used Version: QGroundControl Version 3.2.4
on device Vido M82 Pro  with Android vers. 5.1 (Kernel 3.10.65+ , MOLY.LR9.W1444.MD.LWTG.MP.V12.P2 Baseband)

Way to reproduce:
Starting the app, (no vehicle connection, no video capture card connected, no stream available etc. ), camera access / location access granted.
Zooming to some area (place does not mater)
Creating a survey grid. (Camera Canon Pow

[2017-08-27 18:58] kikislater commented on #4706
Hi,
Since 3.2.4, this nice work and feature has gone in stable and beta.
Could we still have it ?

[2017-08-27 21:45] DonLakeFlyer commented on #4706
I don't understand what the ask is for?

[2017-08-28 03:18] MyOnlyOnlySunshine commented on #5552
yeah, thanks!

[2017-08-28 03:18] #5552 closed

[2017-08-28 06:11] kikislater commented on #4706
Just where is this now? I couldn't find it in stable or beta release. Before I was able to play with it but really never tested on aircraft. Now I have a little time to test it. I was not connected to my wing maybe it's related...

_Sent from my Xiaomi Redmi Note 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 12:10] samacumen opened #5610 "Problem with log download from Pixhawk (Reproducible)"
**Summary:** Unable to download logs via QGC connected to Pixhawk beyond 5th attempt (over USB)
**Firmware:** Stable v3.2.2 QGC, v1.6.5 Stable Release PX4, Ubuntu 16.04LTS

**Steps to reproduce:**
1) Open the "Log Download" tab in QGC
2) Press 'Refresh' button - brings the list of logs
3) Download any log (choose a small size so that its faster to reproduce the issue)
4) Wait until 'Downloaded' st

[2017-08-28 12:41] samacumen commented on #5610
**Another issue I found with log download is:**

If the "Status" of a log goes into "error" (because a log file was corrupt in the Pixhawk's SD card), Pixhawk needs to be rebooted to show up the list of logs again for download. If an error occured for a log download, I would expect to be able to request the list of logs for download, anyways.

**See the first line below, press "Refresh" after erro

[2017-08-28 17:31] DonLakeFlyer commented on #4706
I went looking for it as well and couldn't find it. Realized i screwed up the pull: https://github.com/mavlink/qgroundcontrol/pull/5178.

[2017-08-28 20:05] kikislater commented on #4706
Don't worry I'm here about this nice feature 😀

[2017-08-28 23:40] juvinski opened #5613 "Problems with survey"
Hi,

drawing an irregular area on Survey is causing erroneous flight lines.
on the image irregular_90_degrees if you change from 0 to 90 degrees area of interest, the lanes are not enough to complete the survey.
On the lanes_greather_than_necessary image the lanes are larger than necessary - the lines are far from the area of interest.

![irregular_90_degrees](https://user-images.githubusercontent

[2017-08-29 00:56] visrinivasan commented on #2731
I added my custom message on common.xml, created the required headers using pymavgenerate.py and rebuilt the qgroundcontrol source code.
I have been successful to listen to my custom mavlink message from nsh shell but can't see the new message on Mavlink inspector.

What else apart from the common.xml changes is required to visualize the MAVLink message on MAVLink inspector?

[2017-08-29 01:58] DonLakeFlyer commented on #2731
If you can't see them new message in mavlink inspector. Then either:
* QGC isn't compiled with the correct new headers
* The message never makes it to QGC

[2017-08-29 02:00] DonLakeFlyer commented on #5613
Can you attach the .plan file for the first survey here and I'll take a look. Just zip it up and attach. Something is going wrong there.

The second survey is a concave polygon which QGC does not support. It will turn it into a convex polygon and create a survey around that.

[2017-08-29 03:21] juvinski commented on #5613
Hi @DonLakeFlyer ,

for sure, I'm attaching the 2 files:
Can I help you ?
[mission_90_degrees.plan.zip](https://github.com/mavlink/qgroundcontrol/files/1259013/mission_90_degrees.plan.zip)

[2017-08-29 10:01] cas2406 opened #5614 "unaligned pointer value warning"
When trying to build to build QGC i get the following error message:

warning: taking address of packed member 'checksum' of class or structure '__mavlink_message' may result in an unaligned pointer value [-Waddress-of-packed-member]
        crc_accumulate_buffer(&msg->checksum, _MAV_PAYLOAD(msg), msg->len);

Can someone please help me solve this warning?

I tried building it on QT 5.7.0, 5.7.1, 5

[2017-08-29 17:11] visrinivasan commented on #2731
Thank @DonLakeFlyer , am I expected to receive the custom mavlink message on Mavlink inspector with just adding the new message on custom.xml file in the qground control source code?
My build passed and produced the header file in qgroundcontrol/libs/mavlink/include/mavlink/v2.0/common folder.

Am I missing something/required to add the header file anywhere to view it on Mavlink inspector?

Thanks

[2017-08-29 18:55] sparky002 opened #5615 "Analysis of qgroundcontrol logs leads to immediate freeze/lockup."
Using latest daily build of qgroundcontrol, with a log created by the latest daily build of qgroundcontrol.
Ubuntu 14.04

A little over half way of loading some parameters,
![qgroundcontrol_freeze](https://user-images.githubusercontent.com/11220787/29838336-e91c514c-8cc8-11e7-8f19-869eb066dea2.png)

A popup of a mavlink version mismatch dealing with the radios I used shows. I have to use xkill to

[2017-08-30 13:15] Stifael opened #5616 "battery amps per volt"
I did not understand how I should fill out this field (the calculation gives me Inf).
In addition I was not able to read the instruction, since on desktop it is very tiny.

[2017-08-30 16:19] crossa opened #5617 "QGroundConrtorl3.2.4 for Android crash on startup"
QGrondContorl 3.2.4 for android crashed when startup.
 My copter connect to the QGC via udp , the qgc crashed after finished connection.

OS  Android 6.0.1
Type of mobile phone:  china mobile N2 M836

[2017-08-30 21:07] jaxxzer opened #5620 "Show large compass does nothing"
Introduced here I think: https://github.com/mavlink/qgroundcontrol/commit/ea06f65e

The setting is used in InstrumentWidget.qml, but not InstrumentWidgetAlternate.qml.

[2017-08-31 06:16] tubeme opened #5621 "A-UAV x2.1: No Voltage, nor Amp reading in the QGC."
With regular FMUv2 no problems everything is fine. If A-UAV x2.1 the voltage and amp reading stay at -1.

Not sure if it is PX4 or QGC problem?

Tested QGC 3.2.2 and 3.2.4

Tested PX4 1.6.1 and 1.6.5

[2017-08-31 06:20] tubeme opened #5622 "QGC 3.2.2 and 3.2.4: Not able to calibrate thte ESCs."
Foloowing the procedure after battery power we get this:

![esc calibration problem](https://user-images.githubusercontent.com/12617619/29909206-75351320-8e2d-11e7-96d0-77af231d6782.png)

We tried about 10 times each QGC version.

[2017-08-31 06:21] tubeme commented on #5622
This might be related somehow to this #5621

[2017-08-31 15:07] paan2097 commented on #3927
I need to run multiple instances of QGroundControl or multiple HIL configs. I have two separate instances of XPlane up and running, but now need to use either two HIL configs or separate QGroundControls to run multple HITL simulations on a single computer. Can anyone advice on how I can get this working? Thanks.

[2017-08-31 15:08] paan2097 commented on #2524
I need to run multiple instances of QGroundControl or multiple HIL configs. I have two separate instances of XPlane up and running, but now need to use either two HIL configs or separate QGroundControls to run multple HITL simulations on a single computer. Can anyone advice on how I can get this working? Thanks.

[2017-09-01 00:08] fredg02 opened #5625 "Segfault when starting with 433MHz Mavlink dongle connected to USB"
I get a segfault when trying to launch QGroundControl while a 433MHz Mavlink module is connected over USB.

System details:
Ubuntu 14.04.5 LTS
QGroundControl version: 3.2.4

**Without** 433MHz Mavlink connected to USB QGroundControl starts normally:
[code]
If I connect the Mavlink dongle after QGroundControl has been started, everything seems to be working fine.

**With** 433MHz Mavlink connected

[2017-09-01 21:54] DonLakeFlyer commented on #5622
Most likely a firmware problem as opposed to QGC. QGC doesn't really do much here.

[2017-09-01 21:54] DonLakeFlyer commented on #5621
Those values come from the firmware.

[2017-09-01 21:54] #5621 closed

[2017-09-01 21:57] DonLakeFlyer commented on #5620
Correct. Daily builds basically don't support large compass any more. Trying to see if that is ok.

[2017-09-01 22:02] DonLakeFlyer commented on #5614
That sounds like it is coming from mavlink headers so the problem is with mavlink not QGC. Also I would assume that for now you can just ignore it. You must be using a newer compiler version than we currently do.

[2017-09-01 22:02] #5614 closed

[2017-09-01 22:20] jaxxzer commented on #5620
I gathered as much from the comments, left this here as a reminder to take out the option at some point if you keep it this way.

[2017-09-02 00:14] DonLakeFlyer commented on #5620
I have a feeling I"m going to have to put it back

[2017-09-02 02:54] DonLakeFlyer opened #5629 "Log Download should be available on mobile builds"
Now that this is no longer a widget this is possible.

[2017-09-02 09:05] chodjo opened #5630 "Expected behavior?"
Hello, is this an expected behavior?

1) Switch into Setup View
2) Select Firmware tab
3) Go into Settings View
4) Select Mock Link
5) Select a vehicle

You get a exception message: "Connect not allowed: Connect not allowed during Firmware Upgrade".

I havent even started a firmware upgrade. In order to remove the message, I have to go back to Setup view and change firmware tab for another one.

[2017-09-02 09:06] chodjo opened #5631 "QGroundControl keeps crushing when using APM ArduSub Vehicle mock link."
Hello, QGroundControl keeps crushing when using APM ArduSub Vehicle mock link. Debbuger console prints

qrc:/qml/APMLightsComponentSummary.qml:9.1:QML APMLightsComponentSummary: Binding loop detected for property "_rcXXFunction" as XX a number between 5 and 14

Error message prompts "ârameters are missing from firmware. You may be running a version of firmware QGC does not work correctly with or y

[2017-09-02 17:23] DonLakeFlyer commented on #5631
@jaxxzer

[2017-09-02 17:24] DonLakeFlyer commented on #5630
Yes this is working as expected although confusing. We'll take a look at making it better.

[2017-09-02 22:43] jaxxzer commented on #5631
https://github.com/mavlink/qgroundcontrol/pull/5619 @chodjo @DonLakeFlyer

[2017-09-04 10:14] mrAyaz opened #5632 "Please Help/ How to Build on Windows"
How to configure Compile?

[2017-09-04 16:49] chodjo commented on #5632
Hello,

Please follow [https://github.com/mavlink/qgroundcontrol/blob/master/README.md](instructions)

[2017-09-04 16:55] mrAyaz commented on #5632
i have this error.

jom: C:\Users\Mamedli Ayaz\Documents\GCS\build-qgroundcontrol-Desktop_Qt_5_7_1_MSVC2015_32bit-Release\Makefile.Release [moc\moc_qextserialenumerator.cpp] Error 1
gstqtvideosinkmarshal.c
jom: C:\Users\Mamedli Ayaz\Documents\GCS\build-qgroundcontrol-Desktop_Qt_5_7_1_MSVC2015_32bit-Release\Makefile [release] Error 2
19:54:54: The process "C:\Qt\Qt5.7.1\Tools\QtCreator\bin\jom.exe"

[2017-09-04 16:56] mrAyaz commented on #5632
Please help how to fix?

[2017-09-04 20:53] #5632 closed

[2017-09-05 11:11] julio-guillen opened #5633 "PlanElemementMasterController"
Not exactly a bug, but may help readability. Just changing _PlanElemementMasterController_ with _PlanElementMasterController_ . In QGCApplication.cc we register it:

qmlRegisterType<PlanMasterController> ("QGroundControl.Controllers", 1, 0, "PlanElemementMasterController");

And later we use it just in FlightDisplayView.qml and PlanView.qml

Still learning the code, so not confident about submitti

[2017-09-05 11:14] chodjo opened #5634 "FlightDisplayView not showing PlanElemementMasterController"
When selecting an APM ArduPlane vehicle mock link, FlightDisplayView doesnt show PlanElemementMasterController menu.

[2017-09-05 21:25] ivucica opened #5635 "AR.Drone 2.0 support broken between QGroundControl 3.1.3 and 3.2.0"
A few days ago, I've installed QGroundControl 3.2.4 on OS X Sierra, and I was unable to make it work.

I've just went through a bunch of versions of QGroundControl between 2.9.7 and 3.2.4. From what I can tell, the first version where QGroundControl stays in "Waiting For Vehicle Connection" is 3.2.0; 3.1.3 still works.

Observing traffic with Wireshark, I can see that packets are flowing in both d

[2017-09-06 19:08] #5631 closed

[2017-09-08 16:40] DonLakeFlyer commented on #5635
Dup of #5606

[2017-09-08 16:40] #5635 closed

[2017-09-08 16:43] DonLakeFlyer commented on #5634
Not sure what part of the UI your are talking about?

[2017-09-09 17:21] #4328 closed

[2017-09-09 17:48] DonLakeFlyer opened #5640 "Need to fix view switching with Fact validation errors problems"
Problem example:
* Go to Settings page
* Change a value which fails validation
* Change to another view
* The validation error shows up but you don't see it because the view switched

[2017-09-09 17:49] DonLakeFlyer commented on #5640
Similar issue is that you can click toolbar indicators while not on the fly view. So for example you can click Disarmed, which will pop the confirm slider on Fly view. But if you are not on Fly view you don't see that.

[2017-09-10 12:15] bikashranjanyadav commented on #4151
I have two apm2.8 with two neo7m gps.
in both compass_dev_id  value is zero.( tried both copter 3.2.1 & beta version USING APM PLANNER 2.0)
when connected to qcgroundcontrol says compass_dev_id parameter missing
also, my compass heading is wrong after many attempts

WHY MY COMpASS IS NOT GETTING DETECTED pLZ HELp

[2017-09-10 14:09] KhristopherK commented on #5602
Hi @DonLakeFlyer I have tried now on the latest daily build, as in 2017 09 09 and having still the same problem. Can't upload firmware. I have now tried on OSX and on Ubuntu 16.04 with the same result.I am using prebuilt appimage versions. I am also having an issue where, even if I manually upload the firmware using command (via make px4 upload) I have issues connecting to the gcs via usb. This is

[2017-09-10 14:52] KhristopherK opened #5643 "Segmentation fault when connecting to usb"
Hi,

I have the following messages displayed on the terminal when trying to connect via usb. On some autopilots (like the pixfalcon, it will connect after a while). On other it just wont. don't know whats causing this but i am not able to read all values as it doesn't seem to read all parameters.

[46477.344518] QGroundControl[11251]: segfault at 10382f0 ip 0000000000459c7e sp 00007ffd7cfe8e58 err

[2017-09-10 15:11] DonLakeFlyer opened #5644 "ArduPlane 3.8.2 will support MANUAL_CONTROL"
So turn off warning for that.

[2017-09-10 15:53] DonLakeFlyer commented on #4151
QGC no longer supports version 3.2. It's too old.

[2017-09-11 01:06] DonLakeFlyer commented on #5644
Copter supports it as well.

[2017-09-12 13:35] chodjo commented on #5634
The FLY menu, with Takeoff, RTL, Pause and Action options is not displayed when using an APM ArduPlane mock link.

[2017-09-12 14:07] jaxxzer commented on #4688
This is a problem with my graphics driver. @NaterGator is software rendering available on Linux?

[2017-09-12 15:28] kikislater opened #5646 "Add joystick buttons support"
Hi,
Since this PR https://github.com/ArduPilot/ardupilot/pull/6927 Qgroundcontrol could handle joystick.
It's working well but buttons are not supported. Is it possible to add button support for Ardupilot firmware with joystick? Idea is to arm/disarm, change flight mode with joystick buttons.
I have only this message :
Buttons 0-15 reserved for firmware use

![joystick_qgroundcontrol](https://user

[2017-09-12 17:06] DonLakeFlyer opened #5647 "Check default windows font point size"
Seems small

[2017-09-12 20:08] DonLakeFlyer commented on #4688
If you look in main.cc you'll see ifdef Q_OS_WIN code for -angle and -swrast? You should build your own and see if it works for you.

[2017-09-13 04:37] DonLakeFlyer opened #5649 "Plan-Survey: Take images in turnaround disabled for fixed wing"
This happens if the previous vehicle type was multi-rotor and you have specified hover and capture. If you then change to fixed wing. Hover and capture is still set, but not available in fixed wing ui.

[2017-09-13 04:56] DonLakeFlyer commented on #5634
Do you mean disabled? Or are they missing from the screen? ArduPlane guided commands are not fully supported yet. So most will be disabled.

[2017-09-13 06:38] chodjo commented on #5634
Missing from screen.

[2017-09-13 15:41] DonLakeFlyer commented on #5634
What OS and what version of QGC. It's all working fine for me.

[2017-09-13 17:59] chodjo commented on #5634
OS Linux, and development version downloaded 2017-08-01. Maybe my fault then, as Im trying to understand the code and may have changed something then. Sorry for the inconvenience.

[2017-09-13 21:40] DonLakeFlyer commented on #5634
If you can reproduce this with a pre-buit AppImage version let me know,.

[2017-09-13 21:40] #5634 closed

[2017-09-13 22:07] kenkeiter opened #5650 "Qgroundcontrol (macOS, 3.2.4/daily) fails to display FPV video."
When using qgroundcontrol (macOS `10.12.4`, Qgroundcontrol versions `3.2.4` and `daily`) in conjunction with the instructions in the [video streaming guide](https://github.com/mavlink/qgroundcontrol/blob/master/src/VideoStreaming/README.md), display of video fails due to an "internal data flow error."

I've tried the example `gstreamer` pipelines in the documentation (and verified that I'm seeing

[2017-09-13 22:23] kenkeiter commented on #5650
Also wanted to note that I was able to validate my encoding setup a little further. By streaming with the following command:

[code]

I am able to watch the ball video in VLC player by using an `.sdp` file with the following contents:

[code]

[2017-09-13 22:39] DonLakeFlyer opened #5651 "Rewrite text to speech conversion into tranlatable json file"
Right now it's stuffed into which will make this not localizable.

[2017-09-13 22:46] DonLakeFlyer commented on #5650
You're better off with this stuff on Gitter where there are more video people. Since it is most likely a setup problem as opposed to a QGC bug.

[2017-09-13 23:08] kenkeiter commented on #5650
@DonLakeFlyer If you feel that, given the information above, it's still a setup issue, I'll certainly give that a shot. Thank you.

If you don't mind, I'd like to leave the ticket open for just a while until I verify w/the Gitter folks.

[2017-09-13 23:35] DonLakeFlyer commented on #5535
Should be better now

[2017-09-13 23:35] #5535 closed

[2017-09-13 23:36] #5283 closed

[2017-09-13 23:36] DonLakeFlyer commented on #5187
Fixed in #5652

[2017-09-13 23:36] #5187 closed

[2017-09-13 23:36] #3624 closed

[2017-09-13 23:39] DonLakeFlyer commented on #5633
Not sure what this means? Also this code is different now in master. Can you explain?

[2017-09-13 23:40] #5630 closed

[2017-09-14 02:16] lbegani commented on #5650
The error is perhaps due to unsupported format by QGC. QGC doesnt support all the formats supported by gstreamer but limited few

[2017-09-14 03:33] kenkeiter commented on #5650
I wanted to note that @lbegani resolved my issue, which was caused by incorrect documentation. The test command listed in the [video streaming doc](https://github.com/mavlink/qgroundcontrol/blob/master/src/VideoStreaming/README.md) suggests using the following command to test locally:

[code]

This is incorrect. The following command may be used, instead.

[code]

When I have a second, I'll submit

[2017-09-14 03:53] jaxxzer commented on #5650
The command in the documentation is correct. If 0.0.0.0 works, but 127.0.0.1 does not, I suspect something is up with your network configuration. I'm not sure what would cause this, what's your OS?

[2017-09-14 05:41] kenkeiter commented on #5650
@jaxxzer Nothing's up with my network config. The unicast address is not the only thing in the aforementioned doc that changed -- an additional item was added to the pipeline (`video/x-raw,width=640,height=480`). Changing the unicast address back to `127.0.0.1` works as well, given that QGroundControl binds to `0.0.0.0` (all IP addresses on the local machine).

I have updated my suggested doc chan

[2017-09-14 20:15] #5455 closed

[2017-09-14 21:29] DonLakeFlyer commented on #5602
@KhristopherK What about Stable build?

[2017-09-14 21:58] jaxxzer commented on #5650
Hm, the original command works fine for me on Ubuntu.

[2017-09-15 01:55] kenkeiter commented on #5650
@jaxxzer Yeah, no idea why it wouldn't on macOS. Software, amirite?

[2017-09-15 07:48] HanJIk commented on #5311
I am experiencing the same phenomenon.
Resolution??

[2017-09-15 13:12] jaxxzer commented on #5311
@HanJIk
What firmware?
What version QGC?
Which buttons are you clicking?

[2017-09-15 13:13] jaxxzer commented on #5646
This needs to be implemented in the autopilot firmware first. Which autopilot firmware (and version) are you using?

[2017-09-15 14:25] raygamero opened #5658 "Qgroundcontrol won't run after installed"
On two computers running windows 7 and windows 10, I downloaded multiple installers. https://docs.qgroundcontrol.com/en/releases/daily_builds.html
and from https://docs.qgroundcontrol.com/en/getting_started/download_and_install.html
All attempts failed with the message This application failed to start because it could not find the qt platform in the plugin "windows" in "".

I uninstalled, reinstal

[2017-09-15 14:33] raygamero commented on #5658
This appears to be localized to these two particular computers.  Common factors are virtual com ports and mission planner.  Installed on another computer and no problems.

[2017-09-15 16:47] DonLakeFlyer commented on #5311
I believe I fixed a setup page crash about a month ago. Newer builds should have it, including latest Stable. Need to know versions you are using.

[2017-09-15 17:28] DonLakeFlyer commented on #5658
Hmm, strange stuff. @NaterGator Ever seen anything like this?

[2017-09-15 17:29] DonLakeFlyer commented on #5658
May be OpenGL drivers, but doesn't feel like it. Have you tried starting QGC on these machines use the two GPU safe mode links?

[2017-09-15 17:31] NaterGator commented on #5658
Sorry been a little bit out of the loop with Hurricane Irma in the area. This sounds like an installation problem on machines with either custom defined qt environment variables or the qt SDK. This document describes the typical search order of qt plugins: http://doc.qt.io/qt-5/windows-deployment.html#qt-plugins

[2017-09-15 17:35] DonLakeFlyer commented on #5658
Ooh, right forgot about that Nate. Hope you are doing well.

[2017-09-15 17:39] NaterGator commented on #5658
All good now, thanks! @raygamero can you comment on if these machines have another version of Qt installed at C:\Qt or if they are used for development purposes with Qt apps?

[2017-09-16 09:42] kikislater commented on #5646
Ok didn't think it was a fw issue !
I'm running ardupilot fw :  arduplane 3.8.2

[2017-09-16 19:52] Antiheavy opened #5662 "feature request/improvement: more clear roll indicator in artifical horizon"
the roll indicator in the artifical horizon is a little unclear because the centerline or 0 deg reference isn't obvious.  here is one idea for a possible improvement:

![image](https://user-images.githubusercontent.com/12117027/30515501-809abdf0-9aee-11e7-991e-6877866389a2.png)

[2017-09-17 01:18] HanJIk commented on #5311
firmware ardusub3.5.1
QGC version Download from ardusub homepage to download on 20170915

[2017-09-17 16:25] DonLakeFlyer commented on #5311
@jaxxzer Windows builds can capture stack traces and be debugged for crashes. @NaterGator Should be able to help you set it up. As far as setup, would be good to get the steps into the QGC devs docs one  you get the info.

[2017-09-17 19:19] raygamero commented on #5658
Thanks, Nate.  I'll try this on Monday or so.  Not a hug issue right now but will let you know how we resolve it.

[2017-09-18 07:51] HanJIk commented on #5658
help me!!
(QGroundControl.exe:5768): GLib-ERROR **:gmem.c:103: failed to allocate 3110491 bytes
Microsoft Visual C++ Runtime Library
 Runtime Error!
Program: C:\Program Files (x86)\qgroundcontrol\QGroundControl.exe

Specifications
 win8.1 64bit
firmware ardusub3.5.1
 QGC version v3.2.4

please

[2017-09-18 10:46] gizemsungu opened #5664 "Crashing the waypoints of multi vehicles"
I have a problem with managing multi-uavs. Using SITL simulator, I managed to connect 2 vehicles with different SYSTEM ID's from different TCP ports. While planes are on the fly and in auto mode, I load a new mission with waypoints to plane 1 to go somewhere else. But suddenly,  a part of the same mission is also load to plane 2 or plane 3 etc. I can't manage every plane distincty.
For example:
Ve

[2017-09-18 13:50] patrickelectric opened #5666 "`qrc:qml/FirmwareUpgrade.qml:104: TypeError: Type error`"
At master hash: add505fa77ccaa836dcfc0faa7ad0dd8133a59c6
I don't know why this error appears while uploading a new fw.

[2017-09-18 13:51] patrickelectric commented on #5666
[code]

[2017-09-18 16:36] DonLakeFlyer commented on #5664
What SITL simulator are you using?

[2017-09-18 18:39] gizemsungu commented on #5664
ardupilot SITL simulator http://ardupilot.org/dev/docs/sitl-simulator-software-in-the-loop.html

[2017-09-18 20:10] DonLakeFlyer commented on #5664
I've had problems before with ArduPilot SITL multi-instance before where messages get routed to the wrong place. That sounds like the same problem you may be having not sure. Also keep in mind that when Planning mission the Plan view is interacting with the currently active vehicle (selected in toolbar). It can get confusing and if you switch active vehicles you have to manually sync the Plan view

[2017-09-18 23:31] nick2204 opened #5669 "Guided mode buttons greyed out on first connect with Arduplane (quadplane)"
On start of QGC and first connect of vehicle, Fly buttons all appear greyed out in guided mode until the vehicle is armed (RTL,Pause & Action become available) and then Disarmed (Takeoff becomes available).

After this the buttons appear to function normally.

Tested with:
- daily build of QGC 17/9
- Arduplane 3.8.2-dev running on SITL (sim_vehicle.py -j4 --map -v ArduPlane -f quadplane)

[2017-09-19 00:42] HanJIk opened #5670 "QgroundControl Running Error"
(QGroundControl.exe:6776): GLib-ERROR **:gmem.c:103: failed to allocate 3110491 bytes

Microsoft Visual C++ Runtime Library
 Runtime Error!
Program: C:\Program Files
 (x86)\qgroundcontrol\QGroundControl.exe

This application has requested the Runtime to Terminate it in an unusual way.
Please contact the application's support team for more infomation.

my computer Specifications
 win8.1 64bit
 firm

[2017-09-19 02:05] HanJIk commented on #5670
And QgroundControl (GPU Compatibility Mode) What is the difference between QgroundControl (GPU Safe Mode)?

[2017-09-19 03:18] nick2204 commented on #5669
On further testing, it seems the contextual behaviour is more generally broken.
After performing an auto mission, it is not possible to get the buttons back into the context for guided mode.

[2017-09-19 04:20] NaterGator commented on #5670
Hi @HanJIk. GPU compatibility mode uses ANGLE to render the UI for devices with incompatible OpenGL drivers. The Qt information for this mode is here: http://doc.qt.io/qt-5/windows-requirements.html#dynamically-loading-graphics-drivers
For the most part we detect this and apply the most appropriate solution automatically at startup.

This error is coming from glib, and as far as I know the only gl

[2017-09-19 04:38] HanJIk commented on #5670
![gstreamer](https://user-images.githubusercontent.com/30041641/30576014-bc238dc2-9d3f-11e7-8ac4-bb0addd30739.png)
gstreamer Related files. When you look at this history
I do not think it's installed yet.

[2017-09-19 04:47] HanJIk commented on #5670
How do I install gstreamer?

[2017-09-19 08:57] sanderux commented on #5337
Hi @DonLakeFlyer
Do you have any progress on this? It is a highly requested feature for clients

[2017-09-19 09:54] tops4u opened #5672 "Allow loading parameters from file which are not currently present"
I was trying Arducopter and saved all Parameters from 1.6.2dev in a file. After Re-Installing PX4 1.6.5dev (Master) I tried to reload all saved Parameters. This is not possible as the modification of certain parameters trigger a restart request. It seams that at this Point the Parameter Loading fails or stops. Redoing loading after a reset did not help in my situation.

Currently I ended up with a

[2017-09-19 12:47] NaterGator commented on #5670
Can you try removing the file registry.i686.bin located at %USERPROFILE%\AppData\Local\Microsoft\Windows\INetCache\gstreamer-1.0?

[2017-09-19 16:26] DonLakeFlyer commented on #5670
@NaterGator Is there some way to force Windows/Qt to only use the libraries we provide? Both in this case and the Qt installed somewhere else case?

[2017-09-19 16:29] DonLakeFlyer commented on #5672
This is due to optional parameters on the firmware side. QGC will only load parameters that it currently sees. You can workaround this by loading the parameter file multiple times until all the optional parameters become visible.

I think it's ok to load unknown parameters but I have to test to find out.

[2017-09-19 16:54] NaterGator commented on #5670
In this case I believe we can use a combination of [GST_REGISTRY](https://cgit.freedesktop.org/gstreamer/gstreamer/tree/gst/gstregistry.c?id=1.5.2#n1715) and [GST_PLUGIN_PATH](https://cgit.freedesktop.org/gstreamer/gstreamer/tree/gst/gstregistry.c?id=1.5.2#n1595) environment variables to control plugin loading behavior.

In almost every normal circumstance the Qt plugin case is handled correctly b

[2017-09-19 16:54] #5644 closed

[2017-09-19 17:27] cody303 opened #5674 "Fixed Wing Landing"
on Ardupilot fixed wing firmware. On landing the flaps are deployed when a commanded airspeed is below the set flap speed. What we would like to do is add a DO_CHANGE_SPEED before and after the orbit waypoint on landing. The DO_CHANGE_SPEED before the orbit would be to bring the airspeed back to normal flight speed and retract the flaps in the event of an aborted landing, the second DO_CHANGE_SPEE

[2017-09-19 17:39] DonLakeFlyer opened #5675 "Fly View: Showing missions from all vehicles even when not in multi-vehicle mode"

[2017-09-19 21:15] tops4u commented on #5672
Repetitive Load did not solve the Problem. The opposite was the case after subsequent Loads some Parameters vanished again. At least multiple loads did not complete missing Params ie. Temp Compensation Params have only been loaded or the 1st Accel and no other Sensors.

[2017-09-20 10:43] jaxxzer commented on #5646
https://github.com/mavlink/qgroundcontrol/issues/5644

[2017-09-20 11:00] jaxxzer commented on #5311
Hey @NaterGator I'm in touch with someone who is seeing this fairly regularly and has offered to help test.

[2017-09-20 12:11] gizemsungu commented on #5664
Which SITL simulator do you suggest to use with QGC?

[2017-09-20 16:25] Dnrodriguez374 opened #5681 "Failed parameter loading when connecting multiple vehicles to QGC"
I am running QGC 3.2.4 Stable build. I have 5 different vehicles fitted with a Pixhawk autopilot that I need to connect to QGC via telemetry radio.

Each vehicle has its own unique MAV_SYS_ID
Each vehicle has a default MAV_COMP_ID
There is a telemetry radio fitted onto each vehicle connected to the telem 1 port of the PX4 board
There is one telemetry radio connected to the control station running

[2017-09-20 16:42] DonLakeFlyer commented on #5664
There isn't really a choice. If you are using ArduPilot you need to use their simulator.

[2017-09-21 10:13] MaEtUgR commented on #5118
This is only a symptom of a well known bigger problem that requires restructuring to fix but this issue does not help anymore.

[2017-09-21 10:13] #5118 closed

[2017-09-21 10:18] eMrazSVK commented on #2731
@visrinivasan Yes. You actually need to send the packet. Look to vehicle code, for example ArduCopter, open GCS_Mavlink.cpp and look for MSG_HEARTBEAT (part of the code where there i a switch(id)) and find out what is need to be done to send heartbeat. Then follow this process to achieve the same (instead of heartbeat, send your own packet)

[2017-09-21 19:30] jaxxzer opened #5685 "Plugin support for fact metadata"
Individual firmwares have different contexts, and the vehicle fact metadata should reflect that.

For example, an option to display 'airspeed' doesn't make any sense for a ground vehicle or submersible.

[2017-09-22 17:53] DonLakeFlyer opened #5689 "Look at Vehicle::_handleCommandAck for correct Plan request start"
If  MAV_CMD_REQUEST_AUTOPILOT_CAPABILITIES is doesn't call _startPlanRequest which seems wrong.

[2017-09-22 18:11] patrickelectric opened #5690 "mission protocol fail when uploading a mission without items"
![image](https://user-images.githubusercontent.com/1215497/30758309-40eae57c-9fa8-11e7-8b05-a4295236a126.png)

[2017-09-22 18:13] DonLakeFlyer opened #5691 "Fix Mavlink 2 handshake when using multiple vehicles/links"
This isn't going to work with current code.

[2017-09-22 18:17] rsribas opened #5692 "Swap Waypoint not work with survey, just waypoint added manually"
when created  a survey "swap waypoint" not update , only if waypoint add manually.

- follow survey created with 153 waypoints
![swapwaypoint0](https://user-images.githubusercontent.com/4690579/30758492-073e6e60-9fa9-11e7-95f1-11260809a9ab.png)

[2017-09-22 21:09] DonLakeFlyer opened #5694 "Plan: Structure Scan discussion"
This issue is for discussion of Structure Scan support in QGC. The simple concept from a functional standpoint is:
* Draw a polygon
* Specify the altitude for the first layer
* Specify the number of layers up you want to go from the first layer
* Specify the amount of height between each layer
* Specify a camera trigger distance to use while traversing the path
* Generate a mission which follows t

[2017-09-22 21:12] DonLakeFlyer opened #5695 "Plan: Corridor scan discussion"
This issue is for discussion of Corridor Scan support in QGC. The simple concept from a functional standpoint is:
* Draw a vector path which follows the center of the corridor you want to survey
* Specify the width of the corridor
* Specify the camera settings you want just like Survey
* Generate a mission which flies the vector path specified offseting multiple flights throught the path to get fu

[2017-09-22 21:22] DonLakeFlyer commented on #5694
Quick example:
<img width="1106" alt="screen shot 2017-09-22 at 2 21 19 pm" src="https://user-images.githubusercontent.com/5876851/30764776-5acc8ae2-9fa1-11e7-9a2a-35f7105fce07.png">

[2017-09-22 21:41] lvale commented on #5694
Hi @DonLakeFlyer

Perhaps a desired picture resolution, and a picture target location

[2017-09-22 21:47] samacumen commented on #5610
Is this being addressed and any idea if it could be resolved for the next release? Thanks.

[2017-09-22 22:42] DonLakeFlyer commented on #5694
I was thinking about resolution. If I think structure scan is just a vertical survey then I can consider the polygon to show to surface of the area to survey. Then if you specified a resolution the vehicle would back off the appropriate amount from the surface to get that resolution. But I'm not sure if that is how structure scan is used.

The picture target location would be perpendicular to the

[2017-09-23 00:02] lvale commented on #5694
what if you do a structure scan from the inside of a target?. Think survey the inside of the new apple building :)

[2017-09-23 00:35] birchera commented on #5694
For concave corners the achievable angle of incident vs proximity to structure itself could be a factor. Not sure how to handle it though.

Also, I would think about having the option for a start and an end point. Otherwise it is limited to objects where you can fly around on all sides. Maybe a line would be better suited than a polygon.

[2017-09-23 01:42] DonLakeFlyer commented on #5694
Yup and yup, great stuff. Thanks guys.

[2017-09-23 16:50] dagar opened #5697 "PX4 hide params that aren't user set"
In PX4 all calibration data is exposed as parameters (several hundred), but they're set via calibration routines and not intended to be edited by a user. In some cases these are in the same group as parameters that are user configurable. Hiding calibration params in the QGC param editor tree would be a nice simplification that makes it easier to find the params a user should actually be able to ch

[2017-09-23 23:14] hamishwillee commented on #5697
OR `@internal`

[2017-09-24 06:19] sanderux commented on #5697
I would propose @level to keep it flexible for additional values. We could start with
- BASIC: a user may change these
- ADVANCED: change these for new airframe configs
- EXPERT: calib, etc

[2017-09-24 15:52] dagar commented on #5697
@sanderux I think first making a distinction between params calculated and set vehicle side and params set on the GCS by a user is important. When we previously discussed BASIC/ADVANCED I couldn't think of a good example of something BASIC that isn't already broken out as a nice configuration screen in QGC. If you can maybe we should focus on creating more configuration tabs, that code is actually

[2017-09-24 21:59] hamishwillee commented on #5697
This is my concern . Hence `@internal` or `@autopilot_only`. I guess you could call this expert if you liked, but there is probably a distinction between things you might want a real expert to touch and things that even an expert should not be varying through GCS.

[2017-09-24 21:59] DonLakeFlyer commented on #5697
I think something would be good here. But I"m not sure the categorizing is based on the complexity of the param. My personal view is that most users should never use the parameter editor. If that is not the case then something is wrong, and some sort of vehicle setup ui is missing from the product. To the categorization would be more of a grouping to help you find what you are looking for. Not som

[2017-09-24 23:25] dagar commented on #5697
@hamishwillee the other thing we could consider on the PX4 side is not even exposing them as regular params, but then you lose a potential backup mechanism.

[2017-09-25 01:31] nick2204 opened #5698 "Detecting wrong VTOL vehicle type in flight planner"
The default takeoff type when planning a mission for Ardupilot VTOL vehicle works ok when there is no connection to the autopilot (automatically selects "vtol takeoff and transition")

When connected to the autopilot (AP 3.8.0) the default takeoff type is incorrect (automatically selects "Takeoff")

Comment from Don >  Looks like a bug in the vtol vehicle type determination for QuadPlane. Can you

[2017-09-25 07:25] sanderux commented on #5697
@donlakeflyer i'm not sure as a px4 dev i would be a good example, but most vtol params are not exposed in any other way.

But dor example: the DeltaQuad that we produce does not use an airspeed sensor so we set cruise throttle.
Also quadchute sometimes needs tuning based on the mission.

[2017-09-25 16:37] DonLakeFlyer commented on #5610
@bkueng Is this different from what you fixed?

[2017-09-25 17:37] DonLakeFlyer opened #5700 "Double check for no missing fixes from Stable:MissionManager -> master:PlanManager"

[2017-09-25 22:57] tubeme commented on #5621
It turns out that it is QGC problem.

Related to this: https://github.com/PX4/Firmware/issues/7931#issuecomment-328241891

I was not able to change the value for the Voltage devider in the Power menu in the Settings. Nor I could calculate one. It did not accepted the value. By default the voltage divider stays at 0.00000 as is the bat cell count and the apm divider.

So I had to forcefully change

[2017-09-25 23:08] nfguide commented on #5695
@DonLakeFlyer, you have nailed the definition perfectly.

There is an upcoming pipeline corridor project, which the right of way is 60m wide and 220km long.  So, yeah, this is needed, badly.  The guys at UgCS have a workaround which enables this functionality with UcGS planner.

Basically provide a way to input the line coordinates or consume the corridor data via .shp file or .kml/.kmz file for t

[2017-09-26 04:56] JonReacher opened #5704 "Geotagging causes program crash"
Using the geotag feature in either stable 3.2.4 or daily build causes the program to crash after geotagging. It also won't tag all of the images in the folder.

[2017-09-26 09:41] bkueng commented on #5610
Yes, these look like different issues

[2017-09-26 15:58] DonLakeFlyer commented on #5610
@bkueng Could you take a look at this one then as well? Seems a bit similar to changes you already made. I assume this is QGC side as opposed to Firmware side. but maybe not?

[2017-09-26 15:58] DonLakeFlyer commented on #5704
@birchera Could you take a look?

[2017-09-26 16:19] birchera commented on #5704
Does this happen consistently? Or only on one dataset?

How many images do you have to tag? And do you know how many trigger events you have logged? And how many images get tagged before the crash?

[2017-09-26 16:26] JonReacher commented on #5704
I tried my first set of images, 156 photos. I hadn't tried this before, but it seemed pretty straight forward. It crashed before tagging all of the photos. It may be an issue with some untaken/missed images vs the number of commanded triggers.
 Since I thought that may be the case, I added some additional unrelated photos to the folder just to match the number of triggers. It still wouldn't make i

[2017-09-26 16:30] birchera commented on #5704
Missing images should only lead to wrong tagging, but not to a crash. There is a [check](https://github.com/mavlink/qgroundcontrol/blob/master/src/AnalyzeView/GeoTagController.cc#L259-L260) on the array index.

If you enable GeotaggingLog topic does that tell you something?

[2017-09-26 16:35] JonReacher commented on #5704
That's where you start to lose me. How do I enable GeotaggingLog topic?

[2017-09-26 18:03] birchera commented on #5704
If you go to the console tab and click on set logging. Then you can chose the category.

Do you happen to have another dataset to see whether it is reproducible?

What firmware and what kind of log do you use?

[2017-09-26 18:08] DmitriVeksler opened #5706 "Pixhawk and QGroundControl"
I cannot get my Pixhawk to connect to QGC. The Pixhawk is flashing yellow which indicates radio failsafe. I am trying to update the Pixhawk and it is "not responding". The upgrade stops as soon as it starts due to timeout waiting for bytes to be available. I can not find a cause or solution. Please help.

[2017-09-26 18:20] DonLakeFlyer commented on #5674
@cody303 Ok, so I implemented this and then while testing discovered that the landing speed is controlled by parameters in both PX4 and ArduPilot. I tested with ArduPilot and the DO_CHANGE_SPEED seems to have no affect. I've asked a question to the ArduPilot folks about this to see what they say.

[2017-09-26 18:21] DonLakeFlyer commented on #5706
You seem to have deleted the following text from the issue without reading it:

Note: GitHub Issues are for bugs or feature requests only. Do not enter Issues for questions regarding usage or problems building QGC yourself.
Use the appropriate support channel instead: http://qgroundcontrol.com/#resources.

Delete all of this text when create a real bug Issue.

[2017-09-26 18:21] #5706 closed

[2017-09-26 20:55] JonReacher commented on #5704
I just got another set. I'll try again and report. I'm using PX4 1.6.5 stable and it produces a ulog.

[2017-09-26 23:22] JonReacher commented on #5704
This time it seemed to work fine. I had missed images, so fewer photos than triggers, and it just gave the spinning wheel after it tagged what it could, but it didn't crash. I also tried it with the same number of photos as triggers and it did fine. So I don't know what caused it, but I didn't get it to reproduce the effect.

[2017-09-27 00:10] DonLakeFlyer opened #5707 "Need to change how Pause is supported in QGC"
Right now it's a flight mode. This doesn't work with PX4 when you do a GoTo Location since the pause flight mode is Hold and when you do a goto location it switches to Hold flight mode. Need to try sending DO_REPOSITION with all NANs.

[2017-09-27 01:40] dagar commented on #5707
We could implement MAV_CMD_DO_PAUSE_CONTINUE to enter HOLD and discard any reposition.

![image](https://user-images.githubusercontent.com/84712/30891697-a8f7e450-a302-11e7-8ae4-46d3a4198420.png)

Or perhaps add something more explicit to REPOSITION for HOLD at current position.

[2017-09-27 16:19] DonLakeFlyer commented on #5694
Functional support still missing:
* Circular scans

For discussion:
* Does it make sense to be able to set up structure scan like a vertical survey. With things like image resolution dictating distance from structure and so forth.
* Should there be support for video as well?
* Should there be support for running the gimbal angled down towards the structure?

[2017-09-27 19:23] lvale commented on #5694
On a structure scan IMHO it makes sense to create a camera target path (that would take care of gimbal angles) and a vehicle path. By default user would only need to determine the vehicle path and the camera would be aligned with yaw. If the user would "detach" the camera target from the vehicle then the gimbal target location would be available to control

Video support is a bonus, because apps t

[2017-09-28 08:42] bkueng commented on #5610
Ok, I'll try to reproduce

[2017-09-28 09:59] lakshaydang opened #5710 "Not able to add ArcGIS Maptype in Q ground control"
How to add the GIS map in QGC. Also there are other Esri maps but i am not able to build it.
Anyone can help me with this?

[2017-09-28 14:01] fingadar opened #5711 "Eachine ROTG01 UVC FPV Receiver not selectable / Android"
The Eachine ROTG01 UVC FPV receiver is cheap and simple, see https://www.banggood.com/Eachine-ROTG01-UVC-OTG-5_8G-150CH-Full-Channel-FPV-Receiver-For-Android-Mobile-Phone-Smartphone-p-1147692.html for more information.
The receiver itself is recognized by Android (it even suggests qGoundControl as standard application when connecting the ROTG01 receiver to the tablet). But in qGroundControl, the U

[2017-09-28 15:53] DonLakeFlyer commented on #5710
Support for ESRI is not fully plumbed through QGC.

[2017-09-28 15:53] DonLakeFlyer commented on #5710
@dogmaphobic The token is there, but you can't pick the map type right?

[2017-09-28 15:57] lakshaydang commented on #5710
yes, i was trying for it but qt shows the error. Do you know how to do that i am not able to do that.
Also there is one ArcGIS sdk, can we integrate that with the qt?

[2017-09-28 18:15] dogmaphobic commented on #5710
You need your own ESRI account and your own token. Just like MapBox. With that said, QGC only supports "tile" maps. There is no support for the GIS api.

[2017-09-29 01:57] DonLakeFlyer opened #5716 "While dragging polygon vertex sometimes center indicator disappears"
Initial looks smells like Qt bug.

[2017-09-29 01:57] DonLakeFlyer commented on #5711
@dogmaphobic Is this supposed to be working on Android?

[2017-09-29 04:51] lakshaydang commented on #5710
So any way is there how can i integrate it or you know any person who can help me with that.
Also is there any work going on for GIS integration in QGC and upto when it will be done?

[2017-09-29 05:44] HanJIk opened #5717 "(QGround Control.exe:10088):GLib-ERROR **:"
Hi.
I write once more.
When using QGC, the program is abnormally terminated with the following message.

![1](https://user-images.githubusercontent.com/30041641/31002253-74906c5e-a524-11e7-88a5-b5c553faad48.jpg)
![2](https://user-images.githubusercontent.com/30041641/31002254-76b3b5ea-a524-11e7-8f43-7db5dc0434d5.jpg)

Information
QGC Version : 3.2.1
Fireware version : ArduSub 3.4.1
Windows 8.1 64b

[2017-09-29 07:31] dogmaphobic commented on #5711
I don't remember. The idea is that if the UVC device shows up as a regular *Camera* to Qt, it will work. I'm not sure Qt supports external cameras under Android.

[2017-09-29 07:45] dogmaphobic commented on #5710
Forgot to mention, all tiles are bitmaps. Either PNG or Jpeg and usually 256x256 or 512x512 for high density displays (QGC uses 512x512).

[2017-09-29 08:59] dogmaphobic opened #5718 "TTS under Linux"
The main `README.md` talks about some extra speech libraries. Are these still needed with the new Qt TTS module?

[code]

[2017-09-29 09:22] lakshaydang commented on #5710
Ok there is an app in Qt i.e QGIS any how we can use that with q ground control ?

[2017-09-29 11:07] dogmaphobic commented on #5710
QGIS is a desktop application. It uses a rather different API and it won't ever work on mobile. I would imagine there could be a way to make both applications interoperable so each can do what they are supposed to do best. It all depends what the needs are, which I don't know.

[2017-09-29 14:40] yeechongyeung opened #5719 "compile error “:-1: error: Unknown module(s) in QT: texttospeech”"
QT version： Qt5.7 MSVC2015 32bit

[2017-09-29 14:55] yeechongyeung commented on #5719
sorry，I havn't saw the latest readme file. updata Qt 5.9 it's fine now!

[2017-09-29 16:29] #5719 closed

[2017-09-29 16:42] DonLakeFlyer commented on #5718
Can you uninstall from Linux and see what happens?

[2017-09-29 16:55] DonLakeFlyer commented on #5717
Please don't enter duplicates of issues you have already entered! Your original issue #5670 is still there and was responded to 10 days ago with something you need to try.

[2017-09-29 16:55] #5717 closed

[2017-09-29 20:01] kikislater commented on #5710
Qgis uses gdal/ogr as a data driver. Gdal is now available in Mission planner. May be it's a good way to implement gdal in QGC.... Don't know if it works under mobile platform

A first good option IMO, would be kml/kmz support because most GIS users know how to convert various GIS data to kml. But here it's possible to save kml, why not open ? : https://github.com/mavlink/qgroundcontrol/pull/5499

[2017-09-29 20:04] kikislater commented on #5718
On latest daily build under archlinux, I need to install qt5-speech to make build working.
pacman -S qt5-speech

If qt5-speech is not present, the following error occurs and program won't open :
[code]

[2017-09-29 20:08] khancyr commented on #5069
done in #5185

[2017-09-29 20:08] #5069 closed

[2017-09-29 20:13] dogmaphobic commented on #5718
Ok, this is the opposite of my original question. I don't have any functional Linux VM right now to test this. The new code uses Qt's own TTS engine. The original question was if we still need the old libraries used by the old code. It now seems Linux installs need yet another bit of its Qt puzzle installed to provide said speech engine. Why is Qt on Linux all piecemeal like this?

[2017-09-30 15:06] dogmaphobic commented on #5718
Right, that's what I meant about piecemeal. For Linux, all needed libraries must be explicitly defined here:

https://github.com/mavlink/qgroundcontrol/blob/master/QGCSetup.pri#L104-L125

Other platforms seem to have *deployment* tools that do this automatically.

[2017-09-30 16:59] DonLakeFlyer commented on #5718
Ah, sorry I wasn't paying attention. I thought this was a building problem.

[2017-09-30 17:42] DonLakeFlyer commented on #5718
I tried building this, but I don't see where the new Qt stuff is used. All the old text to speech stuff is still in there?

[2017-09-30 17:43] DonLakeFlyer commented on #5718
[code]

[2017-09-30 17:46] dogmaphobic commented on #5718
You probably have not pulled current master:

https://github.com/mavlink/qgroundcontrol/blob/master/src/GAudioOutput.cc

`QGCAudioWorked` no longer exists.

[2017-09-30 17:47] DonLakeFlyer commented on #5718
Huh, could have sworn I did that. I'll try again and figure out what needs to happen.

[2017-09-30 20:54] kikislater commented on #5718
so I don't understand, is it a missing library or a normal behaviour ? feel free to tell us when it will be updated, I will test.

[2017-09-30 21:33] DonLakeFlyer commented on #5718
qt5-speech is a missing library. The question is also whether espeak libespeak-dev  are still needed. Which I haven't figured out yet.

[2017-10-01 12:29] Mocart96 opened #5721 "lack of support for Raspberry PI cam"
For video streaming from the Raspberry PI ( pi2, pi3, pi0w ) you can use PI cam, the best solution for low latency streaming. In the case of Pi cam great results you can achive running following gstreamer pipeline from pi shell:
`raspivid -n -w 864 -h 480 -b 750000 -fps 25 -t 0 -o - | \
gst-launch-1.0 --gst-debug-level=0 -v \
fdsrc ! \
h264parse ! \
rtph264pay config-interval=10 pt=96 ! \
udpsink

[2017-10-02 12:59] bkueng commented on #5610
First issue: I tried more than 10 times on QGC master, PX4 master on a Pixracer via USB, but never had an issue.

Second issue: should be fixed in https://github.com/mavlink/qgroundcontrol/pull/5722

[2017-10-02 13:12] samacumen commented on #5610
@bkueng First issue is probably more concerning. I just tried it again this morning and it is very much reproducible at my end (as given from Steps (1) to (5) ), following it as is. After downloading a log, you need to click 'Refresh' and it should reproduce on 6th cyclic attempt, i.e. receive nothing from the Pixhawk (running PX4 master).

Let me know if you need more information in order to repr

[2017-10-02 23:26] cody303 commented on #5674
Have you heard back from the Ardupilot people? Will the Flap speed param get triggered by the landing seed parameter? That would save a lot of work.

[2017-10-02 23:39] DonLakeFlyer commented on #5674
I asked the question on Gitter but got no answer. Do you have anyone from ArduPilot side that you work with on Firmware

[2017-10-02 23:42] cody303 commented on #5674
I will go and test it this week.

[2017-10-03 19:20] AndKe opened #5724 "Unable to configure if parameters incomplete"
There is a lengthy warning about configuration screens not being available if parameter fetch is incomplete.

Even going to full parameter list, and refetching does not help.
The application must be shutdown, then started.

please add a check after a successful parameter refresh.

[2017-10-03 20:56] cody303 commented on #5674
It all worked. Looks like I have been added extra unnecessary steps on each flight. Could we still make the landing distance lock the value?

[2017-10-03 22:08] sanderux opened #5725 "RTL: Inconsistent naming"
I propose we consistently refer to RTL as Return To Launch.

![image](https://user-images.githubusercontent.com/14801663/31151507-115bab40-a898-11e7-829c-ebb9272af4dd.png)

[2017-10-03 22:17] sanderux opened #5726 "Safety screen: BAT_EMERGEN_THR missing"
![image](https://user-images.githubusercontent.com/14801663/31151757-41fe092c-a899-11e7-92b2-f521982646f5.png)
Should also contain the "dangerously low" threshold (BAT_EMERGEN_THR)

[2017-10-04 13:32] samacumen opened #5727 "Exception caught: Udp link"
I had 2 UDP links active (via Comm tabs) in qGroundControl (v3.2.4 latest release). After a while an exception was caught in QGeoMapReplyQGC.cpp in "void QGeoTiledMapReplyQGC::timeout()".

The _reply variable was NULL. Please see the details below:

qrc:///qml/QGroundControl/FlightDisplay/FlightDisplayView.qml:373: TypeError: Cannot read property 'videoRunning' of nullQDBusConnection: name 'org.fr

[2017-10-04 15:59] dharma-kc commented on #4803
I am still getting the same error on Ubuntu 16.04. Any suggestion will be appreciated.

[2017-10-04 17:41] jaxxzer commented on #4803
@dharma-kc Can you try:

`apt install gstreamer1.0-plugins-bad gstreamer1.0-libav`

and let us know if it works after installing these two packages?

See also [here](https://github.com/mavlink/qgroundcontrol/issues/4303#issuecomment-315445212).

[2017-10-05 00:57] DonLakeFlyer commented on #5725
Combo box values come from firmware parameter meta data. So that requires a firmware change. Happy to change to anything if you can sync up what firmware wants to call it.

[2017-10-05 01:00] DonLakeFlyer commented on #5724
This isn't really fixable without some major architectural changes. Once you miss getting parameters the first time you are dead in the water since there is no mechanism architecturally to signal that they showed up on a subsequent try. Would be nice if there was but not going to be high priority to fix.

[2017-10-05 03:06] dharma-kc commented on #4803
Great. It works. Thank you.

[2017-10-05 09:39] AlexisTM commented on #5550
Same here

[2017-10-05 10:30] taileron commented on #5711
ROTG01 shows up as USB 2.0 camera in all platforms of Qgroundcontrol (Mac/Win/Ubuntu) expect Android but in Android lots of other Apps connect to ROTG01 with super low latency (e.g. with Windows the latency is way too high) so Android would be the preferred platform if it would work in future ...

[2017-10-05 13:05] sujiv0 commented on #2440
I'm using QGC V3.2.4. I want to configure Airframe as Quad H. How can I configure it??
Please help

[2017-10-05 14:24] kintzlr commented on #5550
Me too.

[2017-10-05 17:09] Antiheavy commented on #5403
Coming late to the party:  I think it would be useful to have a firmware param to optionally "erase old missions on boot".  My my experience users (customers) sometimes accidentally try to fly old missions that might be at a different location, this can be very dangerous if the built-in checks don't catch a problem with the mission.

I'm not a huge fan of the "Mission finished, remove?" question,

[2017-10-05 17:11] Antiheavy commented on #4268
Missions and parameters would be super useful to have in the ground station log if that is technically feasible.

[2017-10-05 17:16] Antiheavy opened #5730 "**Feature request** improvements to replay function"
Replay is a VERY useful function to have. The current implementation is too basic. These two improvements would make it much more useable:

* Ability to play forward and play backward.
* Ability to play forward/backward and faster/slower speeds.

Here is a couple concepts of how that might look:
![image](https://user-images.githubusercontent.com/12117027/31240565-bb008fc4-a9c6-11e7-9c0a-ae2cb16941

[2017-10-05 22:45] flo-vienna commented on #5609
Anything missing or why is nobody caring about that ?

[2017-10-06 10:29] sujiv0 commented on #2656
How to include Throttle Percentage Value on to the HUD/Widget??
Please add this feature too @DonLakeFlyer  @LorenzMeier

[2017-10-06 12:03] AlexisTM commented on #5610
I had to delete all logs (465) and refly and it downloaded the log.

QGC was spamming: Received log data for wrong log

[2017-10-06 17:52] Otusbubo commented on #3971
We're using the Ricoh GR II and MicaSense RedEdge.  Happy to provide specs on those.

[2017-10-06 22:19] DonLakeFlyer commented on #3971
@Otusbubo If you can provide specs (all the values in custom camera setup) I can add them as standard cameras. Create a separate issue and put the specs in there.

[2017-10-06 22:47] DonLakeFlyer commented on #4268
Saying the "Replay does not work well" is quite an understatement! It's pretty horrendous.

[2017-10-06 22:49] DonLakeFlyer commented on #4268
Yes it is. And I've been meaning to do it for ages. Non-trivial coding-wise but great feature.

[2017-10-08 01:51] dagar commented on #5725
For now it should probably be "return to land" everywhere, although it may be worth distinguishing "return to home" and "return to land" soon with all these other RTL variations (RTL -> mission landing, smart RTL, RTL with safe points).

[2017-10-08 01:53] dagar commented on #5454
I believe it was able to run entirely from the contents of the archive at one point. I wouldn't mind dropping the archive and only having the appimage. Anything more than that should be a package.

[2017-10-08 21:53] hamishwillee commented on #2440
@sujiv0 Best place to ask for technical support is on slack - qgroundcontrol channel -
https://px4.slack.com/messages/C629RE9H7

[2017-10-08 22:44] hamishwillee commented on #5725
Yes if these are different "modes" and no if they are the same mode with some parameter that define where the land point is. We could consider something like "Safe Land" mode as well to keep this generic.
For docs we are currently standardising against what QGC says in the mode selection boxes - so it is "Return" mode.

[2017-10-09 09:30] karthikdesai commented on #5072
Hi,
Is there any branch for this issue you are working on? I wanna get this in QGC so maybe I can help you out!

[2017-10-09 11:43] sanderux commented on #5725
What does that mean? I don't even know if that's correct English

I would propose 3 modes, or the latter 2 as options on the first
Return To Launch (RTL)
Smart Return To Launch (SRTL)
Fail Safe Land (FSL) (Rally point, Home or Destination, which ever is closest)

[2017-10-09 14:08] sh83 opened #5734 "Enable joystick buttons for apm in qgc."
APMFirmwarePlugin::manualControlReservedButtonCount should return 0, not -1. Currently ArduPlane and ArduCopter not use them at all.

[2017-10-09 16:35] Antiheavy commented on #5725
oh my favorite topic!  Yeah, the RTL naming is inconsistent all over the place within the various ground stations and firmwares and documentation.

Fixed Wing and VTOL are sort of fundamentally different with how they do/should work.  IMHO Return to Launch isn't the right term to use for a number of reasons.  I think "Return to Home" (RTH) and "Return to Land" (RTL) are the better and more commonl

[2017-10-09 17:30] jaxxzer commented on #5670
Same thing happening here: https://github.com/mavlink/qgroundcontrol/issues/5311

[2017-10-09 17:31] jaxxzer commented on #5670
@NaterGator can you help me with setting up windows stack trace/log dumps for debugging this?

[2017-10-09 22:03] hamishwillee commented on #5725
@sanderux
- This is correct English but it is ambiguous. It means either got back to be over land (e.g. from the sea) or it might mean "return with intention of landing". In either case there is no indication of where you are returning to (home, launch, or safe point).
- Return and land is closer to what we are after, but again, loses the destination landing point.
- Currently QGC refers to this a

[2017-10-10 02:15] DonLakeFlyer commented on #5454
I would like to drop the archive as well. Too many things to keep up to date. Only one thing to keep running would be great.

[2017-10-10 06:34] bellahduan commented on #4516
@DonLakeFlyer hi , the log for QGC is .px4log , but it can not use to analysis . Is there any way to solve the problem?
thank u so much !

[2017-10-10 07:47] sujiv0 commented on #2440
@hamishwillee I'm not there in the px4.slack . Please help

[2017-10-10 10:16] hamishwillee commented on #2440
@sujiv0 You can create an account for our slack here http://slack.px4.io/ . I wouldn't have suggested you do this if I knew the answer.

[2017-10-10 14:05] bellahduan commented on #5610
@samacumen hi , the log download from QGC is **.px4log , but it can not use to analysis.  how to solve the problem?

[2017-10-10 16:14] Antiheavy opened #5736 "Announce battery lower than: XX% only works during the first flight"
Tested in SITL using PX4 fixed wing.  QGC function to "Announce battery lower than: xx%" only works during the first flight during that QGC application session.  subsequent flights do not have the QGC announcements when the battery goes below this value.

![image](https://user-images.githubusercontent.com/12117027/31397483-c5b1339a-adab-11e7-88fd-4dc77623a25a.png)

[2017-10-10 16:50] weiminshen99 commented on #2728
Dear Sir,  I am using QGC working wirelessly with a companion computer onboard that autonomously controls the air vehicle in the GUIDED mode. It would be nice to let the human pilot on ground to hear what the autonomous controller is doing in air, especially those important decisions and actions.
Do we have a way to let QGC to speak those important messages?  Thanks!

[2017-10-10 19:58] AndKe opened #5737 "Battery swap and mission resume procedure is unclear."
So, I get that the intention is to crop a mission, after landing for battery swap, but it's still unclear how it's supposed to be done.  (I did some testing)

I was flying a mission, (ArduCopter in auto mode) - decided battery needed to be changed in the middle  between waypoints that are 500m apart.

If I switch mode via RC to RTL, or anything manual - camera keeps on trigging by distance.
Appare

[2017-10-11 02:00] DonLakeFlyer commented on #5737
That would require firmware support. At that point QGC doesn't really know what is going on. Vehicle is in control of running missions.

[2017-10-11 02:03] DonLakeFlyer commented on #2728
QGC will speak high priority STATUS_TEXT messages which are sent to it. So if you companion computer sent those to QGC, QGC will speak them.

[2017-10-11 02:11] DonLakeFlyer commented on #4516
The old log format is .px4log, the new format is .ulog.

[2017-10-11 02:13] bellahduan commented on #4516
@DonLakeFlyer
thank u so much . but I downloaded the log file using QGC is a.px4log, but it does not working to analyze . and I downloaded the log from SD card is a.ulg , but the same is not working well . can u, please help me to solve the problem ?
thank u so much .

[2017-10-11 08:37] AndKe commented on #5737
Well, it could require firmware support, I agree that would be the easy way.

QGC could, detect mode change, send and verify DO_SET_CAM_TRIGG_DIST = 0 , (restore it if mode is changed back to AUTO)
store/restore is important if for example loitering fixed wing.

Example; a mission is at some point to enter CTR, but is not yet cleared to do so (due to traffic)  - the plane would usually be put in a

[2017-10-11 10:15] taileron commented on #5711
... sorry in Ubuntu 16.04 QGC behaves the same as in Android ROTG01 isn´t available in the selection but all other tools can use it e.g. "cheese"

[2017-10-11 15:15] RPSpicer opened #5739 "Android: Load mission .plans from outside app internal storage"
I have written a piece of code that generates valid .plan files for desktop QGroundControl, but would like to load these files on an Android phone or tablet. The current configuration of the QGroundControl app only reads and writes .plans within the app's private/internal storage.

I would like to add the capability to read files from arbitrary URIs  on device shared storage.

My ideal use case wo

[2017-10-11 16:48] DonLakeFlyer commented on #5739
Why can't you just write to files to the QGC location?

[2017-10-11 16:56] DonLakeFlyer commented on #5724
I'm going to leave this handing around. It's good to remember this is a problem. Hard to fix. but still would be good to take care of at some point.

[2017-10-11 16:59] pmtolk commented on #5739
That is what we would like to accomplish. In my brief research into this issue it requires a android:sharedUserId in the manifest
https://stackoverflow.com/questions/9783765/what-is-shareduserid-in-android-and-how-is-it-used

[2017-10-11 17:01] DonLakeFlyer commented on #5739
@dogmaphobic Do you happen to know anything about this? I had thought anyone could write to that location. If not maybe we could set something on the app to allow anyone to read/write to the QGC files location.

[2017-10-11 17:05] jaxxzer commented on #5739
Can't you just load/save mission files wherever? (Click the Sync button)

[2017-10-11 17:15] jaxxzer commented on #5739
I see this isn't the case on mobile.

[2017-10-11 17:28] jaxxzer commented on #5739
The missions are loaded from the 'Missions' directory under the 'File Save Path' in the miscellaneous section of the _General_ tab on the App Settings page.

The option to change this is shown on Android, but it can't be changed after clicking it.

`/storage/emulated/0/QGroundControl/Missions/`

[2017-10-11 20:08] weiminshen99 commented on #2728
Thanks. Will give it a try!

Sent from my iPhone

[2017-10-11 20:38] Otusbubo opened #5740 "Camera drop-down additions, create/save ability"
Ricoh GR II
fl (mm): 18.3
image width (pix): 4928
image height: 3264
sensor width (mm): 23.7
sensor height: 15.7

RedEdge
fl: 5.5
image width: 1280
image height: 960
sensor width: 4.8
sensor height: 3.6

Triple checked! Plus, the ability to "save as" to create/save our own cameras would be fantastic. Thanks!

[2017-10-13 05:06] JonReacher opened #5742 "Survey altitude not updating"
Haven't seen this addressed yet, when creating a new survey the survey altitude field is populated with the overall mission altitude number, however the survey grid itself is showing up using the last used survey altitude. This is using 3.2.4 on mac and android.

 So if I plan a survey at 400' agl and then close and reopen the program next time to plan a new survey, the survey will have 150' agl f

[2017-10-13 16:07] pmtolk commented on #5245
My current windows build is also failing with a similar but slightly different message

arm-linux-androideabi-g++: error: obj\moc_MockLinkFileServer.objobj\moc_MockLinkMissionItemHandler.obj: No such file or directory

[2017-10-14 00:00] sanderux opened #5744 "Latest daily doesnt run on ubuntu"
From the compressed image:
[code]
From the appimage:
[code]

[2017-10-14 00:01] sanderux commented on #5744
Ubuntu 16.04
QT 5.9.1 installed (also issue when not installed)

[2017-10-16 00:37] nick2204 opened #5746 "ArduPilot: Look into changing mission start sequence"
#### Issue details
Triggering an auto mission start using the start mission dialog/context action causes the vehicle to be set temporarily to Guided mode before it enters Auto.
This can have undesirable effects depending on what the last guided commands were.

Triggering the auto mission by setting mode to Auto and then Arming, seems to work correctly.

#### Version
Arduplane 3.8.2-dev (running in

[2017-10-16 00:54] nick2204 opened #5747 "Windows 10 GUI poor click accuracy"
#### Issue details
The accuracy of clicking map and menu items in the main window is very poor in the vertical direction.

It may be coincidence, but it seems that it is out by exactly the height of the windows frame title bar, as though the position the mouse pointer is being measured relative to the top of the window, and the content is being reference to the top of the frame (bottom of the titl

[2017-10-16 03:05] nick2204 opened #5748 "*** Feature request *** add "change loiter radius" action for Guided mode"
#### Issue Details

In a similar way to how Altitude is set in guided mode, it would be very beneficial to FW flight profiles to have an easy method to set the loiter radius.

[2017-10-16 16:37] JonReacher commented on #3460
Any progress with this? It would be very helpful to have a ready to arm indication in QGC for PX4 for vehicles that have the autopilot/LED covered.

[2017-10-16 23:49] DonLakeFlyer commented on #5747
The menu bar isn't showing. Can you try using on of the other software rendered QGC startup shotcuts to see if it happens there as well.

[2017-10-17 07:33] Breaknus commented on #5744
Same problem

[2017-10-17 17:31] #2971 closed

[2017-10-17 18:42] jaxxzer commented on #4445
@NaterGator have you done any work on this? I'm interested in helping get this together.

[2017-10-17 19:07] DonLakeFlyer commented on #5748
Wondering why you would need to change this on a per-flight basis?

[2017-10-17 19:26] DonLakeFlyer commented on #5744
Hmm, when I build the AppImage myself it works. But the travis built one doesn't. Strange.

[2017-10-17 19:33] DonLakeFlyer commented on #5744
@dagar Do you have any ideas here?

[2017-10-17 19:41] DonLakeFlyer commented on #5742
I can't seem to reproduce this. Here is what I tried:
1) Boot QGC, goto Plan
2) Mission Start has Waypoint alt set to 50 meters
3) Add a survey, shows up as Manual Grid, survey altitude is set to 50 meters
4) Change the survey alt to 400
5) Shutdown QGC
6) Go back to step 1. In step 3 survey is 50 meter alt

[2017-10-17 19:43] DonLakeFlyer commented on #5739
That's a bug. That option shouldn't show up. It's a fixed location on mobile builds.

[2017-10-17 19:52] DonLakeFlyer commented on #5739
Are you sure you can't write to the location? It's supposed to be writable. For example My Files app can see it and modify.

[2017-10-17 20:54] nick2204 commented on #5748
When flying fixed wing, the two main loiter profiles would be minimum safe radius for holding a specific position, ie in guided flight. But then there are cases where you might want to hold a wide loiter around a point of interest and keep a camera pointed toward the center. Situational awareness type of application.

[2017-10-17 20:58] nick2204 commented on #5747
Yes, as the issue suggested, if I bring the mouse cursor below the software rendered buttons by about the height of the menu bar, I can get them to come up. It is as though it expects the menu there but Windows doesn't render it, leaving an offset for the mouse click

[2017-10-17 21:24] NaterGator commented on #5747
@nick2204  what Don is asking is that you try starting QGC with one of the shortcuts that helps to maximize GPU compatibility. There is both GPU compatibility mode and GPU Safe Mode (full software rendering, will use a bunch of battery). You should be able to find them in the start menu.

If one of those work then it is likely Qt is incorrectly detecting the active GPU (which wouldn't be too surpr

[2017-10-17 21:30] NaterGator commented on #4445
I looked into this and we would have to package binary blobs that we can't audit from a software company in Russia.  Didn't / doesn't feel right. I'd like to find an open-source and auditable solution to this problem.

[2017-10-17 22:48] Antiheavy commented on #5748
You could accomplish this with a Loiter waypoint in a mission plan.  Switching to Plan view, adding/inserting the waypoint(s), changing the type to Loiter, then changing the altitude and radius, then uploading, then switching views, then changing flight modes, then making the waypoint active -- all of that takes a lot of clicks and is pretty clunky in QGC, but technically you can get the job done.

[2017-10-17 22:56] Antiheavy commented on #3934
hey, this excellent feature has been in QGC for a while now.  does this still need to be open?

[2017-10-17 23:05] Antiheavy commented on #5695
I agree this described functionality is exactly how this should work.  I too just had an application for this last week mapping a road construction project.  Using "Survey" type waypoints was super painful and didn't really get the job done.  I am happy to help test on fixed wing when this functionality gets developed.

[2017-10-17 23:11] nick2204 commented on #5747
@natergator , ok will do. Never noticed them before, always just type the first couple of letters to start it from the start menu.

[2017-10-17 23:13] nick2204 commented on #5748
Ha ha, yeah it's only as you use guided mode more, you see how useful these things are. Auto missions work great in qgc, but they're not always suitable for more adhoc tasks.

[2017-10-17 23:51] sanderux commented on #5744
@DonLakeFlyer can you attach an appimage for latest daily? i have some stuff to report but want to test on latest first

[2017-10-17 23:55] DonLakeFlyer commented on #3934
Nope

[2017-10-17 23:55] #3934 closed

[2017-10-17 23:58] DonLakeFlyer commented on #5744
Here is the one I built for testing: https://s3-us-west-2.amazonaws.com/qgroundcontrol/DonLakeFlyer/QGroundControl.AppImage

[2017-10-18 00:01] sanderux commented on #5744
I get the same issue on that:
[code]

[2017-10-18 00:04] DonLakeFlyer commented on #5744
I guess that's good. I must need to try running from a virgin Ubuntu with no Qt 5.9.1 installed.

[2017-10-18 00:07] sanderux commented on #5744
I have QT 5.9.1 installed, but upgraded from an older version.

[2017-10-18 03:02] JonReacher commented on #5704
This definitely seems to be hit or miss on whether it will work. I haven't ever gotten it to geotag a complete missions worth of photos. That's with no missed photos, same number of triggers as taken photos. It consistently doesn't tag a handful of photos. Sometimes it crashes, sometimes not, but never tags them all.

 I've resorted to trying once, counting the number of photos not tagged, and the

[2017-10-18 07:13] AluBis opened #5752 "KML/SHP/POLY import support for polygons"
Hi,
I am new on this so not sure if this is the right place for my question.
But: I am looking for to import a polygon (.shp, .kml, .poly,...) to create a survey plan with a zone corresponding to precise coordinate.
Mission Planner do this and it is really necessary for my activity: I realize photogrammetry for archeology, so there is no "mark", no building in satellite view to help me and I can't

[2017-10-18 16:27] weiminshen99 commented on #2728
Hi, Don,

Thanks for your kind reply and sorry to bother you again. I have tried many times but cannot figure out how to send out STATUS_TEXT (or STATUSTEXT) messages from my companion computer to QGC. The companion computer is running mavproxy.py and dronekit and I can observe all the STATUS_TEXT messages on my mavlink, but I could not send them out to QGC properly. The following function runs bu

[2017-10-18 16:55] pmtolk commented on #5739
I have tested and it is working, here is a complete example
[code]

[2017-10-18 17:36] Otusbubo commented on #5370
Did some in-office testing yesterday, and experienced this problem on both an iPad and an Android tablet.  Worked around it by uploading, experiencing the "sticking," closing qGC, reopening, then downloading the mission from the Solo.  Will flight test later today.

[2017-10-18 18:22] DonLakeFlyer commented on #5739
Closing since this is working fine I believe.

[2017-10-18 18:22] #5739 closed

[2017-10-18 18:23] DonLakeFlyer commented on #2728
You're going to need to talk with the Firmware folks about how to set up for a companion computer such that it forwards messages correctly.

[2017-10-18 18:26] DonLakeFlyer commented on #5752
Not yet supported. But coming in the 3.3 release.

[2017-10-18 18:28] AndKe opened #5754 "Compass calibration fails"
I have previously reproduced it on two ArduCopter 3.5.x on Pixhawk 2.1
Today on another AC3.5.3, Pixhawk 2.1
No amonut of retries seem to help.
What is happening ?

It fails, no progress bare will show up.

![screenshot from 2017-10-18 17-33-17](https://user-images.githubusercontent.com/1468842/31735682-f0265130-b442-11e7-8f14-b086580aa088.png)

related code in ArduPilot https://github.com/ArduPil

[2017-10-18 19:01] AndKe commented on #5754
related code in ArduPilot https://github.com/ArduPilot/ardupilot/blob/master/libraries/AP_Compass/AP_Compass_Calibration.cpp#L268

[2017-10-18 21:17] DonLakeFlyer commented on #5744
Can you download and try again from https://s3-us-west-2.amazonaws.com/qgroundcontrol/DonLakeFlyer/QGroundControl.AppImage. There is a new version up there.

[2017-10-18 22:12] nick2204 commented on #5747
yes, in GPU compatibility mode it is resolved. Should i close this issue, or is this something that is likely to be worked on?

[2017-10-18 22:13] DonLakeFlyer commented on #5747
Leave it open. It is more than likely some sort of Qt bug in 5.9. Not sure if there is a workaround. Maybe be video driver specific.

[2017-10-18 22:30] DonLakeFlyer opened #5756 "Hand carry QGCAudio stuff from Stable_V3.2 to master"
* Text reading conversions
* Unit test for above

[2017-10-18 23:06] DonLakeFlyer commented on #5557
Also need to carry across resume mission index flight mode heartbeat ordering fixes.

[2017-10-20 01:11] DonLakeFlyer opened #5760 "ArduPilot Sensors Setup: Doesn't support QGCOptions show* settings"

[2017-10-20 02:11] DonLakeFlyer commented on #5754
Firmware is rejecting the command for some reason.

[2017-10-20 13:32] AluBis commented on #5752
OK, it's a good news thanks ! But I don't understand why it is so difficult to find this features in almost all software.

[2017-10-20 18:18] DonLakeFlyer commented on #5610
@bkueng Ok, to close this issue now?

[2017-10-20 18:37] DonLakeFlyer opened #5763 "Takes two tries to shutdown QGC"
On OSX:
* Command+Q nothing happens
* Command+Q finally closes

This is because the second close event that QGC uses to actually close the app is being lost.

[2017-10-20 18:46] DonLakeFlyer commented on #5763
I have a sneaking suspicion this is a bug in 5.9.1

[2017-10-20 19:24] DonLakeFlyer commented on #5754
Do you have any of the compasses disabled?

[2017-10-20 19:51] AndKe commented on #5754
Yes,
I am posting all relevant params of the last UAV I had trouble with:

COMPASS_CAL_FIT,100.00000000
COMPASS_DEV_ID,466441
COMPASS_DEV_ID2,131874
COMPASS_DEV_ID3,263178
COMPASS_EXTERN2,0
COMPASS_EXTERN3,0
COMPASS_EXTERNAL,1
COMPASS_LEARN,0
COMPASS_PRIMARY,0
COMPASS_USE,1
COMPASS_USE2,0
COMPASS_USE3,0

So, basically, I am using only the external one.
Also, before calibration I see info like this

[2017-10-20 19:52] DonLakeFlyer commented on #5754
Yes it does. Can you try calibrating will all compasses turned on?

[2017-10-20 19:56] AndKe commented on #5754
I just returned for the weekend and the UAV is few thousand kilometers away, I can try early next week. :)  - don't have a 2.1 + external GPS for it at home.

[2017-10-20 19:59] AndKe opened #5766 "Camera config does not handle AP3.7.1 (is older firmware expected to be handled)"
I am not sure whatever older firmware versions are expected to be detected and supported, but opening camera config fails when looking for a lot of SERVO*_FUNCTION parameters, which obviously are not there.

[2017-10-20 20:01] #5756 closed

[2017-10-20 20:04] AndKe opened #5768 "Please add basic commands."
Preflight reboot, preflight calibration, trigger camera, should be available.. somewhere.
All of those are essential for preflight tests or when payload configuration takes some time.

it would fit into setup just fine :)

[2017-10-20 20:09] AndKe opened #5769 "Parameter progress bar visibility in daylight."
The thin green progress bar is very hard to see when in difficult viewing conditions.
When at >95% , it's even hard to see if it IS there (as in 95% ), or disappeared - as in 100%.
please consider adding a plain , smaller, progress bar with numeric count, something like:
             [|||||||| 120/770        ]

or a significantly thicker green line

[2017-10-20 20:34] DonLakeFlyer commented on #5768
Pre-Flight is already there: Cal Baro/Airspeed
Trigger Camera already there: Switch instrument pages on Fly View till you get to Camera page

[2017-10-20 20:40] DonLakeFlyer commented on #5766
Parameter redirection is broken.

[2017-10-20 21:16] jaxxzer commented on #5670
@HanJIk is this still happening for you? You can follow the instructions [here](http://qgroundcontrol.org/bugreporting#reporting_crashes_from_windows_builds) to get a crash dump that we can look at.

[2017-10-20 21:26] AndKe commented on #5768
Sorry, tired, I knew camera trigger was there, failed to find the others few days ago :)

[2017-10-20 21:31] DonLakeFlyer commented on #5768
For PX4 we added it to the setup page as well. which I think

[2017-10-21 01:30] Antiheavy commented on #5769
I agree the current thin bar is too hard to see.  Especially when it gets hung up at ~95% and you're squinting and asking yourself "is that still going? or did it complete?...."

[2017-10-21 01:32] Antiheavy commented on #5752
+1 for this feature request.

[2017-10-21 05:43] bkueng commented on #5610
No, according to @samacumen there's one more issue (which I'm unable to reproduce):

[2017-10-21 14:57] AndKe commented on #5754
I had a 2.1 + external magentometer around anyway, just tested it.
Yes, checking all checkboxes works.  :)

[2017-10-21 18:13] DonLakeFlyer commented on #5754
https://github.com/ArduPilot/ardupilot/issues/7058#issuecomment-335979336

[2017-10-21 18:14] fredrikfalkman commented on #5746
I can confirm this behavior on a regular plan running 3.8.1 and QGC Develop add505fa7 (2017-09-17)

[2017-10-21 18:15] DonLakeFlyer commented on #5746
This is currently the way it is coded to work. Looking into doing it a different way.

[2017-10-21 19:47] fredrikfalkman commented on #5730
Also, the ability to enter a specific time would be nice. And of course, live scrubbing!

[2017-10-21 20:23] #5754 closed

[2017-10-22 19:04] fredrikfalkman opened #5775 "Planned mission disappears when entering a guided go-to location"
When flying a mission in auto, if I enter a go-to location (Guided), the mission disappears from the chart screen. If I go back to Auto, the plane reverts to following the planned mission, but the waypoints and route lines are still not showing.

Other than that, the new ability to use go-to locations seems to work nicely. Much appreciated!

3.8 (Development add505fa7 2+17-09-17)
RPi3/Navio2; Ardu

[2017-10-23 05:22] kikislater commented on #5752
+1 also

[2017-10-23 09:28] fkaiser commented on #5610
Observed similar issue as described by @samacumen. The problem seems to lie on the PX4 side with this message showing up as the debug output from autopilot:

[mavlink] MavlinkLogHandler:: init Error creating /fs/microsd/$log$.txt

Message stems from this line in [PX4 code](https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_log_handler.cpp#L467).

In that case there seems to an

[2017-10-23 09:32] samacumen commented on #5610
@fkaiser Thanks for helping reproduce the issue. You probably hit the birds eye! I was also quite sure in my analysis of the issue being on PX4 side as I found the QGC side clean since it only acts on the received mavlink messages from PX4. At certain (repeated) point of action, QGC stops receiving.

Should we transfer this to the PX4 team? @LorenzMeier

[2017-10-23 15:07] DonLakeFlyer commented on #5610
@bkueng Any comments on this?

[2017-10-23 15:28] bkueng commented on #5610
Hmm, the error handling on the Firmware looks correct to me. It seems to be an underlying issue in the file system or NuttX or not enough file descriptors. And QGC then reacts correctly showing an empty list. So yes we can move it over, but I'm not sure if it helps.

@samacumen @fkaiser if you're in a position to recompile, can you exchange https://github.com/PX4/Firmware/blob/master/src/modules/m

[2017-10-23 15:49] bkueng commented on #5610
Just came across another bug: https://github.com/mavlink/qgroundcontrol/pull/5778

[2017-10-23 16:06] samacumen commented on #5610
@bkueng Thanks for your analysis and taking notice of these issues. As a user of the system, I could reproduce it and don't mind if qgc or px4 side fixes it as appropriate.

I'll be back to work in a couple days and will compile what you suggest and report back with the result.

[2017-10-23 18:21] dagar opened #5779 "PX4 RC calibration possible RC1 issue"
I'm seeing a lot of logs where even after RC calibration the RC1_MAX, RC1_MIN, etc parameters are still set to default. This could often go unnoticed in many setups.

http://discuss.px4.io/t/incorrect-throttle-behavior/4712

Needs further investigation, but so far looks like all of this happens on QGC side.

[2017-10-24 07:32] maowenniao opened #5781 "gstreamer1.0 install issue"
Using the order : apt-get install gstreamer1.0*  for raspberry pi. There has a problem of gstreamer1.0-omx-dbg. There have two version should be chosen, but I tried both of them, all no use. So how to solve it?
[install issue.txt](https://github.com/mavlink/qgroundcontrol/files/1409909/install.issue.txt)
[use issue.txt](https://github.com/mavlink/qgroundcontrol/files/1409910/use.issue.txt)

[2017-10-24 19:53] JonReacher opened #5783 "Survey: Deselect not disabling images in turnaround"
I have noticed, using 3.2.4, that leaving "take images in turnarounds" not checked does not keep the images from being taken during the turns in surveys. I have had this happen on all of my surveys, along with some inconsistent trigger distances leaving large gaps in coverage.

flight log: https://logs.px4.io/plot_app?log=ed0c74f0-6b5b-4c4b-8a60-e6935887978f

I re-downloaded the mission from the a

[2017-10-24 19:59] DonLakeFlyer commented on #5783
Those are exactly the same thing. I also assume you meant "exiting" not "entering"?

What firmware are you using? Can you attach the .plan file which is not working.

[2017-10-24 20:00] DonLakeFlyer commented on #5763
Seems to be OSX only

[2017-10-24 20:02] DonLakeFlyer commented on #5746
Can you explain? How could there be other guided command in play if you are on the ground?

[2017-10-24 20:15] JonReacher commented on #5783
Here's the plan file. PX4 firmware ver 1.6.5
[Sand.plan.zip](https://github.com/mavlink/qgroundcontrol/files/1412358/Sand.plan.zip)

 I wasn't sure if they equaled the same thing or not, so it sounds like that's fine. I was meaning exiting the survey polygon/ entering the turnaround.

[2017-10-25 05:02] khoinguyen258 opened #5785 "iOS Build: Xcode build fail with "CFBundleShortVersionString""
Hi all,
I am trying to build qgroundcontrol for IOS. Following the tutorial on this page. I create a xcode file by using qmake (from qtcreator ) . However when I build the code with Xcode , I got the following error:

Although I try many way to change the CFBundle value in IOS-info .plist.
I do not know whether this is a issue or only error on my machine.

I am working on Mac OS Sierra and IOS 11

[2017-10-25 17:26] DonLakeFlyer commented on #5785
Here is the text you deleted from the Issue:
Note: GitHub Issues are for bugs or feature requests only. Do not enter Issues for questions regarding usage or problems **building** QGC yourself.
Use the appropriate support channel instead: http://qgroundcontrol.com/#resources.

[2017-10-25 17:26] #5785 closed

[2017-10-25 17:33] #5557 closed

[2017-10-25 17:34] DonLakeFlyer commented on #5775
Can you try a new daily build? New one should show up in a couple hours.

[2017-10-25 21:29] DonLakeFlyer commented on #5783
Plan file persistance for images in turnaround is broken. If you change it from the ui and then upload mission will be correct. But if you load from file it will be wrong.

[2017-10-25 21:34] DonLakeFlyer opened #5787 "Android daily builds are not updating"

[2017-10-26 00:45] DonLakeFlyer commented on #5779
I just did radio cal using both daily and stable. I did notice that someone changed the param meta data units for those values to "us" which is meaningless to QGC. Hence they show up as floating point with 3 digits of precision. These values should not have units associated with them.

[2017-10-26 00:46] DonLakeFlyer commented on #5779
![screen shot 2017-10-25 at 5 42 44 pm](https://user-images.githubusercontent.com/5876851/32029948-77d30074-b9ac-11e7-8354-b577f12d1446.png)

[2017-10-26 01:38] DonLakeFlyer commented on #5744
Can someone retry the build I posted?

[2017-10-26 01:42] DonLakeFlyer commented on #5736
From looking at the code it looks like this can happen during the resume mission pattern. It only happens if you turn off the vehicle, but do not disconnected QGC and then turn the vehicle back on. Is that your case?

[2017-10-26 01:53] #5736 closed

[2017-10-26 02:34] Antiheavy commented on #5736
that is exactly how I was testing it.  I didn't try to "disconnect" QGC first.  This is how we typically operate even if not using "resume mission" function because we may be flying multiple other flights at the same location, so we don't bother to "disconnect" QGC in-between flights.

[2017-10-26 04:17] sujiv0 opened #5791 "COM Port is not re-establishing after Reboot command through QGC"
I'm using QGC V3.2.4 in Windows 7. After giving reboot command from Settings --> Parameters --> Tools --> Reboot Vehicle, Pixhawk 2.1 (with cube) is not connecting to QGC and showing "Link Error". I'm using latest PX4 firmware.

![image](https://user-images.githubusercontent.com/24405056/32034791-7a0ab734-ba32-11e7-9e9c-f6fc07cbfa7a.png)

@DonLakeFlyer Please have a look.

[2017-10-26 09:07] sanderux commented on #5744
still the same
[code]

[2017-10-26 15:09] dagar opened #5792 "PX4 px4fmu-v2/px4fmu-v3 flashing issues"
px4fmu-v2 boards that report 2MB usable flash should be using px4fmu-v3. This was working previously.

Needs to be resolved before the next stable PX4 release. Some of these boards no longer work properly if flashed with px4fmu-v2.

[2017-10-26 15:10] dagar commented on #5792
![flash master](https://user-images.githubusercontent.com/84712/32060924-3b283832-ba3e-11e7-81cb-4d969fe88341.JPG)

[2017-10-26 15:12] dagar commented on #5744
I'll be looking at this shortly. I'm trying to push the dependencies for Linux and Android builds into docker containers.

[2017-10-26 15:16] dagar commented on #5779
It's meaningless as these are almost always set by the QGC calibration, but isn't it still the correct metadata, or at least the unit? They should be integers, but changing that will break every RC calibration.
Reverse could be an enum.

[2017-10-26 15:17] dagar commented on #5779
I'll take note if I see this happen again. It could be failing at some other level (PX4 param save or mavlink transmission?).

[2017-10-26 16:48] DonLakeFlyer commented on #5779
Oh, I thought they changed from integers. I could have sworn they used to be integers. If not everything is ok with that.

It could theoretically fail when QGC sends the new values to the vehicle. But you will get a QGC error if that happens since the vehicle will not ack back the values.

It seems very strange that firmware side would drop a specific channels set of values. Which would seem to po

[2017-10-26 17:04] DonLakeFlyer commented on #5744
Thanks Daniel. I seem to be out of my Linux capabilities.

[2017-10-26 19:05] AndKe opened #5793 "Request: Hotkey or button to "create WP at current position""
When in planning mode, Vehicle is shown on map.
We often fly over complex areas to collect outer boundaries of late-to-be surveyed area.
(looking nadir to determine the affected area before planning survey)

It would be very neat, if we had a key/button to create a waypoint at UAV's current lat/lon/alt.
(in QGC, not UAV)

[2017-10-26 20:34] AndKe opened #5794 ""Go to Location" should contain altitude."
Screenshot says all:
"Goto Location" should display, and offer the slider to the right to change altitude.  - those two actions are very often used together.

![screenshot from 2017-10-26 22-24-28](https://user-images.githubusercontent.com/1468842/32075591-9433c6da-ba9d-11e7-91d6-02d3b159796c.png)

[2017-10-26 20:37] DonLakeFlyer commented on #5794
Yeah, makes a ton of sense.

[2017-10-26 20:49] AndKe opened #5795 ""Change Altitude" limits, linearity, and altitude type."
In the screenshot below:
1: moving slider up, does nothing, top and center of the  is ~122 meters (400ft)

This is not usable for a lot of missions. even for simple missions in G airspace, below 122m AGL, we may start at sea level, and while being <122m AGL, we are flying at >300 relative altitude.  , or the other way around, launching from 500mAMSL, flying down into a valley, the survey may be at

[2017-10-27 00:21] dagar commented on #5779
I'm not sure, but it's currently working fine for me. We'll just have to keep an eye out for it.

[2017-10-27 00:21] #5779 closed

[2017-10-27 05:50] JonReacher commented on #5783
@DonLakeFlyer Any thought on the trigger pattern? If it was intending to shoot through the turnarounds I wonder what caused the gaps.

[2017-10-27 06:03] JonReacher opened #5796 "**Feature Request** Camera trigger markers on screen"
It would be nice to have a small visual indication of camera triggers displayed on screen as they happen during a flight to have an indication of successful coverage and any gaps in coverage.

[2017-10-27 06:49] fingadar commented on #5793
Good idea. We often have the problem that "normal" users have problems to set the polygon points for survey grid using the map.
Creating the polygon points for a survey grid with the actual position of the tablet would be perfect for them. So they could simply walk around the borders of their agricultural field, set the points simply by pushing a button on the pad and that would be perfect.
DJI sh

[2017-10-27 14:37] samacumen commented on #5610
I am unable to reproduce the issue reported with the steps I initially wrote, not sure if it has been fixed in the interim. I used the latest PX4 master and latest qgc_master branches as of today.

@fkaiser you said you managed to reproduce this issue, which branch did you reproduce this problem on?

[2017-10-27 15:25] fredrikfalkman commented on #5775
011fe913d 2017-10-25 doesn't seem to fix this. Also, sometimes an old goto marker would persist (graphically) even after loading a new mission.

[2017-10-27 15:41] mhkabir commented on #5796
This is already supported if you're running PX4 and your link supports Mavlink 2.0

[2017-10-27 16:02] DonLakeFlyer commented on #5796
Not sure that needs mavlink 2.0? Either way, this already works in both PX4 and ArduPilot firmwares when running missions. Not sure what happens if you trigger the camera manually. But if it doesn't work then, it requires a firmware change to support it.

[2017-10-27 16:02] #5796 closed

[2017-10-27 20:22] JonReacher commented on #5796
@DonLakeFlyer Is this supported in 3.2.4, or is it an option that needs to be activated? I'm not seeing it on any of my survey missions. Using PX4 with SiK telemetry radios.

[2017-10-27 21:29] DonLakeFlyer commented on #5796
Supported in 3.2.4. Firmware should be sending on the following messages to QGC:
* MAVLINK_MSG_ID_CAMERA_FEEDBACK
* MAVLINK_MSG_ID_CAMERA_IMAGE_CAPTURED

One of those is PX4 and one is ArduPilot. Can't remember which is which. If you are getting any of those messages then something not happening on firmware side.

[2017-10-27 21:34] DonLakeFlyer commented on #5783
Gaps in image capture? Could be trying to take images faster than the camera can do. Other than QGC turning on/off the camera at the appropriate spots and setting the trigger distance after that the firmware is in charge of running the mission.

[2017-10-27 23:04] JonReacher commented on #5783
The camera is controlled via IR trigger, so there's no way for QGC or PX4 to know if the camera is at it's buffer limit, but the log shows big gaps in coverage of the trigger events themselves (let alone the actual images taken).

[2017-10-28 05:47] JonReacher commented on #5796
@mhkabir Is this supported in PX4 1.6.5? Just so I know we're on the same page, I'm talking about a live graphic display of trigger events during a survey flight.

[2017-10-28 17:57] mhkabir commented on #5796
Correct. The link needs to be running Mavlink 2 though, because our live feedback message is the mavlink 2 message space. Ping @bkueng @LorenMeier.

[2017-10-28 20:23] DonLakeFlyer commented on #5783
QGC image turnaround persistance is fixed now in Daily and Stable. Closing since from the QGC side things are working correctly. You'll need to talk to the firmware golks about any missed triggers.

[2017-10-28 20:23] #5783 closed

[2017-10-28 20:24] DonLakeFlyer commented on #5792
@LorenzMeier Is there some way for me to get one of these boards for testing? I don't have anything that is v3.

[2017-10-28 20:25] DonLakeFlyer commented on #5791
Ah, windows ... sigh

[2017-10-28 20:27] DonLakeFlyer commented on #5794
Same thing for takeoff

[2017-10-28 23:38] tve opened #5801 "Cannot get gamepad on android to work"
Running on android 7.1.2, using qgc v3.2.4, pixracer board w/PX4 connected via USB.
I have a gamepad paired, I can use it to navigate the android settings menu. I start QGC and have COM_RC_IN_MODE=0 (joystick/no rc checks). I restart QGC, no joystick menu shows in the settings.
Same gamepad works on Linux with QGC with same flight controller.
From what I can tell, this should work? How can I troub

[2017-10-29 00:34] JonReacher commented on #5796
How would I get the link to be running Mavlink 2?

[2017-10-29 12:10] LorenzMeier commented on #5792
@dagar Pixhawk 2.1 is getting correctly detected. What board are you using?

[2017-10-29 12:14] LorenzMeier commented on #5792
@dagar could you briefly debug?

https://github.com/mavlink/qgroundcontrol/blob/master/src/VehicleSetup/Bootloader.cc#L586-L591

You can get output like this in Qt Creator:

```qDebug() << variable;```

[2017-10-30 06:26] oatrx opened #5802 "arm-linux-androideabi-g++: error: obj\moc_PSRTKFactGroup.obj: No such file or directory"
when I build qgroundcontrol in win7 under QT,the error occure. where is "PSRTKFactGroup.cc" and "PSRTKFactGroup.h"? I didn't find it in qgroundcontrol source code. what can I do to solve the problem?

[2017-10-30 07:17] oatrx commented on #5802
linking debug\libQGroundControl.so
arm-linux-androideabi-g++: error: obj\moc_PSRTKFactGroup.obj: No such file or directory
Makefile:1147: recipe for target 'debug\libQGroundControl.so' failed
mingw32-make: *** [debug\libQGroundControl.so] Error 1
15:01:28: 进程"C:\Qt\Qt5.7.1\Tools\mingw530_32\bin\mingw32-make.exe"退出，退出代码 2 。
Error while building/deploying project qgroundcontrol (kit: Android for arm

[2017-10-30 07:24] bkueng commented on #5796
@JonReacher It should be automatic, you might have to upgrade the firmware of the radio. You can force to use mavlink 2 by setting the `MAV_PROTO_VER` parameter to 2. On the shell, type `mavlink status`, and you see which protocol version is used.

[2017-10-30 09:00] sujiv0 commented on #5791
I sit okay now??? @DonLakeFlyer

[2017-10-30 12:16] fkaiser commented on #5610
I think it was stable v1.5.5 on the PX4 side.

[2017-10-30 12:54] fredrikfalkman opened #5803 "Geting position by clicking in video frame"
This is a feature request for a way to get a position by clicking in a video frame. This position could then be used to set a Goto point which would mean that a plane could loiter around the point and if equipped with a gimbal keep pointing the camera toward that point.

Optionally it would be very useful if you could scrub the video stream to click a point earlier in the flight.

On a high level

[2017-10-30 14:13] dogmaphobic opened #5804 "Replace QGroundControl.saveBoolGlobalSetting with AppSettings"
`QGroundControlQmlGlobal` exports a pair of set/get global settings, which are used in one single place:

https://github.com/mavlink/qgroundcontrol/blob/master/src/FlightDisplay/FlightDisplayView.qml#L48-L49

It makes more sense to set these through AppSettings (which allows plugins to override them) and maybe eliminate those methods altogether.

[2017-10-30 17:40] DonLakeFlyer commented on #5791
I would assume not.

[2017-10-30 17:42] #5802 closed

[2017-10-30 17:46] DonLakeFlyer commented on #5801
@gregd72002 Is there any logging to debug why a joystick may not be detected? Or is it just up to Qt to determine which ones it supports.

[2017-10-30 18:00] jaxxzer commented on #5803
Wow that video is pretty impressive.

[2017-10-30 18:02] jaxxzer opened #5805 "Add keyboard shortcuts to activate confirmation sliders"
Slide or press ctrl+y to arm for example.

[2017-10-30 18:14] tubeme commented on #5725
I like the @hamishwillee "Safe Land" when landing on alternative spot.
The other could just stay "Return" with a warning message if it is Failsafe Return. And "Smart Return" the @sanderux distinction. We don't have to make it more complicated. The simpler the better in the pilot's cockpit if I can say it this way. Voice messaging will announce if it is Failsafe Return as well or smart return or sa

[2017-10-30 18:37] Antiheavy commented on #5725
I think this can be viewed even more simply in that "normal" Return and "smart" Return are really the same thing from a user perspective, it is just "normal" return climbs to a return alt to avoid potential obstacles and "smart" return follows a pre-flown path back to avoid potential obstacles.  The user will have selected one of the options from the params and will expect that behavior.  So from

[2017-10-30 20:40] DonLakeFlyer commented on #5744
This is fixed now. TTS still not working though.

[2017-10-30 20:40] #5744 closed

[2017-10-30 20:41] DonLakeFlyer commented on #5718
I just fixed up the Linux build so it boots again. I then tested Daily build installed to fresh 16.04 vm. I get the no plugin error. @dogmaphobic Can you figure out how to get TTS working again on Linux?

[2017-10-31 01:50] larsks commented on #5519
@DonLakeFlyer This problem still exists with the latest daily build. Do you have any thoughts on a solution?  Is there any additional information I can provide?

[2017-10-31 01:59] DonLakeFlyer commented on #5718
Qt boom: https://bugreports.qt.io/browse/QTBUG-58461

[2017-10-31 05:10] pritamghanghas commented on #5718
Qt5.9.2 has the fix. Test it on ubuntu 17.04
On ubuntu, all you need is
`sudo apt-get install speech-dispatcher`
it will take care of all the dependencies.
If you doubt your ubuntu installation run following command to check speech
`spd-say hello`

[2017-10-31 17:37] DonLakeFlyer commented on #5519
Can you turn on FirmwareUpgradeLog as shown here: https://docs.qgroundcontrol.com/en/SettingsView/console_logging.html. Save the log to a file. And paste or attach here.

[2017-10-31 23:40] DonLakeFlyer opened #5812 "Save to KML: Saving empty mission crashes"
* Boot QGC
* Plan View
* Sync - Save to KML - Specify file name - Save
* Boom!

[2017-11-01 01:37] polastre opened #5814 "QGC Waypoint protocol docs switch lat/long incorrectly"
On the qgroundcontrol page, it shows Param5 as Longitude and Param6 as Latitude.
http://qgroundcontrol.org/mavlink/waypoint_protocol

In both the QGC and Mission Planner code, Param 5 is **Latitude** and Param6 is **Longitude**. These should be switched in the docs.

QGC:
https://github.com/mavlink/qgroundcontrol/blob/16541062efa0acee5e128f61dcd23106a7afc1f6/src/MissionManager/MissionItem.cc#L413

[2017-11-01 05:45] nick2204 commented on #5746
It was not entirely clear what happened, @tridge may be able to offer a better explanation, but the switch happened between takeoff and getting to transition height (barely having left the ground) which led to some slight sideways navigation in hover with landing gear still partially in contact with the ground.
long story short, quad-planes don't like this...

@tridge has now modified AP to preven

[2017-11-01 14:16] barchstien opened #5816 "firmware upgrade hangs on ubuntu 16.04"
Hi Everyone

 - Working on Ubuntu 16.04
 - Using QGroundControl v3.2.5, freshly downloaded
   Tried both AppImage and Archive
 - Board is Pixhawk 2 (the "cube" stuff)
 - tried both ardupilot and px4 stable release, thought I don't think it matters at this stage

I start QGC, click on firmware, then it expects me to plug the flight controller to the usb port
Plugging, selecting the firmware, pressi

[2017-11-01 15:55] DonLakeFlyer commented on #5814
Anything from the old QGC web site is hopelessly out of date. @hamishwillee Should we delete these pages now?

[2017-11-01 15:55] #5814 closed

[2017-11-01 16:04] DonLakeFlyer commented on #5812
@patrickelectric Can you take a look?

[2017-11-01 16:32] pythonmobile opened #5817 "Multivehicle problem: RTK using too much bandwidth?"
We are getting errors when we use RTK with multiple flying machines. One sample error is:

 Vehicle sent unexpected MISSION_ACK message error: Mission accepted (MAV_MISSION_ACCEPTED)

Without RTK, things seem to work. With RTK, even the parameter download slows down and times out. It seems that the RTK Streaming is using all the bandwidth from QGC. Is there a way to fix this/

We are using pixhawk

[2017-11-01 16:52] patrickelectric commented on #5812
np, I'll take a look.

[2017-11-01 17:42] DonLakeFlyer commented on #5817
Is each vehicle going through it's own seperate radio channel? You have three physical SiK radios connected to QGC?

[2017-11-01 18:31] pythonmobile commented on #5817
@DonLakeFlyer Yes, indeed that is the system we have. All have unique IDs as well.

[2017-11-01 18:41] DonLakeFlyer commented on #5817
Ok, then can you verify that this happens with a single vehicle as well. I don't se how multiple-vehicles makes any difference here.

[2017-11-01 19:06] pythonmobile commented on #5817
@DonLakeFlyer We get this error when we get to three vehicles. One vehicle works fine. 2 is sluggish. 3 starts to time out. 4 is time out. With 4 Vehicles without RTK - is sluggish but works. With RTK - fails to download parameters.

[2017-11-01 19:09] DonLakeFlyer commented on #5817
@bkueng Could you double check the code to make sure that somehow the RTK stream isn't getting doubled/tripled when multi-vehicle. Doesn't make sense that multi-vehicle would affect this.

[2017-11-01 19:42] pythonmobile commented on #5817
@bkueng @DonLakeFlyer  Is there a way to control how much bandwidth RTK updates are using?

[2017-11-01 23:24] hamishwillee commented on #5814
@DonLakeFlyer Not until you have reviewed them and assessed status. Even if they are hopelessly out of date we wouldn't necessarily just delete if there was still a need for a matching article in the new system.

In this case, specifically, does this document map to anything already on the new site? e.g. https://mavlink.io/en/protocol/mission.html . If so, is everything in the old document of rele

[2017-11-01 23:30] barchstien commented on #5816
Also, once the pixhawk 2 has been flashed (firmware installed) from windows, QGC on ubuntu 16.04 work perfectly fine... except for firmware install of course

[2017-11-01 23:31] DonLakeFlyer commented on #5814
I thought I already did all of that. Is there some other google doc I'm supposed to be looking at?

[2017-11-01 23:36] hamishwillee commented on #5814
Not your fault, I said I would send you the review doc, but I see that I did not. Link now sent.

[2017-11-02 04:21] tve commented on #5801
Is https://github.com/mavlink/qgroundcontrol/commit/e6e4dad915792590aa9cb69a24f1abd25245a0ef the culprit?

[2017-11-02 04:45] tve commented on #5787
Looks like the problem is:
[code]
but you probably already saw that...

[2017-11-02 04:51] tve commented on #5787
I'm trying to download the latest Android daily from the S3 bucket. Is there a reason listing the S3 bucket files is not allowed? That makes it hard to locate anything...

[2017-11-02 05:55] tve commented on #5801
I tried v3.2.5 and it fixed the gamepad detection on Android!
However, I can't get it to calibrate. It detects the left stick down and up, but then shows the left stick right point for a fraction of a second and proceeds to show the left stick left point. There's a similar glitch for the right stick. Same gamepad calibration works fine on linux and the axis display tracks the gamepad motions just

[2017-11-02 15:06] Dnrodriguez374 opened #5819 "QGC daily build: Mission transfer failed."
Mission transfer failed. Retry transfer. Error: Vehicle did not request all items from ground station. MISSION_REQUEST

I can connect easily to my vehicle, but I cannot read/load/upload way-points. I can only clear them.

This only happens with the daily build, with the stable build this error does not come up.

I am using a pixhawk with firmware 1.6.5 stable and using QGC version 3.2.5 stable and

[2017-11-02 16:19] lvale opened #5820 "Strange characters on location access dialog"
When starting QGC (latest master) on MacOS 10.13.1 (also 10.13) the permission dialog to access the location appears with some strange chars.

<img width="1238" alt="screen shot 2017-11-02 at 16 15 04" src="https://user-images.githubusercontent.com/3130363/32337311-8b99dc84-bfe9-11e7-829a-44edf4de0c9a.png">

[2017-11-02 18:00] DonLakeFlyer commented on #5816
@dagar Do you have a Cube to test with?

[2017-11-02 18:09] barchstien commented on #5816
yep, having it right before my eyes

[2017-11-02 18:11] DonLakeFlyer commented on #5816
@barchstien Is it only the Cube your are having problem with. Or can you not flash any type of board?

[2017-11-02 18:13] barchstien commented on #5816
@DonLakeFlyer only having this cube in my lab, other boards are in the main lab, that I gonna be visiting by the end of the month.
Do you know if I can get the output of the console when trying to upload the firmware ? That may give out some clues ?

[2017-11-02 18:15] DonLakeFlyer commented on #5819
Firmware 1.6.5 has a mavlink bug which prevents the mission protocol from working correctly. This has been fixed in master firmware.

[2017-11-02 18:15] #5819 closed

[2017-11-02 18:19] DonLakeFlyer commented on #5787
@dagar Not sure where you are at on getting dailies updating again. Should we just post the S3 link in the docs?

[2017-11-02 20:26] DonLakeFlyer commented on #5775
If you are using Android the daily builds aren't updating right now so they are old. If no, can you try a newer daily. I think you may have just missed the fix.

[2017-11-02 20:28] DonLakeFlyer commented on #5801
I think we are at the mercy of Qt's android gamepad support here.

[2017-11-02 20:29] DonLakeFlyer commented on #5816
Turn on FirmwareUpgradeLog: https://docs.qgroundcontrol.com/en/SettingsView/console_logging.html. Save the output and paste or zip here.

[2017-11-02 20:35] fredrikfalkman commented on #5775
I’m using the Mac version, but I’ll try a new download non the less. Sometime next week. thanks!

[2017-11-02 20:40] RobDeBagel commented on #5752
+1 for this also. I don't know the codebase or your plans that well but I'd suggest GDAL/OGR for import/export duties as it abstracts away this problem for pretty much every raster/vector GIS data format under the sun.

[2017-11-02 22:44] DonLakeFlyer commented on #5752
Also https://github.com/google/libkml

[2017-11-02 23:39] barchstien commented on #5816
Here it goes
[5816_log.txt](https://github.com/mavlink/qgroundcontrol/files/1439687/5816_log.txt)
 - At he beginning : FirmwareUpgradeLog.debug=true\nFirmwareUpgradeVerboseLog.debug=true
 - Then I went into firmware upgrade, til it starts doing all the : _findBoardOnce
 - Then it finds the board, and downloads the available firmwares
 - Erase is fine
But nothing more, and QGC is frozen

[2017-11-02 23:48] Antiheavy commented on #5752
Shape files are of particular importance in some industries. https://en.wikipedia.org/wiki/Shapefile

[2017-11-03 08:39] bkueng commented on #5817
I checked the code, and it looks ok to me: each RTCM message is sent to each connected vehicle. Sounds to me this is either a hardware setup problem (radio interference for instance), or a more fundamental problem with multi-vehicles, which is revealed by RTK because it needs more bandwidth.

@DonLakeFlyer is there a way to inspect the current bandwidth on the lowest level for each link (both RX a

[2017-11-03 15:17] bgat opened #5822 "Feature request: Traditional altimeter and turn/slip indicators"
QSG could convey enhanced situational awareness if the in-flight display offered the traditional, "steam-gauge"-style altimeter and turn/slip indicators as a display option.

The familiar look and feel of conventional flight instruments isn't just aesthetic: they also convey information really, really well. The examples provided in [1] are offered as visual design references.

In the ideal impleme

[2017-11-03 15:19] bgat opened #5823 "Feature request: minimize the "Values" display"
I'd love it if the Values list on the flight display could be collapsed to just a tab. On small displays, that little bit of extra real-estate could be put to good use.

[2017-11-03 15:21] bgat opened #5824 "Feature request: rate display values"
Please add roll-, pitch-, and yaw-rate display options to the Value Widget Setup dialog.

[2017-11-03 16:39] Dnrodriguez374 commented on #5792
I am having a similar issue. I cannot re-flash my pixhawks successfully with QGC stable or daily build

Here is where it gets stuck at every time.
![screenshot from 2017-11-03 12-37-53](https://user-images.githubusercontent.com/20540740/32385294-04e2332a-c094-11e7-9537-efeb9f832b28.png)

[2017-11-03 18:32] kikislater commented on #5752
Shapefile will die, gdal/ogr seems a good option IMO (there is some GIS users using Qgroundcontrol) and regarding this also it makes senses : gdal have a driver for WMS :
http://discuss.px4.io/t/does-qgc-get-a-wms-client-any-time-soon/4788

[2017-11-04 09:41] xdkhan commented on #3509
I git clone source code， but ios folder has not project file。

[2017-11-04 16:19] DonLakeFlyer commented on #5817
No there isn't. I"m trying to figure out some way to debug this from the QGC side. Does mavlink status tell you anything about bandwidth. I"m wondering if all mavlink messages are being sent to all vehicles due to some strange hardware problem.

Do you only get multi-vehicle communication problems like parameter issues when RTK is connected?

[2017-11-04 17:07] DonLakeFlyer commented on #5792
@Dnrodriguez374 What type/brand of boards are you flashing?

[2017-11-04 18:13] Dnrodriguez374 commented on #5792
@DonLakeFlyer the pixhawks are from MRobotics.

[2017-11-04 22:12] #5812 closed

[2017-11-06 13:25] barchstien commented on #5816
ping ?

[2017-11-06 14:02] bkueng commented on #5817
yes exactly: both RX and TX

[2017-11-06 16:25] dagar commented on #5787
We can list the S3 link if people want. I still want to get the Play store fixed. I was working on pushing the pieces into a docker container to remove some of the complexity.

[2017-11-06 16:26] dagar commented on #5816
I've been seeing this as well (QGC ~master built from source) on various pixhawks. It needs to be investigated and resolved before the next PX4 stable release.

[2017-11-06 16:30] dagar commented on #5816
[qgc_px4fmu-v4pro_fail.txt](https://github.com/mavlink/qgroundcontrol/files/1446977/qgc_px4fmu-v4pro_fail.txt)

So far I can only confirm what @barchstien reported, but I don't see anything in the log.

[2017-11-06 16:32] dagar commented on #5816
![image](https://user-images.githubusercontent.com/84712/32451958-33d4650a-c2e6-11e7-9425-0c4815f44a94.png)

[2017-11-06 16:35] dagar commented on #5792
This is working correctly with my pixhawk 2 cube.

![image](https://user-images.githubusercontent.com/84712/32452069-831afb2e-c2e6-11e7-9f34-3d5369b5399f.png)

[2017-11-06 16:36] dagar commented on #5792
The original screenshot was from the Dronecode test team using a Pixhawk mini.

[2017-11-06 22:31] fredrikfalkman opened #5826 "Feature request: Changing speed and altitude during a mission"
It would sometimes be useful to be able to change speed or altitude during a mission or a guided go-to.

The question then arrises: For how long? Until the next waypoint, relative for the rest of the mission or absolute for the rest of the mission? I don’t know what would be best - possibly something the user could could choose.

In the same category it might be useful to have an evasive manoeuvre

[2017-11-07 13:16] Changliu52 commented on #5519
same problem here for v3.2.5 on ubuntu 16.04.
Console logging here:
[code]

[2017-11-07 13:19] larsks commented on #5816
Is this a dupe of #5519?

[2017-11-07 13:27] larsks commented on #5519
Here are two console logs, one from the current release and one from the latest daily:

- [release](http://chunk.io/larsks/8d7bcf658f344ecf80c936808b01027d)
- [daily](http://chunk.io/larsks/3eebacfb7ac24c7b94d8aa9c50f4b387)

[2017-11-07 15:56] barchstien commented on #5816
Ok, got some good news
I've forked/clone QGC repo
Compiled in debug and run/debug it, with some extra trace
And flashing the board started to work !
Typical race condition stuff, to my mind (works in debug or with extra trace, not in release)
So I added a 1msec sleep before the call to tcdrain(), and flashing works perfectly fine many times in a row. If I remove the 1msec sleep, flash hangs just l

[2017-11-07 16:29] DonLakeFlyer commented on #5826
@antiheavy FYI...

Anothing thing I had in the back of my head was for fixed wing landings to nudge left/right or up/down in case it's not nailing the landing spot you want.

[2017-11-07 17:23] Antiheavy commented on #5826
YES!  I've had this on my list of items for a long time and was planning to make a feature request this week in fact.

I really like this idea.  "Altitude mode" doesn't quite fit the bill in my experience.  Would be great to find something smarter.

Big topic so I'll humbly submit my thoughts:

One question is how much of this could be handled only by QGC and how much requires new firmware support

[2017-11-07 21:29] fredrikfalkman commented on #5826
I like that. Might I point to iOS 11's new control center widgets as a quick way to change settings:

https://cdn.cultofmac.com/wp-content/uploads/2017/07/ios-11-timer.gif

Also a good point. I would sugest:

VBE | Best endurance speed – the speed that gives the greatest airborne time for fuel consumed
VBR | Best range speed – the speed that gives the greatest range for fuel consumed
VNE | Never e

[2017-11-07 22:50] barchstien commented on #5816
Tried to find out which driver was used, using
`dmesg | grep driver`
Gave back
`[  130.123116] usbcore: registered new interface driver cdc_acm`
`[  130.123117] cdc_acm: USB Abstract Control Model driver for USB modems and ISDN adapters`
So it's cdc_acm driver
Looking [here](https://www.kernel.org/doc/Documentation/usb/acm.txt)
Sounds to me like a very mainstream, long existing driver, so I guess

[2017-11-07 23:22] DonLakeFlyer commented on #5816
Most likely.

[2017-11-07 23:24] DonLakeFlyer commented on #5816
Can you flash the board with APM Planner 2?

[2017-11-07 23:33] barchstien commented on #5816
APM or PX4 doesn't make a difference
Flash hangs, except when adding msleep(1) before tcdrain()

[2017-11-07 23:37] DonLakeFlyer commented on #5816
I'm talking about APM Planner2 the application.

[2017-11-07 23:39] barchstien commented on #5816
ok, installing it

[2017-11-07 23:46] barchstien commented on #5816
yes, flashing the firmware with APM Planner2 works fine

[2017-11-08 10:41] Trass3r commented on #3827
Drawing the waypoints and flight direction arrows would be very helpful indeed.

[2017-11-08 12:36] barchstien commented on #5816
Been checking APM Planner2 code. It doesn't used termios (tcdrain), but rely on [QSerialPort](http://doc.qt.io/qt-5/qserialport.html)
Is it an option to move from termios to QSerialPort ?The former is cross platform, while termios is linux/unix only

[2017-11-08 16:31] fredrikfalkman commented on #5775
Today I had a chance to test again, this time with the Mac version ff3ee095c of 2017-11-04. Still the same thing.

When I set a Go-to, the missions disappears:
<img width="1440" alt="screen shot 2017-11-08 at 14 20 13" src="https://user-images.githubusercontent.com/23034586/32560572-45f0ef18-c4aa-11e7-952b-a91da8781c4f.png">

When I return to auto the plane flies the mission happily but the waypoi

[2017-11-08 17:02] DonLakeFlyer commented on #3827
This issue is pretty old. Most of it is already supported. Except for:
* Terrain
* Direction arrows

[2017-11-09 13:02] zorandragan commented on #5613
Hi @DonLakeFlyer

Why is this the case with QGC?

[2017-11-09 21:04] DonLakeFlyer commented on #5613
Fixed:
![screen shot 2017-11-09 at 1 00 23 pm](https://user-images.githubusercontent.com/5876851/32629514-59689dd0-c54e-11e7-8990-518614f43429.png)

It is not supported because the code for survey generation is not currently capable of generating correct surveys for concave polygons.

[2017-11-09 21:05] DonLakeFlyer opened #5830 "Survey: Support concave polygons"
Currently only convex are supported.

[2017-11-09 21:05] DonLakeFlyer commented on #5613
I added a separate issue for convex polygons: https://github.com/mavlink/qgroundcontrol/issues/5830

[2017-11-09 21:05] #5613 closed

[2017-11-09 21:26] DonLakeFlyer commented on #5816
I can't seem to get 3.2.5 to hang, but master does. I didn't think it was possible to switch to QSerialPort since it didn't support direct writing. But if APM Planner to is using that then I guess it works.

[2017-11-10 08:16] tops4u opened #5832 "Switch Thresholds not respected"
Running QGroundcontrol Master (about 2 Weeks old from today), running on MacOS HighSierra with AUAV-X2 connected via USB running on current Master.

I wanted to change the Threshold for the Kill-Switch. My Remote Killswitch basically has two positions but if the switch is pushed just about halfway there is in fact a third position, which would already trigger the Kill switch. In order to make sure

[2017-11-10 13:28] tops4u opened #5833 "At initial Connection Mode is not updated"
Running QGroundcontrol Master (about 2 Weeks old from today), running on MacOS HighSierra with AUAV-X2 connected via USB running on current Master.

When Booting Up and RC TX is already on and Flightmode is set to PosCtl for example. This is not reflected in the Top Bar:

![qgcmodeupdate](https://user-images.githubusercontent.com/6877067/32660479-50f50de8-c623-11e7-89ad-3cddc56c0e24.jpg)

In this

[2017-11-10 16:03] dogmaphobic commented on #4506
I assume this is milliseconds instead? The values I'm getting only make sense if it's milliseconds (5+ hours instead of 19 seconds).

[2017-11-10 16:30] LorenzMeier commented on #4506
@bkueng has the details

[2017-11-10 16:30] dogmaphobic commented on #4506
Nope, it's microseconds alright. The autopilot I was testing with indeed only had 19 seconds of "armed" time.

[2017-11-10 16:32] dogmaphobic commented on #4506
I armed it for 10 seconds and the timer went up 10 seconds.

[2017-11-10 17:01] DonLakeFlyer commented on #5833
QGC is just displaying whatever it gets back in the HEARTBEAT message for flight mode. WHen you are in this state where you think QGC is displaying something wrong can you open the mavink inspector and take a screen shot of the HEARTBEAT message so I can check which is coming back from there.

[2017-11-10 17:12] DonLakeFlyer commented on #5832
You seem to have two problems here:
1) The firmware is not respecting your RC_KILLSWITCH_TH value. That would be a firmware bug.
2) RC_KILLSWITCH_TH must be something that got added but nobody ever told me about. QGC currently knows nothing about this so it displays ui based triggered >= 1500 PWM. So that needs to be fixed on QGC side. But that is just a visual indicator and has no affect on wheth

[2017-11-10 18:18] tops4u commented on #5832
@DonLakeFlyer Just the later is the case. The visual representation of an active KillSwitch in the Flight Modes Panel does not correspond to what the Flight Controller does.

Firmware is handling the Threshold correctly.

[2017-11-10 19:06] DonLakeFlyer commented on #5816
Linux folks can you build the pull and see if it works for you. I run Ubuntu in a VM and it can sometimes show different results than native. I think it's working now though.

[2017-11-11 17:25] DonLakeFlyer commented on #4506
QGC cannot currently support volatile parameters. This will causes the parameter cache hit to fail 100% of the time. Supporting volatile parameters is doable but non-trivial. Unless you want the cache to no longer work I'd suggest, either:
* Don't support this through a parameter so cache doesn't break
* Live with broken cache and create/implement new volatile parameter architecture. This won't ha

[2017-11-11 17:38] DonLakeFlyer commented on #4506
Also FYI: I do think adding support for volatile parameters to QGC is a good thing. It's just a matter of timing.

[2017-11-11 18:01] DonLakeFlyer commented on #5752
I looked at integrating a kml reading library. Trying to get something like that to work cross-platform turned out to be a nightmare. So instead a wrote some very simple KML polygon loading code. I tested with polygon output from Google Earth and it works. But not sure if there are any quirks in other Polygon formats I may not have taken into account. So testing with any KML polygon files you have

[2017-11-11 18:47] dogmaphobic commented on #4506
Note that the parameters themselves have been there for a very long time. I've just added code to read and process them. The cache would have been broken for a very long time as well. This would explain why I felt the cache system would fail quite frequently. Any time you "arm" the vehicle, the hobbs meter increase and the parameter data changes.

[2017-11-11 19:09] NaterGator commented on #4506
I noticed this a while back. I'm not sure if we have a convenient way to flag volatile params, maybe it makes sense to use a leading underscore as a volatile qualifier? We can hash everything else and explicitly request all volatile params? We could just assign them a value of 0 or NaN during hash generation so we ensure a change in any volatile parameter name is detected.

[2017-11-11 20:12] Francklin2 commented on #5324
Hi there is some icon found on the net , the second one upper left showing a ground base could be good for the RTK groundstation

I found them here
https://previews.123rf.com/images/tul/tul1505/tul150500002/40031487-antenne-satellite-et-ic-nes-symboles-de-vecteur-de-mono-Banque-d'images.jpg

![image](https://user-images.githubusercontent.com/17847024/32693078-a266a63a-c724-11e7-9ace-cc2bdd90e087.p

[2017-11-12 00:38] DonLakeFlyer commented on #4506
It should be a new field for the parameter metadata on firmware side. Then add volatile to FactMetaData and then update ParameterManager to handle the flags.

I've been kind of wondering about that. Seems like I only see hit sproadically when I work with older firmwares from other folks.

[2017-11-12 02:11] dogmaphobic commented on #4506
Right. Same here but now there is an explanation. It will miss the cache if you "armed" the vehicle. If you don't, the cache doesn't change.

[2017-11-12 19:09] barchstien commented on #5816
@DonLakeFlyer Just cloned DonLakeFlyer:FirmwareUpgradeQSerialPort from https://github.com/mavlink/qgroundcontrol/pull/5835
Compiled it in Debug and Release and tried a couple of times to load the firmware... And it works like a charm !
Thanks
Still on Ubuntu 16.04 with Pixhawk 2

[2017-11-12 19:40] DonLakeFlyer commented on #5816
Phew, good news. Thanks for testing.

[2017-11-12 23:35] aftersomemath commented on #5816
I had the same issue on Ubuntu 16.04 and #5835 fixed the issue as well.

[2017-11-12 23:45] DonLakeFlyer commented on #5816
Verified that is works on OSX, Ubuntu and Windows.

[2017-11-12 23:45] #5816 closed

[2017-11-12 23:45] #5519 closed

[2017-11-13 08:23] Buwaggish opened #5838 "WHERE IS THE FILE "user_config.pri"??"
When I debug the code, it turned out to be missing the file "user_config.pri"，and I do clone the whole project

[2017-11-13 10:24] bkueng commented on #4506
I agree with that. We actually already have more such volatile params. There's `COM_FLIGHT_UUID` and ekf2 has some in-flight learned mag bias parameters. We generally make sure they are all changed and saved *after* disarming.

Related: https://github.com/PX4/Firmware/issues/8141

[2017-11-13 16:57] DonLakeFlyer commented on #5838
Not an error. Just ignore it

[2017-11-13 16:57] #5838 closed

[2017-11-14 21:01] fredrikfalkman opened #5840 "Change the MAVLink #WIND message output to 0-360"
I think that it would make more sense for most pilots to get the wind direction in 0-360 degrees rather than the current -/+ 180 degrees from True North that is the result of the ArduPlane implementation:

https://github.com/ArduPilot/ardupilot/blob/8178ab4037b05c515946f1f3fe501babaf48ad5b/ArduPlane/GCS_Mavlink.cpp#L296-L305

Noticing that MAVLink spec doesn't prescribe how to present wind directi

[2017-11-16 22:03] john9393 opened #5843 "last github version of QGC fails to compile"
# **Howdy all.**
**_Last GITGUB version of QGC fails to compile on Linux-64_**

**gcc --version : gcc (GCC) 7.2.0**
**qt5 version : 5.9.0**

## result of qmake :
 Project MESSAGE: Qt version 5.9.0
Project MESSAGE: Linux build
/usr/bin/ccache
Project MESSAGE: Found ccache, enabling
Project MESSAGE: QGroundControl Development master:909dd828a 2017-11-16 05:20:28 +0000
Project MESSAGE: Release flavor

[2017-11-17 01:05] Depfrost opened #5844 "Moving a waypoint cause its altitude to be reset"
Ground station operating system: Windows.
QGroundControl version: Development master:909dd828a 2017-11-16 05:20:28 +0000
Autopilot board: i don't know
Autopilot firmware: PX4

Steps to reproduce:
1) Go in plan view and place the takeoff
![image](https://user-images.githubusercontent.com/33738256/32923934-7fafda66-cb3a-11e7-855a-e54b6bd6235b.png)

2) Move the takeoff somewhere else by draging it wi

[2017-11-17 01:33] DonLakeFlyer commented on #5844
More FocusScope problems. Wayoints needs to take focus on click in order to force editing to finish.

[2017-11-17 06:10] dagar commented on #5787
Did you see my message in slack? This commit broke the google play deploy. https://github.com/mavlink/qgroundcontrol/commit/cc1fa95942fdc31a8445275b75ec88b19dba0b88

[2017-11-17 18:41] DonLakeFlyer commented on #5787
No I missed that. If I remember I was having problems debugging on one of my devices. I think you can revert that without problem.

[2017-11-17 20:57] DonLakeFlyer commented on #5843
My guess is problem with newer gcc. Ubuntu 16.04 works fine (as do travis CI builds) with the version it has which seems to be 5.4.

[2017-11-17 21:49] tops4u commented on #5833
I think this may be a Firmware Issue. It works fine if TX is switched on after the Aircraft, but if it is the other way round Stabilized or Manual Mode is assumed. Shall I open an Issue on the Firmware Side?

Situation when Aircraft is powered after TX was on and FlightMode PosCtrl was selected:
![flightmodeafterboot](https://user-images.githubusercontent.com/6877067/32970509-953ee836-cbe9-11e7-8e

[2017-11-17 23:01] DonLakeFlyer commented on #5833
Yup. Nothing QGC can do about it.

[2017-11-17 23:01] #5833 closed

[2017-11-17 23:43] fredrikfalkman opened #5846 "New Guided Action - Set ROI"
This is a feature request for an added funktionality for the Guided Go-to by clicking in the map.

Clicking in the map might give multiple choices aside from the current Go-to:

- Go-to location
- Go-to location and set as ROI
- Set as ROI

[2017-11-18 16:59] ThorstenDP opened #5847 "Android / Parameters / Load from file... / No files visible"
Hi all,

it is possible to save a "*.params" file but it is not possible to "Load from file...". Eventhough the files are there, the list is empty and shows "No files".

- OS: Android
- QGroundControl: 3.2.5
- Autopilot board: Pixracer
- ArduPilot: 3.5.4rc2

Best regards,
Thorsten

[2017-11-19 09:44] ghost opened #5850 "Feature request: Survey / Lock copter orientation to Grid Angle"
Hi all,

Tower has an important feature for mission planning, which is missing in QGC so far:
The option to set the WP_YAW_BEHAVIOR = 0 ("Never change yaw") when the Copter has reached the first WP.

There are several advantages:

* Security: you always know the orientation of the copter in case you have to fly manually
* Easy image analysis: scanning through the images visually it is much intuiti

[2017-11-20 16:24] ghost opened #5852 "Mission transfer failed / Refly at 90 degree offset"
Hi all,

mission upload fails when "Refly at 90 degree offset" is checked.
[code]

- OS: Android
- QGroundControl: 3.2.5
- Autopilot board: Pixracer
- ArduPilot: 3.5.4rc2

Best regards,
Thorsten

[2017-11-20 17:18] ThorstenDP commented on #5852
It seems the limit is 718, which was introduced in AC3.2:
[https://github.com/ArduPilot/ardupilot/blob/master/ArduCopter/ReleaseNotes.txt#L751](https://github.com/ArduPilot/ardupilot/blob/master/ArduCopter/ReleaseNotes.txt#L751)
So it is not an QGC issue. However, a warning would be nice. I'll open a request to extend the number of possible waypoints at [https://github.com/ArduPilot/ardupilot](htt

[2017-11-20 18:48] ThorstenDP commented on #5852
At https://github.com/ArduPilot/ardupilot/issues/7254#issuecomment-345784356 @WickedShell replied that:

[2017-11-20 19:09] WickedShell commented on #5852
@ThorstenDP the tlog from this will help whoever gets to doing the review of the issue as it will have the record of sent/received messages and allow diagnosing why the upload failed.

[2017-11-20 19:50] njoubert opened #5853 "Feature Request: Option to display lat/lon in instrument panel"
Our users often need to read the vehicle's current latitude and longitude. The instrument panel widget (which contains the artificial horizon and compass) currently displays vehicle attitude, gps health, etc.

It would be hugely helpful if this panel can also display the current vehicle latitude and longitude.

This should be a relatively easy add for anyone that knows the codebase! Thank you!

-N

[2017-11-21 08:15] ThorstenDP commented on #5852
It seems to be related to size. I made several tests and as soon as the number of WPs is too high I receive the 'out of sequence' error. I'll prepare a tlog anyway. The tests were made with a normal SiK Telemetry Radio V2 433Mhz from mRo and default settings.

[2017-11-22 12:10] soshianet opened #5856 "Error in build qgroundcontrol"
Hello all,
I have a problem with building qgroundcontrol source code from github (https://github.com/mavlink/qgroundcontrol),
my operating system is windows7-64 bit and I downloaded qt qreator (qt-opensource-windows-x86-5.9.1.exe) and checkmarked mscv2015, mscv2017-64bit, mscv2017-32bit,... during install,
and installed visual studio 2017 (64bit).
I set kit  MSVC2015 32bit, compiler: Microsoft Vis

[2017-11-22 18:43] #5787 closed

[2017-11-22 19:34] bkueng commented on #5792
I can reproduce this on a Pixhawk Mini: It's recognized as V2 HW. The following instrumentation:
[code]
outputs:
[code]

So the bootloader version is 4, but we need at least version 5 to reliably detect V3.

[2017-11-22 19:42] dagar commented on #5792
Thanks @bkueng
That means we'll need to fix it on the firmware side by squeezing proper pixhawk mini support into the 1MB px4fmu-v2 binary. https://github.com/PX4/Firmware/issues/8342

[2017-11-22 19:42] #5792 closed

[2017-11-25 08:30] sanderux opened #5857 "Switching video from RTSP feed to disabled doesnt actually stop video"
When switching from RTSP feed to disabled it only hides the video screen, it doesnt stop the video feed in the background. When setting it from RTSP to UDP it does actually stop the video.

over 4G / WiFi this is useful for bandwidth control

[2017-11-27 01:25] gagikan opened #5858 "Modify photo information program crashes"
Photo synthesis
Lost

[2017-11-27 01:37] #5858 closed

[2017-11-27 02:06] ChristopherOlson commented on #5847
I have noticed this as well. I think it has something to do with where it is looking for the files on Android. If you go to the settings where it says File Save Path: /storage/emulated/0/QGroundControl and click on Browse it can't find any other path there either. That seems to be hard-wired into the code and it knows where to save but not where to find.

[2017-11-27 13:59] dogmaphobic commented on #5857
The "Surface" and the "Receiver" are separate entities. Either way, this is solved by #5859

[2017-11-27 13:59] #5857 closed

[2017-11-27 19:26] Mocart96 commented on #3049
Hello. Can you let me know what is status joystick implementation for android devices, please ( is this dopped or on hold ? ). I would like navigate my copter using joystick instead of virtual sticks only.
I did short test a few days ago and my joystick works well with windows 10 ( FlySky FS-I6S in joystick mode - sample movie: https://youtu.be/bfCuC1I42DQ) but it does not work with my android tab

[2017-11-27 21:22] pritamghanghas commented on #3049
Doesn't look like that you looked for joystick in the menu after connecting
it. May be it is there and needs configuration.

Regards,
Pritam

On Mon, Nov 27, 2017 at 2:26 PM, Adam <notifications@github.com> wrote:

--
Regards,
pritam

[2017-11-27 22:51] pritamghanghas commented on #3049
can you try daily. There was a problem in last stable release, which will
not allow joystick on android to work. Test daily once to confirm.

On Mon, Nov 27, 2017 at 4:55 PM, Adam <notifications@github.com> wrote:

--
Regards,
pritam

[2017-11-28 21:50] Mocart96 commented on #3049
![test_build](https://user-images.githubusercontent.com/3898523/33345971-5f27b2f2-d48e-11e7-84d9-6237e0a9f3c2.png)
Test is done using daily build. Find attached screen with build version. QGC on Android Kitkat.

Full test record available on YouTube : https://youtu.be/8LJ_nvPz1tQ
Scenario: To arm and start motors using usb connected joystick. No RC connection
Parms are:
Com_RC_in_mode=1 ( Joystick

[2017-11-28 22:08] pritamghanghas commented on #3049
You will have to gather console logs after enabling joystick logging,
otherwise there is no way of knowing what is going on.

On Tue, Nov 28, 2017 at 4:51 PM, Adam <notifications@github.com> wrote:

--
Regards,
pritam

[2017-11-28 23:13] Mocart96 commented on #3049
What does it means ? I understand I can save logs from mobile when qground control runs because there is no "joystick" tab under mobile menu like it exist for desktop ( screen attached ).
I cannot select/deselect joystick, From mobile level I can setup only "Com_RC_in_mode" parm.
Is this fine to you to have logs saved during QGC launching process ?

![desktop2](https://user-images.githubuserconten

[2017-11-28 23:39] pritamghanghas commented on #3049
Yes, logs saved during launch are fine. we only need to see whether it
recognized the joystick or not. you will have to take logs from android, If
you are using prebuilt binaries. There is console tab in application
settings menu. I think you can save the logs from there. Even if there is
no joystick shown, the logs will contain what went on. Don't forget to
enable joystick logging from set loggin

[2017-11-29 07:34] rvdgracht commented on #3049
I'm running qgc on a tinkerboard (Linux) and encountered an issue when using my xbox wireless controller receiver which might be related. The receiver supports a maximum of 4 controllers, and registers them (all 4) at once when a single (first) one is paired.

In /src/Joystick/JoystickManager.cc; _updateAvailableJoysticks() gets called 4 times for a SDL_JOYDEVICEADDED event. All 4 joystick devices

[2017-11-29 08:28] baomin commented on #5721
good !!!

[2017-11-29 19:46] Mocart96 commented on #3049
I was trying to capure logs today.  First of all following groups are selected:
![logs1](https://user-images.githubusercontent.com/3898523/33395073-b03d8c64-d544-11e7-9cc8-450256b444dc.png)
Base on following screens It`s look like some valuse are logged. You can see there Fly sky controller is available in those logs
![logs2](https://user-images.githubusercontent.com/3898523/33395174-f7d8037e-d544

[2017-11-29 21:57] Mocart96 commented on #3049
I dont know how to save those logs from android devices. In meantime let me share some printscreens from those logs. You can see there that FS-I6S is recognized by qground control as joystick but joystick setup screen is not available. I tested also my sony ps-4 pad and results are the same. Android version recognize it also but do not display joystick setup screen.
I`m waiting for any help how I

[2017-11-30 13:26] taileron opened #5861 "QGC Menu Firmware ("
Firmware (QGC Mac daily and release) uploads master 1.7.0 px4fmu-v3_default.px4 instead of V2 into a PixFalcon is that a suitable FW version for that hardware as well?

[2017-12-01 13:36] dogmaphobic opened #5862 "Appveyor broken?"
It seems it can't find Qt. I don't see where Qt is installed. Does anybody know how appveyor was configured?

[2017-12-01 15:28] NaterGator commented on #5862
This would be my guess: https://www.appveyor.com/updates/2017/11/18/

[2017-12-01 15:33] dogmaphobic commented on #5862
That's more than a guess :) Thanks!

[2017-12-01 16:23] #5862 closed

[2017-12-01 16:58] dogmaphobic commented on #5856
This system is for posting bugs or feature requests ONLY. For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

[2017-12-01 16:58] #5856 closed

[2017-12-01 16:59] dogmaphobic commented on #5843
Fixed in #5854

[2017-12-01 16:59] #5843 closed

[2017-12-01 17:18] Mocart96 commented on #3049
Hello, Do we stop to discuss about it? I little confused with this joystick support. As I understand Ps4 pad was approved and tested device some time ago. My Fly Sky is show in the logs similar to PS4. Can someone share sample screen of joystick page when ps4 pad is connected to QGC mobile, please ? Maybe someone can help me to grab those logs form my android device also if previous screens are no

[2017-12-01 17:42] pritamghanghas commented on #3049
will you be able to check a custom build. I am away from a dev setup. But I
have a build that I know works for me.

On Fri, Dec 1, 2017 at 12:18 PM, Adam <notifications@github.com> wrote:

--
Regards,
pritam

[2017-12-01 18:00] Mocart96 commented on #3049
ok, cool. I can test any version if you can share it with me.
As I said I have 2 controllers now where one is officialy supported by desktop app.

[2017-12-01 18:13] pritamghanghas commented on #3049
try this http://senserobotics.com/qgc26.apk. This is mostly my hobby build,
might have lot of other cruft.

On Fri, Dec 1, 2017 at 1:00 PM, Adam <notifications@github.com> wrote:

--
Regards,
pritam

[2017-12-01 18:56] Mocart96 commented on #3049
Find attached screens from my quick test. I did not check everything step by step but with this version Fly Sky controller is available in QGC on boot.
Test was done using Samsung Galaxy 7 and now I can say I never saw this screen in regular builds.
I will be testing it today but now we know there is something wrong with regular and daily builds.
This screen does not exist in other versions of QGC

[2017-12-01 20:24] Mocart96 commented on #3049
There is outcome of my tests:
1. scenario 1: Com_RC_in_mode=1 (Joystick/No RC check). https://youtu.be/aKBqeVmfC9o
it works amazing ;)
2. scenario 2: Com_RC_in_mode=2. (Virtual RC by Joystick). Screens are attached. I cannot arm morors due note: " manual throttle non-zero). This is very starnge becuse I didnt make any changes to joystick setup camparing scenario 1. Do you know where can I find roo

[2017-12-03 05:39] pritamghanghas commented on #3049
I think you are talking about px4 firmware. I have no experience with that.
The fix for joystick is in master. You can use daily builds. I just don't
want you to get stuck with something that is different in my build. Because
the build you have is very specific and not well tested.

On Dec 1, 2017 3:24 PM, "Adam" <notifications@github.com> wrote:

[2017-12-03 17:29] martykube opened #5865 "brate camera"
This system is for posting bugs or feature requests ONLY. For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

----
When posting bug reports, include the following informaiton:
- Ground station operating system.
- QGroundControl version and build (daily, stable, self-built from source, etc.)
- Autopilot board: Pixhawk I, Pixhawk Mini, Pixhawk 2, etc.
- Autopilot f

[2017-12-03 17:35] #5865 closed

[2017-12-04 09:39] deonblaauw opened #5866 "Feature request: Survey missions option to first fly all even lines then fly all odd lines on the way back"
We fly missions using a fixed-wing drone, and would really find it useful if the survey missions could be setup such that the drone flies all the even paths on the first pass, then all the odd paths on the way back. Doing this means that the aircraft would be able to settle back onto the path quicker, making for more efficient missions (currently we lose some image quality on the mission edges due

[2017-12-04 10:37] sanderux commented on #5866
And the vehicle would be back where it started when it finishes the mission.
@DonLakeFlyer @dogmaphobic

[2017-12-04 21:07] baomin commented on #5721
raspivid -n -w 864 -h 480 -b 750000 -fps 25 -t 0 -o - | gst-launch-1.0 --gst-debug-level=0 -v fdsrc ! h264parse ! rtph264pay config-interval=10 pt=96 ! udpsink host=xxx.xxx.xxx.xxx port=5600

[2017-12-06 11:34] dollop80 commented on #3624
QGroundControl v3.2.5 the guided mode for apmrover still doesn't work

[2017-12-07 06:29] JonReacher commented on #5866
I agree. Especially useful in areas sensitive to flying extended turnarounds over nearby property/ airspace.

[2017-12-07 18:32] AndKe opened #5870 "Solo video won't work with updated solos."
Currently, we check for Solo by looking for STATUSTEXT "APM:Copter solo-*"
if it's found, we do the connectToHost(_artooIP, _artooVideoHandshakePort);
which would activate the Solo video..
More and more Solos are running ArduCopter code, and they er not that easy to identify.
... and it's kind of dirty to expect user to run "nc 10.1.1.1 5502"  to make it work.

I see two good solutions:
1: try the

[2017-12-09 04:51] RohanKurane opened #5871 "No GPS lock reported by QGC for Intel Aero RTF"
Hello,

I have seen this problem been reported before and the suggestion was to talk to the firmware team for the issue. When I arm the vehicle from QGC and try to TakeOff, I get a No GPS lock from QGC. This is not a QGC issue as I understand.

Can someone put me in touch with the firmware team or if there is a solution for this already please point me to it?

Thanks!

[2017-12-09 15:03] DonLakeFlyer commented on #5871
https://discuss.ardupilot.org
http://discuss.px4.io

[2017-12-09 15:03] #5871 closed

[2017-12-09 15:56] DonLakeFlyer commented on #5866
Using a turnaround distance doesn't fix the problem of cleaning up the pat to entera transect ?

[2017-12-09 16:07] DonLakeFlyer commented on #3624
You have to use a daily build

[2017-12-09 16:29] sanderux commented on #5866
That could almost double the mission distance

[2017-12-09 16:31] DonLakeFlyer commented on #5861
@dagar I think you know more about this stuff than I do

[2017-12-09 16:41] DonLakeFlyer commented on #5787
Awesome, thanks!

[2017-12-09 16:46] DonLakeFlyer commented on #5852
It's going to be next to impossible to warn correctly about a waypoint limit. Since the limit varies by firmware type and firmware version. What is really needed is an actual "too many waypoints" error code in the mavlink spec. Then the firmware could send that and ground station chould show something useful.

[2017-12-09 16:53] DonLakeFlyer commented on #5853
It's already there. Customise you instrument panel by clicking the gear icon and add Lat/Lon to it.

[2017-12-09 16:53] #5853 closed

[2017-12-09 17:23] DonLakeFlyer commented on #5866
Sure, but don't you still need to use some amount of turnaround anyway? Without turnaround fixed-wing entry will almost always be off. Seems like this would only be needed if the FW min turning radius is larger than the transect spacing? Does that happen often?

Not agruing against supporting this. I want to make sure I understand various FW survey problems correctly.

[2017-12-09 17:27] sanderux commented on #5866
The turn radius on our vehicle is 100m, doing a half circle it will be fully level at the end. Generally the line distance is between 20 and 50 meters, so even 3 or 4 passes would be nice to have.

[2017-12-09 17:27] sanderux commented on #5866
If you set max bank angle in sitl to about 30 degrees you will see what happens

[2017-12-10 12:10] DonLakeFlyer opened #5872 "Add gimbal control to fly view"
From OldGazer on RC Groups:
If I power up the aircraft and connect with MP and go to the Actions tab I can retract the mount, set it to MavLink targeting, set it to RC Targeting, and I if I right click on the map I can "point and click" (Point Camera Here), or use GPS coordinates to point the camera.

I have not found any of that functionality in APM Planner.  I did find "point camera here" in qGC

[2017-12-10 13:33] dogmaphobic commented on #5872
@sanderux is looking for related functionality as well. His input could better shape this.

[2017-12-10 16:52] Mocart96 commented on #3049
Hi. What does it means - its in master? If you check some posts above I did test daily builds ( screens are attached ) and well working joystick support is available in your custom version only(http://senserobotics.com/qgc26.apk).

[2017-12-10 23:25] JonReacher commented on #5866
@DonLakeFlyer To answer your question I'll give you a typical scenario for myself. A transect width of 200' wide is common for a 400' altitude survey @ 70% side lap w/ an APS-C sized sensor. Very common.
 Our AV takes about a 3-400' wide turn in the turnarounds, which means 3-400' long turnarounds just to be level by the time we hit the new transect. Eats up a lot of mission time. An odd/ even arr

[2017-12-11 00:39] dagar commented on #5861
@taileron yes, that's intentional.

The build naming isn't great, but px4fmu-v3 = px4fmu-v2 + more flash and more PX4 modules. Due to a silicon bug the original pixhawk's 2MB flash had to be limited to the 1MB only. More recent pixhawks and derivatives have a later revision of the STM32F427 that resolved the issue.

[2017-12-11 00:39] #5861 closed

[2017-12-11 03:22] pritamghanghas commented on #3049
It shd be fixed in daily now. That is what I meant when I said it is in
master now. From that day onwards daily is fixed.

On Dec 10, 2017 10:22 PM, "Adam" <notifications@github.com> wrote:

[2017-12-11 17:12] DonLakeFlyer commented on #5866
Got it. Thanks everyone for the detailed information. Want to make sure I'm educated on all this stuff.

[2017-12-11 20:02] AndKe opened #5876 "6s delay before GUI is displayed on QGC start."
current master, deleted(and created new) QGroundControl.ini
QT 5.9.1, on Ubuntu.
on start I instantly see:
[code]

then it takes 6-7seconds before GUI suddenly spawns.

The system is not slow, APMPlanner2 spawns it's GUI in ~2 sec (I assume it's splashscreen that appears instantly is the delay)

[2017-12-11 20:05] DonLakeFlyer commented on #5876
Same thing for AppImage?

[2017-12-11 20:06] AndKe commented on #5876
where do I get that ?

[2017-12-11 20:07] AndKe commented on #5876
ok, found at https://docs.qgroundcontrol.com/en/getting_started/download_and_install.html  - will test

[2017-12-11 20:18] AndKe commented on #5876
Appimage starts ~2s after text output, faster. - it does not complain/contain speech.  - maybe that's the difference ?

[2017-12-11 20:22] DonLakeFlyer commented on #5876
My quess is that Qt is searching high and low through your harddisk for a plugin which is causing the slow down. This will go away once we move to new Qt version which fixes the speech thing.

[2017-12-11 20:25] AndKe commented on #5876
just discovered that Qt5.9.2 is required, downloading on slow hotel wifi now, but it sounds like It's not going to fix speech, which version does fix it ?

[2017-12-11 20:38] DonLakeFlyer commented on #5876
Why not just use AppImage? Not sure which new Qt is needed for speech. @dogmaphobic would know.

[2017-12-11 20:41] AndKe commented on #5876
I like to try out the new features. :)

[2017-12-11 20:44] DonLakeFlyer commented on #5876
There are Daily Build AppImages available as well.

[2017-12-11 20:52] AndKe commented on #5876
I see now :)  - will figure out why mine takes time... Thanks.

[2017-12-11 20:52] #5876 closed

[2017-12-12 00:02] hamishwillee opened #5877 "Feature Request: Improved current sensor calibration"
From @sanderux: https://github.com/mavlink/qgc-user-guide/pull/120#issuecomment-350517356

I have a much better way to calibrate the current sensor. It uses 2 readings, a low and a high current reading. Based on that it can determine not only the scaling but also the offset.

We should look at getting this into QGC.

[2017-12-12 01:19] sanderux commented on #5877
I can work with whoever wants to implement this

[2017-12-12 06:18] SpandanKumarSahu commented on #3797
@DonLakeFlyer, I am new to QGroundControl. I was trying to figure out, if along with storing the survey, we can have an option of storing the generated waypoints too?

[2017-12-12 07:17] chinanewer commented on #5617
我也遇到这个问题了，我用的华为的平板，并且是有时候会有时候不会

[2017-12-12 17:23] DonLakeFlyer commented on #3797
At some point I'll do that, but the real question is why? Even if they were there you would not be able to modify them. The only reason to do it is for other ground stations to be able to read the format. If you want to get the waypoints for a survey you can just round trip the plan through the vehicle:
* Upload
* Download - It will denegenerate into individual waypoints
* Save

[2017-12-12 18:21] SpandanKumarSahu commented on #3797
Yeah, I understand it that might not be a very relevant feature. Thanks for the reply, anyway.

[2017-12-12 21:26] Mocart96 commented on #3049
Yes ! Works amazing with daily build 👍
I have 2 additional questions:
1. When it will be available in regular version ?
2. Does it work with ardupilot firmware or px4 only? ( you are right I have px4 installed currently )

[2017-12-13 16:18] DonLakeFlyer commented on #3049
Whenever the next stable comes out. Which isn't quite known yet. A month or so.

Should work with ArduPilot as well. But you need latest firmware since they recently added MANUAL_CONTROL support.

[2017-12-13 16:33] raygamero opened #5880 "Feature Request: Simplified Airspeed Zeroing function."
The current Airspeed sensor calibration is a bit cumbersome for daily zeroing of the sensor.
I feel silly blowing in my pitot tube every day. Can we make a quick zero option where we bag the pitot, zero and then press? The current calibration can be used for new builds.

I prefer to zero the airspeed shortly before launch (to let the sensor settle to the current temp).  Blowing on the tube while t

[2017-12-13 16:45] DonLakeFlyer commented on #5880
QGC isn't in control of airspeed calibration. Firmware implements this. Need to talk with them

[2017-12-13 16:45] #5880 closed

[2017-12-14 20:41] ambikaverma opened #5887 "get data from .mavlink file"
it seems like .mavlink file can only be replayed on QGroundControl.
It would be great if one could access the data from .mavlink files and generate plots.
Please correct me if I'm missing something, as I didn't find any way to get data out of a .mavlink file.

[2017-12-15 10:34] RoelHelsen86 opened #5889 "RTCMMavlink error?"
I was browsing the code for RTK handling and I think I found an implementation error in RTCMMavlink.cc. It would be nice if someone from the developers could take a look at it and see whether it is an actual bug, or that I misinterpreted the code.

In the code, it increments both the sequence Id and the fragment Id for every fragment that is sent. However, ArduCopter expects different fragments to

[2017-12-16 16:32] DonLakeFlyer commented on #5889
@bkueng Can you help here.

[2017-12-18 10:08] bkueng commented on #5889
PX4 does not use the sequence & fragment ID's, these were added later, specifically for APM as it seems.

From the message definition in http://mavlink.org/messages/common#GPS_RTCM_DATA, it is not entirely clear to me when the sequence id is supposed to be incremented. This should be clarified.
It would make sense to increment it only for new messages and not within the fragments. Which is in agre

[2017-12-18 14:27] RoelHelsen86 commented on #5889
This should probably be discussed with the developpers of ArduPilot (which I'm not)
If px4 does not use the ID's at all, it might be a good idea to put the increment outside the while-loop, and preferably outside the if-statement such that the sequence ID is only incremented for each message and that the fragment ID will make the message ID unique. In that case it will work for both ecosystems.

[2017-12-18 16:20] DonLakeFlyer opened #5892 "Add support for different set of flight modes in Advanced"
This requires signalling support as well as change to flight mode dropdown controls to support list changing.

[2017-12-18 16:24] DonLakeFlyer opened #5893 "Add support for custom build joystick settings overrides"

[2017-12-18 16:34] DonLakeFlyer commented on #5889
@tridge Can you help as to how this needs to work with ArduPilot? Trying to get something to work with both PX4 and ArduPilot.

[2017-12-18 17:29] DonLakeFlyer opened #5897 "Make virtual joystick usable"
After flying for a week in Zimbabwe with virtual joystick I would deem it a piece of crap. Needs work:
* ~~Throttle needs to auto-center when flying multi-rotor~~
* ~~If throttle auto-centers needs to deal with fact that you need full throttle down for arming~~
* Your thumbs cover up where the stick really is. Need additional indicators to the side of the sticks to show position.
* On tablet the j

[2017-12-18 18:48] dagar commented on #5892
Is there any interest in coordinating this with the vehicle? I'd be more comfortable actually disabling the mode rather than hiding it.

[2017-12-18 23:09] sanderux commented on #5872
So there are several controls that would be needed:
- Pan
- Tilt
- Zoom
- Video switch
- Retract
- Function switch (should be configurable how many positions and ideally nameable) For example: return to neutral position

Channels (commonly the aux channels) should be assigned for every function.
The functions should be controllable from the video tab.
For Pan, Tilt and zoom it should be controllab

[2017-12-18 23:51] DonLakeFlyer commented on #5892
Custom builds customers tend to hide lots of flight modes from the ui which is generally what they want. In non-advanced they hide most things to both disable and simplify the ui. Then in Advanced want to bring some back. For example if you have a vehicle which is not controlled with a transmitter and only missions you only want to show a minimal set of mission related flight modes as available. N

[2017-12-19 01:42] dagar commented on #5892
Makes sense, I was thinking of a few other overlapping pieces.

I'm seeing a lot more multi GCS users these days, and thinking of situations like Iridium. General users that would never use acro, offboard, etc would also want to use this mechanism. It feels more secure to actually block it and prevent potential accidents, rather than just hide it.

I was imagining it like a bitmask of currently av

[2017-12-19 22:41] hamishwillee commented on #5877
@DonLakeFlyer I've assigned to you, but that is really just so that it gets considered at some point.

[2017-12-20 17:26] DonLakeFlyer commented on #5889
Talked with @oxinarf on the ArduPilot. What @RoelHelsen86 is correct:
* Only fragment id should increment for each fragment
* Sequence id should increment to indicate a new set. Single fragment or multiple fragment.

@bkueng if PX4 doesn't use these how does it know if a set of fragments is complete?

[2017-12-20 17:31] bkueng commented on #5889
It doesn't care :) It let's the GPS device handle (partial) drops. And if it's just fragmented, it's ok to only feed these one at a time (there are no other writes to the GPS device).

[2017-12-20 17:38] DonLakeFlyer commented on #5889
MAVProxy implementation as example: https://github.com/ArduPilot/MAVProxy/blob/master/MAVProxy/modules/mavproxy_DGPS.py#L26-L71

[2017-12-20 17:38] DonLakeFlyer commented on #5889
@bkueng Could you change this code to match how MAVProxy does it?

[2017-12-21 09:44] RoelHelsen86 commented on #5889
On a side note, is there a reason why qgroundcontrol uses RTCM 1005, 1077, 1087 and Mission Planner uses 1005, 10074, 1084 and 1230?
(I know they are MSM4 vs MSM7, but I don't know what the difference between them is)

What is the benefit of one over the other and shouldn't qgroundcontrol also include the 1230 message for glonass?

[2017-12-21 09:57] RoelHelsen86 commented on #5889
PS: In normal operation, the problem I discovered is not a big one. Typically the length of the RTCM messages falls under the 180 limit and the first case applies which works for both arducopter and px4

[2017-12-21 19:15] DonLakeFlyer opened #5905 "CameraCalc: Handling missing known camera not working correctly"
If a plan is loaded which includes a camera which is not currently know to the system the CameraCalc UI will show incorrectly. It will show "Custom Camera" but the camera spec information will be missing.

[2017-12-22 14:54] GlidLov opened #5908 "UVC not working neither in Win10 nor Android"
Hi,

i'm experimenting with UVC devices like the "USV5.8" (white covered little board which you can find on aliexpress). I can open his video stream with VLC in windows 10, selecting "open device", selecting the right device which is seen as a HD webcam and have to set to PAL-I to make it work properly.

Then, i want to have the video feed into QGC video window. In my win10 laptop, i can select th

[2017-12-23 05:45] Antiheavy commented on #5866
+1 for a feature like this.  Very useful for certain fixed wing survey applications.  For those of us who live in the frozen north, we call this a zamboni pattern.

[2017-12-23 12:53] bkueng commented on #5889
QGC uses the messages that were recommended from ublox support. MSM4 has a bit reduced bandwidth requirements, but also reduced accuracy (I don't know how much the resulting precision is affected).

The u-blox M8P [docs](https://www.u-blox.com/sites/default/files/NEO-M8P_DataSheet_%28UBX-15016656%29.pdf) state:

So this is indeed something we should enable. But I don't have the bandwidth to test t

[2017-12-23 18:27] DonLakeFlyer commented on #5889
Fixed now. @RoelHelsen86 Thanks for the report

[2017-12-23 18:27] #5889 closed

[2017-12-23 19:22] #5905 closed

[2017-12-27 23:18] lvale opened #5916 "QT 5.10 maps still broken"
- Ground station operating system. - OSX 10.13.2
- QGroundControl version and build (daily, stable, self-built from source, etc.)-Master (2017-12-27)
- Autopilot board: Pixhawk I, Pixhawk Mini, Pixhawk 2, etc. - N/A
- Autopilot firmware (e.g. PX4, ArduPilot, custom) and version. - N/A
- Exact steps to reproduce the problem. Starting from booting QGroundControl to when the problem occurs.

Maps are

[2017-12-28 00:28] dogmaphobic commented on #5916
I have not had a chance to test this since the PR was created/merged. I will take a look at it tomorrow...

[2017-12-28 03:11] lvale opened #5917 "structure scan does not respect distance to structure"
On certain scan of structures the distance to structure is not respected. If one works with fixed focus cameras that invalidates using the structure scan

Example mission
<img width="991" alt="screen shot 2017-12-28 at 03 04 58" src="https://user-images.githubusercontent.com/3130363/34399172-baaaa346-eb7c-11e7-93f5-b22d73fb5a6e.png">

[acuteangle.plan.txt](https://github.com/mavlink/qgroundcontrol

[2017-12-28 14:40] LorenzMeier opened #5918 "QGC master beach balling on boot on OS X"
Current master (a5c6b0daded5ff25eb8a6fda9e4b39d4088a5883) is beachballing on app boot for 5 seconds, which is not looking great and hogging the system's CPU enough to let other apps on the same system time out on whatever they are just doing.

[2017-12-28 20:23] DonLakeFlyer opened #5919 "iOS: Get rid of top level QGroundDirectory for file save location"
This will make working with iTunes File Sharing much easier.

[2017-12-28 20:30] DonLakeFlyer opened #5921 "iOS: Color scheme is out of whack"
![img_1641](https://user-images.githubusercontent.com/5876851/34422519-d88f320c-ebca-11e7-906b-77e6bb81a7ee.PNG)

[2017-12-28 20:36] dogmaphobic commented on #5916
Something is out of whack but I can readily see what is going on. Bing maps are working fine but Google maps don't even try to load. I won't have the time to look further into this in a while.

@patrickelectric Did you test all map providers with your PR?

[2017-12-28 21:46] DonLakeFlyer commented on #5917
There will be extra images, but the images that actually overlap the actual structure will be correctly distances won't they?

[2017-12-29 00:50] lvale commented on #5917
It gets worst, and will have a lot of unusable pictures on each level

<img width="971" alt="screen shot 2017-12-29 at 00 46 57" src="https://user-images.githubusercontent.com/3130363/34426790-176e4d2a-ec32-11e7-8664-fa6a64d474b9.png">

It's a problem when you're scanning at high resolutions,with a very narrow depth of field on the camera

[2017-12-29 01:16] patrickelectric commented on #5916
Ok.. I can reproduce the problem..
Work with:
- [ ] Bing
- [ ] Google
- [ ] Statkart
- [ ] Eniro
![image](https://user-images.githubusercontent.com/1215497/34427087-26af4648-ec25-11e7-8c02-5f66c964487e.png)

[2017-12-29 01:29] patrickelectric commented on #5916
The problem appears to be only with google, I'll try to solve this.

[2017-12-29 02:44] patrickelectric commented on #5916
@dogmaphobic, it appears to be something related to the TileCache.
Take a look [here](https://paste.kde.org/pjusvwon8), any idea ?
It doesn't call QGeoTileFetch or anything related.

[2017-12-29 13:03] patrickelectric commented on #5916
Solved, I'll send a PR asap.

[2017-12-29 13:55] lvale opened #5924 "Qt 5.10 wil break file dialogs"
Using QGC master compiled with QT 5.10

Using Map provider Bing

Create a Structure scan and export to KML

Resulting file is empty, as no data inside the file

edit: also tested with GGL map provider, although maps don't show, and same empty kml export

[2017-12-29 14:29] hsteinhaus opened #5925 "https_proxy ignored"
QGC is partly ignoring http_proxy/https_proxy variables on Linux. The folloing behaviours are observed. QGC is unable to download any map tiles in an environment without Internet connectivity via default gateway, but with a valid proxy specified by both http_proxy and https_proxy environment variables:

[code]

Surprisingly, with http_proxy and https_proxy accidentally set to a (now) invalid proxy

[2017-12-29 19:46] DonLakeFlyer commented on #5925
You know more about this network stuff than me. Maybe proxy still not quite set up right?

[2017-12-29 19:47] DonLakeFlyer commented on #5924
@patrickelectric Can you look at this?

[2017-12-29 20:07] DonLakeFlyer commented on #5917
That is a hard problem to fix. I question whether any of these cases are reality or just strange boundary cases which nobody would ever fly?

[2017-12-29 20:19] hsteinhaus commented on #5925
Here is what I did:
[code]
After doing so, curl and wget are working, so I assume that there should be no major problem on the network side.

I am sure QT(webkit) has some provisions for proxy support - and the negative test with the non-existing proxy in the env variable, plus a direct internet connection, seems to confirm that. Maybe some flags must be set while setting up the connection to the

[2017-12-29 20:24] DonLakeFlyer commented on #5925
FYI: QGC code is already using Qt support for proxies.

[2017-12-29 20:25] dogmaphobic commented on #5925
Proxy is an ongoing on/off problem. The main issue is that I have no way to test this as I don't have a proxy setup (nor a reason to do so).

For tile downloads, here is the code that sets up a *default* proxy. The idea being that Qt will setup the proxy based on the system configuration:

https://github.com/mavlink/qgroundcontrol/blob/master/src/QtLocationPlugin/QGeoMapReplyQGC.cpp#L159-L171

[2017-12-29 20:27] hsteinhaus commented on #5925
May be the flow stops before reaching this code, e.g. here:
https://github.com/mavlink/qgroundcontrol/blob/master/src/QtLocationPlugin/QGeoMapReplyQGC.cpp#L151

[2017-12-29 20:29] dogmaphobic commented on #5925
That could be the case. Here is where the code tests for Internet connectivity (attempting a connection to `github.com`):

https://github.com/mavlink/qgroundcontrol/blob/master/src/QtLocationPlugin/QGCTileCacheWorker.cpp#L1059-L1083

[2017-12-29 20:33] hsteinhaus commented on #5925
Fur sure. socket.connectToHost(info.addresses().first(), 80) will clearly fail in an environment that requires that all connections go through a proxy (like many campony networks here do).

[2017-12-29 22:45] lvale commented on #5917
Very easy to fall on this, like on this struct survey of the outside walls of a small castle

<img width="742" alt="screen shot 2017-12-29 at 22 34 20" src="https://user-images.githubusercontent.com/3130363/34448880-fc0fad40-ece9-11e7-9cbf-2ef845dfd7e2.png">
<img width="686" alt="screen shot 2017-12-29 at 22 33 24" src="https://user-images.githubusercontent.com/3130363/34448881-fc2e27a2-ece9-11e7-

[2017-12-29 22:55] #5554 closed

[2017-12-29 23:05] DonLakeFlyer commented on #5454
I'm going to drop the archive from the docs for now and see if anyone complains.

[2017-12-29 23:05] #5454 closed

[2017-12-29 23:10] NaterGator commented on #3747
I don't see us in the Windows store... is that happening?

I have a code signing cert for my LLC, which I got through the MS provided discount on digicert issued code signing certs at 50% off (regular for $111/yr or EV for $224/yr). http://go.microsoft.com/fwlink/?LinkId=393249

I'm happy to encrypt and push my cert for signing release builds but they'll show up as signed by NaterGator Engineering

[2017-12-29 23:15] DonLakeFlyer commented on #5442
I beleve the resume mission generation problems with QGC are fixed now.

[2017-12-29 23:15] #5442 closed

[2017-12-29 23:15] #5435 closed

[2017-12-29 23:16] DonLakeFlyer commented on #2553
This seems to be fine now given the fact that folks are using HIL and not complaining.

[2017-12-29 23:16] #2553 closed

[2017-12-29 23:17] DonLakeFlyer commented on #5791
@sujiv0 Can you try this again using latest daily build? Lorenz just put through a fix that might take are of this.

[2017-12-29 23:17] DonLakeFlyer commented on #5658
@raygamero Any update on this?

[2017-12-29 23:18] DonLakeFlyer commented on #5436
Is this still a problem?

[2017-12-29 23:20] DonLakeFlyer commented on #4303
Can any of the Linux folks compile this down to exactly how to install gstreamer onto 16.04? Need to get this straightened out for 3.3 release.

[2017-12-29 23:21] DonLakeFlyer commented on #5649
I think this is fixed. need to retest

[2017-12-29 23:23] DonLakeFlyer commented on #5919
Need to look at when these directories were created. If in Stable 3.2 then it's too late to change.

[2017-12-29 23:23] DonLakeFlyer commented on #5893
Also FixedWing should default to throttle down zero.

[2017-12-29 23:24] #2687 closed

[2017-12-29 23:31] DonLakeFlyer commented on #3184
Auto-disconnect works now as well

[2017-12-29 23:31] #3184 closed

[2017-12-29 23:36] dogmaphobic commented on #5436
Yup, very much so. I have no idea what the problem is.

[2017-12-29 23:39] DonLakeFlyer commented on #3456
Pulling this from above, since it's a great idea:
![70c3d892-28ff-11e6-9c70-1424a5616750](https://user-images.githubusercontent.com/5876851/34449566-6709ced2-ecae-11e7-9d38-f57c6130fd53.png)

[2017-12-29 23:39] DonLakeFlyer commented on #3601
Working now. Still need to pause to change time though.

[2017-12-29 23:39] #3601 closed

[2017-12-29 23:40] #3729 closed

[2017-12-29 23:41] #3769 closed

[2017-12-29 23:41] #3800 closed

[2017-12-29 23:47] DonLakeFlyer commented on #4113
@dogmaphobic Will we be able to get video streaming for Stable 3.3 builds?

[2017-12-29 23:49] DonLakeFlyer commented on #4065
I'm thinking of living without the whole "explode" feature being done by round tripping through the vehicle instead of adding new ui.

[2017-12-29 23:49] #4065 closed

[2017-12-29 23:50] DonLakeFlyer commented on #4017
@dogmaphobic This is in there now isn't it with the new camera settings thing?

[2017-12-29 23:50] #3971 closed

[2017-12-29 23:52] DonLakeFlyer commented on #3864
This can be controlled manually now. So good enough for now.

[2017-12-29 23:52] #3864 closed

[2017-12-29 23:52] #3802 closed

[2017-12-29 23:52] #3801 closed

[2017-12-30 01:54] DonLakeFlyer commented on #5820
Fixed by Qt 5.10

[2017-12-30 01:59] #5700 closed

[2017-12-30 02:00] #5694 closed

[2017-12-30 02:01] DonLakeFlyer commented on #5692
This was completely broken and removed from the ui

[2017-12-30 02:01] #5692 closed

[2017-12-30 02:03] DonLakeFlyer commented on #5664
This the the MAVProxy multi-vehicle problem. If you run ArduPilot SITL without MAVProxy it will work fine.

[2017-12-30 02:03] #5664 closed

[2017-12-30 02:04] DonLakeFlyer commented on #5647
This is on Linux

[2017-12-30 02:05] DonLakeFlyer commented on #5629
And it is

[2017-12-30 02:05] #5629 closed

[2017-12-30 02:05] DonLakeFlyer commented on #5622
This needs to be debugged from the firmware side

[2017-12-30 02:05] #5622 closed

[2017-12-30 02:07] DonLakeFlyer commented on #5610
The combination of QGC and Firmware fixes should have taken care of this

[2017-12-30 02:07] #5610 closed

[2017-12-30 02:10] #5600 closed

[2017-12-30 02:10] #5594 closed

[2017-12-30 02:11] DonLakeFlyer commented on #5583
A number of these cases have been fixed. So should be better now

[2017-12-30 02:11] #5583 closed

[2017-12-30 02:12] DonLakeFlyer commented on #5591
Dup of #5550

[2017-12-30 02:12] #5591 closed

[2017-12-30 02:16] #5434 closed

[2017-12-30 02:17] #5419 closed

[2017-12-30 02:20] DonLakeFlyer commented on #5418
Not going to do this

[2017-12-30 02:20] #5418 closed

[2017-12-30 02:21] #5408 closed

[2017-12-30 02:21] DonLakeFlyer commented on #5404
Fixed

[2017-12-30 02:21] #5404 closed

[2017-12-30 02:26] DonLakeFlyer commented on #5295
Without a reproducible case not much we can do here

[2017-12-30 02:26] #5295 closed

[2017-12-30 02:27] DonLakeFlyer commented on #5284
Going to leave this alone

[2017-12-30 02:27] #5284 closed

[2017-12-30 02:27] #5278 closed

[2017-12-30 02:28] #5213 closed

[2017-12-30 02:30] DonLakeFlyer commented on #5182
@jaxxzer Didn't you just add something like this?

[2017-12-30 02:32] DonLakeFlyer commented on #4561
Going to leave this like it is for now

[2017-12-30 02:32] #4561 closed

[2017-12-30 02:33] #4542 closed

[2017-12-30 02:35] DonLakeFlyer commented on #5919
It was releases this way in Stable 3.2 so we are stuck with it

[2017-12-30 02:35] #5919 closed

[2017-12-30 02:42] DonLakeFlyer opened #5926 "OSX: Requires two Option-Q to quit app"

[2017-12-30 02:42] DonLakeFlyer opened #5927 "OSX: Strange small blank window pops up when you start QGC"
High Sierra only I believe

[2017-12-30 03:03] DonLakeFlyer opened #5928 "Switch to Qt 5.9.3 for Stable 3.3 release"

[2017-12-30 03:06] #5820 closed

[2017-12-30 03:18] #5763 closed

[2017-12-30 03:19] DonLakeFlyer commented on #5742
I'll reopen if you can specify more detailed steps to reproduce

[2017-12-30 03:19] #5742 closed

[2017-12-30 03:20] #5740 closed

[2017-12-30 03:25] lvale commented on #5820
Also fixed on QT 5.93

[2017-12-30 04:02] DonLakeFlyer commented on #5503
Works in latest daily build

[2017-12-30 04:02] #5503 closed

[2017-12-30 04:03] DonLakeFlyer commented on #5497
Removed

[2017-12-30 04:03] #5497 closed

[2017-12-30 04:05] DonLakeFlyer commented on #5481
Not going to happen

[2017-12-30 04:05] #5481 closed

[2017-12-30 04:17] DonLakeFlyer commented on #5469
Complicated to fix

[2017-12-30 06:41] AndKe commented on #4065
...or support saving to the standard .txt file - which is not far from what a upload to vehicle does..

[2017-12-30 09:05] furkantektas commented on #4934
This may not be a Linux bug. I've encounter the exact same situation on different machines and different versions of QGroundControl (3.2.x). While `RunGuard::isAnotherRunning()` function returns false,  `RunGuard::tryToRun()` returns also false as function fails to create a shared memory instance. In this case, one should detach from the shared memory and re-attach to solve this issue.

I've modif