[2019-04-05 16:22] DonLakeFlyer commented on #7286
Basically make this setup be a replacement for the values widget. Always have the values show up directly on the screen whether it be video or map.

[2019-04-05 18:55] DonLakeFlyer commented on #6783
@Thyself17 Can you try tomorrow's daily build and see how it works?

[2019-04-05 18:55] DonLakeFlyer commented on #7261
@kklemens  Can you try tomorrow's daily build and see how it works?

[2019-04-05 19:04] Thyself17 commented on #6783
Will do.  Thanks for your tremendous efforts, @DonLakeFlyer .  I'll let you know how it goes.

[2019-04-05 19:49] Desync-o-tron commented on #6413
@DonLakeFlyer Thanks a ton for pointing this out.
I've been trying to get the DJI M100 DJI2MAV ROS node to connect to QGC for 20+ hours now. I commented out lines 85-97 on the file you linked above, and now the drone connects & flies in a HITL simulation, where before I couldn't get a vehicle connection.

[2019-04-05 21:21] DonLakeFlyer commented on #6783
Not quite sure what you mean by that can you explain? I only changed the code for adding a loiter manually.

[2019-04-05 21:53] Thyself17 commented on #6783
I've attached a screenshot (and the mission plan .plan file renamed as a .txt) to hopefully help with the description.
To repro, I just setup a very basic "Fixed Wing Landing" pattern via mission plan.  Then click upload.  The upload fails with the "Param5 nan" message.

![QGC_Fixed_Wing_Landing_Param_Error](https://user-images.githubusercontent.com/49064696/55658396-5a29e100-57b2-11e9-950b-291db4

[2019-04-05 22:06] DonLakeFlyer commented on #6783
Hmm, that's a different problem than the LOITER commands. It's caused by the stop camera commands. In that case as far as I can tell ArduPilot is just doing the wrong thing.

[2019-04-05 22:26] DonLakeFlyer commented on #6783
Also I don't think ArduPilot supports those commands yet. Can you just turn those off?

[2019-04-05 22:49] Thyself17 commented on #6783
Gotcha.  I shouldn't have assumed they were directly related. Turning off the camera settings allows me to upload fixed wing landing patterns again.

And I'll make sure I get back to you with the results of the daily build tomorrow :)

[2019-04-06 01:14] DonLakeFlyer commented on #6783
There is a bug that for ArduPilot these checkboxes should not be showing up at all.

[2019-04-06 01:37] DonLakeFlyer commented on #6783
Just to detail out the issue. QGC was sending the wrong values for fixed wing missions and LOITER commands with respect to param4. I've fixed that. I've hacked ArduPilot multi-rotor mission upload to also default to 0 for param4 (instead of NaN) which to me seems incorrect but don't have time to argue. ArduPilot as far as I can tell does not yet support the heading field in loiter commands. What t

[2019-04-06 16:55] DonLakeFlyer commented on #6783
Also realizing now that my hack for this has broken PX4 fixed wing since it will default to NaN for param4 when it should default to 0 for fixed wing for x-track exit.

[2019-04-06 18:05] Antiheavy commented on #5063
I realize this is an old issue, but the current QGC documentation makes it look as if the request feature is now implemented?  https://docs.qgroundcontrol.com/en/FlyView/FlyView.html

[2019-04-06 18:07] Thyself17 commented on #6783
Well the good news is that with the daily build from yesterday I can successfully create loiter waypoints for Ardupilot Plane :)

[2019-04-07 19:54] kklemens commented on #7261
Thanks Don! I'm out of the office for the next week, but I'll give it a try when I get back.

[2019-04-09 19:23] jaxxzer commented on #7286
@DonLakeFlyer I think the function and implementation of the qml widgets vs the subtitle file may actually need to be quite separate.

I'm wondering if your underlying interest is in making making the values widgets less obstructive than they are today, or something else. Is there an open issue regarding this?

[2019-04-10 01:19] laurent1784 opened #7349 "Not connecting to telemetry sik radio"
Hi everyone. I am having issues with my quadcopter. It is running on pixhawk 2.4.8 and I am using a 915 MHz stock Bluetooth telemetry set. I try yo connect to the remote radio using bluetooth and I get a heartbeat on both radios but qgroundcontrol keeps waiting for vehicle and nothing happens. Tried doing via USB and also had issues with the serial port until it finally popped. Problem is I am not

[2019-04-10 13:03] evexoio commented on #7217
@dogmaphobic I just installed qgroundcontrol v3.5.0 and I got turkish as a default language,
I'm in turkey but I don't have turkish as system language, and none of my keyboard layouts are turkish as well.

I can't find an option to change the language to english.

Where can I find the language option?

[2019-04-10 13:23] dogmaphobic commented on #7217
It's on the daily builds: https://github.com/mavlink/qgroundcontrol/pull/7300

[2019-04-10 13:49] evexoio commented on #7217
@dogmaphobic I just went to the settings and searched for it as in the screenshot on the PR, couldn't find the language setting...

![Screen Shot 2019-04-10 at 4 46 07 PM](https://user-images.githubusercontent.com/12014839/55884187-474b4e00-5bb0-11e9-87df-77cb54d9627b.png)

[2019-04-10 17:42] dogmaphobic commented on #7217
You are running the _stable_ build.

[2019-04-10 23:25] laurent1784 commented on #7349
I tried using the iSIk Radio configurator and noticed an error appearing on the log.  Is it something I have wrongly configured?  I checked the baud rates, and parameters on Mission planner, reversed the Rx and Tx wires on the drone radio (connected to pixhawk) but still cannot get it to work.  Any help is greatly appreciated.
![AT Error](https://user-images.githubusercontent.com/49461667/55920045

[2019-04-12 00:08] HyGy commented on #7176
I have an eachine rotg01 pro uvc receiver. It does not work with qgroundstation. First id does not work with tower, but then I found a recompiled version and now it is working with tower.

here is the version that supports it with tower
https://discuss.ardupilot.org/t/tower-is-crashing-when-using-uvc-stream-android-6-0/15621/6

Maybe it helps to make it work with qgroundcontrol too.

[2019-04-12 02:10] dogmaphobic commented on #7176
UVC is not supported under Android. This is a Qt issue and won't be solved until they do.

[2019-04-12 09:19] HyGy commented on #7176
If it is not supported how is it working with tower?

[2019-04-12 12:08] MaEtUgR opened #7350 "UI missing not showing RC indication when RSSI not available"
## Expected Behavior
When RC is available the indicator in the top bar should light up.

## Current Behavior
If there is RC input available through an Frsky or Crossfire receiver you can pilot the drone but the RC indicator stays greyed out.

## Steps to Reproduce:
1. Have QGC opened on the PC or tablet
2. Connect the drone to the groundstation device over USB or pixracer Wifi module
3. Turn on th

[2019-04-12 13:11] dogmaphobic commented on #7176
Tower is a real Android app, likely written by real Android programmers, which none of us are. QGC is a Qt application. It's a cross platform tool set that allows us to have one single source base for all targeted platforms.

[2019-04-12 13:56] dogmaphobic commented on #7350
I have not used a regular RC in quite some time. I need to set up a testing environment to see what's going on.

In the mean time, walking backwards, the indicator is active if the rc RSSI value is > 0 and <= 100:
https://github.com/mavlink/qgroundcontrol/blob/master/src/ui/toolbar/RCRSSIIndicator.qml#L30

Here is where it is processed:
https://github.com/mavlink/qgroundcontrol/blob/master/src/Veh

[2019-04-12 14:14] MaEtUgR commented on #7350
Thanks for clarifying the specs. So I'll try to find a MAVLink spec solution. If you have any good ideas I'm open to them.

Probably the easiest would be to just send out the RC available flag the autopilot anyways has but probably not in the `RC_CHANNELS` message because that doesn't need to be sent without any RC data being available.

[2019-04-15 14:50] jaxxzer opened #7352 "Increase altitude resolution to 0.01 m"
The altitude readout reads only to the nearest 10 centimeters, however many messages provide centimeter resolution, and there are vehicles equipped with sensors that can provide this resolution.

[2019-04-15 17:54] kklemens commented on #7261
@DonLakeFlyer Connection Success! It worked with the latest Plane v3.9.7. I wiped the board and installed the firmware from QGC. It seems to work with the only error being "Check BRD_TYPE: Unable to detect board". In checking the BRD_TYPE it sets the parameter to AUTO.

I also installed the latest MP .msi so that may have had the drivers too.

[2019-04-16 00:48] Antiheavy commented on #7352
I suspect the topic of displaying significant figures and sane number of decimals would have a large number of different opinions.  How much precision is useful, how much precision is actually correct, how much precision is just visual pollution?  I certainly have my opinions, but they likely aren't the same as others'.  Also, don't forget us idiots who still measure distances according to some ol

[2019-04-16 00:49] Antiheavy opened #7353 "Feature request: Simplify "Action"
The following template is for Issue/Bug reporting only. https://docs.qgroundcontrol.com/en/Support/Support.html#github-issues

For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

If you are using an old stable release please upgrade first and verify your issue before reporting.
----

## Expected Behavior
Please tell us what should happen as detailed as possible.

[2019-04-16 00:50] #7353 closed

[2019-04-16 01:05] Antiheavy opened #7354 "Feature request: Simplify "Action" button in Guided toolbar (Fly toolbar)"
The "Action" button usually only hides 1 action underneath (at most has 2 actions one of which is "Change Altitude").   This means the most likely "action" in any context is hidden from the user, requires unnecessary extra clicks, and isn't easily "discoverable" by new users.  Most of our new users find it very confusing to find the actions under the Action button, especially when they accidentall

[2019-04-16 01:09] Antiheavy commented on #7354
Related to "Request 2":
There are other reasons I think Change Altitude slider should always be shown when in Hold/Pause mode. For example, you have the ability to move in X-Y by clicking around on the map and confirming, you should also have the ability to change altitude at this UI level without needing to discover it under a buried menu.

Somewhat related discussions:
mavlink/qgroundcontrol#582

[2019-04-16 08:43] Stifael opened #7355 "Structure Scan Total Distance, Time are zero"
In the mission plan-view, `Total Mission Distance` and `Time` are not updated and remain 0.

![qgc_distance_0](https://user-images.githubusercontent.com/13449161/56195017-632d7480-6034-11e9-8cf9-dfbc36047613.png)

[2019-04-16 17:37] DonLakeFlyer commented on #7352
This is a tough one. In reality what is wants is a  configurable resolution for this sort of thing. But that is going to be a non-trivial change since the precision is currently specified on a field by field basis with altitude just using a common practice of 1 decimal precision.

I think for most people going beyond one digit of precision will end up being annoying from a ui noise perspective. He

[2019-04-16 17:38] DonLakeFlyer commented on #7340
I don't understand what the bug is here? Is there something that goes wrong which using a regular version of QGC? Can you explain in terms of the release version of QGC with repro steps.

[2019-04-16 17:44] DonLakeFlyer commented on #7337
Hmm, all working fine for me. Can you log FirmwareUpgraderLog and attach?

[2019-04-16 17:45] DonLakeFlyer commented on #7339
@dogmaphobic Can you take a look?

[2019-04-16 17:46] #7335 closed

[2019-04-16 19:01] DonLakeFlyer commented on #6783
@Thyself17 Can you try tomorrows daily build again to make sure I haven't screwed anything up with latest change?

[2019-04-16 19:08] ahmadbashir1612 commented on #7340
I tested 3.5.0 version of the app. It's not actually bug.  I wanted to mean that i tried to load a specific plan file directly from another android app( developed by me ) using the mentioned code ( implicit intent ) and that's not opening. Can this feature be implemented ?

[2019-04-16 19:10] DonLakeFlyer commented on #7261
@kklemens Thanks for letting me know. I'll take a look at that BRD_TYPE thing.

[2019-04-16 19:19] DonLakeFlyer commented on #7340
That will likely require some special permission marking in your own version of QGC. Not quite sure how to do that.

[2019-04-16 19:19] #7340 closed

[2019-04-17 03:49] rmackay9 opened #7358 "Add Follow and Simple modes to list of available modes for ArduPilot Rover"
ArduPilot Rover-3.5 (the current stable release) has [Follow](http://ardupilot.org/rover/docs/follow-mode.html) and Simple modes but these don't appear on the list of available flight modes in QGC.

Could we get these two added?  Follow is "6" and Simple is "7" ([see mode.h here](https://github.com/ArduPilot/ardupilot/blob/master/APMrover2/mode.h#L28))

Thanks!

[2019-04-17 04:10] jaxxzer commented on #7352
I'm in agreement we shouldn't do it if it doesn't generally suit users. The pressure data underwater is rock solid compared to the air pressure sensors. Our standard sensor has 2mm resolution, and we can get centimeter level precision with no problem. I'm not sure of the real state of things with gps, but I've seen things like centimeter level accuracy advertised, so I generalized the issue.

I th

[2019-04-17 04:47] jaxxzer opened #7359 "Revise default telemetry values"
Here are the default values:

![image](https://user-images.githubusercontent.com/8315108/56260604-d7543080-60a5-11e9-8e61-686748535680.png)

I'd like to start ArduSub users off with a little bit different set of gauges:

![image](https://user-images.githubusercontent.com/8315108/56261759-3f0c7a80-60aa-11e9-86ee-418dccfa087c.png)

Would it be reasonable to have per-vehicle defaults?

On another not

[2019-04-17 09:27] LeoMustafaNXP opened #7360 "QGC not able to flash NXP FMUK66"
## Expected Behavior
QGC should be able to connect and flash new firmware to NXP FMU K66.

## Current Behavior
Connection is only possible after driver update:
How to update the driver is described in: https://nxp.gitbook.io/hovergames/userguide/qgroundcontrol/windows-drivers

On Windows 7/10 QGroundcontrol chancel the flashing progress with a time out.
On Mac OS the flashing progress doesn't star

[2019-04-17 16:10] davids5 commented on #7360
@LeoMustafaNXP Please run [usbview-v2](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/usbview) and capture the bootloader and app's usb info and post them here.
To get the bootloader use "reboot -b" on the console.

[2019-04-17 17:40] DonLakeFlyer commented on #7359
The problem is you are to the point where you should be using a custom build instead of standard builds. Custom build architecture is setup to give you full control over all of this stuff.

[2019-04-17 17:51] DonLakeFlyer commented on #7352
You have control over COMMAND_LONG parameters using MavCmdInfoCommon.json overrides which allows you to set them to whatever you want.

But that won't cover everything. There are other altitudes in the ui which come from both settings and mavlink values. Custom builds are set up to allow overrides on most of these things. But not currently for Vehicle facts. That would make sense but not currently

[2019-04-17 17:56] DonLakeFlyer commented on #7358
@rmackay9 Simple should have already been there. But Follow is not because ArduPilot follow is not implemented. Someone else added support for this on PX4 side a while back. I should be able to make it work for ArduPilot as well. Does ArduPilot follow work based on the FOLLOW_TARGET mavlink message?

[2019-04-17 18:16] jaxxzer commented on #7352
ArduSub is absolutely generalized and applicable to other submersible vehicles beside the Blue ROV. This is just the same as the rest of the ArduPilot vehicles and ecosystem. There is nothing locked down about it.

Generally (not in regard to this particular issue alone), I want to concentrate on improving the firmware and autopilot plugin side of things (and ardupilot support generally) rather th

[2019-04-17 23:32] rmackay9 commented on #7358
@DonLakeFlyer, thanks for the response.  it's on our to-do list to add support for the FOLLOW_TARGET message but at the moment Follow is just another flight mode.  It will automatically grab onto the first non-GCS sysid it sees and follows at the current distance so in the best case it doesn't require any parameter changes from the user nor any extra info from the GCS.

[2019-04-18 01:21] Thyself17 commented on #6783
@DonLakeFlyer
Tested with Arduplane 3.9.6 using the daily build (4-16-2019).
Loiters still work fine.  No param issues on upload.  When looking at param values, param 4 is 0.00

Fixed wing landing pattern looks good too.  No camera options and the upload works fine

[2019-04-18 15:04] RichLewis007 commented on #7320
Where is the source code for px4driver, and what does it do? I see it being installed when installing QGC in Windows, but I can't find the source or explanation of what this installs anywhere. Thanks!

[2019-04-18 17:15] DonLakeFlyer commented on #7320
I'm not really sure. The source comes from Michael Oborne the Mission Planner dev. The files are in the MP github repo.

[2019-04-18 17:16] DonLakeFlyer commented on #6783
@Thyself17 Awesome, thanks so much for veriyfing.

[2019-04-18 17:16] #6783 closed

[2019-04-18 17:19] DonLakeFlyer commented on #7358
@rmackay9 Just so I understand correctly. It looks at telemetry from another vehicle then to follow from? QGC isn't really involved?

I'll add it Follow.

[2019-04-18 17:28] DonLakeFlyer commented on #7352
Ah, sorry. I thought it had things like motor testing and so forth which were specific to the BlueRover setup.

That said, it still fits the custom build model. For example the fact that your specific vehicle has sensors which have that high of a resolution for height values is specific to a vehicle as opposed to a class of vehicles. So QGC can't really make assumptions about that sort of thing si

[2019-04-18 18:08] Thyself17 commented on #6783
@DonLakeFlyer No problem.  If you ever need someone to verify changes to QGC on an arduplane build, throw me a ping.

[2019-04-18 22:35] rmackay9 commented on #7358
@DonLakeFlyer, yes, that's right.  thanks!

[2019-04-19 08:42] jarivanewijk commented on #7360
I'm not @LeoMustafaNXP, but I also have this issue so I'll jump in as well. This is what I was able to capture with usbview. I hope this is what you need, @davids5. :)

[app.txt](https://github.com/mavlink/qgroundcontrol/files/3097527/app.txt)
[bl.txt](https://github.com/mavlink/qgroundcontrol/files/3097528/bl.txt)

System info:
- Windows 7
- QGroundControl daily build, commit c0ea93e95
- Hardware

[2019-04-19 16:50] DonLakeFlyer commented on #7358
OK, all done then

[2019-04-19 16:50] #7358 closed

[2019-04-19 17:05] DonLakeFlyer commented on #7261
@kklemens When you flash the Purple Cube, in the status text for the flashing in the ui. Can you tell me what firmware file it is lading? It should be listed there. Want to make sure it flashed the Purple specific firmware.

[2019-04-19 17:09] DonLakeFlyer commented on #7349
You might want to try on one of the PX4 forums or maybe PX4 Slack channels. Since you only have QGC people here and this isn't really a QGC problem.

Hard to say what is going wrong. Can these radios connect directly via USB as well as bluetooth. If they can do USB. Then first thing would be to try USB. Make sure QGC is connecting to the radio. You can use LinkManagerLog logging to see if that is

[2019-04-19 17:12] DonLakeFlyer commented on #7286
The point is to get rid of the values widget and instead allow the user to put the values overlayed directly on the screen. Whether that be map or video. Would need to be thought throug from a real estate standpoint though since the value page thing would still be there.

[2019-04-19 17:29] jaxxzer commented on #7286
Ok Don, I think that patch will be independent of this work, but may be done in conjunction.

Also @Williangalvani is closing in on a working branch for the feature described here:
![image](https://user-images.githubusercontent.com/8315108/56435618-1b625380-62a7-11e9-8343-c5e982b15dd9.png)

[2019-04-19 18:54] rollysing opened #7367 "QGC v3.5.0 Won't Open in Windows 10 Pro"
Installed QGC v3.5.0 in Lenovo laptop running Windows 10 Pro v1803. QGC attempts to open but fails. While looking at Task Manager, the app starts to open but Status momentarily shows Suspended, then QGC disappears.

* Have disabled signature requirement during startup prior to installation.
* Have tried running Safe Mode and Compatibility versions but still no joy.
* Tried installing the latest Da

[2019-04-19 19:45] DonLakeFlyer commented on #5063
Yup it is

[2019-04-19 19:45] #5063 closed

[2019-04-19 20:12] kklemens commented on #7261
![2019-04-19_1311](https://user-images.githubusercontent.com/36143956/56442214-bb6aad80-62a4-11e9-9b6d-a963a4aa88df.png)

[2019-04-19 21:04] DonLakeFlyer commented on #7261
Nope. That is the generic FMU V3 firmware as opposed to the specific Purple firmware.

[2019-04-19 23:18] igalloway commented on #7360
@davids5 One part of this issue is that we did update the PX4 Drivers with the new VID and PID, but don't know how to get them included in the QGC install. BUT in addition to that - on windows only - we still seem to be "blowing by" the bootloader recognition stage in QGC. From what i recall (it was a little while ago when i tested) FMU would be in bootloader mode (flashing yellow) and you could g

[2019-04-20 17:32] DonLakeFlyer commented on #7360
QGC needs to know the VID/PID (compiled in) or it may fallback to some string matching in order to flash. Placing the board in bootloader mode won't help if QGC doesn't recognize the board.

[2019-04-21 19:49] DonLakeFlyer commented on #7367
Looks like a graphics driver crash. Have you tried to Windows QGC Graphics Compatability modes:

https://docs.qgroundcontrol.com/en/Support/troubleshooting_qgc.html

[2019-04-22 11:51] rollysing commented on #7367
Yes, all of them fail the same way. I've also tried the different options in Windows Compatibility and none of them worked.

[2019-04-22 18:48] jaxxzer commented on #7113
I can confirm this happens on very many windows installations.

[2019-04-23 11:47] LeoMustafaNXP commented on #7360
@davids5 attached you find the files captured with usbview.
[USBView_FMUK66_Bootloader_Leo.TXT](https://github.com/mavlink/qgroundcontrol/files/3107320/USBView_FMUK66_Bootloader_Leo.TXT)
[USBView_FMUK66_Leo.TXT](https://github.com/mavlink/qgroundcontrol/files/3107321/USBView_FMUK66_Leo.TXT)

[2019-04-23 20:39] davids5 commented on #7360
Thank you @LeoMustafaNXP & @jarivanewijk

@DonLakeFlyer The VID is NXP's 0x1FC9 and the PID is 0x1c. Where is the VID checked in the code and is it just 3DR's VID that is checked for?

[2019-04-24 08:01] jarivanewijk commented on #7360
@davids5 @DonLakeFlyer

I found these two VID/PID definitions:
[/src/comm/USBBoardInfo.json](../blob/master/src/comm/USBBoardInfo.json)
[/src/VehicleSetup/Bootloader.h](../blob/master/src/VehicleSetup/Bootloader.h)

In both VID and PID seem to be correct for NXPhlite. Also, if they were not defined correctly, wouldn't that also cause issues on all operating systems? We have no issues on Linux.

[2019-04-24 12:44] davids5 commented on #7360
@jarivanewijk  As @igalloway says:  Is windows 10 Just not enumerating fast enough? A quick test would be to reboot and stay in the bootloader. On the console `reboot -b" Second thing to now is the description has changed.

Bootloader is "PX4 BL NXPHlite v3.x"
App is            "PX4 FMUK66 v3.x"

[2019-04-24 16:01] DonLakeFlyer commented on #7360
That is correct. A missing VID/PID will cause QGC to not recognize the board. It will not cause the board to fail at bootloader sync.

[2019-04-25 18:34] #7355 closed

[2019-04-26 09:53] jarivanewijk commented on #7360
@davids5 I did use "reboot -b" command when logging the USB info with usbview. At the time, I didn't think about checking if firmware upgrade would work when I rebooted the board into bootloader this way. I think this is what you suggested to check as well?

So, I gave it a try now. Still doesn't work. With or without external power. See error below.
![image](https://user-images.githubusercontent.

[2019-04-27 12:45] sfalexrog opened #7382 "QGroundControl 3.5.1 won't start on Ubuntu 16.04"
QGroundControl v3.5.1 for Linux (packaged as an AppImage) won't start on Ubuntu 16.04.6 LTS due to missing `libicui18n.so.56`. Current ICU package version for Ubuntu 16.04.6 is 55.

## Expected Behavior
QGroundControl should launch.

## Current Behavior
QGroundControl fails to launch with the following message:

[code]

## Steps to Reproduce:

1. Update packages on Ubuntu 16.04 to their latest ver

[2019-04-27 12:54] jnunezortuno commented on #7382
Also here with:

Operating System: Ubuntu 18.10 (cosmic)
QGC Version: 3.5.1

Have no problems with previous 3.5.0 version

[2019-04-27 13:12] sfalexrog commented on #7382
Looks like the bundled Qt libraries link explicitly to `libicui18n.so.56`, `libicuuc.so.56` and `libicudata.so.56`. The AppImage used to contain these libraries with their version suffixes, but now it contains these libraries without the suffixes.

I've tried unpacking the AppImage and creating symlinks for the missing files (`libicudata.so.56 -> libicudata.so`, `libicui18n.so.56 -> libicui18n.so`

[2019-04-27 15:24] rollysing commented on #7367
@DonLakeFlyer

v3.5.1 Crash Dumps
https://1drv.ms/f/s!Ar66Lk6yrxscgjKW3SjU_oPLtz4p

[2019-04-27 16:24] IeiuniumLux commented on #7382
I'm also using Ubuntu 16.04.6 LTS and QGC 3.5.1 just failed with the same error when I tried to launch it.

`libicui18n.so.56: cannot open shared object file: No such file or directory`

[2019-04-27 17:14] DonLakeFlyer commented on #7382
So is it ok to just revert the commit listed above? The pull is here: https://github.com/mavlink/qgroundcontrol/pull/7222. If I revert that will anything else go wrong for normal usage?

Folks who want to run different libicui will need to manually symlink magic themselves I think but regular users will work fine.

[2019-04-27 17:57] bys1123 commented on #7382
But I tried latest version few days ago, works fine.

[2019-04-27 18:16] sfalexrog commented on #7382
Just tried to build an AppImage from current master (https://github.com/mavlink/qgroundcontrol/commit/e2b3a235facd2bcfceb78f6de80f6adb19fd1d89 at the time of writing); curiously enough, it has `libicu*.so`, `libicu*.so.56` and `libicu*.so.56.1` files that are seemingly identical, and it works just fine, although it's somewhat larger than the release AppImage (possibly due to `libicu*` duplicates).

[2019-04-27 18:35] sfalexrog commented on #7382
@DonLakeFlyer, I believe this is the commit that "fixes" this bug: https://github.com/mavlink/qgroundcontrol/commit/aab353a0e032b196d3f55eb2299f7383f2c8e374 - although there will be several copies of icu libraries in the AppImage, making it somewhat larger (~100 MB vs ~75 MB).

[2019-04-27 19:35] DonLakeFlyer commented on #7382
@sfalexrog Could you create a pull against Stable_V3.5.1 branch which brings that across?

[2019-04-27 20:22] DonLakeFlyer commented on #7382
Also if Qt connects directly to .56 version then why include *.so in the AppImage. Qt won't reference it will it? Now that I say that I'm not conviced master is correct either.

@stefandunca @sithlord48 Including folks from original changes.

[2019-04-27 20:23] DonLakeFlyer commented on #7382
I think at a minimum I'm going to revert Stable_V3.5.1 then we can figure out the right thing to do to make all people happy on master.

[2019-04-27 22:14] DonLakeFlyer commented on #7382
Can one of you guys verify that this build works for you: https://s3-us-west-2.amazonaws.com/qgroundcontrol/builds/Stable_V3.5.1/QGroundControl.AppImage

[2019-04-28 01:14] maciek01 commented on #7382
@DonLakeFlyer   https://s3-us-west-2.amazonaws.com/qgroundcontrol/builds/Stable_V3.5.1/QGroundControl.AppImage works fine now - thanks for quick response. (18.10 LTE)

[2019-04-28 11:26] sgofferj opened #7387 "Linux: Speech output wrong, possible wrong or undefined language"
## Expected Behavior
Speech output should be pronounced correctly in English

## Current Behavior
Speech output sounds funny. E.g. "throttle below fa-il-sah-feh" or "Hard-wah-re sah-feh-tee switch".
[speech.zip](https://github.com/mavlink/qgroundcontrol/files/3124903/speech.zip)

It looks like QGC doesn't tell speech-dispatcher which language engine to use. I am in Finland, so it is possible that

[2019-04-28 17:36] kikislater commented on #7382
Same on archlinux : icu is version 64 ...

[2019-04-28 17:43] DonLakeFlyer commented on #7382
@kikislater Which means what the new link I posted is not working for you? Archlinux isn't really supported as a tested build.

[2019-04-28 17:49] kikislater commented on #7382
Tested on appimage 3.5.1
Shown you 3.5.2 afterwards, have to test, I will tell you ...
A nice guy from Australia maintain packages at this time (si I run it Iwithout problem just to signal, don't be angry) but I assume appimage will be fine and does not depend in distribution

[2019-04-29 14:52] RichLewis007 commented on #7320
Thanks for the reply. As an Open Source project, shouldn't the location and contents of the px4driver software be more transparent? Maybe forked to a Mavlink owned repo? As it is, when we install QGroundControl the px4driver software is installed on our system without our permission, explanation, or indication of where it comes from and what it does.

[2019-04-29 15:37] DonLakeFlyer commented on #7320
Huh? The drivers have there own install UI which says what they are and you can cancel if you like.

[2019-04-29 16:01] dogmaphobic commented on #7320
It's an USB->Serial (COM Port) "driver". This is present in all platforms but Windows, hence the need to install the "driver".

[2019-04-29 21:10] sfalexrog commented on #7382
@DonLakeFlyer Sorry for taking so long. I've just tried the build you've linked, and it works on my Ubuntu 16.04 and 18.04 just fine!

I'm not quite sure what the original P/R authors wanted to accomplish. My guess is that the first P/R (the one that removed the version suffix from `libicu*`) was intended to allow developers to use their system Qt and icu builds; but it probably wouldn't produce p

[2019-04-29 23:45] Antiheavy commented on #4290
+1 for this request again.  This is useful for many use cases, including in telemetry log replay of problem flights.

[2019-04-30 08:03] RichLewis007 commented on #7320
Thanks for the info! In trying to find the source for this executable that Windows users typically install during the installation of QGC, px4driver.msi, I searched the MissionPlanner repo:

https://github.com/ArduPilot/MissionPlanner/search?q=px4driver&unscoped_q=px4driver

I searched the other ArduPilot and PX4 repos for this source code, without results.

I guess you got the latest version of t

[2019-04-30 14:38] nconrad841 opened #7396 "QGroundControl 3.5.2 (Win10) crushes when trying to upgrade firmware"
## Expected Behavior
Starting QGC 3.5.2 under Win10. Pixhawk4 plugged via USB.
Going in QGC to Firmware -> unplug and afterwards plug in the Pixhawk 4 is should start to upgrade the firmware

## Current Behavior
QGC crushes after Pixhawk 4 plug in. There is no crush report for more information.

## Steps to Reproduce:
1. Plug in Pixhawk 4 via USB
2. Start QGC 3.5.2
3. Go to Firmware
4. Unplug Pixh

[2019-04-30 14:40] FlavioTonelli opened #7397 "GeoFence crash on MacOS"
I can let QGroundControl V3.5.1 crash every time performing the following steps:
1) Open QGroundControl
2) Open the Plan View
3) Open the Fence Planning window
4) Connect a Pixhawk board running PX4 1.8.2
5) Click on the Polygon Fence button
6) Click on one of the polygon edges. The UI shall pop up a menu.
7) Close the menu (Clicking back on the map)

The application output the error QObject::conn

[2019-04-30 15:50] DonLakeFlyer commented on #7397
Crap, this looks to be a Qt bug with Menu qml.

[2019-04-30 15:56] DonLakeFlyer commented on #7320
Your going to to have ask the Mission Planner folks those question since they produce this.

[2019-04-30 16:28] DonLakeFlyer commented on #4290
I just wondering if non-power users will have any idea what to do with this?

[2019-04-30 16:28] DonLakeFlyer commented on #4290
The data is there. You can turn it on before playing back the log.

[2019-04-30 16:29] DonLakeFlyer commented on #4290
Oh, wait my bad. The problem here is that Throttle % is not available for use even if you add it manually.

[2019-04-30 16:34] DonLakeFlyer commented on #7382
Thanks for reporting back. Stable works now so closing.

[2019-04-30 16:34] #7382 closed

[2019-04-30 16:46] DonLakeFlyer commented on #7396
Doesn't repro for me.

Can you get a crash dump file as shown here: https://docs.qgroundcontrol.com/en/Support/Support.html

[2019-04-30 17:53] DonLakeFlyer commented on #7397
Stable build updated. Will go out when I pull the trigger on 5.3.3. Daily Build fix should be available by tomorrow.

[2019-04-30 17:53] #7397 closed

[2019-04-30 17:53] DonLakeFlyer commented on #7397
@FlavioTonelli And thank you for the bug report.

[2019-04-30 23:12] davids5 commented on #7360
@igalloway @LeoMustafaNXP @jarivanewijk - I started looking  at this today. 2 issues I saw are the a) the Name and b) more important the serial number. The change in serial number causes the the device to enum on COMx for the bootloader and COMy for the application.  After fixing that I see consistent enumerations but today's daily of QGC dose not work on my Windows set up with ANY flight controll

[2019-04-30 23:43] XAS-712 opened #7401 "QGroundControl v3.4.3（iOS version） doesn’t change language as system settings"
The following template is for Issue/Bug reporting only. https://docs.qgroundcontrol.com/en/Support/Support.html#github-issues

For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

If you are using an old stable release please upgrade first and verify your issue before reporting.
----

## Expected Behavior
Please tell us what should happen as detailed as possible.

[2019-05-01 01:51] XAS-712 opened #7402 "[iOS] Version is too old"
This system is for posting bugs or feature requests ONLY. For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

The iOS version in App Store is very old.
Now the release is @3.5, but iOS version in App Store is still 3.4.3.

- - -
When posting bug reports, include the following informaiton:

* Ground station operating system. **iOS**
* QGroundControl version and bu

[2019-05-01 01:53] XAS-712 commented on #3509
Hi, I am using v3.4.3 from App Store now. But the latest version is v3.5.
Could you please update it to the latest version?

[2019-05-01 16:39] sgofferj opened #7405 "No terrain data (for Finland?)"
## Expected Behavior
QGC should get terrain data and send it to the MAV

## Current Behavior
QGC says "Plan is waiting on terrain data from server for correct altitude values".
Console is full of "Error in fetching elevation tile. Empty response."

## Steps to Reproduce:
Please provide an unambiguous set of steps to reproduce the current behavior
1. Plan a mission with altitude over terrain
2. Loc

[2019-05-01 16:47] DonLakeFlyer commented on #7405
Can you attach a Plan file for the area without using terrain?

[2019-05-01 16:51] sgofferj commented on #7405
[plan.zip](https://github.com/mavlink/qgroundcontrol/files/3135224/plan.zip)

[2019-05-02 09:16] nconrad841 commented on #7396
Here are some dump files of this crash.
https://drive.google.com/open?id=1lMPkhYdHl5mgtp7_BVdq0sXEDdLMC7A1

[2019-05-02 23:55] DonLakeFlyer commented on #6832
This should all be cleaned up now.

[2019-05-02 23:55] DonLakeFlyer commented on #6808
I switched back to regular sliders like it was before.

[2019-05-02 23:55] #6808 closed

[2019-05-03 00:28] Antiheavy opened #7408 ""Max telem dist:" updates inconsistently"
Bug:
When moving a Survey with the center ball or when moving the Planned Home with a Survey in the mission, the "Max telem dist" does not update consistently.  If you move large distances it will update, but seemingly not correctly.

Moved the Planned home and the Survey and the "Max telem dist" does not change:

![image](https://user-images.githubusercontent.com/12117027/57114723-2e960a00-6d10-1

[2019-05-03 08:02] jarivanewijk commented on #7360
Bootloader side seems to be fixed now, thanks @davids5! Firmware upgrade (custom firmware option) through QGroundControl is working on both Windows and Linux. @LeoMustafaNXP - can you also try on macOS?

What is still not working is using the Stable / Beta / Developer builds downloaded by QGroundControl. It will give the error "Unable to find specified firmware download location". Seems like the P

[2019-05-03 08:20] eifel2006 opened #7410 "wrong mission time in android app"
![pc](https://user-images.githubusercontent.com/50231028/57126297-2af89680-6d95-11e9-9b7f-457d1f17e769.png)
![android](https://user-images.githubusercontent.com/50231028/57126298-2af89680-6d95-11e9-89df-10add7a1635e.png)
As you can see, the same mission in android app 2 times longer than in pc app

[2019-05-03 08:33] LeoMustafaNXP commented on #7360
The new Bootloader seems not to work on macOS. I can not flash the FMU over QGC. The Bootloader is not recognized in QGC.

[2019-05-03 09:57] DavidMackie opened #7411 "Calibration GUI doesn't load on Android"
**Expected Behavior**
When calibrating I expect the full GUI to be shown on the placement of the vehicle.
![Screenshot_20190430-163619](https://user-images.githubusercontent.com/40562170/57130657-76617380-6d9a-11e9-8dd5-64865b8ca120.jpg)

**Current Behavior**
On occasions the GUI won't load and get only text feeback.
![Screenshot_20190430-163347](https://user-images.githubusercontent.com/40562170/

[2019-05-03 10:32] davids5 commented on #7360
Thank you @jarivanewijk and @LeoMustafaNXP !

I will look at it on the Mac next week.

see https://github.com/PX4/Firmware/pull/11953

[2019-05-03 12:18] yutaoliu opened #7412 "Improve scroll-ability of log replay slider"
QGroundControl version 3.5.0 (stable) running in Ubuntu 18.04.

The slider for replaying tlog has very poor time resolution i.e. I can only drag it to start the log replay from a couple of locations. @DonLakeFlyer says this is a bug and it should be able to start from any location.

[2019-05-03 12:24] igalloway commented on #7360
Hi all
We had the .inf files modified and signed. How do we get this integrated
into the QGC distribution? Leo could you send/post the files?

On Fri, May 3, 2019, 6:33 AM David Sidrane <notifications@github.com> wrote:

[2019-05-03 12:32] LeoMustafaNXP commented on #7360
Attached are the modified and signed .inf files.
[cert_procedure.zip](https://github.com/mavlink/qgroundcontrol/files/3141849/cert_procedure.zip)

[2019-05-03 14:37] eifel2006 commented on #7410
when you switch to mission design, 28 minutes 48 seconds are automatically calculated.

[2019-05-03 16:00] DonLakeFlyer opened #7413 "Plan files with DO_SET_ROI show item in Show All Values"
This is because although DO_SET_ROI is supported by PX4, QGC is setup to use the new ROI commands for PX4. Need to change architecture to be able to show commands with good ui for any command.

[2019-05-03 16:09] DonLakeFlyer commented on #7411
This is because QGC depends on seeing the single "calibration started: ..." message which is sent from the vehicle. Without that it doesn't know if it can show visual calibration or not. On iffy telemetry this message could be lost on the way from vehicle->qgc. That is why you are only seeing this happen once in a while. You should check you mavlink loss rate in the Mavlink page. I would guess you

[2019-05-03 16:09] #7411 closed

[2019-05-03 16:26] eifel2006 commented on #7410
I have 3.5.2 stable and last daily from 2019.05.02. The same problem - 28min 48sec in new mission

[2019-05-03 17:21] DonLakeFlyer commented on #7410
Can you attach the plan file

[2019-05-03 17:26] eifel2006 commented on #7410
It doesn't matter. Flight plan from PC have +28.48 on android, and flight plan from android is right on PC.
Flight plan here: https://yadi.sk/d/uaAO1P3pSw0fMg

[2019-05-03 17:41] eifel2006 commented on #7410
I was try it on alcatel one touch idol3, xiaomi redmi 4, xiaomi redmi note 4x.

[2019-05-03 18:13] DonLakeFlyer commented on #7412
Can you give me a link to a telemetry log which shows this behavior? I just tried it myself and as able to set the slider all over the place.

[2019-05-03 20:22] #7413 closed

[2019-05-04 12:22] Antiheavy commented on #7412
really?  The slider has never worked properly for me, always as @yutaoliu describes above.  Might it behave differently in Windows (my OS) or other versions?

Hence this related feature request: https://github.com/mavlink/qgroundcontrol/issues/5730

[2019-05-04 12:39] Antiheavy commented on #4290
I see "throttle" in the MAVLink Inspector under VFR_HUD section.  Can that be added to the list of available "Values" to turn on/off?

[2019-05-04 13:43] AGurel opened #7416 "(Android)Initial Time Value Issue in Flight Plan Tab"
For android devices, in Flight Plan tab, initial time value is 01:00:00. However in other devices no problem.

I solve it as below;

In src/PlanView/PlanToolBar.qml file, line 78, i added the bold section. In debug mode, i saw that _missionTime's value is NaN, but after click Flight Plan tab the _missionTime's value is 0.

function getMissionTime() {
 if(isNaN(_missionTime) **|| _missionTime == 0*

[2019-05-04 15:44] DonLakeFlyer commented on #7412
Even recently? I fixed a lot of stuff with time positioning in replay a while back. I also think there may be some issue with Mavlink 1 versus Mavlink 2 streams, but not surel. Hence I need a log which shows the problem. Just SITL logs work fine.

[2019-05-04 17:11] Antiheavy commented on #7412
Yes even recently. We are still using mavlink 1. Maybe it is time to change to 2. I’ll find a log and attach it here.

[2019-05-04 19:37] rollysing commented on #7367
@DonLakeFlyer Thinking about some more of graphics driver crash. Here are the specs of the laptop/tablet display. FYI... Mission Planner installs and runs without any issue.

- Intel HD Graphics 515 Display adapter with Driver Date 2/7/2019 Driver Version 25.20.100.6576
- Resolution: 2160 x 1440
- Text size: 175%

Hope this helps to point to possible resolution.

Thanks.

[2019-05-04 21:05] DonLakeFlyer commented on #7367
Yeah Intel graphics cards are usually the ones which cause problems. Their OpenGL driver sucks. Which is why those additional statup modes were added. Which have always worked in the past. Can you capture crash dumps from those two additional startup modes as well. Maybe those broke somehow.

[2019-05-05 15:44] Antiheavy commented on #7412
[2019-04-29 15-15-17.zip](https://github.com/mavlink/qgroundcontrol/files/3145719/2019-04-29.15-15-17.zip)

short example log attached.  scanning and scrubbing is sort of weird even with the newest Daily build.

[2019-05-05 15:59] LorenzMeier opened #7420 "Log replay / video capture"
Log replay can be helpful to understand what the user saw during a certain interaction. However, skipping back and forth is difficult as the statefulness of the log needs to be handled. Instead of trying to master this difficult problem, we should consider to instead capture the screen of the flight view of the whole flight (potentially accelerating replay). The video then can be used to step thro

[2019-05-05 18:45] rollysing commented on #7367
@DonLakeFlyer Here are the Compatibility and Safe Mode crash dumps. Hope this points you to the right direction for the resolution.
https://1drv.ms/f/s!Ar66Lk6yrxscgjKW3SjU_oPLtz4p

[2019-05-07 15:44] jarivanewijk commented on #7360
@DonLakeFlyer - Could you maybe help us?

The NXP FMUK66 VID/PID are not yet integrated into the PX4 Windows drivers that are included with the QGroundControl installer. Months ago, NXP was asked to provide instructions or sign the modified driver. I don't know the details of what was asked and why, but I think @LeoMustafaNXP provided the required files.

I think we are lost. What do we need to do

[2019-05-07 16:08] DonLakeFlyer commented on #7360
QGC uses the Windows drivers which are built and come from Mission Planner. You'll need to talk with the Mission Planner folks about getting them updated. And then let me know when that is done and I'll pull a new version from MP.

[2019-05-07 16:38] DonLakeFlyer commented on #7367
@dogmaphobic Do you have new qgc4 windows builds available? I'd be curious to see if full native qml works around these OpenGL windows crashes.

[2019-05-07 16:47] dogmaphobic commented on #7367
My Windows build system got hosed the last time I "upgraded" Qt. I need to get that fixed. I'll let you know...

[2019-05-07 16:48] DonLakeFlyer commented on #7367
If you could get an installer to @rollysing to try that would be great.

[2019-05-07 18:05] dogmaphobic commented on #7367
@rollysing, here we go: https://drive.google.com/file/d/1cqnzPrZfFnyiWgybXwaxQ7UQJ6ImCJtb/view?usp=sharing

Note that this is a new, under development branch. It matches master but certain things are missing (such as log replay, charting, etc.)

[2019-05-07 21:44] rollysing commented on #7367
@dogmaphobic @DonLakeFlyer Nope, it was the same as the regular install. Here are the crash dumps of all 3 program versions.
https://1drv.ms/f/s!Ar66Lk6yrxscgj9bneTfx42JAJiC

[2019-05-08 18:50] jstrebel opened #7425 "Import of mission files from OSX to Android does not work"
On both sides I have 3.5.2. I get a error message on the Android QGC: Error loading Plan file (/storage/emulated/0/QGroundControl/Missions/rene_u_urs.plan). Mission: The following required keys are missing: ValueSetIsDIstance,ImageDensity,FrontalOverlap,SideOverlap
I added two files. The file rene... was created with 3.5.0 and the file 7-mai.... created with the 3.5.3 on OSX
[rene_u_urs.plan.zip](

[2019-05-08 21:08] DonLakeFlyer opened #7426 "Android: Ton of joystick crashes"
From Google Play...

java.lang.UnsatisfiedLinkError:
  at org.mavlink.qgroundcontrol.QGCActivity.nativeUpdateAvailableJoysticks (Native Method)
  at org.mavlink.qgroundcontrol.QGCActivity.access$800 (QGCActivity.java:65)
  at org.mavlink.qgroundcontrol.QGCActivity$3.onReceive (QGCActivity.java:169)
  at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$getRunnable$0 (LoadedApk.java:1483)
  at a

[2019-05-09 04:35] rmackay9 opened #7427 "Rally point upload/download sometimes "not supported""
ArduPilot is adding support for the MISSION_ITEM protocol (PR is here:https://github.com/ArduPilot/ardupilot/pull/10409) but during testing with QGC we are finding that, for whatever reason, QGC is often (but not always) showing "This vehicle does not support Rally Points".

Here it is not working:
![QGC](https://user-images.githubusercontent.com/1498098/57427356-824baa80-725e-11e9-877a-ee0895d24d

[2019-05-09 05:25] rmackay9 commented on #7427
I wonder if perhaps QGC is not requesting the AUTOPILOT_VERSION using MAV_CMD_REQUEST_AUTOPILOT_CAPABILITIES because I'm seeing this odd behaviour:

1. Start board and QGC and connect - it will not be possible to upload rally point
2. Shutdown QGC, connect with MP
3. Disconnect MP, re-connect with QGC - it will be possible to upload rally points

[2019-05-09 06:27] peterbarker commented on #7427
The first two lines of output here are my debug:

[code]

[2019-05-09 14:44] fingadar commented on #7125
The use of a rangefinder with qGroundControl and Ardupilot would be perfect. In my case also, this is  is one of the main reasons that we are forced to use Mission Planner instead of QGC today.

[2019-05-09 22:01] yuenlm commented on #5260
Are there any plans to support multiple RTSP streams in QGC? I am running v3.5.0 and it appears you can only select one RTSP Stream at a time.

[2019-05-10 00:11] dogmaphobic commented on #5260
The code is already there but there isn't yet any UI to set it up. It can now handle multiple streams but having one at a time. QGC will need UI support for displaying more than one at the same time. Also, this only works for cameras that support the camera API. There is no support for manually configured cameras.

[2019-05-10 02:51] yuenlm commented on #5260
Ah thank you! I was wondering from your earlier comment "This is all done" if the UI had been finished in some other spot.

Just to clarify my usage, I am adding the RTSP in the following way:

![Screen Shot 2019-04-10 at 2 10 39 PM](https://user-images.githubusercontent.com/5339868/57498390-ee4b0480-7298-11e9-819a-42129b1c19c4.png)

I am not sure what you mean by manually configured cameras - I b

[2019-05-10 11:32] dogmaphobic commented on #5260
This is already there:

<img width="1039" alt="Screen Shot 2019-05-10 at 7 22 04 AM" src="https://user-images.githubusercontent.com/749243/57524019-993cdc00-72f4-11e9-8fbd-718338be9c59.png">

But all this requires an "intelligent" camera controller running the [MAVLink camera API](https://mavlink.io/en/services/camera.html). That's how both camera and video are discovered and self configured.

Als

[2019-05-10 16:24] DonLakeFlyer commented on #7125
Not sure what you are referring to. That case should work fine since it doesn't require reponding to TERRAIN_REQUEST messages. At least as far as I understand.

[2019-05-10 16:26] DonLakeFlyer commented on #7427
@peterbarker I probably won't be able to get to this till the weekend. If you can repro easily did you double check AUTOPILOT_VERSION capability bits in mavlink inspector to make sure they are set correctly all the time?

[2019-05-10 16:33] DonLakeFlyer commented on #7427
@peterbarker So even in the cases where rally points ui say not support your debug output says "it is supported"?

[2019-05-10 16:34] DonLakeFlyer commented on #7427
@peterbarker Sorry, duh, I'm a moron I see it now. Trying to get some comments in fast before I head out.

[2019-05-10 17:59] yuenlm commented on #5260
Ohhhh OK! This really clears things up!

Thank you very much!

[2019-05-10 19:05] Junkim3DR commented on #7360
### Tested on NXP FMUK66 with LJI X4 500 frame

**Procedure:**
- Windows
1 - Updated drivers as described in: https://nxp.gitbook.io/hovergames/userguide/qgroundcontrol/windows-drivers
2 - Opened QGC and attempted to flash FUK66 with Master firmware, but "Upgrade Cancelled" message popped up.
3 - Repeated procedure 3 times, but same result every time.
-Mac
1 - Tried to flash FUK66 with Master firm

[2019-05-10 23:38] peterbarker commented on #7427
On Fri, 10 May 2019, Don Gagne wrote:

Thanks for looking at this.

I believe it comes down to which version of mavlink QGC thinks the
autopilot is capable / doing - I think the capa bits are just fine.

Note that ArduPilot doesn't support the "get protocol version" message
(and it wasn't met with a vast amount of enthusiasm when it was brought up
at a devcall), so QGC is relying on other means to

[2019-05-11 02:39] DonLakeFlyer commented on #7427
The QGC code checks for the capability bit as well as mavlink 2 on the link. So there is a bug in the mavlink 2 detection which should still work without the protocol version stuff.

[2019-05-11 07:18] olliw42 opened #7430 "Param Write for Mavlink Components wrong"
## Expected Behavior
when writing a parameter of a component, the new value should be converted into the MAVLink PARAM_SET message using the mavlink_param_union_t structure, which results in a typecast, and not just set be coding param.value = newvalue, which results in a conversion to float.

For instance, a parameter of type UINT8 and of new value 71 should lead to bytes '0x47 0x00 0x00 0x00' in

[2019-05-11 20:18] DonLakeFlyer commented on #7430
This is extremely relevant in this case. ArduPilot does not support mavlink_param_union_t. All params are sent over the wire as float no matter what type they are. This is all working correctly with respect to how ArduPilot works.

[2019-05-11 20:32] olliw42 commented on #7430
no, you are wrong
it has nothing to do with ArduPilot, it all has ONLY to do with QGC!
ArduPilot is NOT modifying the content of these messages at all, it is only routing it from QGC to the component and back from the componet to QGC.

frankly, I think you just want to scrub it off quickly following a reflex, while thinking logically would be more appropriate

miracously it's working correctly wit

[2019-05-11 20:39] DonLakeFlyer commented on #7430
Right, sorry this is a component not the main autopilot.

When you are the sole person who looks at incoming issues and 99% of the ones entered are not real issues that can be a difficult thing to do. Sorry about that.

[2019-05-11 20:39] olliw42 opened #7431 "Param Write for Mavlink Components wrong"
In contrast to the statement in #7430 the following has nothing to do with ArduPilot, since ArduPilot is not modifying messages which it routes from the GCS to the component and vice versa. I thus reopen.

## Expected Behavior
when writing a parameter of a component, the new value should be converted into the MAVLink PARAM_SET message using the mavlink_param_union_t structure, which results in a t

[2019-05-11 20:43] DonLakeFlyer commented on #7431
Why another one? #7430 is fine.

[2019-05-11 20:45] olliw42 commented on #7430
well, I perfectly understand what you're saying
but, you know, the basic argument that ArduPilot wouldn't consider the union has been true several years ago but isn't anymore since a long while ... ;)

I didn't expected this to be reopenable again, so I've created a new issue. I close this here.

:)

[2019-05-11 20:45] #7430 closed

[2019-05-11 20:56] DonLakeFlyer commented on #7431
Can you attach a telemetry log for a connect to this vehicle which has the parameter download in it? I want to double check what it looks like with respect to component and system id for the gimbal to make sure I get the case correct.

[2019-05-11 20:59] olliw42 opened #7433 "Bug or Feature: CameraInfo is requested for any component, not only cameras"
QGC appears to request the CameraInformation message from a component, irrespective of its type or ID, pl see the attached screenshot for a case there I had a component set to ID 152 (any other would work equally)
![GQC-requestCameraInfo](https://user-images.githubusercontent.com/6089567/57574749-f5ac1280-743e-11e9-9f28-07924949f01e.jpg)

From the MAVLink docs I would not have expected this to hap

[2019-05-11 21:09] DonLakeFlyer commented on #7433
@dogmaphobic Gus?

[2019-05-11 21:21] olliw42 opened #7434 "Improvement: Display Camera Available Space also if only CameraCaptureStatus is available"
#current behavior
QGC nicely serves the camera micro-service, and displays the available capacity of the camera.

The behavior is related to the two message pairs MAV_CMD_REQUEST_STORAGE_INFORMATION -> STORAGE_INFORMATION and MAV_CMD_REQUEST_CAMERA_CAPTURE_STATUS -> CAMERA_CAPTURE_STATUS.

However, STORAGE_INFORMATION appears to be requested only once at the beginning as part of the camera identif

[2019-05-11 21:26] DonLakeFlyer commented on #7427
@peterbarker I built your branch and tried it in SITL but it's not reporting rally points as a set capability bit. Do I need to do something else to turn it on? Maybe I have something screwed up in my SITL build, not sure.

[2019-05-11 21:30] olliw42 commented on #7431
you mean a tlog in the QGroundControl/Telemetry folder?
I was actually trying to look at this, but I could not find a log in there which would have a time stamp which remotely would have matched to when I did this
do I have to actively save the log?
some brief instructions could be helpful, I'm unfortunately not yet very familiar with QGC

[2019-05-11 21:33] DonLakeFlyer commented on #7431
Yup. You can always just empty out the folder. The telemetry log by default will only write out if you arm the vehicle. You can change it to write out without arming if you need to from General settings.

[2019-05-11 21:45] olliw42 commented on #7431
many thx

here we are:
[2019-05-11 23-39-32.zip](https://github.com/mavlink/qgroundcontrol/files/3169495/2019-05-11.23-39-32.zip)

what I did:
I connected to the vehicle
I when went to the component's 154 parameters, and did a refresh
I when entered the value 71 into the CAN_UCNODEID field (I took this field since it's noncritical for the gimbal operation)

you should be able to see the above: i.e

[2019-05-12 10:06] davids5 commented on #7360
@Junkim3DR you will need to replace the bootloader with https://github.com/PX4/Bootloader/pull/133 @igalloway  FYI.

[2019-05-12 10:30] peterbarker commented on #7427
On Sat, 11 May 2019, Don Gagne wrote:

To be clear, you are expecting this bit, right?

https://github.com/ArduPilot/ardupilot/pull/10409/files#diff-4f15a04337259328467a92d8e35bab2fR4886

That bit did seem to be being set for me - and things have always worked
for me in QGC run from SITL...

[2019-05-12 11:11] davids5 commented on #7360
@LeoMustafaNXP I tested on Mac mini.
![image](https://user-images.githubusercontent.com/1945821/57581346-0b373180-746b-11e9-93c9-4c900bfb04f3.png)

![image](https://user-images.githubusercontent.com/1945821/57581361-433e7480-746b-11e9-8569-4919e06d1788.png)

Please insure you updated the bootloader and retest and post images of results here.

[2019-05-12 17:01] DonLakeFlyer commented on #7427
My screwup with wrong PATH environment variable for SITL.

In the case where you see this happening do you get a "Communication Lost" while connecting which then goes away?

[2019-05-12 17:41] DonLakeFlyer commented on #7427
@peterbarker Are you building QGC. If so can you try this. Remove this line and try again:
https://github.com/mavlink/qgroundcontrol/blob/master/src/Vehicle/Vehicle.cc#L2797

[2019-05-12 18:26] DonLakeFlyer commented on #7431
I'm still waiting for clarification as to how to handle this from ArduPilot folks. So far not clear at all.

[2019-05-12 20:09] tops4u commented on #7140
Same Issue here... Thanks!

[2019-05-12 20:14] tops4u opened #7436 "Survey not centered. Why?"
When using Survey it will not center Flightpath. If I specify a Spacing of 20m I would expect that it will for sure cover a corridor of 20m. But if the border of the Survey is just 19.5m away then I would miss 9.5m of the Survey Area.

Illustration:
As you can see on the East-North-East side there is no additional Flightpath. Also the Flighpath is not centered, on the west part it is much to close

[2019-05-12 23:09] hamishwillee commented on #7430
FYI @olliw42 Incorrect. Fortunately Tridge is working on a new param protocol that uses a completely different approach. I think it will be sufficiently good improvement that it will go into common and supersede the current protocol.

[2019-05-12 23:26] peterbarker commented on #7427
On Sun, 12 May 2019, Don Gagne wrote:

No, I've never seen that one.  But it could certainly happen with the way
SITL's startup works (we reboot some of the vehicles to let certain
parameters take effect).

[2019-05-13 00:27] peterbarker commented on #7427
On Sun, 12 May 2019, Don Gagne wrote:

I tried commenting that one out:

          } else if (!active && !_connectionLost) {
-            _updatePriorityLink(false /* updateActive */, false /*
sendCommand */);
+            ::fprintf(stderr, "not updating PriotityLink");
+            // _updatePriorityLink(false /* updateActive */, false /*
sendCommand */);

That codepath doesn't seem to be crossed

[2019-05-13 09:39] LeoMustafaNXP commented on #7360
@davids5 now it works also on MacOS. Great work.

[2019-05-13 13:35] Ahmad-Drak commented on #6598
Hey @DonLakeFlyer @bkueng, now that @barchstien has since moved from working on this to something else, will Emlid still be supported?

[2019-05-13 13:59] barchstien commented on #6598
Unfortunately I have no resources at the moment for both dev and tests. My team has moved to using ardupilot, so I don't think I'll be able to test any PX4 in the coming future
Thought the part of code that is missing, is quite small
QGC already connects or accept TCP/UDP connections
The idea would be to add a checkbox in the Connection config, so that data received is not directly routed as mavli

[2019-05-13 15:22] dogmaphobic commented on #7434
This will require some thought. It was designed with the idea that the camera storage is in place by the time the ground station connects and it won't change during the session. If you are to insert/remove a microSD card for instance, there are no mechanisms to handle this. If `storage_total_capacity` is 0, that means _No Storage_. We will need a way to dynamically be notified of storage changes s

[2019-05-13 16:11] fingadar commented on #7125
I did some tests yesterday. The copter was equipped with a Lightware SF11 and Arducopter 3.6.8. The starting point was at 400m ASL. I defined a simple mission with one waypoint app. 16m lower, at 384m ASL.
Flight 1: Defined the waypoint in qGroundControl as 40m above terrain, takeoff height 40m: The Copter took of to 40m AGL, then proceeded to the waypoint and descended down to 26m AGL. Mission Pl

[2019-05-13 16:57] DonLakeFlyer commented on #7125
That sounds like you are using "Above Terrain" for the altitude. That means it will be calculated from the terrain database and just an AMSL alttiude to that. If you want to use Lidar with ArduPilot you need to use "Terrain Frame" instead.

[2019-05-13 17:01] DonLakeFlyer commented on #7427
Ah, bummer. Still digging then. There is some sort of race condition I can't find yet.

[2019-05-13 17:27] fingadar commented on #7125
I do not have a "Terrain Frame" option (Android Daily or OSX Daily)?
Just "Relative To Home", "Above Mean Sea Level" and "Above Terrain"

[2019-05-13 17:32] Williangalvani opened #7440 "Telemetry files are named with the time of when they finish, not when they start."
## Expected Behavior
The files should be named with the time when the telemetry started being recorded.

## Current Behavior
Right now the files are being saved with the timestamp of when the connection is [closed](https://github.com/mavlink/qgroundcontrol/blob/master/src/QGCApplication.cc#L627).

## Steps to Reproduce
 - Open QGC connected to a vehicle
 - Wait a few minutes
 - Close QGC
 - Look a

[2019-05-13 17:36] Ahmad-Drak commented on #6598
@barchstien unfortunately i do not have the needed expertise to easily whip up what you just described. I do offer my help in testing, should anyone need it.
If I understood correctly, you wrote a small piece of standalone SW which works for this purpose? care to share it?
unrelated question, why the move to ardupilot?

[2019-05-13 19:26] #7433 closed

[2019-05-13 20:17] olliw42 commented on #7431
I've seen the communication at gitter. It's indeed a confusing response, and as you say there it doesn't look like a workable architecture. I feel somewhat sorry for having poked into this.

what confuses me generally is that the id appears to be taken as primary info of the type of component, and that the type and/or autopilot fields of the heartbeat seem to have become superfluous. Otherwise I w

[2019-05-13 20:26] olliw42 commented on #7434
I'm somewhat confused by that response, but that's certainly because I seem to misunderstand the concept behind it.

I wasn't considering a situation where the SD card would be replaced during what you call a session.

My point was much more simple minded. Namely that there can be (and IMHO should be) a useful indication of the available capacity even if there had never been any STORAGE_INFORMATIO

[2019-05-13 21:16] dogmaphobic commented on #7434
Well,theoretically, the `STORAGE_INFORMATION` message is mandatory and if it returns 0 for total storage, it means there is none, regardless of what `CAMERA_CAPTURE_STATUS` says. The reason `CAMERA_CAPTURE_STATUS` returns available space is because as you take pictures and/or record video, the storage decreases and that information is not only shown to the user, but also allows the UI to prevent t

[2019-05-13 23:16] olliw42 commented on #7434
this appears to be not correct. CAMERA_CAPTURE_STATUS is periodically requested even if the total capacity in STORAGE_INFORMATION is set to zero, at least this is what I observe with GCS of two days ago, and I think this also makes sense given the other information available in CAMERA_CAPTURE_STATUS. And since this is so I was thinking that also the available capacity field in CAMERA_CAPTURE_STATU

[2019-05-13 23:31] olliw42 commented on #7434
so to be sure that I'm not talking nonsense I just have double checked this.

I first had storage_total_capacity = 0.0f, with that I could start the video, and I've let it run for ca 16s and stopped it. The result see in the screen shot
![cam-capture-test-with-0](https://user-images.githubusercontent.com/6089567/57660573-7e65b280-75e7-11e9-8c89-3b6f44b84219.jpg)

I then had storage_total_capacity

[2019-05-13 23:38] olliw42 commented on #7434
I would think that if STORAGE_INFORMATION is supposed to be mandatory, and its values to be "meanigfull" (whatever this means needs to be defined), that then the GCS should not show the camera GUI or show it with capacity zero and refuse taking videos/photos (with maybe a warning saying why)
but as it currently is I fail to see a reason why one would not always want to show the available capacity

[2019-05-14 10:54] bys1123 opened #7441 "Non-SiK radio have very high data loss for ArduPilot on QGC 3.5.2"
## Current Behavior
I got lots of report these days, If people use Radio like P900 or ZigBee that not flashing MAVLink firmware, then they can't get the full parameter list on QGC.
![image](https://user-images.githubusercontent.com/4748411/57692398-40b16a00-7679-11e9-860c-f797c13c583c.png)
![image](https://user-images.githubusercontent.com/4748411/57692458-6474b000-7679-11e9-901b-4da041194bc9.png)

[2019-05-14 11:14] bys1123 commented on #7441
Tried change SERIALx_PROTOCAL to MAVLink2, still not work.

[2019-05-14 11:39] barchstien commented on #6598
The team moved to ardupilot for the on flight behaviour, which they estimate better with ardupilot than with PX4, especially for bigger drones. That area is not mine, and I comply with their decisions
I cannot share the code sorry, but it's quite straight forward (it follows mavlink protocol). I think it is already present in QGC and friends, named as RTK inject. Except that current implementation

[2019-05-14 11:40] barchstien commented on #6598
@Ahmad-Drak have you consider using a second telemetry link ?
Just plug one end to the base serial, and the other end to the rover serial, and you're good to go
All that I mentioned earlier make sense only if you want to use the same telemetry module for FC telemetry and RTCM

[2019-05-14 14:38] Ahmad-Drak commented on #6598
@barchstien thanks for sharing the info.

Yes it crossed my mind but having redundant HW for just one purpose seems unnecessary. Implementing it with SW would be optimal for my application. Hopefully the contributors would help with this

[2019-05-14 15:29] dayL-W commented on #5681
I have the same problem with QGC 3.5.0 and my connection method is the same as yours

[2019-05-14 15:31] dayL-W commented on #5681
How did you solve it?

[2019-05-14 15:51] bys1123 commented on #5681
Looks like this still happen on 3.5.2

[2019-05-14 21:04] DonLakeFlyer commented on #7427
@peterbarker So I'm trying to build your branch so I can put it on a board. I tried:
[code]

But I always get this error:
[code]

[2019-05-14 21:15] DonLakeFlyer commented on #5681
Is this over a SiK Radio? If so, those have very limited bandwidth. It's more than likely that you are losing tons of packets since the comm pipe is full. You can see Mavlink loss rate from the Mavlink page in settings.

[2019-05-14 21:17] DonLakeFlyer commented on #7441
First step is to check you mavlink packet loss rate (Settings/Mavlink). This tends to happen when the communication link is rally bad.

[2019-05-14 21:20] DonLakeFlyer commented on #7431
I'm still trying to figure out how this works fine with Mission Planner so I can duplicate that.

[2019-05-14 21:30] DonLakeFlyer commented on #7431
That is apparently the key piece of information you can trigger on to sort of do the right thing.

[2019-05-14 22:26] DonLakeFlyer commented on #7125
Ah, crap. That will only show up if you are loading a mission which is already using it. I did that because QGC does not yet support TERRAIN_REQUEST and vehicles having ability to sense terrain height are few so it was less confusion that way. Otherwise folks might think QGC supports TERRAIN_REQUEST which it doesn't yet.

You can work around it with Show All Values though (from the hamburger menu

[2019-05-14 22:28] DonLakeFlyer commented on #7427
Possibly instead of me fighting with that if you could give me a Pixhawk4 version of your code I can flash that would help as well.

[2019-05-14 22:29] DonLakeFlyer commented on #7436
Attach the plan file and I can take a look

[2019-05-14 22:30] DonLakeFlyer commented on #7140
Not currently supported

[2019-05-14 22:45] DonLakeFlyer commented on #7425
Are you running different translated versions of QGC on each device? Like German on one but English on the other for example?

[2019-05-14 22:52] #7214 closed

[2019-05-14 23:03] DonLakeFlyer commented on #7431
@olliw42 Can you try tomorrows daily build and see if it's fixed?

[2019-05-15 02:37] dayL-W commented on #5681
Yes, It still happen.

[2019-05-15 02:41] dayL-W commented on #5681
Yes, I use SiK Radio. And all telemetries have the same net_id. Should I use WiFi Telemetry Radio?

[2019-05-15 02:47] dayL-W commented on #5681
When I connect 2 vehicles, the packet loss rate of 2 vehicles is nearly 30%

[2019-05-15 03:27] DonLakeFlyer commented on #5681
Yikes. That will never work. You're going to need to talk with some hardware people to figure out wht telemetry you need.

[2019-05-15 06:39] tops4u commented on #7140
@DonLakeFlyer This would really be a very nice to have. How can I open a Feature Request? I assume it would need an additional Field in the Survey where a YAW Angle could be spcified (alternatively it could even be a checkbox that adaptes the YAW Angle to the Grid Angle).

[2019-05-15 06:49] dayL-W commented on #5681
Thank you! I wonder how people connect multiple planes? Do they use multiple telemetry radios on GCS or just use only one telemetry which has high bandwidth?

[2019-05-15 07:44] fingadar commented on #7125
The work around is no problem, thank you. But in surveys I do not have this possibility, I think?

[2019-05-15 08:29] bys1123 commented on #7441
![image](https://user-images.githubusercontent.com/4748411/57760516-4cab3380-772e-11e9-8384-2d932304e8b8.png)
Thanks! It's really have a lot of message loss, but these radio actually very close, and works fine on Mission Planner.

[2019-05-15 10:46] olliw42 commented on #7431
sure
could I install the latest this evening or would I better to wait until tomorrow?
(I ask because yesterday mid-day I installed the "daily" build using the Win installer, but the QGC title showed something of more like 2 days ago)

are there any other situations I could/should test? I mean, I can easily change the sysId, compId, the type field of the component, and such, and test if the behavi

[2019-05-15 13:48] dogmaphobic commented on #7434
Yup, that's the bug. QGC is not respecting the "no storage" state. The camera shutter/video record buttons should be disabled and where you normally have the "space available", there should be a warning telling there is no storage. I will deal with that.

[2019-05-15 14:58] olliw42 commented on #7434
great that the real reasons for the confusion has then been identified

could it maybe make sense to distinguish three cases:
* storage_total_capacity = NAN: don't show space available, but have camera shutter/video record buttons ENABLED!
* storage_total_capacity = 0.0f: as you say, camera shutter/video record buttons should be disabled and where you normally have the "space available", there sho

[2019-05-15 15:35] dogmaphobic commented on #7434
First of all, what QGC really needs is a real camera control. I stashed that control in there because there was no other place. That control was already there (with the single "camera trigger" button).

That single "camera trigger" button was the original "dumb camera control". It emits a legacy camera trigger command. If and when a camera supporting the camera API shows up, the control is replace

[2019-05-15 16:00] DonLakeFlyer commented on #7431
No. The correct flying state only comes from the main autopilot firmware code which is the MAV_COMP_ID_AUTOPILOT1 component. The old code was actually incorrect in that it would look at that information coming from any component which would cause the vehicle state to be set incorrectly.

[2019-05-15 16:01] DonLakeFlyer commented on #7431
The new build should be there now

[2019-05-15 16:01] DonLakeFlyer commented on #7431
Nope. It's a good question and good to double-check.

[2019-05-15 16:03] DonLakeFlyer commented on #7441
I'm not sure how/if MP reports that it didn't get all parameters. It might not tell you. Either way I wouldn't be flying with that high of a packet loss.

[2019-05-15 16:04] DonLakeFlyer commented on #7125
Correct unfortunately. Let me think if I can make some sort of workaround.

[2019-05-15 16:06] DonLakeFlyer commented on #7140
No need, this issue can track it. The problem with adding new options to Survey as it currently stands is that more options will cause it to collapse under it's own weight. It's already way too complicated to use. It needs a full uyi rework before new stuff can be added.

[2019-05-15 19:02] dogmaphobic commented on #7434
Now that I look at it, I think it makes more sense to add a proper enum to `status` and add a flag indicating it has no "storage" but the camera should be enabled.

Field Name | Type | Units | Description
-- | -- | -- | --
time_boot_ms | uint32_t | ms | Timestamp (time since system boot).
storage_id | uint8_t |   | Storage ID (1 for first, 2 for second, etc.)
storage_count | uint8_t |   | Number o

[2019-05-15 19:20] dogmaphobic commented on #7434
See here: https://github.com/mavlink/mavlink/pull/1137

[2019-05-15 20:38] DonLakeFlyer opened #7444 "Android: Large number of crashes from QGCActivity.openAccesory"
This code is crashing for lots of people on Stable release. Hundreds plus crashes reported on Google Play:

Today, 11:38 AM on app version 352000
HTC One M9 (htc_himaulatt), Android 7.0
Report 1

java.lang.RuntimeException:
  at android.app.LoadedApk$ReceiverDispatcher$Args.run (LoadedApk.java:1179)
  at android.os.Handler.handleCallback (Handler.java:751)
  at android.os.Handler.dispatchMessage (

[2019-05-15 20:39] DonLakeFlyer opened #7445 "Android: Large number of crashes from QGCActivity.nativeUpdateAvailableJoysticks"
This is being reporting as 100s of crashes on the Google Play store stable build:

Today, 9:58 AM on app version 352000
Samsung Galaxy Note5 (noblelte), Android 7.0
Report 1

java.lang.UnsatisfiedLinkError:
  at org.mavlink.qgroundcontrol.QGCActivity.nativeUpdateAvailableJoysticks (Native Method)
  at org.mavlink.qgroundcontrol.QGCActivity.access$800 (QGCActivity.java:65)
  at org.mavlink.qgroundc

[2019-05-15 20:43] DonLakeFlyer commented on #7445
@MatejFranceskin It's critical that you look at this one. It's blowing up all over the place on people using Stable build.

[2019-05-15 20:45] DonLakeFlyer commented on #7444
@MatejFranceskin This one if crashing all over the place as well.

[2019-05-15 20:56] olliw42 commented on #7434
that's indeed the better approach
excellent

[2019-05-15 21:01] DonLakeFlyer commented on #7441
Looks like MP basically never gives up trying to get parameters, whereas QGC gives up after 5 failures to get an individual parameter across the wire. So although it may be really slow MP may eventually succeed. I'm not sure if that is a better  approach since at that loss rate something is very wrong. I'd rather have QGC fail in that case and tell you something isn't right instead of going to ext

[2019-05-15 21:02] DonLakeFlyer commented on #7441
I'm also thinking about adding an additional warning that shows up if the mavlink loss rate goes up beyond a certain amount.

[2019-05-15 21:07] olliw42 commented on #7431
I might have not expressed it well. I wasn't trying to say that this check should be removed or modified, but I would think that the following if check inside should be extended. The comment appears to say that this part is ardupilot specific. Maybe I write it out in more detail what I mean:
[code]
The difference is in the 2nd if.

[2019-05-15 21:14] DonLakeFlyer commented on #7431
Ok, I see. That extra check would always be true. If you had the combination of MAV_COMP_ID_AUTOPILOT1 and heartbeat.autopilot != MAV_AUTOPILOT_ARDUPILOTMEGA that would not be an ArduPilot vehicle. Hence you would not be in this code.

[2019-05-15 21:22] olliw42 commented on #7434
I don't mind about this be there, as long as it is disabled until it is either replaced by the when activated/enabled camera GUI display or enabled and not changed anymore. :)
I actually like that button, since if there is no camera stuff, one still can easily trigger a photo.
Makes sense to me. I just didn't like how the transition from the disabled button to the final display is currently

indee

[2019-05-15 21:32] olliw42 commented on #7431
I don't understand this statement, and in fact find it wrong

if it would be a PX4 then the extra check would not be true, and without it the code inside the 2nd if would be executed even though it's not an ArduPilot in contrast to what the comment implies, namely that it should be executed only for an ArduPilot

with how it is currently you would be in that code part for this combination, even th

[2019-05-15 22:03] DonLakeFlyer commented on #7431
If it was possible to end up in any of this code when the vehicle was running PX4 firmware then that statement would be true. But this is the ArduPilot firmware plugin which is only called if the Vehicle is already determined to be running ArduPilot firmware. Other firmware types would be directed to their own respective FirmwarePlugin code.

[2019-05-15 22:13] olliw42 commented on #7431
well, then it's vice versa, then the ` if (message->compid == MAV_COMP_ID_AUTOPILOT1)` is obsolete, because if that function is called it has been already determined that it's an ardupilot, which implies that this condition must have been checked already in the outside of the function

[2019-05-15 22:23] DonLakeFlyer commented on #7431
The fact this code path is only taken for ArduPilot vehicles is unrelated to the fact that a vehicle can have multiple components on it with different ids. One of which is the main autopilot code (MAV_COMP_ID_AUTOPILOT1) which is the only component which can be used to determine flying state. Other components can use that state for whatever they want.

[2019-05-15 22:33] olliw42 commented on #7431
just installed the latest build, and played around a bit with it, and the parameter write appears to be all good now! At least I couldn't yet observe any misbehavior! GREAT. Thx so much.

There is however, I believe, another slight issue with the parameter write:
The changes are not been made permanent. This is so because a change to a parameter is not directly made permanent in the STorM32 I use

[2019-05-15 22:49] olliw42 commented on #7431
but this other component wouldn't be an ArduPilot by definition and thus the whole function wouldn't ever be called according to your statement. Ergo the if is pointless. I'm just logically combining the available information :).

Anyways, I might not see the point and I of course totally trust you that you do the right thing, so I surrender and guess to not continue discussing this point. I just

[2019-05-15 23:00] DonLakeFlyer commented on #7431
You're confusing the ArduPilot component mavlink strangeness with the internal QGC architecture. QGC firmware type for plugin routing is determined at a whole vehicle level, not at a component level. A vehicle can have multiple components associated with it. All component mavlink traffic within that same vehicle is routed to the same plugin.

[2019-05-15 23:02] DonLakeFlyer commented on #7431
It would if everyone followed current mavlink spec. Which is not the case. So ground stations which try to support multiple firmware types are stuck in a self-imposed nightmare.

[2019-05-15 23:09] olliw42 commented on #7431
ah ... so, the camera or gimbal or whatever stuff would go through different codes in QGC dependent on the main vehicle ... I certainly didn't realized or imagined that. This was helpful. Thx.

[2019-05-16 00:19] hamishwillee commented on #7434
OK, some feedback in https://github.com/mavlink/mavlink/pull/1137. Thanks for the heads up.

[2019-05-16 00:50] dogmaphobic commented on #7434
Let's put that on a new issue so it doesn't fall through the cracks.

[2019-05-16 03:59] #7434 closed

[2019-05-16 04:24] bys1123 commented on #7441
Thanks for the information, I think warning for the high mavlink loss is great. I'll trying to find out why they have such amount data loss, it's microhard p900.

[2019-05-16 06:46] MatejFranceskin commented on #7445
I am looking at it but the problem is that I cannot reproduce it on my devices. It is ok with or without joystick.
Do you have any more information? It could be dependent on Android version.

[2019-05-16 06:49] MatejFranceskin commented on #7445
When did this problems start? Immediately after it was included in the build or later?
Did we change target SDK version recently?

[2019-05-16 13:18] jstrebel commented on #7425
Don, on my MAC OSX the Menue Texts are in German but the voice messages are in English.
On the Android, all are in English.

[2019-05-16 13:20] jstrebel commented on #7425
Is there a way to set the Android device same as the OSX?

[2019-05-16 16:28] olliw42 opened #7450 "Camera Manager: Stream Selector field shown even if no STREAM capability"
The camera gui produced by the camera manager displays a Stream Selector field even when the `CAMERA_CAP_FLAGS_HAS_VIDEO_STREAM` bit in the camera capability flag of the `CAMERA_INFORMATION` message is NOT set:

![qgc-streamselector](https://user-images.githubusercontent.com/6089567/57870309-1c839380-7807-11e9-85d4-a83bd5e5286e.jpg)

I would think that if a camera doesn't have video stream capabil

[2019-05-16 16:36] DonLakeFlyer commented on #7425
I assume so, but not sure how you do that. There is a workaround in that you can modify your Plan files manually to make them work. If you open a Plan file in a text editor you will find a section like this:
[code]

The problem happens due to the fact that the "CameraName" field is in German. If you want to open this plan file on an English system change it to look like this and it will load:
[cod

[2019-05-16 16:44] olliw42 opened #7451 "Camera Manager: Sometimes appears to expect a CAM_MODE parameter"
The camera manager appears to sometimes expect that the MAVLink camera has a `CAM_MODE` parameter, which appears to be called when one switches between video and photo mode back and forth. In the following screen shot this are the `Unknown Fact "CAM_MODE"` error messages, which follow a `setVideoMode()` or `setPhotoMode()`.

![qgc-unknownfactcammode-01](https://user-images.githubusercontent.com/60

[2019-05-16 16:46] DonLakeFlyer commented on #7445
Looks like all over the place:
![Screen Shot 2019-05-16 at 9 41 11 AM](https://user-images.githubusercontent.com/5876851/57871925-621c6e00-77bf-11e9-8b55-6ebdfa720029.png)

Do you have access to Google Play Dev Store? Probably should. Daniel should be able to get it for you. Then you can see crash reports directly.

[2019-05-16 17:01] olliw42 commented on #7431
@DonLakeFlyer

as regards the "slight issue with the parameter write" which I reported 5 posts up, I reviewed the situation and came to the following conclusion:

The procedure used in Mission Planner to send out a `MAV_CMD_PREFLIGHT_STORAGE` 10 seconds after the last parameter change was largely based on the rational that the MAVLink spec for the `PARAM_SET` message at this time was explicitly ag

[2019-05-16 17:14] DonLakeFlyer commented on #7431
Both PX4 and ArduPilot firmwares changed away from requiring the PREFLIGHT_STORAGE thing years ago. So at some point this was the case, but no longer and it look like the spec may have changed to reflect what they were doing.

[2019-05-16 17:16] dogmaphobic commented on #7451
It is indeed missing from the documentation. It should be added here:

https://mavlink.io/en/services/camera_def.html#common-parameters

It's OK not to have it. You would want to have it if when switching modes you have to exclude/change other parameters within the camera definition. Things you can't do if only relying on a MAVLink set mode command.

[2019-05-16 17:34] olliw42 commented on #7431
thx for clarification. It makes sense for the flight controllers.

I also could "easily" handle this in the STorM32 by simply doing this 10 second thing internally, i.e. to store the parameters permanently after a timeout of 10 secs after the last PARAM_SET. Easy enough.

However: I would not know what to do with the PREFLIGHT_STORAGE coming from MissionPlanner. Since one can't reliably determine

[2019-05-16 17:44] olliw42 commented on #7451
many thx for the quick clarification.

I have certainly seen this list (and suspected that CAM_MODE might be missing), but I read it to be optional, not mandatory.

that's the all crucial statement. THX! So I just don't care about it.
(that's always best solution for all side, isn't it LOL)

This would be probably very helpful to be explained in the docs.

But this would be so for any parameter, n

[2019-05-16 17:58] DonLakeFlyer commented on #7431
The functional loss of not be able to make temporary changes to params which don't stick across a reboot doesn't seem super valuable.

Seems like it would be way better to track if permanent storage update is required internally with a dirty bit. If so, do it on a delay. If you get a PREFLIGHT_STORAGE command when it is not needed just ignore it since it's a no-op. Given the current mavlink spec y

[2019-05-16 17:59] DonLakeFlyer commented on #7431
My recommondation would be to do both. QGC does PREFLIGHT_STORAGE thing for additional components. That gets pulled out some time down the road say in a year or so. Gimbal firmware updates to manage storage by itself without needing PREFLIGHT_STORAGE which future proofs you to the current spec.

[2019-05-16 18:09] dogmaphobic commented on #7451
Correct. Those _Known Parameters_ are used solely for UI. That is, if found, the ground station can build special UI elements for it.

The `CAM_MODE` parameter is a special case. For changing modes (Photo/Video), you normally use the existing [MAV_CMD_SET_CAMERA_MODE](https://mavlink.io/en/messages/common.html#MAV_CMD_SET_CAMERA_MODE) command. For _dumb_ cameras, that is all that is needed. Howeve

[2019-05-16 18:42] olliw42 commented on #7451
great explanation :+1:

I think the conclusion is that the docs could be somewhat improved.

Not sure if this issue should be closed or kept open to not "forget" this. Pl decide.

thx, sir!

[2019-05-16 18:52] dogmaphobic commented on #7451
@hamishwillee See above. I won't have time to deal with this until Monday, the 27th at the earliest.

[2019-05-16 18:55] sjd69 commented on #7445
I've replicated this issue using a Note 8 (Qualcomm) as well as a S9+ (Qualcomm).

In my case it happens when opening QGroundControl with a DJI drone (using RosettaDrone) already connected. Starting QGroundControl prior to connecting the drone resolves the issue seemingly permanently and allows me start and restart QGroundControl freely in any order. Issue will appear again on a fresh install.

[c

[2019-05-16 18:56] olliw42 commented on #7431
MANY THX for being so forthcoming, I really appreciate this a lot

I'd however like to recommend you to NOT add the PREFLIGHT_STORAGE thing :)

First, as you say, it would (and should) be temporary, which in turn means that a solution must eventually be established anyways. So why not now.
Second, it's really not like that the number of STorM32 users is so massive that it would warrant such effort

[2019-05-16 19:21] DonLakeFlyer commented on #7445
@sjd69 Can you try the QGC Daily build from the store? I believe that has the fix in it now.

[2019-05-16 19:33] olliw42 opened #7453 "MAVLinkFTP for CameraManager & ArduPilot"
@dogmaphobic
I ping you upon suggestion by @julianoes.

This is neither a bug nor issue nor request report. It is an effort to seek your support for working towards a more complete camera and component handling, as outlined in this issue: #1133 Proposal for Improving User-fiendliness of Component Handling.

In the recent MAVLink devcall it was concluded to approach this in a step-by-step prototypi

[2019-05-16 19:51] DonLakeFlyer commented on #7431
That was my main reason. I'll leave things alone then.

[2019-05-16 19:51] #7431 closed

[2019-05-16 20:04] dogmaphobic commented on #7453
It's a bit of a chicken-and-the-egg issue. I have nothing to test with. In theory it's simple. If I see `mavlinkftp:///definition.xml` in the URL, I would use MAVLink FTP, which in itself is straight forward. With that said, it will be a few weeks before I have the time to deal with this.

[2019-05-16 20:12] DonLakeFlyer commented on #7453
Keep in mind that the current MAVLink FTP implementation in QGC is crap.

[2019-05-16 20:12] dogmaphobic commented on #7453
Also note that it's been temporarily removed (it was QtWidgets)

[2019-05-16 20:30] MatejFranceskin commented on #7453
I am currently testing and using Mavlink FTP between QGC and the pairing manager with the idea to later include it also in the MavSDK and then in camera manager to transfer camera.xml file. In pairing manager I use the Mavlink FTP code from Firmware.

[2019-05-16 20:31] olliw42 commented on #7453
you guys made me laugh now ... it can't be that terrible :)

yeah, the chicken and the eggs ...
I would be happy to do the testing, and I would not mind if it would have to go iterative. That is, I would be happy to test what you implement following the theory, and then to test the next theory, and  so on, until convergence :)
(I suspect it wouldn't need many iterations though)

this was already u

[2019-05-16 20:36] olliw42 commented on #7453
I'm looking forward for this to happen :)

[2019-05-16 20:36] sjd69 commented on #7445
@DonLakeFlyer It appears to fix the issue on both devices.

[2019-05-16 20:36] olliw42 commented on #7431
:+1:

[2019-05-16 20:37] DonLakeFlyer commented on #7445
@sjd69 Awesome, thanks so much for testing.

[2019-05-16 20:40] DonLakeFlyer commented on #7453
If mavlink ftp is going to be a thing. I would start over using the Log Download code as a basis for a generic block download backend which can handle/fill in missing blocks. Which can then be used behind both Log Download and mavlink ftp. Current mavlink ftp just fails if it has missing blocks.

[2019-05-17 01:23] hamishwillee commented on #7431
Just FYI

Yes, I did this sometime last year. There is no way to specify that params should be in volatile or permanent storage, and in fact everyone was writing to permanent storage. The dev call signed off on this.

If I could go back in time, I might add a message extension to cover the two options. That would still be possible if there was strong interest.

[2019-05-17 01:30] hamishwillee commented on #7451
@dogmaphobic IN case you forgot, you already have a PR for this - https://github.com/mavlink/mavlink-devguide/pull/164
You just need to do a final review.

It looks like this:
![image](https://user-images.githubusercontent.com/5368500/57897093-2228ba00-7897-11e9-9f1d-ab5d931910a5.png)

[2019-05-17 01:51] dogmaphobic commented on #7451
Duh, too much going on at the same time and my brain has one single core... :P

[2019-05-17 05:29] olliw42 commented on #7431
I would then suspect that in this discussion the focus wasn't much on components but mostly on flight controllers !?

It would actually be interesting to know how many of the existing MAVLink components are included in this "everyone". So, may I asked, is this based on data you guys have at hand, or for components would be more a guess?

As I just told DonLakeFlyer, you shouldn't consider doing su

[2019-05-17 06:11] hamishwillee commented on #7431
@olliw42 The simple answer is yes, we (or at least "I") did not think about components. The change seemed rational as the messages were clearly wrong for autopilots. It is indeed unfortunate that the behaviour did make sense for components.

We should ensure that there is a mechanism for both cases. One way is to just change the docs to remove "to permanent storage" and assume the device decides w

[2019-05-17 07:35] bys1123 commented on #7441
![image](https://user-images.githubusercontent.com/4748411/57910503-097ccc00-78b8-11e9-9ea1-2c471cd665f1.png)
Here is another screenshot from other manufacture, work fine for Ardupilot.

[2019-05-17 07:38] bys1123 commented on #7441
![image](https://user-images.githubusercontent.com/4748411/57911096-6af16a80-78b9-11e9-98e7-09062002366e.png)
But that high loss link is works well on PX4, what's the differents?

[2019-05-17 08:22] myname1234 opened #7454 "How to synchronously control multi uavs in QGC"
I successfully build the multi-uav-launcher in ubuntu 16.04，and I used the latest QGC to control these vehicles. The QGC can connect all vehicles, but I can't control all the UAVs synchronously.When I use the multi vehicles mode, the UAV in gazebo take off or move one by one rather than  in the same time. So how can I fix  this issue.

[2019-05-17 09:24] olliw42 commented on #7431
I guess I wouldn't totally agree with that. I would differentiate devices which use an EEPROM or not. It's probably true that this once was a tautology, as autopilots used EEPROMs, but not anymore.

For instance, ArduPilot's recent move to Chibios opened the way for many of the cheap flight controllers which mostly don't have a EEPROM but use the FLASH for parameter storage. I would not be surpris

[2019-05-17 11:07] NejatRmz commented on #7211
I have followed the instructions [here](https://github.com/mavlink/qgroundcontrol/tree/master/src/VideoStreaming). When i run the code it works fine for windows but in the android build i get only "No Video Available" option. you can see capture [here](https://imgur.com/Ji3IUjs)

[2019-05-17 14:08] bys1123 commented on #7441
So, my opinion this is a compatibility issue~

[2019-05-17 16:41] DonLakeFlyer commented on #7441
Are you saying you are now getting a full parameter download even at 9% loss rate?

[2019-05-17 17:04] DonLakeFlyer commented on #7431
I still see no reason why the ground station should be in control of understanding the intricacies of how a piece of hardware needs to manage it's storage. It has no idea what the requirements for that are. Only the hardware itself does.

I also see no use case for supporting temporary write to a parameter as an end user feature.

Put those two things together and the intention of a parameter writ

[2019-05-17 17:06] DonLakeFlyer commented on #7454
Not sure what you mean by synchonously? QGC is going to send the commands to the vehicles one at a time not instantansouly to each. So there is always going to be some slight delay in when they get to the vehicle.

[2019-05-17 17:26] jstrebel commented on #7425
Don, Thank you the work around works. Jakob

[2019-05-17 17:57] DonLakeFlyer commented on #7427
I believe the reason is because the link starts out a Mavlink 1. Then MP somehow magically switches the link to Mavlink 2. So when you connect again with QGC the link is running mavlink 2 and it works.

If so, I don't understand how ArduPilot expects a ground station to decide to use Mavlink 2 and how that works with respect to dealing with radios which can't pass mavlink 2 traffic.

[2019-05-17 18:02] bys1123 commented on #7441
If using PX4 it at 9% loss rate, and not have the much loss after parameters load, finally it will at about 4%. Looks like the parameter list have no problem, maybe have some loss?
But on ArduPilot, the loss rate will much high to 79%.

[2019-05-17 18:15] DonLakeFlyer commented on #7427
Yup, I think what I said above is correct. If QGC always sends Mavlink 2 then ArduPilot will switch to Mavlink as well. So the reason this is not working is because the link stays at mavlink 1.

[2019-05-17 18:17] DonLakeFlyer commented on #7441
Very strange. That would be something for the ArduPilot folks to look at since it is in control of Vehicle->GCS mavlink direction. QGC isn't really in the mix at that point.

[2019-05-17 18:21] dogmaphobic commented on #7441
It could also be an error somewhere in the MAVLink pipeline. If two things use separate instances of MAVLink but the same sysID and compID, the counters will be out of sync. That would cause QGC to think tons of messages are being lost because of the discrepancies in the message sequence.

[2019-05-17 18:27] dogmaphobic commented on #7441
The same could happen if there is something in the middle messing with the messages. Something like a bridge responsible for receiving messages from the autopilot and forwarding them to the GCS. If the payload is forwarded untouched, everything is OK. But if this "bridge" parses _some_ of the messages and repackages them before forwarding, it will have a different sequence number than the original

[2019-05-17 18:27] DonLakeFlyer commented on #7441
Hmm, then I wonder if that sysid/compid mapping in there is correct? The sequence numbers are on a mavlink channel basis aren't they? Why does sysid/compid come into play?

[2019-05-17 18:28] DonLakeFlyer commented on #7441
@bys1123 Just FYI: But given discussion this statement may not be correct.

[2019-05-17 18:31] DonLakeFlyer commented on #7441
Also FYI: I just tried with USB connection and got 0 packet loss, so there isn't something inherently wrong with at least a simple ArduPilot connection.

[2019-05-17 18:32] dogmaphobic commented on #7441
It's based on the sysID/compID. There is a message_sequence[255][255] array handling it. If component sends messages and _something else_ sends messages using that same sysID/comID combination, it will be using a separate instance of MAVLink and hence, different counters.

[2019-05-17 18:33] bys1123 commented on #7441
@DonLakeFlyer Could you try to use FTDI connect to TELEM port?

[2019-05-17 18:34] dogmaphobic commented on #7441
Doe the ArduPilot firmware support UART flow control? That could also be a factor.

[2019-05-17 18:36] bys1123 commented on #7441
It's disabled on Pixhawk4, their p900 radio also have no CTS RTS.

[2019-05-17 18:37] bys1123 commented on #7441
https://github.com/ArduPilot/ardupilot/blob/master/libraries/AP_HAL_ChibiOS/hwdef/Pixhawk4/defaults.parm
[code]

[2019-05-17 18:42] DonLakeFlyer commented on #7441
Hmm. I get what you are saying now but I have a feeling it's clear as mud with respect to mavlink spec as to how that is really supposed to be handled. Specifically at the individual component level with a single system.

[2019-05-17 18:48] dogmaphobic commented on #7441
As long as each component only sends messages on its channel, it's all fine. The issue comes up when say, a camera decides to send "autopilot" messages every now and then (setting the compID to 0 for those messages instead of using its own compID). That completely messes up the counters and shows as a high loss rate. There is a company out there doing just that...

[2019-05-17 18:53] DonLakeFlyer commented on #7441
I would say that is you see high loss rate reported and the parameter download fails then the loss rate is likely real, at least to some extent. If you get that high of a loss rate and the parameter download succeeds then the loss rate value is not truly correct.

[2019-05-17 18:55] bys1123 commented on #7441
One user tried ESP8266 for ArduPilot, also can't get parameter list, and can't upload waypoint, QGC warning: high legacy link do not support upload.

[2019-05-17 18:59] bys1123 commented on #7441
I tried Raspberry Pi as companion for ArduPilot, then connect to QGC, It works fine. Weird~

[2019-05-17 19:04] DonLakeFlyer commented on #7441
That would mean they setup a UDP link manually and configured it as a High Latency Link which would be incorrect.

[2019-05-17 19:14] bys1123 commented on #7441
I'll check the parameter load duration to confirm this.

[2019-05-17 22:41] peterbarker commented on #7427
On Fri, 17 May 2019, Don Gagne wrote:

Yep, that sounds correct.

We force mavlink2 if signing is enabled:
https://github.com/ardupilot/ardupilot/blob/master/libraries/GCS_MAVLink/GCS_Common.cpp#L162

Otherwise we continue to send mavlink1 on a port (even if it marked as
mavlink2 using SRn_PROTOCOL!) until we see any mavlink2 traffic on that
port:
https://github.com/ardupilot/ardupilot/blob/master

[2019-05-17 22:45] peterbarker commented on #7427
On Sat, 18 May 2019, Peter Barker wrote:

Oh, duh.  Sorry, short on coffee here.  I've already looked at this, and
QGC *does* look for that bit.

ArduPilot sets the bit if the *link* is capable of mavlink2 - so on some
links it will be true, others false.

QGC seems to be looking at the bit for vehicle compatability and then
checking the link for protocol version compatability...

[2019-05-17 22:48] DonLakeFlyer commented on #7427
Basically.

I found this today: https://github.com/mavlink/mavlink-devguide/blob/master/kr/guide/mavlink_version.md which does explain how QGC deals with the negotiation. At least I think it is correct. I'm still trying to figure out how it all works myself since it's not code I added.

How does ArduPilot expect a ground station to work around the problem of telemetry radios which don't support Ma

[2019-05-17 22:49] DonLakeFlyer commented on #7427
If that is the case, then QGC could just rely on the capability bit and if it sees the bit set then it starts mavlink 2 from it's side. But for ArduPilot vehicles only.

[2019-05-17 22:51] DonLakeFlyer commented on #7427
Also FYI I can reproduce the problem using master ArduCopter firmware so I can just flash that and don't need to build my own using waf. That is how I've been testing.

[2019-05-17 22:59] peterbarker commented on #7427
On Fri, 17 May 2019, Don Gagne wrote:

I think the critical thing there might be - is QGC sending that
PROTOCOL_REQUEST as a mavlink2 packet?  That - I think - should be
sufficient for ArduPilot for switch to doing mavlink2.

Welll... SERIAL0 is *magic*, so we should probably not talk about that one
:-)

ArduPilot currently defaults everything to mavlink1 - except SERIAL0 - so
a user has to explic

[2019-05-17 23:08] peterbarker commented on #7427
On Fri, 17 May 2019, Don Gagne wrote:

The English (the link you pointed at seems to be a rather Englishified
version of Korean...) version may differ:
https://github.com/mavlink/mavlink-devguide/blob/master/en/guide/mavlink_version.md

Note in particular:

----
Vehicles should set the MAV_PROTOCOL_CAPABILITY_MAVLINK2 capability flag
in the AUTOPILOT_VERSION message if MAVLink 2 is available on a

[2019-05-17 23:16] DonLakeFlyer commented on #7427
Interesting because that isn't quite how QGC is currently coded. Let me look through that doc some more to see if I can make sense of it.

Yeah, my screwup on SERIAL0 not a telem port.

[2019-05-17 23:17] DonLakeFlyer commented on #7427
Nope

[2019-05-17 23:20] DonLakeFlyer commented on #7427
No wrong. The QGC sends mavlink 1 PROTOCOL_REQUEST, but the vehicle should then respond in mavlink 2.

[2019-05-18 00:05] peterbarker commented on #7427
On Fri, 17 May 2019, Don Gagne wrote:

Yeah, I think you're right there.  We should probably find some words to
clarify these documents.

So the current work-around is to force qgc to do mavlink2.

Options to fix include:

  - ArduPilot to support PROTOCOL_VERSION
   - trivial technically AFAICS, not sure about acceptance from other devs

  - OR QGC to switch to sending mavlink2 based on the follo

[2019-05-18 03:43] bys1123 commented on #7441
The loss rate is lower and lower after parameter load, finally at 4%, I think this is true loss rate.

[2019-05-18 13:24] myname1234 commented on #7454
When i control the vehicles, they can‘t take off or move at the same time,is there any solutions to reduce  the delay among the vehicles?

[2019-05-18 16:29] DonLakeFlyer commented on #7454
Not with QGC

[2019-05-18 16:29] #7454 closed

[2019-05-18 16:33] DonLakeFlyer commented on #7441
Then my guess is that the stream rates for telemetry are too high. The link gets flooded out when parameters are streaming down and the rest of the telemetry streams are trying to download as well. Seems like this radio is going to need a custom stream rate setup. You can do that by turning off QGC requesting streams from mavlink settings and then settings the rates yourself using ArduPilot parame

[2019-05-18 17:18] bys1123 commented on #7441
![image](https://user-images.githubusercontent.com/4748411/57972840-5f459700-79d2-11e9-8f75-96d429131d7e.png)
Oh, thanks, It do have a link rate setting. I'll let them check too.

[2019-05-18 17:41] DonLakeFlyer commented on #7427
@peterbarker Can you try https://github.com/DonLakeFlyer/qgroundcontrol/tree/MavlinkNegotiate?

The whole thing was quite a mess but I think at a minimum I have single vehicle negotation working correctly now. The new code should switch the link to mavlink 2 if the capability is set and the vehicle does not support PROTOCOL_REQUEST.

I believe multi-vehicle multi-link negotation is broken and like

[2019-05-19 12:54] Professor77 commented on #7441
I am new to drones and discovered an issue that made me abort my maiden flight.

I was trying to set my home position and geofence.

Hitting the upload button in qgc led to the error message "vehicle requesting position out of range"

I checked the packet loss and it was 85%, however the radios are connecting fine for regular telemetry information.

I'm not going to try and fly until I can be sure

[2019-05-19 13:10] Professor77 opened #7459 "Vehicle requesting position out of range"
I am a novice drone builder using qgc on windows 10 and on an android tablet.

My autopilot is a clone pixhawk 2.4.8 with the latest apm firmware.

The autopilot came with 433mhz telemetry radios as part of the set, assuming they are sik 3dr.

booting qgc and connecting to the drone is no problem.

When trying to set the home position manually in mission plan view and then hitting upload I am seei

[2019-05-19 13:43] #7459 closed

[2019-05-20 00:52] peterbarker commented on #7427
On Sat, 18 May 2019, Don Gagne wrote:

Just tested here with QGC and MAVProxy and they connect to a
near-enough-to-master ArduPlane without issue where SIERAL0_PROTOCOL is
set to 1.

[2019-05-20 00:57] hamishwillee commented on #7427
FYI, the rendered version of the versioning doc is here: https://mavlink.io/en/guide/mavlink_version.html

If the result of the discussion was a flaw in these docs - something missing, unclear or incorrect, please can you post a defect against the page?

[2019-05-20 02:44] zhaolianggoods commented on #4840
Problems with link：
obj\moc_QGeoTileFtcherQGC.obj: No such file or directory

[2019-05-20 02:45] zhaolianggoods commented on #4840
Problems with Android Link:
error: obj\moc_QGeoTileFtcherQGC.obj: No such file or directory

[2019-05-20 06:30] NejatRmz opened #7460 "Video source options (RTSP, UDP) are not showing in android build while all the options are visible in windows build"
Hi,

i have followed the instructions [here](https://github.com/mavlink/qgroundcontrol/tree/master/src/VideoStreaming) and downloaded gstreamer-1.0-android-universal-1.14.4.tar.bz2 file and added to directory as mentioned for android.
When i build the code for windows it works fine and shows the all the options in video source select box and i can start video stream through RTSP but in android bui

[2019-05-20 11:14] tops4u commented on #7436
Ok, I have tried to recreate a similar Case (had not saved the above):

Image from QGC:
<img width="947" alt="image" src="https://user-images.githubusercontent.com/6877067/58017622-f4df4480-7b00-11e9-88d2-609d91b56f28.png">

Measurement in the Map:
<img width="684" alt="image" src="https://user-images.githubusercontent.com/6877067/58017645-0294ca00-7b01-11e9-8a38-a0a41f4007c7.png">

Mission File:

[2019-05-20 18:56] sanderux opened #7462 "Camera trigger sequence number visible in flight screen values"
For peace of mind some users have requested to display
CAMERA_TRIGGER.seq in the flight screen values.

Just to make sure the vehicle is actually sending the triggers, it would be a shame to fly almost 2 hours with nothing to show for it.

https://mavlink.io/en/messages/common.html#CAMERA_TRIGGER

/cc @DonLakeFlyer

[2019-05-20 20:48] Junkim3DR commented on #7360
### Tested on NXP FMUK66 with LJI X4 500 frame

**Procedure:**
- Tested on Mac (MacOS Mojave v10.14.4).
1 - Uninstalled QGC.
2- Rebooted Macbook.
3- Installed the latest QGC version from http://qgroundcontrol.com.
4- Rebooted Macbook.
5- Opened QGC and selected Firmware tab under Vehicle Setup.
6- Connected NXP board to Macbook with USB cable.
7- Once Firmware Setup popped up, selected Advanced Se

[2019-05-21 06:26] bys1123 opened #7464 "Select language invalid on Daily build"
## Expected Behavior
UI shows right language after language selection.

## Current Behavior
Nothing changed after language selection.

## System Information
When posting bug reports, include the following information
- Operating System: [Android, Windows]
- QGC Version: [master]
- QGC build: [daily]

## Detailed Description
I saw language support have lots of change these days, but I think languag

[2019-05-21 06:33] dogmaphobic commented on #7464
It must be a platform issue. It is working on macOS but I have not had a chance to try elsewhere.

<img width="1358" alt="Screen Shot 2019-05-21 at 8 31 53 AM" src="https://user-images.githubusercontent.com/749243/58073511-08db8280-7ba3-11e9-90ea-a29329cb49a7.png">

[2019-05-21 09:38] tops4u opened #7466 "Crash when changing Command in Plan Mode"
Happening on Stable and Current Master.

## Expected Behavior
When selecting "Change Command" I can see a panel sliding in from the right but crashes before fully expanded:

![](https://user-images.githubusercontent.com/6877067/58085212-9b3c5000-7bbc-11e9-9ca6-c277278c5727.png)

## Steps to Reproduce:
Plan a simple mission with at least 1 Waypoint
Click on "Change Command"
QGC Crashes

## System I

[2019-05-21 09:43] tops4u commented on #7464
Same here on MacOS. Switched to German, but nothing happened - still english.

[2019-05-21 10:12] hamishwillee commented on #7464
When was this build generated? If it is today, then only approved translations are being exported from QGC, so on some languages that would be "none".

[2019-05-21 11:16] hamishwillee commented on #7431
I'm with @DonLakeFlyer on this one. Might change my mind if we can find a compelling use case for temporary write being something a sender would need :-). Even then though, I think I'd keep the default "auto" as "leave to the device to decide", because that is the reality of all existing implementations.

[2019-05-21 14:33] olliw42 commented on #7431
I hear you guys but continue to find the positions unrealistic, for the reasons given.

and that's why things don't work as they should ;).

Anyways, at the end of the day, it's your call, and I understand that well.

I have a very simple view on this: I would never compromise a component's performance for the sake of some protocol specification. So STorM32 won't work fully with QGC. So be it. Not

[2019-05-21 23:57] hamishwillee commented on #7431
@olliw42  For your solution we would have to re-write the microservice and autopilot implementations, and we'd still have the unsolved problem that there is a user expectation that parameters are permanent. Fixing it as proposed does not solve the problems for other stakeholders - we would need to do a lot more thinking.

I wouldn't expect a manufacturer to degrade the device by obeying the protoc

[2019-05-22 05:43] olliw42 commented on #7431
the point here is that MAVLink once had the perfectly working solution ... and MP still has it, only QGC doesn't ;)

but as said, and I had said it also straightforwardly in the above, the STorM32 is certainly not relevant to you but your stakeholders and whoever is using MAVLink in a professional setting are. And I fully understand this.

:)

----
just as a side note, it's not correct that my pro

[2019-05-22 07:15] hamishwillee commented on #7431
MP doesn't count as a proof because it only works with ArduPilot; If it works with the old approach so long after the spec update is more a sign that the code in that area has not been maintained - not that MP is doing something right.

I guess we'll have to agree to disagree.

[2019-05-22 14:46] olliw42 commented on #7431
frankly, I think you're starting to twist arguments. but that's OK

that's what I'm kind of saying since a couple of posts :)

I'm not going to make any effort to convince anyone. :)

I've made sufficient effort. From my perspective the situation is settled. It won't work with QGC, there is still MP, and if MP will make the same deccision, then also MP won't work. I'm not going to work like crazy

[2019-05-22 15:29] dvornikov-aa opened #7470 "ParameterFactMetaData.xml is extracted from from a px4 file but is not used"
There is a code module that extracts an embedded parameters.xml file from a px4 firmware into a user home directory in the QGC FirmwareImage.
https://github.com/mavlink/qgroundcontrol/blob/e684dbe5f8b6da4cc8e93e627a577c612aea3b8d/src/VehicleSetup/FirmwareImage.cc#L279
However, there is no code in the QGC ParameterManager that uses this file during the parameters meta data loading procedure.
https:

[2019-05-22 17:53] Williangalvani commented on #7460
Hello!
I had similar issues and I'm working on a Docker to build it:
https://hub.docker.com/r/williangalvani/qgc-android-build

It can build either master or from your local filesystem. Please let me know if you chose to use it and run into any issues.

[2019-05-22 21:16] bys1123 commented on #7441
@Professor77 Thanks for the report. I'll still check on this.

[2019-05-23 03:56] bys1123 commented on #7441
Checked the link rate, it's 230400

[2019-05-23 08:41] olliw42 opened #7471 "Camera Manager: Collection of behaviors to imporve"
I've made much progress with implementing a CameraManager support into the STorM32 gimbal controller to the point that it is practically usable, and in the practical tests I start to observe various behaviors of the camera manager GUI implementation which - IMHO - could be improved for better user friendliness. Instead of raising an issue for each, I thought I rather collect them here (pl tell if

[2019-05-23 08:52] #7470 closed

[2019-05-23 08:54] MatejFranceskin commented on #7471
There are plans to improve and add features to camera manager in the near future and your suggestions will be considered. We could use some help in testing it afterwards.
Could you share your configuration xml file so that we see how you're using it?

[2019-05-23 08:56] dvornikov-aa commented on #7470
It is used if the meta data version is higher than internal meta data version.

[2019-05-23 09:44] olliw42 commented on #7471
the STorM32 controller provides a multi-purpose camera support. So, some supported cameras don't have a xml nor a CAM_MODE. Most of them are actually of this type (I've named them 'STorM32 Generic Camera'). This are actually most of them, and for them my implementation is working well now (I believe). I do have a couple of test camera implementations, which use xmls without and with CAM_MODE, and

[2019-05-23 09:59] MatejFranceskin commented on #7471
I will contact you when I make some changes just to make sure that I don't break anything in your setup.

[2019-05-23 10:16] olliw42 commented on #7471
this would be most kind, but I would be tracking them most likely myself too.

btw, I'm currently using QGCs daily from 2019-05-15. I tried a later daily but the QtQuick conversion appears to not yet be fully completed. So, I'm watching this anyhow, and would go on with a newer QGC iff it appears to have converged, at which time also your changes might start to come in. This issue here I have not

[2019-05-24 07:25] eifel2006 opened #7473 "Android mission transfer wrong"
Stable 3.5.2. Mission transfer wrong with android by TCP connection. Daily is ok, PC version is ok
![Screenshot_2019-05-24-10-09-19-752_org mavlink qgroundcontrol](https://user-images.githubusercontent.com/50231028/58309919-19dbfc00-7e0e-11e9-94e6-99b0242ba3fe.png)

[2019-05-25 14:30] kaklik opened #7474 "Corrupted log file"
I want to replay [attached log file](https://github.com/mavlink/qgroundcontrol/files/3219441/2019-05-22.18-20-20.zip) to view exact command sequence from QGC.

## Expected Behavior
Open the log file and examine the situation by time slider.

## Current Behavior
After click on Replay Flight Data button and select the log file. The following message  pops

[code]

![image](https://user-images.github

[2019-05-27 09:13] AndKe opened #7475 "Feature request: MAV_CMD_GET_HOME_POSITION"
QGC does already support GPS on ground for RTK.
please add an option to send MAV_CMD_SET_HOME_POSITION and update home position during the flight.

[2019-05-28 16:57] jaxxzer commented on #7322
Hi Don. I understand the considerations you put forward, and that is exactly why the proposal is worded the way that it is, and the suggestion is to keep the implementation as **simple as possible**. There are **no user configurable options**. QGC runs and a .csv appears just like the .tlog, no user intervention necessary, minimal overhead and code.

The idea here is that this simple 'something' i

[2019-05-28 19:17] bigbellmercy commented on #7474
This issue is important because when a drone is crashed far away and this bug happens we cannot find the drone since we don’t know its location. As a case, it happened to me.

[2019-05-29 02:51] wuxianshen opened #7478 "Crashed when start prompting "Cannot create a QWidget without QApplication""
I built the QGC from source without any changes in QT 5.11.3, the compilation is finished successfully but when I try to start QGC with the Run button of QTCreator, some errors come.
Application Output prompts that :
QWidget: Cannot create a QWidget without QApplication.

Has anyone ever met this problem before? Is there any problem with my QT installation?
Thanks!

## System Information
When post

[2019-05-29 13:51] dogmaphobic commented on #7478
Yes, this is known issue. @stefandunca did you merge those fixes to QGC master?

[2019-05-29 14:01] stefandunca commented on #7478
@dogmaphobic here it is: https://github.com/mavlink/qgroundcontrol/pull/7479

[2019-05-31 13:50] anandbaskaran commented on #7427
This discussion means that Mavlink 2 is required for the rally points and geofence. Am I right?

[2019-06-01 19:33] olliw42 commented on #7471
just for info, this is what I'm talking about when I'm saying "I've made much progress with implementing a CameraManager support into the STorM32 gimbal controller to the point that it is practically usable":

https://youtu.be/nGszTJCzSMk

I'm looking forward to help with testing any improvements in the Camera Manager part :)

[2019-06-02 09:58] peterbarker commented on #7427
On Fri, 31 May 2019, Anand wrote:

That's correct - the mission type field is an extension.

[2019-06-03 11:18] Stifael opened #7486 "Hover and capture: loiter time based on camera exposure time"
## feature request
It would be great if hover-and-capture depends on the exposure time of the camera.

[2019-06-03 12:10] dogmaphobic commented on #7486
There is no way for QGC to be aware of exposure time though. In addition, is any gimbal good enough to maintain a camera steady for a long exposure? How long of an exposure are we talking about?

[2019-06-03 12:32] Stifael commented on #7486
It can just be part of the settings for each camera.

It is not gimbal dependent, but rather depends on the hover time of the vehicle. For instance, at night you want to increase the shutter speed and hence the hover time should be increased as well.

[2019-06-03 12:41] dogmaphobic commented on #7486
QGC itself has no knowledge of exposure. It's a (custom) camera parameter and not something that can be set from a mission command. It's not impossible to implement but I wonder how useful this is given the effort it would take.

It is very gimbal dependent if you are talking about exposures greater than 100ms. The camera has to be absolutely still for that long. I can't imagine a situation where

[2019-06-03 13:06] Stifael commented on #7486
Not in the case that I describe. For this issue, you can assume the gimbal is perfect.
The issue is really that you absolutely don't want to move (forward flight) during capture. This is particularly important during the night, where the exposure time needs to be increased.

If I set a survey with hover-and-capture and trigger distance 2m and there are no additional settings, then I expect the dro

[2019-06-03 13:50] dogmaphobic commented on #7486
Alright, this makes sense and it is not related to "exposure" time. That is, what you are requesting is that when you tell the mission to _hover_ and capture, truly stop the drone before triggering the camera and resuming flight. The duration of the hover period won't ever be over a second given that it's unreasonable to think a drone can take a very long exposure without movement (and it will tak

[2019-06-03 14:23] #7286 closed

[2019-06-03 14:24] Stifael opened #7488 "Hover and capture during survey (PX4 autopilot) -> capture and forward flight at the same time"
This issue is not necessarily only QGC related, but with my current state of knowledge, I think QGC is more suited to tackle the issue below.

### hover-and-capture distance-trigger
A `hover-and-capture` survey with distance-based trigger results in a waypoint grid with the following order:
First, a waypoint msg is sent (`MAV_CMD_NAV_WAYPOINT`). Each waypoint is followed by a camera-capture msg (`

[2019-06-03 14:33] Stifael commented on #7486
Partially. There are two issues:
1.) ensure that drone is fully stopped (the autopilot can handle that)
2.) take a picture and hover `long enough` before continuing (https://github.com/mavlink/qgroundcontrol/issues/7488). Here there needs to be some metrics to decide what `long enough` means.

In one of the tests that we conducted at night, we changed the shutter speed of the camera. The blurry of

[2019-06-03 19:57] Georgiyz opened #7489 "Weird text in mission start menu for Russian and German (UI)"
## Expected Behavior
Mission Start menu having all the text non-overlapping plus parameter entry textboxes to be as wide as it is for other languages when in Russian and German language mode.

## Current Behavior
Overlapping text present and textboxes too narrow to display text properly

## Steps to Reproduce:
Please provide an unambiguous set of steps to reproduce the current behavior
1.Select ei

[2019-06-03 20:11] dogmaphobic commented on #7489
All valid. We knew this would come up as the sizing of strings was bound to be longer, especially in German. We need to finally handle what we knew was coming :)

[2019-06-04 12:38] Williangalvani commented on #5793
This seems to the same as #4275

[2019-06-04 13:16] Williangalvani opened #7490 "Add hotkeys support"
Even though QGC is multi-platform, I don't see any harm in allowing navigation and some level of operation operation by using hotkeys when a keyboard is present.

It could be helpful for things like switching between Views, opening the widgets, operating the cameras, changing parameters, placing waypoints in Plan view(#4275), and likely even more.

Has this topic been discussed before? I couldn't

[2019-06-04 17:36] DonLakeFlyer commented on #7490
YEs it has been discussed and I always run into Qt's keyboard support being next to impossible to make work correctly. Just getting Esc/Enter to work on dialogs has been a nightmare.

[2019-06-04 17:44] DonLakeFlyer commented on #7427
@peterbarker Have you had a chance to try my branch?

[2019-06-04 20:15] AndKe commented on #5793
Yes, those are basically the same.
Should be labeled as for Release 3.9 ,that would be more believable, right along with proper flight monitoring features requested years ago :)

[2019-06-04 20:19] AndKe opened #7491 "Android app: add tracks."
The flight path is not visible in Android app, flying over a feature-less area, like from a ship/over sea, makes it impossible have an understanding of past search-paths.

[2019-06-04 20:28] DonLakeFlyer commented on #7491
Wierd. Do you know is this started happening recently. Not much change in that code.

[2019-06-04 21:08] AndKe commented on #7491
Sorry, I do not know. It is unusual that I use QGC for those bigger things, especially at sea.
I have made an MAVProxy module that updates home point along with the ship, and discovered that AP2 did not display updated home location.
Just for fun, I tested QGC, which updated home just fine, and made a track, then connected my phone to the GCS computer over wifi, and discovered that there were no v

[2019-06-04 22:11] DonLakeFlyer commented on #7462
QGC already shows you camera triggers with an icon on the fly view. Does adding a number to that really add value? It's going to add a lot of clutter. You should see new ones show up as the vehicle flies.

[2019-06-04 22:14] DonLakeFlyer commented on #4840
Build problems which are specific to your setup could be any of a million different problems. As I said above the travis file shows how QGC builds and android version on every pull request.

[2019-06-04 22:23] DonLakeFlyer commented on #7486
This requires two (or maybe more) new mavlink commands:
* A waypoint the vehicle flies exactly to, no acceptance radius and does not allow to mission state machine to proceed until vehicle is stable
* A camera trigger which holds the mission state machine until the image taking is fully complete

[2019-06-04 22:25] DonLakeFlyer commented on #7488
There is more detail in #7486 to cover all that is needed. We should use that one.

[2019-06-04 22:25] #7488 closed

[2019-06-05 00:32] DonLakeFlyer commented on #7474
@bigbellmercy Can you try the AppImage from here: https://qgroundcontrol.s3-us-west-2.amazonaws.com/DonLakeFlyer/QGroundControl.AppImage?

[2019-06-05 01:21] lecw opened #7494 ""Parameters are missing from firmware" but doesn't identify which"
## Expected Behavior
If some parameters are actually missing (which I'm not sure of), the error message should say which

## Current Behavior
As in the screenshot error message, sometimes QGC complains about missing parameters, but doesn’t tell me which parameters are missing (other than “-1”).

## Steps to Reproduce:
1. plug in the pixhawk, wait for it to boot
2. some messages appear (HIL is enab

[2019-06-05 15:47] DonLakeFlyer commented on #7494
Do you have console logs? The link above goes to the docs? If not, can you attach them?

[2019-06-05 16:07] DonLakeFlyer commented on #7491
I tried both daily and stable builds doing this:
* Takeoff
* GoTo Location

In both cases I got vehicle tracks.

[2019-06-05 16:20] DonLakeFlyer commented on #7474
This should be fixed now. New daily builds will be available in a few hours. Stable will be updated as well but that won't happen for a bit.

[2019-06-05 16:20] #7474 closed

[2019-06-05 16:21] DonLakeFlyer commented on #7474
@kaklik Flagged the wrong person. Can you try the new build posted above?

[2019-06-05 16:50] AndKe commented on #7491
I think I know what happened.
Like I mentioned, this was a test, we did not flew, the ship(and UAV) was moving... It is likely that the tracks are only drawers while flying... Correct ?

[2019-06-05 16:54] DonLakeFlyer commented on #7491
Only when armed. Which I think still makes sense. So things are ok here.

[2019-06-05 16:54] #7491 closed

[2019-06-05 16:55] DonLakeFlyer commented on #5793
Don't remember what that is. Is there an issue somewhere?

[2019-06-05 18:47] DonLakeFlyer opened #7499 "Tool strip spacing makes things hard to read"
The text is too far away from the icon making it hard to see what it is associated with. Before and after screenshots. Notice how much closer the text is to the icon making it easier to understand the two go together.

![Screen Shot 2019-06-05 at 11 44 21 AM](https://user-images.githubusercontent.com/5876851/58981529-62d56e00-8787-11e9-8f65-03addcfd32da.png)
![Screen Shot 2019-06-05 at 11 44 52 AM

[2019-06-05 20:20] DonLakeFlyer opened #7501 "Need full search/review of showMessage versus showMessageDialog usage"
From gitter:
I stumbling into screwed up usage of mainWindow.showMessage versus mainWindow.showMessageDialog in a bunch of places. Can you get somebody to do a full pass over the code for correct usage. It should be easy to detect given the parameter list differences.

Example from SurveyItemEditor.qml:
```mainWindow.showMessage(qsTr("Delete Preset"), qsTr("This preset cannot be deleted."), Standa

[2019-06-05 20:42] kaklik commented on #7474
@DonLakeFlyer  Yes, I could confirm that build from above is able to open the corrupted log file. Thanks for fixing the bug. :)

[2019-06-05 21:02] jaxxzer commented on #6448
I think https://github.com/mavlink/qgroundcontrol/pull/7482 covers this.

[2019-06-05 21:15] DonLakeFlyer commented on #7474
Great, thanks for verifying

[2019-06-06 05:43] olliw42 opened #7503 "Proposal for Improving User-friendliness of Component Handling, GCS Side"
In this proposal to MAVLink, [Proposal for Improving User-fiendliness of Component Handling](https://github.com/mavlink/mavlink/issues/1133), I proposed to establish a mechanism similar to that used by the Camera Manager microservice also for components in general. This would allow a GCS to retrieve relevant meta data by fetching a component definition xml file, which it can use to provide the use

[2019-06-06 06:19] olliw42 commented on #7503
few questions as regards the QGC/PX4 xml details (I'm looking at the file PX4ParameterFactMetaData.xml).

I find that it only uses `type="FLOAT"` and `type="INT32".` I also find that there can be a `<decimal>` and <increment> entry for FLOAT-type parameters, but not for INT32-type.

That it doesn't use e.g. `type="UINT8"` but only `"INT32"`,  does this mean that PX4 indeed has only integer-valued

[2019-06-06 09:48] sanderux commented on #7462
Icon? what icon? i've never seen that.
In any case, if you would add a section "CAMERA" on the values screen people can simply choose what to display. If mapping is all they do then that info would be highly relevant and very little more would be shown.

[2019-06-06 13:54] jaxxzer commented on #5260
Is there any capability here (or planned) to display multiple video streams simultaneously?

[2019-06-06 14:00] dogmaphobic commented on #5260
It's already there in code form. That is, you can create any number of the video receiver instances (with its own video source) and have its display shown concurrently with others on the screen. QGC does not have support for it within its UI but only because so far this hasn't been a standard nor common.

[2019-06-06 15:43] #7499 closed

[2019-06-06 15:54] jaxxzer commented on #5260
Does the mavlink camera api need to be involved in consideration of this? Or could this be accomplished with a patch in QGC only?

[2019-06-06 16:03] dogmaphobic commented on #5260
Only for self discovery and auto configuration. You can do all this manually. You would create a new instance of `VideoReceiver`, some UI to set its video source (or hardcode it), and finally, a new (QML) instance of `VideoItem` pointing to this new VideoReceiver.

[2019-06-06 16:49] DonLakeFlyer commented on #7462
QGC already uses the CAMERA_IMAGE_CAPTURED(px4) or CAMERA_FEEDBACK(ArduPilot) telemetry from the vehicle to display camera trigger icons on the map at the specified lat/lon position. And the at the end of a mission it will display the number of images captured.

![Screen Shot 2019-06-06 at 9 48 07 AM](https://user-images.githubusercontent.com/5876851/59050839-3af61100-8840-11e9-9c0a-a85179615332.p

[2019-06-06 17:00] DonLakeFlyer commented on #7503
QGC supports all possible MAV_PARAM_TYPE values as specified by the parameter protocol both internally throughout the code and in the PX4 Parameter Meta Data parser.

This is not currently possible. You can't do that sort of translation back/forth.

[2019-06-06 17:10] DonLakeFlyer commented on #7503
Why is that needed in addition to <short_desc> which is what is also show in the parameter editor list?

[2019-06-06 18:08] olliw42 commented on #7503
so, if I understand you correctly, the type in the PX4 `<parameter>` field must be identical to the MAV_PARAM_TYPE of the parameter, i.e. for the above example one has to write type="UINT8". Correct?

sad. Let's hope that possibility is going to be added eventually :)

I'm not sure I understand the source of confusion here. Let me try to describe more. The user would never see the cryptic mavlink

[2019-06-06 18:11] olliw42 commented on #7503
if I would add an attribute 'dispname' even when not supported, would this confuse/break QGC?

when I would use the fields `<increment>` and `<decimal>` for an integer-type parameter, would this confuse/break QGC?

[2019-06-07 09:51] olliw42 commented on #7503
I've done now "my" stuff, i.e., have support of the component definition file in STorM32, and also created xml files to start with
www.olliw.eu/drop/storm32mavcomponent_foc.xml
www.olliw.eu/drop/storm32mavcomponent_nonfoc.xml
(there are two of them since that's how the STorM32 works, but this shouldn't bother you, the request returns the correct uri for the current STorM32 mode)
I couldn't make th

[2019-06-07 13:48] #7501 closed

[2019-06-07 17:33] DonLakeFlyer commented on #7503
QGC ignores tags it doesn't know about.

<increment> is support on any value. That said it only comes into play if the value is repsented int he ui as a slider which is only done on a couple tuning parameters.

<decimal> on an int would be parsed and then set in the meta data but ultimately do nothing with them. That said, it could leads to possible bugs if QGC code is incorrect  or changes. In re

[2019-06-07 18:45] olliw42 commented on #7503
in the above .xml's you'll find `<increment>` included, since
- I really think it should be trivial to adapt the QGC code such that they are ignored then QGC doesn't want to use them
- gives you guys the option to add such support
This would have been true for `<decimal>` too, but I wasn't 100% sure what they do, so left them out.

in my QT STorM32 App (which is outdated now however) one can both

[2019-06-07 19:18] DonLakeFlyer commented on #7503
<decimal> specifies how many decimal places you want to display on a real number:
<decimal> 1 -> 10.1
<decimal> 2 -> 10.12

[2019-06-07 19:21] olliw42 commented on #7503
many thx
this was my guess but I couldn't confirm, thx for clarifying
I could quickly update the xml's to include them too, if that is desirable

[2019-06-08 01:56] lecw commented on #7494
No I didn't have them, and now I can't reproduce it. Now I run into "Firmware is not latest stable version ! Firmware version is -1.-1.-1, latest stable is 1.9.0.".

![Screenshot from 2019-06-07 21-54-58](https://user-images.githubusercontent.com/49571610/59140687-f1f0aa80-896e-11e9-96fd-0413ad75c9e1.png)

We have two computers (both Ubuntu) that both pull our firmware from the same github and pus

[2019-06-08 17:00] DonLakeFlyer commented on #7494
Your firmware is not reporting correct version information in the AUTOPILOT_VERSION message.

[2019-06-09 16:55] DonLakeFlyer opened #7509 "Toolbar logo calc is broken"
Brand logo should hide if it overlaps the tools. I had fixed this a while back.

![Screen Shot 2019-06-09 at 9 54 20 AM](https://user-images.githubusercontent.com/5876851/59161868-9c1a2080-8a9c-11e9-9c6b-33396cd5ef8f.png)

[2019-06-09 17:49] dogmaphobic commented on #7509
It was a combination of the obscene size of the logo and the lack of code to handle its visibility if no available space.

[2019-06-09 17:51] DonLakeFlyer commented on #7509
Hah, ya that's bigger than it used to be isn't it

[2019-06-09 19:59] #7509 closed

[2019-06-11 01:52] hamishwillee commented on #6621
@DonLakeFlyer You might want to close this

[2019-06-11 01:55] hamishwillee opened #7513 "QGCv3.5.2 Typo in info for using saved RTK position"
The info dialog for all RTK "Use Specified Base Position" fields has text "Appliction restart required .." - note Application is misspelled. This is QGC 3.5.2

![image](https://user-images.githubusercontent.com/5368500/59238035-b8a28e00-8c3f-11e9-9623-0e5e0b794557.png)

[2019-06-11 04:50] alimollaye opened #7514 "undefined keyword or key name: LastQtWidgetBuild"
hello. i'm new in qt and i try to compile QGC in win10 . everything is ok except an Error that i can't figure it out. this is error Message:
E:\QGroundContol_project\Working_Version\build-qgroundcontrol-Desktop_Qt_5_11_0_MSVC2015_32bit-Release\QGroundControl_resource.rc:6: error: RC2104 : undefined keyword or key name: LastQtWidgetBuild
i skipped the line in resourece file that were related to "La

[2019-06-11 19:47] DonLakeFlyer commented on #7494
Without a repro I'm closing this.

[2019-06-11 19:47] #7494 closed

[2019-06-11 19:58] DonLakeFlyer commented on #7466
I can get master to crash but I can't get Stable to crash.

[2019-06-11 20:17] DonLakeFlyer commented on #7412
This should be fixed now in daily builds

[2019-06-11 20:17] #7412 closed

[2019-06-11 20:18] DonLakeFlyer commented on #7402
@dogmaphobic Where are things at with iOS version?

[2019-06-11 20:20] DonLakeFlyer commented on #7466
From fixing ths crash this would not have affect Stable.

[2019-06-11 20:20] #7466 closed

[2019-06-11 20:20] #7513 closed

[2019-06-12 14:04] jarivanewijk commented on #7360
@DonLakeFlyer The Mission Planner drivers for Windows have been updated. https://github.com/ArduPilot/MissionPlanner/pull/2155
I think once the driver is also included in QGroundControl, this issue is completely solved.

FYI @igalloway @LeoMustafaNXP @davids5

[2019-06-12 16:17] RyanHurst opened #7516 "MacOs: joystick crash"
## Current Behavior
QGC crashes when using a Playstation DualShock 4(DS4) controller

## Steps to Reproduce:
1. Open QGC
2. Plug in DS4 controller
3. Connect to vehicle
4. Calibrate controller joysticks
5. Fly a drone around until QGC crashes

## System Information
- Operating System: Mojave 10.14.
- QGC build: Daily 683ffe673 and 3.5.2 release
- Flight Controller: pix racer
- Autopilot (with vers

[2019-06-12 22:04] ArkadiuszNiemiec opened #7517 "Strange audio language on Ubuntu 18.04 + workaround"
## Expected Behavior
I expect the QTextToSpeech to use system locale to generate audio or TTS.

## Current Behavior
I get English TTS in a strange accent which is almost not understandable.

## Steps to Reproduce:
1. Fresh Ubuntu 18.04 configured with US locales (installed in Poland and connected to local wifi)
2. Install QGroundControl (daily or stable)
3. Connect to PX4
4. Listen

## System Info

[2019-06-12 22:43] ArkadiuszNiemiec commented on #7517
This bug report confirms my theory: https://bugreports.qt.io/browse/QTBUG-73552

[2019-06-13 00:10] dogmaphobic commented on #7517
This is a dupe of some other issue but your bug research made a lot simpler to fix it. On it...

[2019-06-13 01:53] dogmaphobic commented on #7517
Can you please try this and see if this makes any sense? As I explained in the PR, we may need to do the opposite (force it to use English always, regardless of your locale): https://github.com/mavlink/qgroundcontrol/pull/7518

[2019-06-13 07:40] Stifael commented on #7486
Can that not be solved with the current message? Is there ever the case where someone wants to do hover-and-capture (not fly-through) and does not care about the precise location?

[2019-06-13 11:46] dogmaphobic commented on #7517
See https://github.com/mavlink/qgroundcontrol/pull/7518#issuecomment-501668327

[2019-06-13 14:13] ArkadiuszNiemiec commented on #7517
Fixed by #7518

[2019-06-13 15:30] rollysing commented on #7367
Just following up to see if there's been any progress on this.

Thanks.

[2019-06-13 17:10] DonLakeFlyer opened #7519 "Windows: Drivers don't seem to be installing"

[2019-06-13 18:02] eitan-babcock opened #7523 "Cannot update firmware on new Pixhawk Cubes"
## Expected Behavior
Installing the firmware according to the standard installation steps should work.

## Current Behavior
While following the normal firmware upgrade steps, the Cube kicks out of the boot loader before the firmware can be loaded. It says "detected pixhawk Cube" and then immediately says "Upgrade cancelled" and goes to the Summary page and loads the parameters like a normal boot.

[2019-06-13 18:04] eitan-babcock commented on #7523
I also just tried the latest daily build of QGC. It had different behavior. It no longer immediately kicked out to a normal boot. I was able to go through the motions to upgrade firmware, but right when I clicked "OK" it seg faulted `Setmentation fault (core dumped)` and crashed the program.

[2019-06-13 18:35] focusonesoftware opened #7524 "qgroundcontrol with gstreamer problem"
Hi,

I build groundcontrol w/o gstreamer on windows, It's OK.
I build qgroundcontrol with gstreamer on windows, I found "ASSERT failure in QSGNode::prependChildNode: "QSGGeometryNode is missing geometry", file scenegraph\coreapi\qsgnode.cpp, line 414 scenegraph\coreapi\qsgnode.cpp: 414".

windows 10
gstreamer version 1.14.4
qgroundcontrol master on 14/06/2019

Thank you.

[2019-06-13 21:32] DonLakeFlyer commented on #7523
That should be fixed if you download a new daily and install again.

[2019-06-13 21:45] eitan-babcock commented on #7523
Confirmed, the newest daily build works in all regards for me.

Any idea when this will be pulled into a release? I need to know if I should have the rest of my development team pull the daily build or wait until the release.

[2019-06-13 21:47] DonLakeFlyer commented on #7523
Nope. At this point I don't know exactly what it is. Depends on how involved the difference is. It may not be possible/safe if too complex.

[2019-06-13 22:38] DonLakeFlyer commented on #6621
This statement is still correct. Those coordinates should be available for display in the instrument panel.

[2019-06-14 09:32] twistedwings opened #7526 "Feature request 8 servos on heli setup page"
currently only 4 servos are supported on the new (and great) heli setup page.
On my controller Matek F405-Wing the first 2 servo slots are reserved for ESCs.

So the servo mapping looks like this in MP:

![heli mp](https://user-images.githubusercontent.com/562809/59499283-5c39ab80-8e97-11e9-9e0d-f31785ec1bb7.JPG)

In qgroundcontrol it looks like this:

![heli2](https://user-images.githubuserconten

[2019-06-14 19:12] DonLakeFlyer commented on #7526
@twistedwings Do you know if the SERVO5-8_* parameters are something only available in more recent firmwares?

[2019-06-14 19:46] twistedwings commented on #7526
My 1st ArduPilot was Copter 3.6.7.
But they should be there since Copter 3.4.
[http://ardupilot.org/copter/docs/common-rcoutput-mapping.html](url)

[2019-06-14 20:10] DonLakeFlyer commented on #7526
Can you verify tomorrow from a new Daily?

[2019-06-15 13:51] twistedwings commented on #7526
I have tested this version:

![image](https://user-images.githubusercontent.com/562809/59552276-2d016800-8f85-11e9-8fd0-e624163e40c4.png)

I can't see any difference

![image](https://user-images.githubusercontent.com/562809/59552293-4d312700-8f85-11e9-9b71-c4c6cf6f1167.png)

[2019-06-15 16:27] DonLakeFlyer commented on #7526
Sorry the change hadn't been merged in yet. New daily build should be available in an hour.

[2019-06-15 16:52] DonLakeFlyer commented on #7524
If you want to see how QGC creates daily builds from master look at https://github.com/mavlink/qgroundcontrol/blob/master/.appveyor.yml. This sequence of steps has not problem creating a build that works.

[2019-06-15 16:52] #7519 closed

[2019-06-15 16:54] DonLakeFlyer commented on #7514
I believe this has been fixed in latest master

[2019-06-15 16:54] #7514 closed

[2019-06-15 16:55] DonLakeFlyer commented on #7462
I"m closing since QGC shows camera trigger icons already.

[2019-06-15 16:55] #7462 closed

[2019-06-15 17:02] DonLakeFlyer commented on #7444
Not yet in stable branch

[2019-06-15 17:03] DonLakeFlyer commented on #7445
This needs to be in Stable branch as well

[2019-06-15 17:58] DonLakeFlyer commented on #7516
Hmm, there isn't really anything on the QGC side going on here. It's all in the library we use for joystick support and/or OSX. Which unfortunately means there is much we can do. Let me look if there is a newer SDL lib which can be used.

[2019-06-15 18:28] DonLakeFlyer commented on #7514
It's cause by the git tag LastQtWidgetBuild. If you remove the tag from your local repo it should build. The tag has been removed from master.

[2019-06-15 18:44] twistedwings commented on #7526
looks good, thanks alot!

![image](https://user-images.githubusercontent.com/562809/59555115-0d326a00-8fae-11e9-9d37-1c210e4f3066.png)

[2019-06-15 19:13] DonLakeFlyer commented on #7524
Even though appveyor seems to be working. There is something strange going on here. Possibly only with debug builds. I can something similar to happen for me.

[2019-06-15 19:17] #7526 closed

[2019-06-15 19:21] DonLakeFlyer commented on #7524
Verified that release builds work. Only debug builds fail.

[2019-06-17 17:30] DonLakeFlyer commented on #7427
Fixed

[2019-06-17 17:30] #7427 closed

[2019-06-18 17:58] DonLakeFlyer commented on #7524
Also Stable works fine. Also just realizing that appveyor has not been switched to 1.14.4. So it's using old version 1.5.2 installer. I've put up the 1.14.4 installers on to S3 for use. But I'll leave things as is for now. I'm switching Sentera stable to 1.14.4 though for testing.

[2019-06-18 18:15] DonLakeFlyer commented on #7367
@rollysing Can you try this new version: https://qgroundcontrol.s3-us-west-2.amazonaws.com/DonLakeFlyer/QGroundControl-installer.exe

[2019-06-18 21:09] rollysing commented on #7367
No joy. Tried all three startups.

Thanks.

[2019-06-19 17:16] y27988 opened #7538 "Multi vehicle routes display issue"
in file "FlightDisplayViewMap"，The original：
MapItemView {
 model: _mainIsMap ? _activeVehicle ? _activeVehicle.trajectoryPoints : 0 : 0
 delegate: MapPolyline {
 line.width: 3
 line.color: _activeVehicle ? _activeVehicle.trajectoryColor : "red"
 z: QGroundControl.zOrderTrajectoryLines
 path: [
 object.coordinate1,
 object.coordinate2,
 ]
 }
 }
it only display one vehicle route, and I modify the c

[2019-06-19 17:19] y27988 commented on #7538
anyone have other methods to display all Vehicle Route?

[2019-06-19 17:32] DonLakeFlyer commented on #7538
You can't add Map* items to a Map dynamically using a repeater. The only way to do that is by calling Map.add* methods. If you look at something like QGCMapPolygonVisuals.qml you can see an example of adding things dynamically to a Map.

[2019-06-19 17:32] #7538 closed

[2019-06-19 17:34] DonLakeFlyer commented on #7367
Not sure we are going to be able to fix this until we move to 64 bit and Qt 12. Then we may need to get a fix out of Qt for it. Possibly has something to do with suspending. Not sure if there if a way to make that not happen by change the power settings on the laptop or not.

[2019-06-19 17:45] rollysing commented on #7367
Ok, thanks. So is that the difference of QGC vs Mission Planner? Just curious since MP installs, runs and upgrades without any issue.

Thanks for all the attention and assistance.

[2019-06-19 17:46] DonLakeFlyer commented on #7367
MP and QGC are radically different. MP is a native windows C# application. QGC is a cross platform C++ using a library (Qt) to provide the cross platform and ui support.

[2019-06-19 17:53] DonLakeFlyer commented on #7367
Also in general it's the Lenovo Thinkpads which cause the most problems in combination with the Intel integrated graphics driver which appears to be crap. If you do internet searches associated with the Intel drivers you'll find a wasteland of apps having problems with them.

[2019-06-21 10:25] dissident76 commented on #7309
Much needed

[2019-06-21 10:36] dissident76 opened #7540 "Record stream button placement (and keyboard shortcut)"
ArduSub (BlueROV2)
Please add a "Record Stream" button somewhere else (and a keyboard shortcut) so the button can be pressed while displaying the telemetry Values. It takes too long to switch back and forth to the Video Stream menu every time I want to record a short video of marine life passing by -most of the times, action is over by the time it starts recording.

[2019-06-21 14:21] AssumeAGas opened #7541 "ADS-B vehicle timeout not working"
From looking at src/Vehicle/ADSBVehicle.h and src/Vehicle/ADSBVehicle.cc, ADS-B vehicles should disappear after 2 minutes without communication. I've tested this on a sim by allowing ADS-B vehicles to spawn and then setting SIM_ADSB_COUNT to 0, and on hardware with a PingRX. With both of them, vehicles don't get deleted after any length of time without ADSB_VEHICLE packets.

- Operating System: Wi

[2019-06-21 19:14] jaxxzer commented on #6448
I think this can be closed @DonLakeFlyer @dogmaphobic

[2019-06-21 20:02] #6448 closed

[2019-06-21 20:21] jaxxzer commented on #7352
I think it could have something to do with the class of vehicles, water is so much denser than air and incompressible that the data from water pressure sensors is that much more precise. For other vehicles it would be difficult to guess though, so you're right.

I think the only appropriate solution would be for Facts to derive their display resolution from the mavlink spec (is a particular field

[2019-06-21 20:21] #7352 closed

[2019-06-22 18:38] rollysing commented on #7367
Just odd that I've been using Lenovo laptops for a better part of this decade and this is the first (and only) one that has run into this problem. Admittedly that this is the only one that has a 2160 x 1440 native resolution.

Thank you for all the help.

[2019-06-24 09:21] thomasgubler opened #7544 "Feature Request: Calibration Feedback Screen"
Requested from @bkueng based also on feedback of @RomanBapst
after the compass (and maybe accel/gyro too) calib, there should be some kind of window that shows you the new calibration values (and comparing against the previous ones).

[2019-06-24 17:29] DonLakeFlyer commented on #7544
I had talked to @LorenzMeier About this a while back. QGC-ArduPilot already has support for this. If you look here under Compass Call you can see it: https://docs.qgroundcontrol.com/en/SetupView/sensors_ardupilot.html. I think it works really well and is understandable by mere mortals like me. This is supported through the MAVLINK_MSG_ID_MAG_CAL_REPORT in the ArduPilot mavlink dialect.

[2019-06-25 11:44] MaEtUgR opened #7547 "Daily: Parameter Screen Empty"
## Expected Behavior
Show all the synced parameters under the "Parameters" tab.

## Current Behavior
<img width="690" alt="Unbenannt" src="https://user-images.githubusercontent.com/4668506/60095425-ccc1b180-974e-11e9-939a-e71192009cae.PNG">

## Steps to Reproduce:
1. Download latest daily
2. Connect to pixhawk with latest stable PX4 1.9.1
3. Try to change a parameter in the UI

## System Informati

[2019-06-25 12:22] dogmaphobic commented on #7547
Found it. On it...

[2019-06-25 18:08] UnmannedAirman commented on #7523
It appears this issue was resolved. Sorry, but what were the steps you guys took to resolve the issue? I have about 15 cubes that all have the issue described in the original post.

[2019-06-25 18:16] eitan-babcock commented on #7523
The daily build from Jun 13 had a fix in place. All I did was install the daily build of QGC from that day and it worked. I imagine any daily builds after that day still work, but I haven't tried.
https://docs.qgroundcontrol.com/en/releases/daily_builds.html

[2019-06-25 21:20] #7213 closed

[2019-06-26 02:38] #7547 closed

[2019-06-26 05:54] patilakash commented on #6003
I also got same Issue in QGCS. Firmware Loading is working in Mission Planner but not in QGCS. The log file is attached. Please suggest me the solution
[Firmware_Issue_Log.txt](https://github.com/mavlink/qgroundcontrol/files/3328421/Firmware_Issue_Log.txt)

[2019-06-26 17:14] DonLakeFlyer commented on #6003
What exact issue?

[2019-06-27 16:05] Bosuwort opened #7552 "Parameters missing entirely"
I build and release the latest qgroundcontrol and connect the pixhawk board, but the parameters are not shown. I click the button of parameter and there's nothing. Could anyone help me solve it?

[2019-06-27 16:32] jaxxzer commented on #1890
Update, QGC does work with RTSP streams. It does not depend on that rtsp stream to be generated by gstreamer. It works with off the shelf ip cameras, for example, and it should work with your chipset @mhkabir.

[2019-06-27 16:49] jaxxzer commented on #7524
Worth noting there is a more recent stable release of gstreamer: [1.16](https://gstreamer.freedesktop.org/releases/1.16/)

[2019-06-27 17:03] dogmaphobic commented on #7524
Which, as far as I can tell, requires a 64-bit build of Windows. That is not working yet.

[2019-06-27 19:23] ATStahl opened #7554 "Photo-triggering fails during autonomous missions"
I am using the current stable release of QGroundControl (v.3.5) on a Windows 10 laptop. The drone is a stock 3DR Solo (which I do not have permission to upgrade). It has a Pixhawk 2 and ArduPilot (stock Solo, modified version 3.3). QGroundControl communicates with the Solo, is able to upload and download and fly autonomous missions with waypoints. In the planned mission that was uploaded, "Take ph

[2019-06-27 20:25] DonLakeFlyer commented on #7445
@MatejFranceskin Can you move this to Stable_V3.5.1?

[2019-06-27 20:25] DonLakeFlyer commented on #7444
@MatejFranceskin Can you move this to Stable_V3.5.1?

[2019-06-28 02:17] Bosuwort commented on #7552
I found the same problem#7547

[2019-06-28 02:33] dogmaphobic commented on #7552
Which was fixed in #7548 as described in that (closed) issue.

[2019-06-28 02:33] #7552 closed

[2019-06-29 21:32] paralin commented on #1718
I'm having this problem with an old Pixhawk, any fix?

[2019-07-02 23:09] #7444 closed

[2019-07-02 23:09] #7445 closed

[2019-07-03 00:21] jaxxzer commented on #7367
@rollysing what is your laptop model?

[2019-07-03 02:15] love-mj opened #7560 "Reboot via QGC does not restore dropped RC connection"
Quite often I have the RC control stop working after powering on the autopilot. It doesn't lose signal or indicate lost connection in QGC, it just stops responding to inputs from the RC radio. This only happens before arming, never after. It seems to not happen if I constantly move the sticks pretty regularly, but if left alone for a minute.

I'm not sure why this happens, but at the least if I co

[2019-07-03 02:37] rollysing commented on #7367
Lenovo Thinkpad X1 20GG001KUS

[2019-07-03 06:58] Evanhahaha opened #7561 "QGC crash on IOS"
After building the ios release version, i tried to run it on XCode. However, it failed and i found "ASSERT failure in QSGNode::prependChildNode: "QSGGeometryNode is missing geometry", file scenegraph/coreapi/qsgnode.cpp, line 414". XCode reported that it found "QSGRenderThread (18): signal SIGABRT" at the 41 line of the AppMessages.cc file.

Botth gstreamer and QGC are of the latest version.

[2019-07-03 10:10] love-mj commented on #7560
An electrical reset can be done by either removing power or pushing the FMU reset button the side of Pixhawk next to the USB connector.
You can accomplish a firmware reset by using the CLI to reset the Pixhawk to factor parameters. You should save your existing parameters if you do not want them erased during a firmware reset.
Regards

[2019-07-03 16:06] DonLakeFlyer commented on #7560
QGC isn't in control of any of this. You are going to need to talk with firmware/hardware setup folks.

[2019-07-03 16:06] #7560 closed

[2019-07-03 16:08] DonLakeFlyer commented on #7561
This is master right? @dogmaphobic This smells a lot like the windows crash on boot with master.

[2019-07-03 16:09] DonLakeFlyer commented on #7367
@antiheavy Is this similar to your folks laptops?

[2019-07-03 16:12] DonLakeFlyer commented on #7367
I want to try a few more things...

[2019-07-03 16:24] DonLakeFlyer commented on #7367
@rollysing Can you try this: https://qgroundcontrol.s3-us-west-2.amazonaws.com/DonLakeFlyer/QGroundControl-installer.exe. It has gstreamer compiled out of it. If it still crashes attach the dump.

[2019-07-03 18:49] rollysing commented on #7367
@DonLakeFlyer No joy. CrashLogs here https://1drv.ms/f/s!Ar66Lk6yrxscgkj63lwFDT4-1xPp

[2019-07-03 19:55] rollysing commented on #7367
@DonLakeFlyer By the way, that installer was being blocked by Windows. Had to go Advanced.
![image](https://user-images.githubusercontent.com/20650795/60621119-dd0b0980-9daa-11e9-96b3-6430f9e0f83e.png)

[2019-07-03 21:32] jaxxzer commented on #7344
Closing this as the issue is unique to sub, and the suggested auto-config feature is a better solution.

[2019-07-03 21:32] #7344 closed

[2019-07-04 07:13] love-mj commented on #7560
thank you

[2019-07-04 10:04] Evanhahaha commented on #4187
I also get this message and sdl2 is in installed already. This is on Mac pro

[2019-07-04 10:05] Evanhahaha commented on #4187
I also get this message and sdl2 is installed already. This is on Mac pro

[2019-07-04 11:44] FlavioTonelli opened #7562 "Android: Undesired popup on App start"
QGC master shows an undesired window when the application start on an Android system.
The window contains the labels: "Survey","Corridon Scan","Structure Scan"(See attached Screenshot)
![Screenshot_20190619-084944](https://user-images.githubusercontent.com/9391950/60664219-9af0cf00-9e61-11e9-92bd-c56029ac072e.png)

[2019-07-04 12:57] Raviu8 opened #7563 "Feature request: Use android device GPS for ardupilot"
Hi,
I'd like to be able to use my built-in android device GPS receiver for ardupilot.
Ardupilot has a mavlink GPS driver, - also a nmea one - so it's be very good to add a feature to QGC-for-android to forward GPS from android to ardupilot.
QGC should take care of running this as a unkillable service not to stop on screen locking.

[2019-07-04 13:00] feemi commented on #2563
Hi @LorenzMeier @DonLakeFlyer,

This issue was closed long time ago. Could you find the root cause of the problem ?

We are having exact issue with various versions including v1.9. We are having this problem in mac and windows but not in ubuntu with pixhawk 2.1 cube fmu-v3 board.

pixhack5+ fmu-v5 is working properly.

Steps to reproduce:

1. If i reflash px4 firmware nothing changes.
2. If i flas

[2019-07-04 17:02] DonLakeFlyer commented on #7554
I don't think ArduPilot+Solo supports these camera commands (take single photo). The fact that the command doesn't come back when you download from the vehicle kind of indicates that. You'd have to ask the ArduPilot folks about that. The mavlink command is MAV_CMD_IMAGE_START_CAPTURE with param3=1 to take a single picture. I think things like trigger distance do work.

[2019-07-04 17:02] #7554 closed

[2019-07-04 17:07] DonLakeFlyer commented on #2563
Can you enter a new issue with exact details. There are multiple things dicussed in this issue. So what the "exact issue" is unclear.

[2019-07-04 17:09] DonLakeFlyer commented on #7563
That is not currently possible.

To do what? As far as I know ArduPilot doesn't support such a thing either.

[2019-07-04 17:11] DonLakeFlyer commented on #7562
@dogmaphobic This is more craziness with the Qml 2 Menu implementation. I think we may need to make a QGCMenu which isolates itself to Qml 1 Menu control and then switch back to using the control 1 Menu thing. The v2 one is just to screwed up.

[2019-07-04 17:13] DonLakeFlyer commented on #4187
libsld2-dev has nothing to do with OSX. That is just for Ubuntu. OSX builds use an SDL framework which is part of the repo.

[2019-07-04 17:18] DonLakeFlyer commented on #7367
@rollysing Are the three crash logs in there the three startup variants? Or just three crashes from regular boot?

As far as the windows protection thing. It always does that since the installer is not signed. @hamishwillee May be worthwhile to include in the docs to steps to work around this. OSX has a similar thing where you need to right-click and select Open to be allowed to run for the first

[2019-07-04 17:27] DonLakeFlyer commented on #7367
@dogmaphobic FYI...

So the stack trace is this:
![Screen Shot 2019-07-04 at 10 25 10 AM](https://user-images.githubusercontent.com/5876851/60681965-193f7800-9e46-11e9-859e-736fd4fee5e7.png)

From internet search dsengine.dll seems to be related to Qt QCameraInfo: https://stackoverflow.com/questions/56180327/which-dlls-are-needed-for-qt-multimedia-qcamerainfoavailablecameras-to-retu

The version @

[2019-07-04 17:34] dogmaphobic commented on #7367
Yes, UVC video is separate from GStreamer. UVC support is handled through Qt Multimedia, using a very different code path.

[2019-07-04 17:35] DonLakeFlyer commented on #7367
Ok, let me hack that out and see what happens.

[2019-07-04 17:40] DonLakeFlyer commented on #7367
@rollysing Can you try this one: https://qgroundcontrol.s3-us-west-2.amazonaws.com/DonLakeFlyer/QGroundControl-installer-nogstuvc.exe? This has both gst and uvc compiled out.

[2019-07-04 18:30] Antiheavy commented on #7367
The Lenovo's that our internal folks are using and also many of our customers are using are various models in the Thinkpad P-series.  The application crashes we are experiencing for the most part sound different than the one @rollysing is reporting (although maybe all related somehow).  However, we recently had a customer who seemed to be having an issue similar to @rollysing - no idea what type o

[2019-07-04 18:32] rollysing commented on #7367
Tally Ho! This one did it!

[2019-07-05 18:03] DonLakeFlyer commented on #7367
Ok, let me start putting things back one at a time and you can try them and then hopfully we can nail it down exactly.

[2019-07-05 18:49] DonLakeFlyer commented on #7367
@rollysing Let me know what happens with this one: https://qgroundcontrol.s3-us-west-2.amazonaws.com/DonLakeFlyer/QGroundControl-installer-nouvc.exe

[2019-07-05 19:20] rollysing commented on #7367
@DonLakeFlyer That worked albeit, UVC device not showing in Video Source as the installer name indicated.

[2019-07-05 19:24] DonLakeFlyer commented on #7367
Are you actually trying to use a UVC device on this laptop with QGC? If so, didn't realize that.

[2019-07-05 19:35] rollysing commented on #7367
Yes, for OSD via FPV camera.

[2019-07-05 20:43] #7562 closed

[2019-07-08 07:49] julianoes commented on #3115
I guess it is fine. I don't see where else the window could be placed.

[2019-07-08 07:49] #3115 closed

[2019-07-08 08:42] hslyu opened #7567 "Language selection issue"
## Expected Behavior
Language changes according to the selection

## Current Behavior
UI shows English regardless of the selection

## Steps to Reproduce:
Please provide an unambiguous set of steps to reproduce the current behavior
1. Windows 10, amd64 computer.
2. Download QgroundControl daily builds in official website.
3. After installation, select language
3. Nothing changes

## System Informa

[2019-07-08 18:35] xkam1x opened #7568 "Second battery values not updating in widget UI."
OS Version: macOS Mojave 10.14.5
QGC Version: 3.5.3 Stable Release
Flight Controller: Pixhawk 4 (Holybro)
Ardupilot: Copter 3.6.9 Stable Release

I have configured the Pixhawk to use both of its power ports for battery voltage and current monitoring. Pixhawk 4 uses ADC 0 and 1 on power port 1 for voltage and current respectfully and ADC 2 and 3 on power port 2 for voltage and current respectfully.

[2019-07-09 04:59] feemi commented on #7568
We are experiencing same problem with Cube Pixhawk 2.1 hardware. ADC channels are 2-3 for main brick and 13-14 for backup brick.

[2019-07-09 12:27] #7338 closed

[2019-07-09 16:50] feemi opened #7571 "Pixhawk px4 usb connection problem"
## Expected Behavior
Autopilot should be connected via usb successfully.

## Current Behavior

We can not connect  to qgc from usb. This problem only occurs with usb connection. It connects successfully from telem1 uart via ftdi or similar. When we upload ardupilot and reflash px4 it looks fixed. But if change some parameters or update frame and reboot then problem reappears. Error screenshot is a

[2019-07-10 08:22] start0821 opened #7572 "Parameter setting is not applied when reboot a vihicle"
The following template is for Issue/Bug reporting only. https://docs.qgroundcontrol.com/en/Support/Support.html#github-issues

For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

If you are using an old stable release please upgrade first and verify your issue before reporting.
----

## Expected Behavior
I need to set `SYS_COMPANION` in `SYSTEM PARAMETER` to Comp

[2019-07-10 08:49] jarivanewijk commented on #7360
@DonLakeFlyer any progress on getting the new drivers into QGC?

It would be great if we could get a stable QGC release with FMUK66 support. That will be very useful for the participants of the HoverGames. From what I have read, it seems unlikely that there will be a new major stable release soon, but maybe it would be possible to do a 3.5.4 release with the updated drivers and these two pull requ

[2019-07-10 09:36] feemi commented on #7571
In some cases formatting sd card fixes the issue but not every time. i ve seen similar old closed issues but i couldnt find the root cause.

[2019-07-10 09:45] feemi commented on #7572
Hi,

Sys_companion parameter is deprecated as it seen. So you should use mavlink parameters

There is MAV0_ and MAV1_ and MAV2_ options
Usually MAV0 is used for ground control station telemetry.

You can assign MAV1_ for onboard communication. You should select the interface on MAV1_CONFIG parameter. In your case i assume it would be TELEM2, then you can select MAV1_MODE to onboard.

<img width="8

[2019-07-10 10:16] start0821 commented on #7572
Thank you for replying !!
I edit the QGC version to 1.9.2 and I'll try again!

[2019-07-10 17:00] feemi commented on #7572
Hi @DonLakeFlyer I guess you can close this issue.

[2019-07-10 17:03] #7572 closed

[2019-07-10 23:14] RyanHurst commented on #5872
Why was this issue closed if it wasn't ever merged?

[2019-07-11 05:07] dogmaphobic commented on #5872
There is work being done to this. A new PR is coming shortly.

[2019-07-11 09:52] jkflying commented on #7571
Are you powering the FCU from the USB, or do you power it from batteries first before connecting the USB?

[2019-07-11 11:07] feemi commented on #7571
We tried different cases.

For cube fmu-v3 it doesnt matter. Powering from usb or powering from battery doesnt change the result.
If cube connects properly with usb power. it connects also when powered from battery.

Pixhack 5+ fmu-v5. It doesnt connect when powering from battery first. It connects properly with only usb power.

[2019-07-12 18:43] rollysing commented on #7367
@DonLakeFlyer Just following to see if there's an updated installer that would include UVC integration.

Thanks.

[2019-07-14 23:21] hamishwillee opened #7577 "QuadX image has screwed up font motor 3"
See the old/fixed version provided in https://github.com/PX4/docs.px4.io/pull

![image](https://user-images.githubusercontent.com/5368500/61190390-e23b5300-a6de-11e9-995d-1d162907c72e.png)

I copied this into devguide/user guide, but I presume that you also need it in QGC?

[2019-07-15 02:12] wuuhii opened #7578 "QGC(Debug Edition) Crashed as Soon as It Started Running"
### Ground station operating system
windows 10 64bits professional edition
### QGroundControl version and build
Building from master(with Qt 5.11.3 and vs 2015)
### Exact steps to reproduce the problem
Running the application after building finished, the bug will occur. (The bug will occur when build with debug edition, release edition has no the bug.)
### Screenshot
![QGC_DEBUG_BUG_20190715](http

[2019-07-15 02:17] wuuhii commented on #7561
It will be occur on Windows. Please look over the issues 7578.

[2019-07-15 03:41] zhangxh2000 commented on #7217
I used the latest Master，but when I change to another language,nothing happened, and I found this log "QGCApplication.cc:437-"Error loading Qt localication for "zh_CN“",I builded the QGC myself，Does I missed something when building?

[2019-07-15 04:35] sona-19 opened #7579 "Add total distance to TransectStyleComplexItemStats.qml"
Can you please add total mission distance(distance of transects+turns) in the survey statistics?

[2019-07-15 13:17] #7579 closed

[2019-07-15 16:33] marcmerlin commented on #6624
Thank you for this. The biggest need for me has been motor/amp testing at my desk in places where the GPS doesn't always allow arming.
Do you know which mavlink clients support this new force-arm? (mission planner, apmplanner, qgroundcontrol), and on android (tower, qgroundcontrol, other...)

[2019-07-15 16:36] marcmerlin commented on #6624
just to cross-reference my own bug for the same request: https://github.com/ArduPilot/ardupilot/issues/3825

[2019-07-15 23:01] edwinhayes opened #7580 "Microhard issues."
I've got some concerns about the way that 'support' for Microhard radios as been added in master (PR #7291 and related).

Mostly, it changes settings on both the local and remote radio every time it attempts to connect (`MicrohardSettings.cc -> _readBytes()`) - namely the radio encryption key (via the `AT+MWVENCRYPT` command).

This is pretty insane.  There is basically no documentation or other i

[2019-07-15 23:03] edwinhayes commented on #7580
(I realise most devs probably won't have the equipment to test stuff like this; we run MH radios, so we're happy to do it.)

[2019-07-15 23:14] edwinhayes opened #7581 "Telemetry RSSI indication inconsistency."
The Telemetry RSSI widget (`TelemetryRSSIIndicator.qml`) hard codes the RSSI to be displayed with " dBm" afterwards.  The value itself is reported as a positive integer, so you set something like:

![Screen Shot 2019-07-16 at 11 07 34](https://user-images.githubusercontent.com/15720644/61254837-39622600-a7ba-11e9-89a0-3216c2753bc7.png)

But 46dBm would be pretty hot; the actual value is -46dBm.  H

[2019-07-16 02:03] #7478 closed

[2019-07-16 05:56] wuuhii commented on #7567
The same to me!

[2019-07-16 13:04] MatejFranceskin commented on #7580
Hi. I think you're right. The configuration for setting the encryption was needed in a particular use case and introduces potential problems. As well as point 1. I will make some changes and get back to you.

[2019-07-16 13:42] marcmerlin commented on #6624
thanks, sounds like it may be the only client that support this for now.
But one is good enough, I'll switch to it :)

[2019-07-16 17:52] DonLakeFlyer commented on #6624
@peterbarker I don't want to add this as something ArduPilot specific. Can you get an update to mavlink spec through for this then I'll implement?

[2019-07-16 18:05] DonLakeFlyer commented on #7581
I think there was some big discussion on this a while back since the mavlink spec was clear as mud on it. @dogmaphobic would know more

[2019-07-16 18:28] DonLakeFlyer commented on #7578
@dogmaphobic This is most likely the thermal camera rendering crash I was telling you about a while back

[2019-07-16 18:38] DonLakeFlyer commented on #7360
Sorry I've been out of town. I'll look at getting to this when I dig myself out form under backlog.

[2019-07-16 18:50] DonLakeFlyer commented on #7568
QGC does not support the BATTERY2 mavlink message which is ArduPilot specific. QGC expects battery 2 status to be updated using the mavlink generic BATTERY_STATUS message with BATTERY_STATUS.id set to different ids to indicate multiple batteries.

That said I thought that ArduPilot did support this BATTERY_STATUS multi-battery reporting. Can you use Analyze graphing (Menu/Widgets/Analyze) on BATTE

[2019-07-16 20:23] marcmerlin commented on #6624
actually @peterbarker , is there a single android client that supports this?

[2019-07-16 22:35] hamishwillee commented on #7581
If this comes from RADIO_STATUS then @edwinhayes is correct - this is "device dependent units" (0-254, with 255 indicating not used).
Of course not every system may be publishing this correctly.

We standardised on this for all RSSI values fairly recently. The only exception is [CELLULAR_STATUS](https://mavlink.io/en/messages/common.html#CELLULAR_STATUS)

Discussions:
- https://github.com/mavlink/

[2019-07-16 22:56] edwinhayes commented on #7581
@hamishwillee - Yes, it comes from `RADIO_STATUS`, the widget is hidden without.

Yeah, I recall mavlink/mavlink#1027.   I was happy with the outcome, except I noted that I thought a further improvement would be for QGC to have a pair of configuration values for transforming the raw value to a linear % representation, to address how to display a device dependent value in a user readable form.

But

[2019-07-16 22:59] peterbarker commented on #6624
On Tue, 16 Jul 2019, Marc MERLIN wrote:

It is *possible* Solex does - but I doubt any other does.

[2019-07-16 23:10] DonLakeFlyer commented on #7577
QGC uses different images which don't have motor numbers on them.

[2019-07-16 23:10] #7577 closed

[2019-07-17 03:30] jaxxzer opened #7585 "Vehicle setup qml timers remain active after navigating to fly view"
As noted in #7275 :

This is confirmed to occur on master for the motor setup page, I haven't investigated yet to see if any other setup pages are affected.

[2019-07-17 03:30] #7275 closed

[2019-07-17 03:59] tilaktilak opened #7586 "Feature Proposal - Home Heading / COG Angle / Next WP Heading in Compass"
We worked on some indicators in the compass widget to show :
- Home Heading
- COG Angle (ie. The GPS Heading from trajectory)
- Heading of the next Waypoint

We also added the ability to lock the North up (The red vehicle arrow locked up).

From our first implementation it looks like this :
![Untitled2](https://user-images.githubusercontent.com/6662416/61343206-165e7180-a8a1-11e9-89d3-44e7cf47f6fa

[2019-07-17 13:10] MaEtUgR commented on #7547
I upgraded to latest daily again and now it's all fine, thanks!

[2019-07-17 14:18] olliw42 opened #7587 "CameraManager's timing for Param Read very harsh, potentially simple solution"
**Brief:**
QGC's CameraManager PARAM_EXT_REQUEST_LIST handling appears to have a fixed timeout for all parameters, not for each param receive. Potential simple workaround: _paramRequestTimer.setInterval(3500 + paramnumber *100)

**Observation/Issue:**

I'm working on using the CameraManager in combination with a GoPro Hero5 which is accessed via WiFi. I think I do have everything working well but

[2019-07-17 16:50] DonLakeFlyer commented on #7586
All seems valuable to me. I would change the settings text to be just "Show" from "Show/Hide".

@antiheavy Opinions?

[2019-07-17 16:52] DonLakeFlyer commented on #7585
The pages from each view (Settings, Setup, Plan, Fly) continue to run even if they are not being shown.

[2019-07-17 22:23] edwinhayes commented on #7586
If people think this is too busy, we could condense the three show/hide checkboxes into one?  If someone wants COG but not home, they can rebuild themselves? (But personally, I don't mind long lists of configuration options).

Also, suggest changing "Lock North up on Compass" to "Lock Compass 'North-Up'".  Oh, hang on, the usual default behaviour is for North-Up, so the checkbox should be "Lock Co

[2019-07-17 22:25] edwinhayes commented on #7586
Oh, also remove the word "angle".  And change "Show Home heading to Compass" to "Show Heading to Home on Compass" so that it's consistent with "Show Heading to Next Waypoint on Compass".

[2019-07-18 00:26] Antiheavy commented on #7586
I like this.  +1 vote from me.

[2019-07-18 01:35] Antiheavy commented on #7586
correct.  checkbox options like that should just be "Show"

[2019-07-18 01:38] Antiheavy commented on #7586
seems okay.  maybe "Show extra heading indicators on compass"

How does a new user know what indicator means what thing?

[2019-07-18 01:42] edwinhayes commented on #7586
@tilaktilak can update the documentation page online to explain?

[2019-07-18 03:05] tilaktilak commented on #7586
Sure we can add those infos in the manual

[2019-07-18 07:23] wuuhii commented on #7578
Will this bug be fixed first? I can not debug my program now.  @dogmaphobic

[2019-07-18 14:06] tuloski opened #7588 ""Setup prior to flight" when it was actually done."
It happens sometimes that Qgroundcontrol reports the warning "WARNING your vehicle requires setup prior to flight ..." when actually the setup was already done.
All the sections related to Airframe, Sensors, Radio, Flight modes and Power are red and it says missing various parameters, but actually all the parameters are there.
I don't understand if it is a communication problem with the autopilot,

[2019-07-18 14:10] kikislater opened #7589 "Landing pattern error with ardupilot"
## Expected Behavior
Upload mission with landing pattern success to ardupilot fw

## Current Behavior
Upload mission with landing pattern to Pixhawk arduplane 3.9.8 fait with this error : MAV_MISSION_INVALID_PARAM5_X

![image](https://user-images.githubusercontent.com/13238064/61464034-a1fdfe00-a986-11e9-9bcc-a6119bf45834.png)

## Steps to Reproduce:
Please provide an unambiguous set of steps to r

[2019-07-18 16:05] jaxxzer commented on #4445
We are continuing to work with integrating kcrash with qgc. @tcanabrava can provide more details about that. @DonLakeFlyer please let us know if you can share the breakpad + android project. In any event, we can use kcrash for the other platforms. Problems on Windows machines have been my main concern. We've had good luck everywhere else.

[2019-07-18 16:34] DonLakeFlyer commented on #4445
Sorry. I never got permission for that.

What exactly does kcrash provide as far as features? FYI: The Windows builds already have crash dump capture turned on for them by the installer. Which you can then load into VS.

[2019-07-18 16:37] jaxxzer opened #7590 "Move from qtgst to gstreamer qmlglsink"
The QtGStreamer C++ bindings are very out of date and unmaintained. The last release was in 2014.

There is a qml video sink inside of gstreamer plugins-good now. This is maintained and supported by gstreamer, we should use that.

[2019-07-18 16:37] DonLakeFlyer commented on #7589
This should be fixed in daily builds. I had thought I brought it across to Stable as well. Let me looka gain.

[2019-07-18 16:38] jaxxzer commented on #7590
@dogmaphobic please let us know any input or advice here. @tcanabrava is helping.

[2019-07-18 16:53] jaxxzer opened #7591 "Windows: Update gstreamer packages in deployment"
We are currently deploying with gstreamer 1.5.2

We should deploy with gstreamer 1.14 (the latest stable with 32 bit support).

[2019-07-18 16:54] jaxxzer commented on #7524
Made a separate issue regarding updating the deployment here https://github.com/mavlink/qgroundcontrol/issues/7591

[2019-07-18 16:57] DonLakeFlyer commented on #7591
Forgot to go back and fix that. Sentera has been running with 1.14 for a bit now.

[2019-07-18 16:58] DonLakeFlyer commented on #7591
I'll fix it. I'm trying to get organized for a new stable point release.

[2019-07-18 16:59] DonLakeFlyer commented on #7591
That said, it didn't fix any of the crashing problems.

[2019-07-18 17:03] DonLakeFlyer commented on #7578
Working on it...

[2019-07-18 17:10] DonLakeFlyer commented on #7586
I would:
* Include Home as showing always
* Having a single "Show additional heading indicators in compass"
* I would position all indicators to the edge of the circle (like home in image). Then zorder from lowest the highest: COG, Home, Waypoint.

[2019-07-18 17:27] DonLakeFlyer commented on #7360
@jarivanewijk Can you check the pull to make sure I goet everything you wanted from master?

[2019-07-18 17:35] jaxxzer commented on #4445
@tcanabrava can help to explain it better, but as I understand it, kcrash provides the facility to collect the stack trace, and drkonqi is an optional program that can be installed independently of qgc and can provide the 'program crashed' ui that presents the stack trace to the user and gives them the option to report it.

Thank you for the heads up. I have used this process before. I found it ex

[2019-07-18 17:38] DonLakeFlyer commented on #4445
Also just FYI: I changed them to be minidumps a while back.

Hmm. Installing another app on the machine to make this all work is a bit concering.

[2019-07-18 17:59] dogmaphobic opened #7594 "Joystick disappears (SDL2)"
Adding here to keep track...

Every now and then, the joystick seems to simply disconnect and reconnect. This happens rather frequently and with different types of joysticks.

This comes out on the console:

[code]

[2019-07-18 18:07] jaxxzer commented on #4445
AFAIK:
kcrash is the only dependency we need to capture the stack trace. I think we could simply write that report to a file and tell the user where it is (@tcanabrava can clarify).
drkonqi is an optional dependency that presents a UI with the kcrash report. drkonqi could be bundled with QGC, or installed separately to reduce bloat.

[2019-07-18 18:09] kikislater commented on #7589
Yes ! Works fine.
Out of curiosity, where is related PR ?

[2019-07-18 18:25] DonLakeFlyer commented on #7589
There are various fixes. Discussion is here with links: https://github.com/mavlink/qgroundcontrol/issues/6783

[2019-07-18 19:13] tcanabrava commented on #4445
@DonLakeFlyer KCrash + DrKonqi are a combination of thigns.
KCrash is a crash retrieval feature that supports generation of backtraces in mac / linux / windows / iOS (and android is comming), it's fully opensource and used in almost all softwares from the KDE community. for your app to support KCrash, you basically call two functions after the creation of QApplication (and of course, link to the l

[2019-07-18 20:57] jaxxzer opened #7596 "Update parameter metadata for Rover 3.5.1"
There are issues running latest stable ArduRover (3.5.1).

The [metadata file](https://github.com/mavlink/qgroundcontrol/blob/master/src/FirmwarePlugin/APM/APMParameterFactMetaData.Rover.3.5.xml) was last updated April 28.
[Rover 3.5.1](https://github.com/ArduPilot/ardupilot/releases/tag/Rover-3.5.1) dropped May 16.

[2019-07-18 20:58] jaxxzer commented on #7596
![Selection_026](https://user-images.githubusercontent.com/8315108/61491433-3c594400-a97d-11e9-9625-dcd6f9e353e7.png)

[2019-07-18 21:13] dogmaphobic commented on #7590
I was under the impression @tcanabrava was already working on this. I have in my todo list adding runtime, binary plugins to handle video streaming. I decided to wait until this move to qmlglsink was done.

[2019-07-18 21:24] dogmaphobic commented on #7567
I can't "approve" the translations as I would have no idea if the translations are correct or not. That has to be done within Crowdin.

[2019-07-18 21:35] tcanabrava commented on #7590
I am, this is only a ticket to track the progress

Em qui, 18 de jul de 2019 às 23:14, Gus Grubba <notifications@github.com>
escreveu:

[2019-07-18 21:43] hslyu commented on #7567
What I meant is that I already approved all of the Korean translation. I'm one of the proofreaders.

[2019-07-18 21:59] edwinhayes commented on #7586
We might try some different arrangements to evaluate for HMI effectiveness?

Also, one thing that Pierre didn't mention, which we probably want people's thought's on; currently the home marker disappears when the aircraft is within a short distance from home, and similarly the COG indicator disappears when the aircraft is hovering; this avoids the indicators spinning around the rose when the magni

[2019-07-18 22:01] DonLakeFlyer commented on #7586
Makes a ton of sense

[2019-07-18 22:10] hamishwillee commented on #7567
@gus It wasn't very clear, but the request is to update the translations for Korean used by QGC. Do you think we could also have a rebuild of the last stable release to include these?
![image](https://user-images.githubusercontent.com/5368500/61495552-aa911b80-a9fc-11e9-9e40-b20c2d9a438e.png)

[2019-07-18 22:13] DonLakeFlyer commented on #7567
I'm working on a new Stable to go out in the next couple days. So whatever needs to happen for that needs to be changed in Stable_V3.5.1.

[2019-07-18 22:18] tilaktilak commented on #7586
I'll implement this to see how it goes and post a screenshot.

`This behaviour and the associated thresholds could be fixed or configurable.` :

- There is already a filter on HeadingToHome value :

    Value not available if we are closer than 1m [SEE HERE](https://github.com/mavlink/qgroundcontrol/blob/master/src/Vehicle/Vehicle.cc#L3774)

- I added a filter to hide COG if ground speed is < 0.5m

[2019-07-18 22:25] hamishwillee commented on #7567
Cool. We decide 80% was our nominal cutoff for including a language translation in a stable release:
![image](https://user-images.githubusercontent.com/5368500/61496130-951cf100-a9fe-11e9-890d-c91cbc8de11d.png)

@gus @DonLakeFlyer , if I chase China, and Turkey to try get completion, when would be the cutoff for you to take a cut of the translations?

[2019-07-19 00:17] DonLakeFlyer commented on #7586
I knew I forgot something: Can you plumb the values for these headings through Vehicle is Facts? That way the will also be available for display in the instrument panel as values. If the values are no available then set them to NaN.

[2019-07-19 01:48] tilaktilak commented on #7586
Actually I did that but I missed the add_Fact part so I fixed it, now it's good.
Had to shorter the text a little bit to fit the value setting page :
![image](https://user-images.githubusercontent.com/6662416/61503237-1ee2b380-aa2b-11e9-9b7d-aac8522e212a.png)

I also change the diameter of the indicators and set them in the order from lowest the highest: COG, Home, Waypoint.

![image](https://user

[2019-07-19 02:05] love-mj opened #7598 "How to modify location mode in QGC code and how to send message code？"

[2019-07-19 02:38] dogmaphobic commented on #7567
Ha! Got it. If it's ready at Crowdin, I just need to download it and integrate it. To _master_ though. Stable does not include Korean. That was only added after. The stable release still has the manual localization, with no language option. It loads the language based on the system settings, which proved to not work in many cases. Stable is only setup for Chinese and German.

[2019-07-19 06:29] #7598 closed

[2019-07-19 07:20] Jaeyoung-Lim opened #7599 "[FeatureRequest] Display Companion Status on QGC"
Flying avoidance more often these days, having a companion status display would be much convenient on checking if the companion computer is running properly.

Currently only a text message (`Avoidance system Connected` / `Avoidance System Lost`) is displayed, and results as the following.
- The message can be lost sometimes when you relaunch qgc
- The message floods the message box as it repeatedl

[2019-07-19 07:53] baumanta opened #7600 "QGC crashing and not dying properly"
I am using the QGC App Image 3.5.0 under Ubuntu 16.04.
Mainly I use it in combination with the PX4 SITL setup. The App crashes quite often for me but I cannot make out a specific reason or action linked to it. Every time it crashes and sometimes also when I close it on purpose, the App does not shut down properly. There are two processes still running which I have to SIGKILL or otherwise I cannot

[2019-07-19 07:55] baumanta commented on #7600
FYI @MaEtUgR

[2019-07-19 15:54] DonLakeFlyer opened #7602 "Revisit usage of SYS_STATUS and BATTERY_STATUS values"
Currently a set of battery 1 fact values come from SYS_STATUS and some from BATTERY_STATUS. There is the possibility that the definition of what SYS_STATUS actually sends may change. It may make more sense for all values to come from BATTERY_STATUS if that message is sent by the vehicle.

[2019-07-19 15:55] MatejFranceskin commented on #7580
Point 1 is addressed in https://github.com/mavlink/qgroundcontrol/pull/7601
2. Remote encryption key is never changed by QGC. Only local is changed.
3. There is a new project in development called "pairing manager" that will allow exchange of information like encryption key between UAV & QGC via physical contact (NFC). For this case setting of encryption key will be needed.
4. Currently we don't a

[2019-07-19 15:56] DonLakeFlyer commented on #7600
First step is to use the latest Stable version which is 3.5.3

[2019-07-19 16:09] DonLakeFlyer commented on #7586
Time to submit as a Pull

[2019-07-19 16:19] #7591 closed

[2019-07-19 21:28] gus commented on #7567
@gus is a different Gus than you wanted, but I'm glad the right one replied
:)

Cheers,
@gus

On Thu, Jul 18, 2019, 22:38 Gus Grubba <notifications@github.com> wrote:

[2019-07-19 22:12] dogmaphobic commented on #7567
Another one? Who would think :P Cool. I was feeling all alone here :)

[2019-07-20 09:28] hslyu commented on #7567
Then, can I use language option normally in _daily build_ after you integrate available languages at Crowdin?

[2019-07-20 11:35] dogmaphobic commented on #7567
Yes, I will take a look at it today.

[2019-07-20 13:52] olliw42 opened #7605 "version 9fd5cbc: CameraManager VideoStop broken"
title says it

[2019-07-20 16:38] dogmaphobic commented on #7605
Can you expand on that a bit? Is it not sending anything? Sending the wrong thing? Something else?

[2019-07-20 16:56] olliw42 commented on #7605
when in video mode, pressing the red round button sends a startVideo() and the button goes square as usual, but the button gets GRAY and doesn't remain red, from then on it's not possible to get QGC emit a stopVideo() by clicking it. In photo mode it works.

Btw, unrelated, but just to have mentioned it, there are also plenty of gray transparent square widgets popping up all the time when using th

[2019-07-21 11:35] jarivanewijk commented on #7360
@DonLakeFlyer I think that is all, yes. Only the updated USB driver still needs to be pulled in from Mission Planner, right?

[2019-07-21 18:42] cor-star commented on #6985
Hi folks! Just want to chime in here that if you are at all open to looking into developing this issue.. it would truly be fantastic. An auxiliary ground station iPad would allow a visual observer to easily and seamlessly track our aircraft while we're flying, and QGroundControl is one of the more lovely apps available in the ecosystem. If you have ANY suggestion about what we might need to buy or

[2019-07-21 21:17] tilaktilak commented on #7586
I may propose changes in the color used just before sending the PR :
Changed the Next WP indicator to green to match the next WP color on the map.
Changed the COG indicator to blue (something not green).
Here a draft :
![compass3](https://user-images.githubusercontent.com/6662416/61597130-7027b880-ac60-11e9-8e7a-573354768f5b.png)

What do you think ?

[2019-07-21 23:09] hamishwillee commented on #7602
It _definitely_ does. In theory the GCS can report anything about individual batteries, and also aggregate batteries (ie if there are dual batteries it could report the cumulative status). Using SYS_STATUS cannot support this.

[2019-07-21 23:11] hamishwillee commented on #7602
Note also there are also SMART_BATTERY_ messages that are only sent for smart batteries. These, like BATTERY_STATUS, are sent individually for multiple batteries.

[2019-07-22 00:48] wuuhii commented on #7578
nice!

[2019-07-22 01:00] david6096 opened #7607 "about localization"
The following template is for Issue/Bug reporting only. https://docs.qgroundcontrol.com/en/Support/Support.html#github-issues

For questions about how to use or build QGC see: http://qgroundcontrol.com/#resources

If you are using an old stable release please upgrade first and verify your issue before reporting.
----

## Expected Behavior
Please tell us what should happen as detailed as possible.

[2019-07-22 01:14] david6096 commented on #7607
in QGCApplication.cc,there is the following source code:
 void QGCApplication::setLanguage()
{
  ...
  if(_QGCTranslator.load(_locale, QLatin1String("qgc_"), "", ":/i18n")) {
        QLocale::setDefault(_locale);
        _app->installTranslator(&_QGCTranslator);
    } else {
        qDebug() << "Error loading application localization for" << _locale.name();
    }
  ...
}

   but there is not i18n

[2019-07-22 02:00] dogmaphobic commented on #7607
That's Qt's own, builtin localization resource path. It's created automatically here:
https://github.com/mavlink/qgroundcontrol/blob/master/qgroundcontrol.pro#L1226-L1227

[2019-07-22 02:00] #7607 closed

[2019-07-22 03:14] david6096 commented on #7607
but when I run the qgroundcontrol on ubuntu 16.04,the console logs the following msg:
error loading application localization for "zh_CN"

[2019-07-22 09:57] RomanBapst commented on #7544
@DonLakeFlyer I guess what's missing here are the following parts:
1 )Px4 firmware needs to implement magnetometer quality checks.
2) We need to add a mavlink message which holds the mag cal information (not sure if there are existing ones we could use)
3) QGC needs to report the results to the user.

So we'll go ahead and do 1) and 2) before you can do anything.

[2019-07-22 15:36] Antiheavy commented on #7354
@dogmaphobic or @DonLakeFlyer , any other thoughts on this proposal to simplify the "Action" button behavior?

[2019-07-22 16:54] DonLakeFlyer commented on #7544
I think it would make a lot of sense to also cut over mag cal to mavlink message status reporting instead of status text messages at the same time. This would make it work better over noisy telemetry.

[2019-07-23 11:39] baumanta commented on #7600
I have the same issues on 3.5.3

[2019-07-23 15:28] Stifael opened #7612 "Reposition vs Mission Pause"
For both `GoTo` and for `Mission-Pause` the mavlink-msg `MAV_CMD_DO_REPOSITION(192)` is used. However, there is already a dedicated msg for pausing/continuing a mission called `MAV_CMD_DO_PAUSE_CONTINUE (193 )`. To be able to distinguish between `GoTo` and `Pause` also within the log, it would be beneficial to use 193 for misisson-pause instead of 192.

[2019-07-23 18:42] jaxxzer commented on #4445
@tcanabrava Is this optional? Could an email address be used instead?

[2019-07-24 01:54] #7596 closed

[2019-07-24 08:13] MaEtUgR commented on #7182
Maybe a solution would be to have a "Save calibration" and a "Save Calibration and enable joystick" button at the end of the procuedure? btw there are to some extent related changes: #7595

[2019-07-24 08:29] MaEtUgR opened #7614 "Joystick calibration does not survive QGC restart"
## Expected Behavior
Joystick calibration needs to get done once, gets saved and persists a restart of QGC or the device.

## Current Behavior
After #7595 the calibration is gone again after restarting QGC.
- I only have this on one specific combined tablet and joystick device. On my computer with an xbox controller and SITL it works.
- When I restart QGC and calibrate again because I have to the

[2019-07-24 08:33] FlavioTonelli opened #7615 "Wrong text color on close popup"
On current master when QGC is closed with active connection the warning window has a wrong text color.
It plots black on black(see screenshot)
<img width="512" alt="Schermata 2019-07-24 alle 10 29 05" src="https://user-images.githubusercontent.com/9391950/61778063-57550980-adfe-11e9-8844-006855e8f64d.png">

[2019-07-24 08:50] FlavioTonelli opened #7616 "Camera_capture msg type mismatch"
PX4 camera_capture uorb message has a timestamp field declared as a uint64 timestamp.
QGC instead save the imported data inside a structure GeoTagWorker::cameraFeedbackPacket with field timestamp declared as double.
This lead to a mismatch between the saved uorb data and the QGC imported one.
This is a bug. isn't it?

[2019-07-24 11:34] MaEtUgR commented on #1850
I guess that's completely outdated and can be closed. Right @RomanBapst ?

[2019-07-24 15:04] dogmaphobic commented on #7614
I could not reproduce this. Once calibrated, it stays calibrated. Saving the calibration is the last step in the process, when you hit "Next" at the very last calibration phase. The button then reverts to "Start" allowing you to re-calibrate if desired.

[2019-07-24 16:31] DonLakeFlyer commented on #7616
The values stored in those two fields are in seconds translated from the log values, hence double. That seems fine to me?

[2019-07-24 16:35] DonLakeFlyer commented on #7182
I think for 90% of users the fact that it enables is goodness. I wouldn't add additional ui button complexity for the 10% case. If there is confusion to the fact that the joystick enables itself. Then when you click the last Next just pop up a message that says "Joystick enabled". Then folks who don't want that can just disable.

[2019-07-24 17:17] FlavioTonelli commented on #7616
I can't get your point. Neverless of the unit of measure we are implicitly converting a uint64 variable into a double. Isn't it wrong?
The log value and the QGC does not match.(See screenshot)
Am I missing something?
<img width="1276" alt="Schermata 2019-07-24 alle 19 12 17" src="https://user-images.githubusercontent.com/9391950/61814071-88a5f780-ae47-11e9-9453-f47280ad1968.png">

[2019-07-24 17:21] DonLakeFlyer commented on #7616
I understand that. But as far as I understand the cameraFeedbackPacket data structure in QGC is only used internally to QGC. Why do they need to match?

[2019-07-24 17:25] DonLakeFlyer commented on #7616
They don't match from a data structure standpoint. But they do match from a semantic standpoint as far as representing the same amount of time with the internal QGC value being representing in floating point seconds.

[2019-07-24 17:47] FlavioTonelli commented on #7616
Ok now I get how was it is suppose to work.
Yes they both represent time you are right. What you lose is a 1 to 1 connection with the drone log and you probably lose some time accuracy.
Which are the Pro of such approach?

[2019-07-24 17:50] DonLakeFlyer commented on #7616
No idea. You would have to ask @birchera who wrote that code.

[2019-07-24 18:09] birchera commented on #7616
As far as I can see the cameraFeedbackPacket were introduced 2 years ago by @mhkabir, maybe he can answer your question.

[2019-07-24 19:18] dogmaphobic commented on #7615
That's a system dialog. Not something coming from QGC. That is, not something QGC is drawing on its own. That seems to be an issue with Qt and macOS' "Dark Mode".

[2019-07-24 21:16] #7360 closed

[2019-07-24 21:21] davids5 commented on #7360
Thank you @DonLakeFlyer !

[2019-07-25 08:00] FlavioTonelli commented on #7615
@dogmaphobic thank you for your feedback. I didn't notice it was created by macOS itself.
Isn't it fixable then?